.account-settings-wrap {
	.panel {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	label {
		margin-bottom: 6px;
	}
}
input.account-settings-input {
	margin-bottom: 40px;
}
#password-wrap {
	padding-right: 5px;
}
#password2-wrap {
	padding-left: 5px;
}
#account-gender {
	height: 40px;
	margin: 58px 0 57px;
}