/*
	Global boards styles 
*/
.boards-wrap {
	margin: 10px -10px 0;
	.row {
		margin: 0;
	}
	.panel {
		position: relative;
		margin: 0;
		border-color: #000;
		&:hover {
			border-color: #008dbb;
		}
	}
	h3 {
		margin: 27px 0 10px;
		font-size: 23px;
		padding-right: 50px;
		a {
			color: #333;
			font-weight: bold;
			&:hover {
				color: #666;
			}
		}
	}
	.ru_share_link {
		position: absolute;
		bottom: 17px;
		right: 40px;
		left: 40px;
		font-size: 13px;
	}
}


.board-title-link {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	line-height: 40px;
}
.board-delete {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 22px;
	color: #333;
	font-family: arial;
}
.board-delete:hover {
	color: #666;
	cursor: pointer;
}
.board-percentage {
	float: left;
	width: 78px;
	height: 93px;
	position: relative;
	z-index: 1;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	color: #fff;
	.percent-symbol {
		font-size: 17px;
		line-height: 38px;
		vertical-align: top;
	}
}
.subject-physics,
.subject-maths,
.subject-complete {
	position: absolute;
	top: 11px;
	left: 0;
	width: 71px;
	height: 82px;
	background: url(../assets/my-boards-sprite.png) no-repeat 0 0;
	padding: 20px 0 0;
}
.subject-physics {
	z-index: -1;
}
.subject-maths {
	z-index: -2;
	background-position: -71px 0;
}
.subject-maths + .subject-physics {
	left: auto;
	top: 0;
	right: 0;
}
.subject-complete {
	background-position: -142px 0;
}
.board-info {
	float: right;
	margin: 18px 0 0 10px;
	p {
		font-size: 15px;
		margin: 0;
	}
	strong {
		font-style: italic;
	}
}
.board-levels {
	float: left;
	position: relative;
	width: 110px;
	height: 18px;
	background: url(../assets/my-boards-sprite.png) no-repeat 0 -82px;
	margin: 4px 0 0;
	span {
		font-size: 12px;
		line-height: 15px;
		font-weight: bold;
		font-style: italic;
		color: #fff;
		text-align: left;
		width: 16px;
		height: 18px;
		top: 0;
		position: absolute;
		padding: 2px 0 0 4px;
		background: url(../assets/my-boards-sprite.png) no-repeat -114px -82px;
	}
	.level-1 {
		left: 0;
		padding-left: 5px;
	}
	.level-2 {
		left: 19px;
	}
	.level-3 {
		left: 38px;
	}
	.level-4 {
		left: 57px;
	}
	.level-5 {
		left: 76px;
	}
	.level-6 {
		left: 95px;
	}
}
.board-creator {
	float: left;
	span {
		font-weight: bold;
		font-style: italic;
	}
}
.board-share {
	position: absolute;
	right: 5px;
	bottom: -5px;
}
.board-complete {
	.panel {
		background: #eee;
	}
	.board-creator {
		color: #000;
	}
	.board-levels span {
		background-position: -132px -82px;

	}
}

.body-wrap {
	p {
		margin-bottom: 10px;
	}
	.filter-link {
		cursor: pointer;
	}
}
.boards-filters {
	margin-top: 5px;
	label {
		float: left;
		font-size: 18px;
		line-height: 20px;
		font-weight: 600;
		color: #333;
		margin: 8px 5px 0 10px;
	}
	li {
		padding-bottom: 0;
	}
}
.table-wrap {
	width: 100%;
	overflow-x: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	.boards-table {
		border-collapse: collapse;
		width: 100%;
		border: solid 1px #999;
		margin-bottom: 0px;
		tr {
			border-top: 1px solid #ccc;
			td {
				color: #666;
			}
			&.completed {
				background-color: #dfdfdf;
			}		
		}
		th, td {
			font-size: 1rem;
			font-weight: 500;
		}
		thead {
			tr {
				border-bottom: solid 1px #aaa;
			}
			.headings {
				border-top: solid 1px #999;
				th {
					color: white;
					background-color: $ru_green;
					font-weight: 600;
					font-size: 1.05rem;
					&.sortable {
						cursor: pointer;
					}
					.sort-icon {
						font-weight: 500;
					}
				}
			}
			.filters th {
				background-color: #eee;
				font-weight: 300;
				select {
					margin: 0px;
					background-size: 1.5rem;
					height: inherit;
				}
				input {
					width: 100%;
					padding: 0.5rem;
					border: 1px solid #999;
					font-family: "Exo 2","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
					font-size: .875rem;
				}
			}
		}
		div.board-percentage {
			float: none;
			margin: auto;
			width: 71px;
			height: 82px;
			span {
				padding-top: 24px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				&.subject-maths+.subject-physics {
					top: 0px;
					left: 10px;
				}
			}
		}
		th.completion-col {
			min-width: 128px;
		}
		th.board-name-col {
			min-width: 218px;
		}
		th.subjects-col {
			min-width: 92px;
		}
		th.levels-col {
			min-width: 92px;
		}
		th.created-by-col {
			min-width: 92px;
		}
		th.created-col {
			min-width: 128px;
		}
		th.last-viewed-col {
			min-width: 128px;
		}
		th.action-col {
			min-width: 90px;
		}
		td.actions-cell {
			position: relative;
			width: 90px;
			min-width: 90px;
			a.board-share {
				position: absolute;
				top: 28px;
				right: 25px;
				height: 44px;
				div.ru_share {
					background-size: 38px;
					width: 38px;
					height: 44px;
					margin: 0px;
				}
			}
			div.deletion-cross {
				position: relative;
				top: -32px;
				width: 100%;
				span {
					float: right;
					font-weight: 500;
					cursor: pointer;
				}
			}
			div.ru_share_link {
				position: absolute;
				width: 290px;
				height: auto;
				left: -218px;
				top: 28px;
			}
		}
	}
}

/*
	Styles for set assignments
*/

.set-boards-books-preview {
	img {
		border: solid 1px #cccccc;
	}

	h4 {
		margin-bottom: 1rem;
	}
}

.set-assign-header {
	.subtitle {
		margin-top:10px;
	}
	.button-menu{
		padding-top:10px;

		button {
			margin-right:10px;
			margin-bottom:0px;
			width:100%;
			margin-bottom:10px;
		}
		
	}
}

.assign-board-wrap {

	.board-info {
		float: left;
		margin-top: 22px;

		p {
			font-size: 15px;
			line-height: 135%;
		}
	}

	.ru_share_link {
		position: absolute;
		top: 105px;
		right: 35px;
		left: 40px;
		font-size: 13px;
	}

	.board-share {
		top: 105px;
		bottom: auto;
	}

	.panel {
		position: relative;
		border-color: #000;
		padding-bottom: 0;

		.row {
			margin: 0;
		}
	}

	h3 {
		padding-right: 50px;
		line-height: 115%;
		font-weight: 800;

		a {
			color: #333;
		}
	}

	.subject-physics,
	.subject-maths {
		top: 0;
	}

	.group-table {
		margin-bottom: 18px;

		tr:hover {
			background-color: #ecf8e7;
		}
		td{
			color: #666;
			font-family: "Source Sans Pro","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
			font-weight: 600;
			font-size: 16px;
		}
	}

	.group-table .icon-delete {
		margin-top: 2px;
	}
}
.board-overview {
	padding-bottom: 18px;
	counter-reset: board-overview-question;

	h6 {
		margin: 10px 0 6px;
		font-style: normal;
	}
	ol {
		list-style: none;
		margin: 0;
	}
	li {
		font-size: 15px;
		line-height: 140%;
	}
	li:before {
		font-weight: 800;
		counter-increment: board-overview-question;
		content: "Q" counter(board-overview-question) ". ";
	}
}

.groups-assigned {
	font-size: 12px;
	line-height: 110%;
	font-weight: 100;
	font-style: normal;
	padding-top: 19px;

	strong {
		display: block;
		font-size: 30px;
		font-weight: 600;
		font-style: italic;
		padding-bottom: 8px;
	}
}

.board-section {
	padding-top: 15px;
	border-top: #000 1px dashed;

	h6 {
		font-style: normal;
	}
	.lighter {
		font-weight: 200;
	}
	input, select {
		font-family: "Exo 2","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
		font-size: 18px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	/* 
		These can't be grouped together otherwise they will be ignored
	*/
	::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.75);
	}
	:-moz-placeholder {
		color: rgba(0, 0, 0, 0.75);
	}
	::-moz-placeholder {
		color: rgba(0, 0, 0, 0.75);
	}
	:-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.75);
	}
}

.ui-date-wrap {
	position: relative;

	.hasDatepicker {
		padding-right: 35px;
	}
	.ui-datepicker-trigger {
		top: 5px;
		right: 6px;
		position: absolute;
		width: 23px;
		height: 26px;
		background:transparent url(../assets/ru.png) -315px -347px no-repeat;
		padding: 0;
		margin: 0;
	}
}
.icon-delete {
	float: left;
	width: 16px;
	height: 16px;
	background: url(../assets/ru.png) -371px -324px no-repeat;
}
.icon-complete {
	display: inline-block;
	width: 25px;
	height: 20px;
	background: url(../assets/ru.png) -357px -370px no-repeat;
	margin-left: 10px;
	margin-bottom: -4px;
}
.icon-cal--small {
	float: left;
	width: 17px;
	height: 19px;
	background: url(../assets/ru.png) -384px -369px no-repeat;
}
/*
	Styles for My assignments 
*/
.assignments-wrap {
	.assignment:first-child {
		border-top: none;
	}
}
.assignment {
	position: relative;
	@extend .clearfix;
	margin: 0 15px;
	border-top:#b1b1b1 1px solid;
	padding: 20px 0;


	h3 {
		font-size: 18px;

		a {
			color: #333;
		}
	}
	.board-percentage {
		font-weight: 600;
		line-height: 44px;
		position: absolute;
		left: 0;

		.percent-symbol {
			line-height: 22px;
			font-size: 14px;
			font-weight: 400;
			padding-left: 2px;
			margin-right: -2px;
		}
	}
	.board-info {
		float: left;
		margin-top: 6px;
		margin-left: 90px;

		p {
			font-size: 15px;
		}
	}

	.board-levels {
		float: none;
		font-weight: 600;
		margin-bottom: 6px;
	}

	.board-overview {
		padding-bottom: 0;
	}

	.overdue {
		color: #be4c4c;
		font-weight: 600;
	}

}
.board-link {
	text-align: right;
	font-size: 18px;
	padding-right: 0;

	a {
		display: inline-block;
	}

	P {
		font-size: 18px;
		margin: 0;
	}
}
/* 
	All media queries 
*/
@media #{$large-up} {
	.board-link {
		margin-top: 45px;
	}
}
@media #{$medium-up} {
	.boards-filters {
		float: right;
		select {
			float: left;
			width: auto;
			padding-right: 50px;
		}
		li {
			width: auto;
		}
	}
	.assign-board-wrap {
		.ru_share_link {
			right: 40px;
			z-index: 0;
		}
	}
	.board-link {
		margin-top: 25px;
	}
}
@media #{$medium-only} {
	.assignment .board-info {
		margin-left: 70px;
	}
	.assignment {
		.icon-link {
			display: none;
		}
	}
}
@media #{$small-only} {
	.board-info p {
		font-size: 13px;
	}
	.boards-wrap {
		.ru_share_link {
			bottom: 20px;
			right: 35px;
		}
		.board-share {
			bottom: 20px;
		}
		h3 {
			padding-right: 40px;
		}
	}

	.boards-filters label {
		margin-left: 0px;
		margin-bottom: 8px;
	}
	.assignment {
		.columns {
			padding-left: 0;
			padding-right: 0;
		}
		.board-overview {
			padding-bottom: 20px;
		}
		.board-link {
			text-align: left;

			a {
				font-size: 1.25rem;
				font-weight: 600;
				font-style: italic;
				text-align: center;
				color: $ru_green;
				width: 100%;
				background-color: #f5f5f5;
				border: #999 1px solid;
				padding-top: 0.6rem;
				padding-bottom: 0.6rem;
				margin-top: 25px;

				&:hover {
					color: $ru_green;
				}
			}
			
		}
		.icon-link {
			display: none;
		}
	}

}
