.ui-datepicker {
	width: 17em;
	padding: 0.2em 0.2em 0;
}
.ui-datepicker-header {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	background-color: #666;

	.ui-datepicker-prev {
		float: left;
	}
	.ui-datepicker-next {
		float: right;
		width: 14px;
		height: 26px;
		text-indent: -9999999em;
		background: url(/assets/ru.png) no-repeat -276px -348px;
	}
}
.ui-datepicker-calendar {
	border-collapse: collapse;

	thead {
		color: #fff;
		background-color: #333;

		th {
			color: #fff;
			font-size: 19px;
			font-weight: 300;
		}
	}
}