.events-filters {
	clear: both;
	margin-top: 5px;

	label {
		float: left;
		font-size: 18px;
		line-height: 2.2;
		font-weight:  800;
		margin-right: 8px;
		margin-left: 12px;
	}
	select {
		float: left;
		width: 48%;
		padding-right: 50px;

		&:nth-child(2) {
			margin-right: 4%;
		}
	}
}

@mixin expired-event {
	h3, h3 > a , p, time, .event-table td, .event-link, .icon-teacher, .icon-virtual, .icon-student, .event-attend, .event-attend .icon-hexagon {
		color: #999;
	}

	h6 {
		z-index:5;
	}



	.event-img {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	    filter: gray;
	    -webkit-filter: grayscale(1);
	}
}

.event {
	h3 {
		font-weight: 800;
		line-height: 1.2;
		margin-bottom: 4px;
		a {
			color: #333;
		}
	}
	p {
		font-size: 14px;
	}

	p.event-subtitle {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.3;
	}

	&.expired {
		@include expired-event;
	}

	table tr {
		background: transparent !important;
	}
}

.event-type {
	position: relative;
	min-height: 100px;

	.icon-stack {
		position: absolute;
		bottom: -13px;
		left: -10px;

		&:nth-child(2) {
			left: 46px;
		}
	}

	.icon-hexagon {
		position: relative;
		z-index: 8;
		color: #fff;
		font-size: 100px;
		line-height: 0.5;
	}
	.icon-teacher {
		position: absolute;
		bottom: 14px;
		left: 9px;
		z-index: 10;
		color: #509e2e;
		font-size: 80px;
		line-height: 0.7;
	}
	.icon-virtual {
		position: absolute;
		bottom: 23px;
		left: 20px;
		z-index: 10;
		color: #509e2e;
		font-size: 60px;
		line-height: 0.7;
	}
	.icon-student {
		position: absolute;
		bottom: 29px;
		left: 22px;
		z-index: 10;
		color: #509e2e;
		font-size: 56px;
		line-height: 0.7;
	}

	h6 {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		font-size: 14px;
		font-style: normal;
		text-align: right;
		background-color: rgba(51, 51, 51, 0.73);
		padding: 12px 15px 14px;
		margin: 0;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.event-table {
	border: none;

	td {
		color: #333;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.3;
		vertical-align: top;
		padding: 5px 0;

		&:nth-child(1) {
			width: 85px;
		}

		&:nth-child(2) {
			font-style: italic;
			font-weight: 800;
		}
	}

	time {
		span {
			display: block;
			font-style: normal;
			font-weight: 400;
		}
	}
}

.event-link {
	font-size: 20px;
	font-weight: 800;
}
.event-attend {
	float: right;
	font-size: 11px;
	line-height: 30px;
	font-weight: 800;
	vertical-align: top;

	.icon-stack {
		position: relative;
		display: inline-block;
		height: 30px;
  		width: 41px;
  		line-height: 0.7;
	}
	.icon-hexagon {
		position: absolute;
		color: $ru_green;
		font-size:  48px;
	}
	.icon-check {
		position: absolute;
  		color: #fff;
  		font-size: 18px;
  		top: 9px;
  		left: 15px;
	}
}
div.event-live {
	position: absolute;
	width: 50%;
	height: 50%;
	background-image:url(/assets/event-live-banner.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 100;
}
.event-detail {
	@extend .clearfix;
	background-color: #fff;
	border: #ccc 1px solid;
	margin-right: 0;
	margin-left: 0;

	.expired .event-type {
		@include expired-event;
	}

	h1 {
		font-size: 25px;
		line-height: 1.1;
		font-style: normal;
		font-weight: 200;
		margin-top: 12px;
	}
	h3 {
		font-size: 16px;
		font-style: italic;
		font-weight: 800;
	}
	h4 {
		font-size: 17px;
		font-style: normal;
		font-weight: 800;
		margin: 8px 0 0;
	}

	p.event-subtitle {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
	}

	.event-type {
		margin-left: -0.9375rem;
		margin-right: -0.9375rem;
	}
	.event-attend {
		margin-top: 10px;
	}

	.small-offset-1 {
		margin-left: 0 !important;
	}
	table tr {
		background: transparent !important;
	}
}
.event-map {
	float: left;
	width: 100%;

	margin-top: 2rem;

	p {
		font-size: 14px;
		margin: 0;
	}
}
.event-resources {
	float: left;
	width: 100%;

	ul {
		float: left;
		width: 100%;
		list-style: none;
		margin: 8px 0 20px;
	}
	li {
		float: left;
		width: 100%;
		border: #ccc 1px solid;
		margin-bottom: 6px;

		a {
			float: left;
			width: 100%;
			padding: 5px 15px;

			span {
				float: right;
				font-size: 12px;
				line-height: 2.1;
				font-weight: 600;
			}
		}
	}
}
.event-attendees {
	float: left;
	width: 62%;
	margin: 12px 0 20px;

	h3 {
		margin-bottom: 5px;
	}
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		vertical-align: top;
		margin-left: -7px;
	}
	.icon-person {
		display: inline-block;
		color: $ru_green;
		font-size: 25px;
		line-height: 1;
	}
}
.event-share {
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
}
.event-share-title {
	float: left;
	line-height: 2.2;	
}
.event-share-icon {
	display: inline-block;
	width: 35px;
	height: 35px; 
	color: #333;
	font-size: 20px;
	line-height: 1.7;
	text-align: center;
	border: #333 1px solid;
	border-radius: 50%;
	margin-left: 7px;

	&:hover {
		border-color: $ru_green;
	}
}
@media #{$small-only} {  
	.event-detail {
		.ru-button-big {
			text-align: center;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.event-map {
		margin-bottom: 25px;
	}
}
@media #{$medium-only} { 
	.event-map {
		margin-top: 0;
	}
}
@media #{$medium-up} { 
	.events-filters {
		float: right;

		select {
			width: auto;
			min-width: 150px;

			&:nth-child(2) {
				margin-right: 20px;
			}
		}

	}

	.event-detail {
		padding: 30px 15px;
		margin-top: 8px;

		h1 {
			font-size: 32px;
			margin-top: 0;
		}

		.event-type {
			margin-left: 0;
			margin-right: 0;
		}

		.ru-button-big { 
			margin-right: 10px;
		}
	}

	.event-resources {

		ul {
			list-style: none;
			margin: 8px 0 20px;
		}
		li {
			border: none;

			a {
				color: #333;
				padding: 0;

				span {
					color: $ru_green;
					font-size: 15px;
					line-height: 1.5;
					font-weight: 400;
				}
			}
		}
	}

	.event-attendees {
		width: 65%;
	}

	.event-detail-main {
		float: right;
		margin-bottom: 10px;
	}
	.event-detail-aside {
		float: left;
	}
	.event-share {
		float: right;
		width: auto;
	}
}

@media #{$large-up} { 
	.event-detail {
		h1 {
			font-size: 40px;
		}
	}
	.event-detail-main {
		margin-bottom: 0;
	}
}