button {
    &.fasttrack-primary {
        background-color: $ru_maths;
        &:hover, &:focus {
            &:disabled {
                background-color: $ru_maths;
                opacity: $button-disabled-opacity;
            }
            &:not(:disabled) {
                background-color: lighten($ru_maths, $ru_site_hover);
            }
        }
    }
    &.fasttrack-secondary {
        background: none;
        color: white;
        border: 2px solid $ru_maths;
        &:hover, &:focus {
            &:disabled {
                background: none;
                opacity: $button-disabled-opacity;
                border: 2px solid $ru_maths;
            }
            &:not(:disabled) {
                border-color: lighten($ru_maths, $ru_site_hover);
                color: lighten($ru_maths, $ru_site_hover);
                transition: border-color 300ms ease-out;
                transition: color 300ms ease-out;
            }
        }
    }
}