.header-strip {
    position:relative;
    background: rgba(253,253,253,0.5);
    margin: 25px 0px;

    .inner-strip>div {
        background: rgba(253,253,253,1);
    }
}

.important-announcement {
    background: #bb2828c0;
    color: white;
    padding-top: 8px;

    h1 small {
        color: white;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    .dismiss {
        position: absolute;
        top: 12px;
        right: 18px;
        height: 24px;
        width: 23px;
        padding: 0;
        background: url(../assets/ru.png) no-repeat -332px -373px;
    }
}

.home-bg {
    position: absolute;
    left: calc(50% + 300px);
    width: 100%;
    height: 700px;
    background-image: url(/assets/pencil.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.8;
}

.home-bg-math {
    position: absolute;
    top: 350px;
    width: 100%;
    height: 387px;
    background: url(/assets/math-bg.png) center no-repeat;

    opacity: 0.8;
}

.global-nav-strip {
    text-align: center;
    min-height: 40px;

    .global-title {
        font-family: 'Exo 2';
        font-size: 28px;
        line-height: 60px;
    }

    .ru-desktop-search-icon {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}