
.ru-search-button
{
    padding-top: 8px;
    height: 39px;
    padding-bottom: 6px;
    font-size: 1.2rem;
}

@media #{$large-only}
{
    input.ru-search-button
    {
        padding-left: 42px !important;
        padding-right: 42px !important;
        width: auto !important;
    }
}
.ru-welcome
{
    padding-top: 20px;
}

.ru-challenge
{
    font-size: $h5-font-size;
    font-style: normal;
    font-weight: 600;
    a
    {
        text-decoration: underline;
        &:hover
        {
            text-decoration: none;
        }
    }
    display: block;
    padding-bottom: 20px;
}

.home-page-menu-row {
    margin-top: 30px !important;
    margin-bottom: 120px !important;
}

ul.home-page-menu {
    list-style: none;
    background: white;
    padding: 0;
    border: 1px solid #c7c7c7;
    margin-left: 0;

    div.vertical-title {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        width: 180px;
        font-size: 22px;
        font-family: Exo, sans-serif;
        font-weight: 700;
        top: 180px;
        line-height: 50px;
    }

    li {
        height: 60px;
        line-height: 60px;
        padding-left: 50px;

        a {
            height: 60px;
            background: white;
            display: block;
            font-family: 'Exo', sans-serif;
            font-weight: 700;
            font-size: 22px;
            color: black;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover {
                background: #f2f2f2;

                &:before {
                    background: $ru_green;
                    border-top: 30px solid #f2f2f2;
                    border-left: 20px solid $ru_green;
                    border-bottom: 30px solid #f2f2f2;
                }
            }

            &:before {
                content: '';
                display:inline-block;
                vertical-align: middle;
                height:60px;
                width:40px;
                background: white;
                margin-top:-2px;
            }

            span.amp:before {
                content: '&';
                font-weight: 300;
            }
        }

        background: $ru_green;

    }
    
}

ul.home-page-menu-black {
    li {
        background: black;
        a:hover:before {
            background: black;
            border-left: 20px solid black;

        }
    }
}