@charset "UTF-8";

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "d";
}
.icon-link:before {
  content: "b";
}
.icon-arrow-left:before {
  content: "i";
}
.icon-arrow-right:before {
  content: "j";
}
.icon-x:before {
  content: "k";
}
.icon-group:before {
  content: "f";
}
.icon-person:before {
  content: "c";
}
.icon-calender:before {
  content: "a";
}
.icon-teacher:before {
  content: "g";
}
.icon-hexagon:before {
  content: "h";
}
.icon-virtual:before {
  content: "l";
}
.icon-student:before {
  content: "m";
}
.icon-facebook:before {
  content: "n";
}
.icon-gplus:before {
  content: "o";
}
.icon-twitter:before {
  content: "p";
}
.icon-board-complete:before {
  content: "q";
}
.icon-question-complete:before {
  content: "r";
}
.icon-gameboard-icon:before {
  content: "s";
}
.icon-calendar-grid:before {
  content: "e";
}
.icon-speach-bubble:before {
  content: "t";
}
.icon-check:before {
  content: "u";
}

td .sortable {
    padding-right: 20px;
    padding-left: 6px;
    position: relative;
    text-align: left;
    cursor: pointer;
}
td .sortable:before, td .sortable:after{
    content: "";
    display: block;
    border: 4px solid transparent;
    position: absolute;
    right: 6px;
    top: 50%;
}
td .sortable:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
td .sortable:after {
    border-top-color: #666;
    margin-top: 1px;
}
td .sortable.descending:before {
    border-bottom-color: #bbb; 
}
td .sortable.ascending:after {
    border-top-color: #bbb; 
}