.boards-wrap {
	margin: 10px -10px 0;

	.row {
		margin: 0;
	}
	.panel {
		margin: 0;
		border-color: #000;
		&:hover {
			border-color: #008dbb;
		}
	}
	h3 {
		margin: 27px 0 10px;
		font-size: 23px;
		a {
			color: #333;
			font-weight: bold;
			&:hover {
				color: #666;
			}
		}
	}
}
.board-percentage {
	float: left;
	width: 78px;
	height: 93px;
	position: relative;
	z-index: 1;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	color: #fff;
	.percent-symbol {
		font-size: 17px;
		line-height: 38px;
		vertical-align: top;
	}
}
.subject-physics,
.subject-maths {
	position: absolute;
	top: 11px;
	left: 0;
	width: 71px;
	height: 82px;
	background: url(/assets/my-boards-sprite.png) no-repeat 0 0;
	padding: 18px 0 0;
}
.subject-physics {
	z-index: -1;
}
.subject-maths {
	z-index: -2;
	background-position: -71px 0;
}
.subject-maths + .subject-physics {
	left: auto;
	top: 0;
	right: 0;
}
.board-info {
	float: right;
	margin: 18px 0 0 18px;
	p {
		font-size: 15px;
		margin: 0;
	}
	strong {
		font-style: italic;
	}
}