
@media #{$large-up}
{
    ul.ru_pods
    {
        margin-left: 0px;
        margin-right: 0px;
    }


    ul.ru_pods > li
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    ul.ru_pods > li:not(:last-child)
    {
        padding-right: 0.625rem;
    }
}

.ru_pod
{
    padding-top: 10px;

    .pod-scroll-list {
        height: 150px;
        overflow-y: auto;
    }
}

.ru_pod li h6 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ru_pod_image_inner
{
    text-align: left;
    height: 180px;
    padding: 20px;
    p,a
    {
        font-size: 0.95rem;
    }
}

.ru_pod_image
{
    text-align: center;
    height: auto;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
}

.ru_pod_image img
{
    //min-width: 1000px;
    height: 180px;
    overflow: hidden;
}

.ru_pod hr
{
    margin-top: 6px;
}

.get-started-pod-spacer
{
    height: 180px;
    background-position: center top;
    background-image: url(/assets/get-started.png);        
    background-repeat: no-repeat; 
    cursor: pointer;
}

.get-started-pod-spacer-bottom
{
    height: 180px;
    background-position: center top;
    background-image: url(/assets/try-questions.png);       
    background-repeat: no-repeat; 
    cursor: pointer;
}

@media #{$small-only}
{
    .ru_pod
    {
        overflow-y: hidden;
        height: auto;
    }
}


.ru_pod_title
{
    height: 65px;
    padding-left: 75px; 
    background-repeat: no-repeat;
    &:after
        {
            clear:both;
        }
}

.ru_pod_title h5:last-child
{
    padding-top: 23px;
}

.ru_pod_title h5:not(:last-child)
{
    padding-top: 12px;
    margin-bottom: 1px;
}

.ru_pod ul
{
    margin-left: 0;
    line-height: 1;
}

.ru_pod ul li
{
    list-style: none;
    padding-bottom: 0.5rem;
}

.ru_pod ul li > a
{
    color: $anchor-font-color !important;
    &:hover
    {
        color: $anchor-font-color-hover  !important;
    }
    font-size: $h6-font-size;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.3rem;
    margin-top: 0;
    display: block;
}

.ru_pod ul li > h5
{
    color: $ru_green;
    font-size: $h6-font-size;
}

.ru_pod ul li > h6
{
    font-size: $h6-font-size;
}

.ru_pod ul li > h5, .ru_pod ul li > h6, .ru_pod ul li > a
{
    margin-top: 0rem;
    margin-bottom: 0.3rem;
}

.ru_pod_concepts
{
    background-image:  url('/assets/icon-books.png');
}

.ru_pod_questions
{
    background-image:  url('/assets/icon-search-concepts.png');
}

.ru_pod_forum .ru_pod_title
{
    background-image:  url('/assets/icon-help-forum.png');
}

