@media print {
    @page {
        margin-bottom: 10mm;
    }

    body {
        margin: 10mm 10mm 10mm 10mm;
    }

    a[href]:after {
        content: none !important;
    }

  

    .no-print {
        display: none;
    }

    .force-print, .only-print {
        display: initial !important;
    }

    .ru-answer-check {
        @extend .no-print;
   }

    .tabs-content.ru_tabs.ru-answer .content.ru-answer, .tabs.ru_tabs dd.active.ru-answer a, .tabs.ru_tabs dd.ru-answer a, .tabs.ru_tabs dd.active.ru-answer a, .tabs.ru_tabs dd.ru-answer a:hover {
        background-color: white !important;
    }

    div.ru-desktop-panel-content div.columns {
        width: initial;
    }

    .print-float-right {
        float: right;
    }

    .ru_share {
        @extend .no-print;
    }

    .ru_share_link {
        @extend .print-float-right;
    }

    .ru_answer_reveal div {
        border: 0 !important;
    }

    p.ng-scope, ul.ng-scope, table.ng-scope, div.ng-scope form, div.ng-scope h3, div.ng-scope h4, .print-side-padding {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    div.ng-scope h3 {
        color: $ru_green !important;
    }

    .physics div.ng-scope h4 {
        color: $ru_physics !important;
    }


    .maths div.ng-scope h4 {
        color: $ru_maths !important;
    }

    div.ng-scope form h3 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .tabs-content.ru_tabs {
        border: 0 !important;
    }

    .tabs-content.ru_tabs .content {
        background-color: initial !important;
    }

    .accordion.ru_accordion.physics dd a.ru_accordion_titlebar .ru_accordion_name
    {
        border: 3px solid $ru_physics;
        background-color: transparent !important;
    }

    .accordion.ru_accordion.maths dd a.ru_accordion_titlebar .ru_accordion_name
    {
        border: 3px solid $ru_maths;
        background-color: transparent !important;
    }

    .accordion.ru_accordion.physics dd a.ru_accordion_titlebar:hover .ru_accordion_name
    {
        border: 3px solid lighten($ru_physics, $ru_site_hover);
    }

    .accordion.ru_accordion.maths dd a.ru_accordion_titlebar:hover .ru_accordion_name
    {
        border: 3px solid lighten($ru_maths, $ru_site_hover);
    }

    .print-avoid-break, div.panel, table {
        page-break-inside: avoid;
    }

    .ac-custom label::before {
        border-color: #000;
    }

    .accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_title {
        width: initial;
    }

    .small-side-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    .print-no-side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    a.ru_accordion_titlebar {
        text-decoration: none;
    }

    .ru-concept, .ru-concept-inner {
        font-style: normal !important;
        border: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .tabs-content.ru_tabs.ru-answer .content * p {
        font-style: normal !important;
        font-size: 1rem !important;
    }

    .bg-wrap {
        padding-bottom: 0;
    }

    .print-logo {
        position: relative;
        top: -20px;
        overflow: auto;
        width: 100%
    }

    .print-logo img {
        margin-right: 1em;
        height: 25mm;
    }

    .accordion.ru_accordion dd a.ru_accordion_titlebar {
        border-top: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }

    //Allows us to position the 'Q' for printing
    .print-question{
        position:absolute; 
        margin-left:-20px
    } 

    .print-header {
        float: right;
        line-height: 2em;
        text-align: right;

        span {
            font-weight: bold;
        }

        ul {
            margin: 0;
            list-style: none;
        }

        li {
            display: inline;
        }

        li.physics:before, span.physics {
            color: $ru_physics !important;
        }

        li.maths:before, span.maths {
            color: $ru_maths !important;
        }

        li:not(:first-child):before {
            content: ' > ';
            font-weight: bold;
        }
    }
}

.only-print {
    display: none;
}