@media print {

    @page {
        margin-top:20mm;
        margin-bottom:10mm;
    }

    body {
        margin: 0mm 5mm 5mm 5mm;
    }

    a[href]:after {
        content: none !important;
    }
  

    .no-print {
        display: none;
    }

    .force-print, .only-print {
        display: initial !important;
    }

    .ru-answer-check {
        @extend .no-print;
   }

    .tabs-content.ru_tabs.ru-answer .content.ru-answer, .tabs.ru_tabs dd.active.ru-answer a, .tabs.ru_tabs dd.ru-answer a, .tabs.ru_tabs dd.active.ru-answer a, .tabs.ru_tabs dd.ru-answer a:hover {
        background-color: white !important;
    }

    //Padding between hints
    .tabs-content.ru_tabs .content:not(.ru-answer){
        padding-top: 0px;
        padding-bottom: 0px;
    }


    div.ru-desktop-panel-content div.columns {
        width: initial;
    }

    .print-float-right {
        float: right;
    }

    .ru_share {
        @extend .no-print;
    }

    .ru_share_link {
        @extend .print-float-right;
    }

    .ru_answer_reveal div {
        border: 0 !important;
    }

    p.ng-scope, ul.ng-scope, table.ng-scope, div.ng-scope form, div.ng-scope h3, div.ng-scope h4, .print-side-padding {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        font-size: 1rem;
    }

    .video-fix{
        margin:0px !important;
    }

    div.ng-scope h3 {
        color: $ru_green !important;
    }

    .biology div.ng-scope h4 {
        color: $ru_biology !important;
    }


    .maths div.ng-scope h4 {
        color: $ru_maths !important;
    }

    div.ng-scope form h3 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .tabs-content.ru_tabs {
        border: 0 !important;
    }

    .tabs-content.ru_tabs .content {
        background-color: initial !important;
    }


    .accordion.ru_accordion.biology dd a.ru_accordion_titlebar .ru_accordion_name
    {
        border: 0px solid $ru_biology;
        background-color: transparent !important;
    }

    .accordion.ru_accordion.maths dd a.ru_accordion_titlebar .ru_accordion_name
    {
        border: 0px solid $ru_maths;
        background-color: transparent !important;
    }

    .accordion.ru_accordion.biology dd a.ru_accordion_titlebar:hover .ru_accordion_name
    {
        border: 0px solid lighten($ru_biology, $ru_site_hover);
    }

    .accordion.ru_accordion.maths dd a.ru_accordion_titlebar:hover .ru_accordion_name
    {
        border: 0px solid lighten($ru_maths, $ru_site_hover);
    }


    .ng-scope.active{
        padding-top: 20px
    }

    .panel{
        page-break-inside: avoid;
    }

    .ac-custom label::before {
        border-color: #000;
    }

    .accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_title {
        width: initial;
        top:0px !important;
        padding-top:0px !important;
        height:30px !important;
    }

    .accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_name{
        padding-top:0px;
        padding-bottom:0px;
        padding-left:0px;
        padding-right:0px;
        height:30px !important;
        min-width: 50px;
    }

    .small-side-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    .print-no-side-padding {
        padding-left: 0;
        padding-right: 0;
    }

    a.ru_accordion_titlebar {
        text-decoration: none;
    }

    .ru-concept, .ru-concept-inner {
        font-style: normal !important;
        border: 0;
        margin-left: 0;
        margin-right: 0;
    }


    .tabs-content.ru_tabs.ru-answer .content * p {
        font-style: normal !important;
        font-size: 1rem !important;
    }

    .bg-wrap {
        padding-bottom: 0;
        padding:0mm 10mm 10mm 10mm;
    }

    .print-logo {
        position: relative;
        top: -20px;
        overflow: auto;
        width: 100%
    }

    .print-logo img {
        margin-right: 1em;
        height: 25mm;
    }

     .accordion.ru_accordion dd.active a.ru_accordion_titlebar{
        
        border-top: 0px solid #cccccc !important; 
    }

    .accordion.ru_accordion dd a.ru_accordion_titlebar {
        border-top: 0px solid #cccccc !important;
        border-right: 0px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        border-left: 0px solid #cccccc;
        height: 30px;
    }

    //Allows us to position the 'Q' for printing
    .print-question{
        position:absolute; 
        margin-left:-25px
    } 

    li{
        font-size: 1rem !important;
        margin-left:40px !important;
    }

    //The green bullet points 
    .ru-form-required
    {
        &:after {
            padding-left: 10px !important;
        }
    }



    .print-header {
        float: right;
        line-height: 2em;
        text-align: right;

        span {
            font-weight: bold;
        }

        ul {
            margin: 0;
            list-style: none;
        }

        li {
            display: inline;
        }

        li.biology:before, span.biology {
            color: $ru_biology !important;
        }

        li.maths:before, span.maths {
            color: $ru_maths !important;
        }

        li:not(:first-child):before {
            content: ' > ';
            font-weight: bold;
        }
    }
}

.only-print {
    display: none;
}