/*
    My progress styles
*/
.export-btn {
    margin-top: 5px;
    padding: 14px 25px 16px;
}
.progress-bar {
    float: left;
    width: 100%;
    color: #fff;
    text-align: right;
    background-color: #999;
    margin-top: 5px;

    .bar {
        float: left;
        text-align: left;
        background-color: #509e2e;

        span {
            float: left;
        }
    }
    span {
        float: right;
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        padding: 4px 12px 2px;
    }
}
.d3-donut {
    padding: 20px 5px 0;

    text {
        font-size: 13px;
    }
}
/*
    Assignment progress styles 
*/
.progress-tabs-content {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}
.accordion-group {
    .accordion-group-header {
        @extend .clearfix;
        display: block;
        background-color: #fff;
        border: #999 1px solid;
    }

    .accordion-group-title {
        float: left;
        width: 175px;
        font-size: 18px;
        line-height: 20px;
        vertical-align: top;
        font-weight: 600;
        color: #fff;
        background-color: $ru_green;
        padding: 14px 12px 7px;

        .icon-group {
            font-size: 25px;
            margin-right: 5px;
        }
    }

    .accordion-group-summary {
        float: right;
        font-size: 18px;
        line-height: 20px;
        color: #333;
        margin-top: 13px;
    }
}

.accordion-board {
    .accordion-board-header {
        @extend .clearfix;
        display: block;
        color: #333;
        background-color: #fff;
        border-left: #999 1px solid;
        border-bottom: #999 1px solid;
        border-right: #999 1px solid;

        &:hover {
            color: $ru_green;
        }
    }

    .accordion-board-title {
        float: left;
        font-size: 18px;
        line-height: 20px;
        vertical-align: top;
        padding: 14px 12px 14px;

    }

    .accordion-board-level {
        float: left;
    }

    .accordion-board-date {
        float: left;
    }

    .accordion-board-summary {
        float: right;
        font-size: 18px;
        line-height: 20px;
        color: #333;
    }

}
.board-progress {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    background-color: #333;
    padding: 13px 20px 14px;

    strong {
        font-weight: 600;
    }
}
.board-question {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 18px 0;

    strong {
        font-weight: 600;
    }
}
.table-progress {
    border: none;
    table-layout: auto; 
    border-collapse:collapse;

    td {
        color: #333;
        font-size: 18px;
        line-height: 28px;
        vertical-align: top;
        text-align: center;
        padding: 0;

        &.selected {
            border-right: #666 1px solid;
            border-left: #666 1px solid;
            background-color: #fff !important;
        }
    } 

    tbody {
        tr:nth-child(odd) {
            background-color: #f5f5f5;
        }
        td {
            width: 65px;
            padding-top: 10px;

            &:first-child {
                width: auto;
                color: $ru_green;
                font-weight: 600;
                text-align: left;
            }
            &:nth-child(even) {
                background-color: rgba(80, 158, 46, 0.1);
            }
            &:last-child {
                font-weight: 600;
                text-transform: uppercase;
                text-align: right;
                background-color: transparent;
                padding-right: 16px;
            }
        }
        .complete {
            td {
                &:first-child, &:last-child {
                    color: #944cbe;
                }
            }
        }
        .fail {
            td {
                &:first-child, &:last-child {
                    color: #cc3333;
                }
            }
        }
    }

    thead, tfoot {
        tr {
            background: #f2f2f2;
            border-right: #999 1px solid;
            border-left: #999 1px solid;

            td {
                font-weight: 200;
                padding: 12px 0;
                border-top: #999 1px solid;
                border-bottom: #999 1px solid;

                &:first-child {
                    color: #fff;
                    font-weight: 600;
                    background-color:#666;
                }

                &.selected {
                    color: $ru_green;
                    font-weight: 600;
                    border-top-color: #fff;
                }
            }
        }
    }

    thead {
        tr {
            td {
                &.selected {
                    border-bottom-color: #fff;
                }
            }
        }
    }

    .icon-x {
        font-size: 35px;
        color: #cc3333;
    }
    .icon-person {
        font-size: 28px;
    }
    .icon-check {
        font-size: 28px;
    }
    .icon-spinner {
        font-size: 20px;
    }
}
/*
    All media quires 
*/
@media #{$medium-up} { 
    .progress-wrap {
        background-color: #fff;
        padding: 30px 20px;
        border:#999 1px solid;
    }
    .progress-tabs-content {
        margin-left: 0;
        margin-right: 0;
    }
}
@media #{$medium-only} { 
    .export-btn {
        margin-top: 50%;
    }
}