/*
    My progress styles
*/
.export-btn {
    margin-top: 5px;
    padding: 14px 25px 16px;
}
.progress-bar {
    float: left;
    width: 100%;
    color: #fff;
    text-align: right;
    background-color: #999;
    margin-top: 5px;

    .bar {
        float: left;
        text-align: left;
        background-color: #509e2e;

        span {
            float: left;
        }
    }
    span {
        float: right;
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        padding: 4px 12px 2px;
    }
}
.d3-donut {
    padding: 20px 5px 0;

    text {
        font-size: 13px;
    }
}
/*
    Assignment progress styles 
*/
.table-progress {
    border-collapse:collapse; 

    tbody {
        tr:nth-child(odd) {
            background-color: #f5f5f5;
        }
        td {
            &:nth-child(odd) {
                background-color: rgba(80, 158, 46, 0.1);
            }
            &:hover {
                background-color: #fff;
                border-right: #666 1px solid;
                border-left: #666 1px solid;
            }
        }
    }
}
/*
    All media quires 
*/
@media #{$medium-up} { 
    .progress-wrap {
        background-color: #fff;
        padding: 30px 20px;
        border:#999 1px solid;
    }
}
@media #{$medium-only} { 
    .export-btn {
        margin-top: 50%;
    }
}