/*
    My progress styles
*/

// GENERIC
$status-opacity: 0.8;
$total-status-opacity: 1;
$default-name-fill: #888;

// COMPLETED
$perfect-fill: $ru_green;
$completed-bg-img: linear-gradient(to right, rgba($perfect-fill, $status-opacity), rgba($perfect-fill, $status-opacity));
$completed-total-bg-img: linear-gradient(to right, rgba($perfect-fill, $total-status-opacity), rgba($perfect-fill, $total-status-opacity));
$completed-cb-bg-img: linear-gradient(
    to right, rgba($perfect-fill, $status-opacity), rgba($perfect-fill, $status-opacity));
$completed-bg-size: 100%;

// PASSED
$passed-fill: #666;
$passed-bg-img: linear-gradient(to right, rgba($passed-fill, $status-opacity), rgba($passed-fill, $status-opacity));
$passed-total-bg-img: linear-gradient(to right, rgba($passed-fill, $total-status-opacity), rgba($passed-fill, $total-status-opacity));
$passed-cb-bg-img: linear-gradient(
    to bottom left, rgba($passed-fill, $status-opacity / 1.5) 25%, 
    rgba($passed-fill, $status-opacity / 2) 25%, rgba($passed-fill, $status-opacity / 2) 50%,
    rgba($passed-fill, $status-opacity / 1.5) 50%, rgba($passed-fill, $status-opacity / 1.5) 75%,
    rgba($passed-fill, $status-opacity / 2) 75%, rgba($passed-fill, $status-opacity / 2));
$passed-bg-size: 50%;

// IN-PROGRESS
$in-progress-fill: $ru_green;
$in-progress-bg-img: linear-gradient(to right, rgba($in-progress-fill, $status-opacity / 2), rgba($in-progress-fill, $status-opacity / 2));
$in-progress-total-bg-img: linear-gradient(to right, rgba($in-progress-fill, $total-status-opacity / 2), rgba($in-progress-fill, $total-status-opacity / 2));
$in-progress-cb-bg-img: linear-gradient(
    to bottom left, rgba($in-progress-fill, $status-opacity / 1.5) 25%, 
    rgba($in-progress-fill, $status-opacity / 4) 25%, rgba($in-progress-fill, $status-opacity / 4) 50%,
    rgba($in-progress-fill, $status-opacity / 1.5) 50%, rgba($in-progress-fill, $status-opacity / 1.5) 75%,
    rgba($in-progress-fill, $status-opacity / 4) 75%, rgba($in-progress-fill, $status-opacity / 4));
$in-progress-bg-size: 100%;

// FAILED
$failed-fill: $ru_red;
$failed-bg-img: linear-gradient(to right, rgba($failed-fill, $status-opacity), rgba($failed-fill, $status-opacity));
$failed-total-bg-img: linear-gradient(to right, rgba($failed-fill, $total-status-opacity), rgba($failed-fill, $total-status-opacity));
$failed-cb-bg-img: 
    linear-gradient(135deg, rgba($failed-fill, $status-opacity / 2) 25%, rgba($failed-fill, $status-opacity / 4) 25%),
    linear-gradient(225deg, rgba($failed-fill, $status-opacity / 2) 25%, rgba($failed-fill, $status-opacity / 4) 25%),
    linear-gradient(315deg, rgba($failed-fill, $status-opacity / 2) 25%, rgba($failed-fill, $status-opacity / 4) 25%),
    linear-gradient( 45deg, rgba($failed-fill, $status-opacity / 2) 25%, rgba($failed-fill, $status-opacity / 4) 25%);
$failed-bg-size: 35%;


.progress-bar {
    float: left;
    width: 100%;
    height:28px;
    color: #fff;
    text-align: right;
    background-color: #999;
    margin-top: 5px;
    position: relative;

    .bar {
        float: left;
        height:100%;
        text-align: left;
        background-color: #509e2e;

        span {
            left: 0;
        }
    }
    >span {
        right: 0;
    }
    span {
        position:absolute;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        padding: 4px 12px 2px;
    }
}
.d3-donut {
    padding: 20px 5px 0;

    text {
        font-size: 13px;
    }

    .arc-label {
        font-size: 15px;
        font-weight: bold;
    }
}
.graph-wrapper {
    max-width: 400px;
    margin: 5% auto 0;
    text-align: center;
}
/*
    Assignment progress styles 
*/

#progressTabs{
    margin:0;
}

#progressTabsContent{
    margin:-1px 0 0;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.progress-tabs-content {
    position: relative;
    width: auto;
    border-top: #999 1px solid;
    margin-top: -1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;

    td, div.key-cell, tr {
        .completed, .passed, .failed {
            &.colour-blind { color: black; }
            color: white;
        }
        .completed {
            &.colour-blind { background-image: $completed-cb-bg-img; }
            background-image: $completed-bg-img;
            background-size: $completed-bg-size;
        }
        .passed { 
            &.colour-blind { background-image: $passed-cb-bg-img; }
            background-image: $passed-bg-img;
            background-size: $passed-bg-size;
        }
        .in-progress {
            &.colour-blind { background-image: $in-progress-cb-bg-img; } 
            background-image: $in-progress-bg-img;
            background-size: $in-progress-bg-size;
        }
        .failed {
            &.colour-blind { background-image: $failed-cb-bg-img; } 
            background-image: $failed-bg-img;
            background-size: $failed-bg-size;
        }
    }
}
.accordion-group {
    margin: 0;

    > dd {
        counter-reset: board-count;
        margin: 0;
    }

    .group-panel {
        background-color: rgba(#eee, 0.4);
    }

    .accordion-group-header {
        @extend .clearfix;
        display: block;
        background-color: #fff;
        border: #999 1px solid;
        cursor: pointer;
        margin-top: 20px;
    }

    .accordion-group-title {
        float: left;
        width: 175px;
        font-size: 16px;
        line-height: 20px;
        vertical-align: top;
        font-weight: 600;
        color: #fff;
        background-color: $ru_green;
        padding: 11px 12px 4px;
        word-wrap: break-word;
        overflow-wrap: break-word;

        .icon-group {
            font-size: 25px;
            margin-right: 5px;
            vertical-align: middle;
            vertical-align: -moz-middle-with-baseline;
            vertical-align: -webkit-baseline-middle;
        }
    }

    .accordion-group-summary {
        float: right;
        font-size: 13px;
        line-height: 16px;
        color: #333;
        margin-top: 13px;
    }

    .accordion-arrow {
        float: right;
        margin: 3px 3px 0 10px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .active {
        .accordion-arrow {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}

.accordion-board {
    margin: 0;

    dd {
        &.accordion-board-footer { margin: 0px; }
        margin: 0 20px;
    }

    .accordion-board-header {
        @extend .clearfix;
        display: block;
        color: #333;
        background-color: #fff;
        border: #999 1px solid;
        margin-top: 20px;
        cursor: pointer;
    }
    .accordion-board-header-last {
        background: #fff;
        cursor: auto;
        border-top: #999 1px solid;
    }
    .accordion-board-title {
        position: relative;
        font-size: 18px;
        line-height: 20px;
        vertical-align: top;
        padding: 8px 12px 8px 45px;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            color: #fff;
            font-weight: 600;
            counter-increment: board-count;
            content: counter(board-count) ". ";
            background-color: $ru_green;
            padding: 8px 10px 0;
            min-width: 35px;
            text-align: right;
        }
    }

    .accordion-board-title-no-counter {
        &:before {
            counter-increment: none;
            content: '';
        }
    }

    .accordion-board-date {
        display: none;
        float: left;
        width: 50%;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        vertical-align: top;
        padding-top: 12px;
        border-right:#666 1px solid;
        margin-bottom: -5px;

        .icon-calender {
            font-size: 40px;
        }
    }

    .accordion-board-link {
        display: none;
        float: right;
        width: 50%;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        vertical-align: top;
        margin-top: 14px;

        span {
            vertical-align: top;
        }

        .icon-link {
            font-size: 32px;
        }
    }

    .active {
        .accordion-board-date,
        .accordion-board-link {
            display: block;
        }
        .accordion-board-title {
            border-bottom: #666 1px solid;
        }
        
    }

}
.board-progress {
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    background-color: #eee;
    border: 1px solid #999;
    color: black;
    border-top: 0px;
    padding: 13px 35px 14px;

    strong {
        font-weight: 600;
    }
}
.board-question-wrap {
    display: table;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
    background: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;

    p {
        font-size: 11px;
        margin: 0;
    }

    .board-question {
        display: table-cell;
        width: 100%;
        padding: 12px 10px 10px;
    }

    .icon-arrow-left,
    .icon-arrow-right {
        display: table-cell;
        vertical-align: middle;
        font-size: 26px;
        background-color: #999;
        color: #ccc;
        padding-top: 5px;
        width: 70px;
        &.enabled {
            background-color: #666;
            color: #fff;
        }
    }

    .icon-arrow-left {
        border-left: 1px solid #666;
        left: 0;
    }
    .icon-arrow-right {
        border-right: 1px solid #666;
        right: 0;
    }


}

.table-responsive {
    overflow-x: auto;
}

.table-progress {
    border: none;
    table-layout: auto; 
    border-collapse:collapse;
    margin: 0;

    td {
        color: #333;
        font-size: 11px;
        line-height: 13px;
        vertical-align: middle;
        text-align: center;
        padding: 0;
        float: none !important;
        height: 1px;
        &.student-name {
            padding-top: 5px;
            padding-bottom: 5px;
            .icon-person {
                top: 7px;
                position: relative;            
            }
        }
        &:first-child, &.total-column {
            border-left: #666 1px solid;
            border-right: #666 1px solid;
            padding-right: 10px;
            padding-left: 10px;
        }
        &.total-column {
            &.right {
                border-left: 0px;
            }
            &.left {
                border-right: 0px;
            }
        }
    }

    tbody {
        background-blend-mode: normal;
        td {
            min-width: 38px;
            &:first-child {
                font-weight: 800;
                width: auto;
                color: $ru_green;
                text-align: left;
                padding-right: 10px;
                padding-left: 10px;
            }
            &.total-column {
                font-weight: 200;
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
            }
        }
        .data-value {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .completed, .passed, .failed {
            &.colour-blind { td.total-column { color: black; } }
            td.total-column { color: white; }
        }

        .completed.colour-blind td.total-column { background-image: $completed-cb-bg-img; }
        .completed td {
            &:first-child a, .icon-person { color: rgba($perfect-fill, $total-status-opacity); }
            &.total-column {
                background-image: $completed-total-bg-img;
                background-size: $completed-bg-size;
            }
        }

        .passed.colour-blind td.total-column { background-image: $passed-cb-bg-img; }
        .passed td {
            &:first-child a, .icon-person { color: rgba($passed-fill, $total-status-opacity); }
            &.total-column {
                background-image: $passed-total-bg-img;
                background-size: $passed-bg-size;
            }
        }

        .in-progress.colour-blind { td.total-column { background-image: $in-progress-cb-bg-img; } }        
        .in-progress td {
            &:first-child a, .icon-person  { color: rgba($default-name-fill, $total-status-opacity); }
            &.total-column {
                background-image: $in-progress-total-bg-img;
                background-size: $in-progress-bg-size;
            }
        }
            
        .failed.colour-blind { td.total-column { background-image: $failed-cb-bg-img; } }        
        .failed td {
            &:first-child a, .icon-person { color: rgba($failed-fill, $total-status-opacity); }
            &.total-column {
                background-image: $failed-total-bg-img;
                background-size: $failed-bg-size;
            }
        }
        
        .not-attempted {
            td {
                &:first-child a, .icon-person  { color: rgba($default-name-fill, $total-status-opacity); }
            }        
        }
        .revoked {
            td {
                &:first-child, .icon-person {
                    color: gray;
                    a {
                        text-decoration: line-through;
                    }
                }
                &.total-column span {
                    display: none !important;
                }
            }
        }
    }

    thead, tfoot {
        tr {
            background: #f2f2f2;
            td {
                font-weight: 200;
                border-top: #999 1px solid;
                border-bottom: #999 1px solid;

                &:first-child, &.total-column {
                    color: #555;
                    font-weight: 500;
                    background-color:#ddd;
                }

                padding: 9px 0;

                &.selected {
                    color: $ru_green;
                    font-weight: 600;
                    background-color: white;
                }
            }
        }
    }
    thead tr td {
        border-top: #666 1px solid;
        &.selected {
            border-top-color: white;
        }
    }
    tfoot tr td {
        border-bottom: #666 1px solid;
    }

    .selected { 
        font-weight: 600;
        border-left: #666 1px solid;
        border-right: #666 1px solid;
    }
    .total-column {
        width: 70px;
        min-width: 70px;
    }
    .icon-person {
        font-size: 15px;
    }
}

.d3-line {
    .domain {
        stroke: #c4c5c7;
        stroke-width: 0.6;
        fill: none;
    }
    .d3-line-data {
        stroke-width: 2;
    }
    text {
        font-size: 15px;
    }
    .x-axis,
    .y-axis {
        text {
            fill: #717275;
        }
        line {
            stroke: #c4c5c7;
        }
    }
    .x-axis{
        text {
            font-weight: 400;
        }
    }
    .legend {
        text {
            font-size: 7px;
            text-anchor: end;
        }
    }
}
.d3-tooltip {   
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;           
    min-width: 50px;                  
    min-height: 28px;                 
    padding: 3px 5px 3px 5px;             
    font-size: 12px;        
    background: #333;
    color: #fff;   
    border: 0;      
    border-radius: 4px;           
    pointer-events: none;         
}
div[d3-bar],
div[d3-plot] {
    position: relative;
}
.d3-bar {

    .x-axis,
    .y-axis {
        path {
            fill: none;
        }
    }
    .y-axis {
        text {
            fill: #333;
            font-size: 22px;
            font-weight: 600;
            text-anchor: middle !important;
        }
    }
    .x-axis {
        text {
            fill: #999;
            font-size: 25px;
            font-weight: 700;
            text-anchor: middle !important;
        }
    }
}

.d3-bar-prev,
.d3-bar-next {
    position: absolute;
    top: 36%;
    width: 60px;
    height: 60px;
    background-color: rgba(31, 31, 31, 0.21);
    background-repeat: no-repeat;
    background-position: 18px;
    background-image: url(/assets/white-arrow.png);
    border-radius: 2px;
    border: #c4c4c4 1px solid;

    &:hover {
        cursor: pointer;
        background-color: rgba(31, 31, 31, 0.5);
        border: #8c8c8c 1px solid;
    }
}
.d3-bar-prev {
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.d3-bar-next {
    right: 0;
    -webkit-transform: rotate(180deg) translateY(50%);
    -moz-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}
.d3-bar-key {
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;

    li {
        font-size: 12px;
        margin-bottom: 7px;

        span {
            float: left;
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }
    }
}
.d3-plot-key {
    float: right;
    list-style: none;
    margin-top: -10px;
    margin-left: 10px;

    li {
        position: relative;
        font-size: 13px;
        text-align: right;
        padding-right: 50px;
        margin-bottom: 7px;
        text-transform: capitalize;

        span {
            position: absolute;
            top: -1px;
            right: 0;
            width: 44px;
            height: 18px;
            display: inline-block;
            margin-left: 5px;

        }
    }
}
.d3-bar-total {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    margin: 0;
}
/*
    All media quires 
*/
@media #{$small-only} { 
    .accordion-group {
        .hide-for-medium-up {
            display: inline !important;
            vertical-align: top;
        }
    }

    .progress-wrap {
        background-color: #fff;
        padding: 10px 10px;
        border:#999 1px solid;
    }

    .accordion-board-header-last {
        display: none !important;
    }

    .accordion-board dd {
        margin: 0px;
    }

}
@media #{$medium-up} { 
    .progress-wrap {
        background-color: #fff;
        padding: 15px 20px 20px 20px;
        border:#999 1px solid;
    }
    .progress-tabs-content {
        margin-left: 0;
        margin-right: 0;
    }
    .board-progress {
        font-size: 18px;
        line-height: 21px;

        .strong-mobile {
            font-weight: 200;
        }
    }
    .board-question-wrap {
        font-size: 24px;
        line-height: 24px;
        font-weight: 200;

        .board-question {
            padding: 18px;
        }

        .show-for-medium-up {
            display: inline !important;
        }

        .icon-arrow-left,
        .icon-arrow-right {
            font-size: 45px;
        }
        .icon-arrow-left {
            padding: 10px 5px 0 5px;
        }
        .icon-arrow-right {
            padding: 10px 0 0 5px;
        }
    }
    .strong-mobile {
        font-weight: 200;
    }
    .accordion-group {
        .accordion-group-title {
            font-size: 18px;
            padding: 14px 12px 7px;
        }
        .accordion-group-summary {
            font-size: 18px;
            line-height: 20px;
        }
        .show-for-medium-up {
            display: inline !important;
        }

        .accordion-arrow {
            margin-top: 5px;
            margin-right: 5px;
        }

        .active {
            .accordion-board {
                .accordion-board-title {
                    border-bottom: none;
                }
            }
        }
    }
    .accordion-board {
        .accordion-board-title {
            float: left;
            padding-top: 14px;
            padding-bottom: 14px;

            &:before {
                padding-top: 14px;
            }
        }

        .accordion-board-date {
            font-size: 18px;
            line-height: 20px;
            display: inline;
            width: auto;
            border-right: none;
            padding-top: 14px;
        }
        .accordion-board-link {
            font-size: 18px;
            line-height: 20px;
            display: inline;
            width: auto;
        }
        .accordion-board-level {
            margin: 0 40px;
        }
    }

    .table-progress {

        td {
            font-size: 18px;
            line-height: 20px;
        }

         tbody {

            td {
                min-width: 65px;

                &:first-child {
                    font-weight: 600;
                }

                .show-for-medium-up {
                    display: inline !important;
                }
            }
        }

        thead, tfoot {
            tr td { padding: 12px 0; }
        }

        .icon-x {
            font-size: 35px;
        }
        .icon-person {
            font-size: 28px;
        }
        .icon-check {
            font-size: 28px;
        }
        .icon-spinner {
            font-size: 20px;
        }
    }
    .d3-line {
        text {
            font-size: 12px;
        }
    }
    .d3-plot-key {
        margin-top: -25px;
    }
}
@media #{$medium-only} { 
    .export-btn {
        margin-top: 50%;
    }
}

@media #{$large-up} { 
    .table-progress {
        tbody {
            td {
                .show-for-large-up {
                    display: inline !important;
                }
            }
        }
    }
    .d3-line {
        width: 715px;

        text {
            font-size: 10px;
        }
    }
    .d3-plot-key {
        position: absolute;
        margin-top: 0;
        width: 200px;
        top: 0;
        right: 0;
    }
}

.progress-wrap {
    h6 {
        line-height: 2.3rem;
    }

    select {
        width: initial;
        padding-right: 40px; 
        margin-bottom: 0;
        max-width: 48%;
    }

    .progress-space {
        margin-bottom: 2.5rem;
    }
    .progress-small-space {
        margin-bottom: 0.75rem;
    }

    .progress-bar-box {
        margin-bottom: 15px;
    }

    .progress-attempted {
        color: #666666;
    }

    .book-title {
        font-weight: bold;
    }
}

.assignment-progress-key {
    border: 1px solid #999;
    border-top: 0px;
    li {
        padding-bottom: 0px;
    }
    div {
        line-height:20px;
        vertical-align: middle;
    }
    div.key-cell {
        font-size:20px;
        border: 1px solid black;
        span {
            padding-left:20px;
        }
        padding-top: 2px;
        padding-bottom: 2px;
        float:left;
    }
    div.key-desctiption {
        text-align: center;
    }
}
.assignment-progress-options.row {
    margin-top: 10px;
    label { text-align: right; }
    input { margin: 0px; }
}