.top-boards-page {

	h2 {
		font-weight: 300;
		font-style: italic;
		font-size: 4rem;
		padding-bottom: 25px;
	}

	h3 {
		font-style: normal;
		font-weight: 500;
	}

	.hexagon-row {
		background-image: url(/assets/math-bg.png);
		background-position: center;
		margin-top: 25px;
		margin-bottom: 50px;
	}

	a.hexagon {
		background-image:url(/assets/top-boards-hexagon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		color: black;
		width:220px;
		height:258px;
		overflow:hidden;
		display: block;

		&:hover .hexagon-title {
			color: $ru_green;
		}
	}

	div.hexagon-field {
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
		width:32px;
		height:32px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	div.hexagon-field.question {
		background-image:url(/assets/top_boards/icon-question.png);
	}
	div.hexagon-field.top-board {
		background-image:url(/assets/top_boards/icon-board.png);
	}
	div.hexagon-field.build-board {
		background-image:url(/assets/top_boards/icon-tool.png);
	}
	div.hexagon-field.extraordinary {
		background-image:url(/assets/top_boards/icon-lightning-bolt.png);
	}

	div.hexagon-level-bar {
		position: absolute;
		width: 16px;
		height: 96px;
		top: 80px;
		right: 5px;
	}

	div.hexagon-level-dot {
		background-image:url(/assets/isaac-level-marker-inactive.png);
		background-size: contain;
		background-repeat: no-repeat;
	    background-position: center;
		width: 12px;
		height: 12px;
		margin-top: 3px;

		&.active {
			background-image:url(/assets/hex-level-on.png);
		}
	}

	div.hexagon-subtitle {
		font-size: 0.9rem;
    	margin-top: 20px;
    	font-weight: 600;
    	min-height: 1.5rem;
	}

	div.hexagon-title {
	    font-size: 1.6rem;
	    font-weight: 600;
	    font-style: italic;
	    text-align: center;
		margin-top: 15px;
	    margin-left: 22px;
	    margin-right: 22px;
	    line-height: 1.6rem;
	}
}