.top-boards-page {

	h2 {
		font-weight: 300;
		font-style: italic;
		font-size: 4rem;
		padding-bottom: 25px;
	}

	div.columns {
		min-height: 1px;
		min-width: 250px;
		float: left; 
	}

	.hexagon-row {
		background: none;
		margin-bottom: 50px;
	
		@media #{$large-only} {
			background-image: url(/assets/math-bg.png);
			background-position: center bottom;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	div.column-title {
		height: 70px;
		margin-top: 20px;

		h3 {
			font-style: normal;
			font-weight: 500;
		}
	}

	a.hexagon {
		background-image:url(/assets/top-boards-hexagon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		color: black;
		width:220px;
		height:258px;
		overflow:hidden;
		display: block;
		margin-left: auto;
		margin-right: auto;

		&:hover .hexagon-title {
			color: $ru_green;
		}
	}

	div.hexagon-field {
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
		width:32px;
		height:32px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	div.hexagon-field.question {
		background-image:url(/assets/top_boards/icon-question.png);
	}
	div.hexagon-field.top-board {
		background-image:url(/assets/top_boards/icon-board.png);
	}
	div.hexagon-field.build-board {
		background-image:url(/assets/top_boards/icon-tool.png);
	}
	div.hexagon-field.extraordinary {
		background-image:url(/assets/top_boards/icon-lightning-bolt.png);
	}

	div.hexagon-level-bar {
		position: relative;
		width: 16px;
		height: 96px;
		bottom: 120px;
		left: 200px;
	}

	div.hexagon-level-dot {
		background-image:url(/assets/isaac-level-marker-inactive.png);
		background-size: contain;
		background-repeat: no-repeat;
	    background-position: center;
		width: 12px;
		height: 12px;
		margin-top: 3px;

		&.active {
			background-image:url(/assets/hex-level-on.png);
		}
	}

	div.hexagon-subtitle {
		font-size: 0.9rem;
    	margin-top: 20px;
    	font-weight: 600;
    	min-height: 1.5rem;
	}

	div.hexagon-title {
	    font-size: 1.6rem;
	    font-weight: 600;
	    font-style: italic;
	    text-align: center;
		margin-top: 15px;
	    margin-left: 22px;
	    margin-right: 22px;
	    line-height: 1.6rem;
	    height: 85px;
	}

	.owl-dots {
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: 25px;
				height: 25px;
				margin: 5px;
				background: none;
				background-image: url(/assets/top_boards/pagination-grey.png);
				background-position: center center;
				background-size: fill;
				display: block;
				-webkit-backface-visibility: visible;
				@include transition(opacity, 200ms, ease);
			}

			&.active,
			&:hover {
				span {
					background: none;
					background-image: url(/assets/top_boards/pagination-green.png);
					background-position: center center;
					background-size: fill;
				}
			}
		}
	}
	.owl-theme .owl-nav.disabled+.owl-dots {
    	margin-top: 0px;
	}
}