.ru-resetpassword-form {
    padding: 15px;

    button {
        margin-bottom: 0;
        width: 100%;
    }
}

@media #{$small-only} {
    .ru-resetpassword-form {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }
}