.ru {
    background-image: url(/assets/ru.png);
    background-repeat: no-repeat;
    display: block;
}

.ru-menu-desktop-active {
    width: 112px;
    height: 188px;
    background-position: -5px -5px;
}

.ru-menu-desktop-inactive {
    width: 112px;
    height: 188px;
    background-position: -127px -5px;
}

.ru-menu-desktop-inactive-hover {
    width: 112px;
    height: 188px;
    background-position: -249px -5px;
}

.ru-social-icon-facebook-40x40 {
    width: 40px;
    height: 40px;
    background-position: -371px -5px;
}

.ru-social-icon-facebook-40x40-hover {
    width: 40px;
    height: 40px;
    background-position: -371px -55px;
}

.ru-social-icon-facebook-48x48 {
    width: 48px;
    height: 48px;
    background-position: -371px -105px;
}

.ru-social-icon-facebook-hover-48x48 {
    width: 48px;
    height: 48px;
    background-position: -371px -163px;
}

.ru-social-icon-google-40x40 {
    width: 40px;
    height: 40px;
    background-position: -5px -221px;
}

.ru-social-icon-google-40x40-hover {
    width: 40px;
    height: 40px;
    background-position: -55px -221px;
}

.ru-social-icon-google-48x48 {
    width: 48px;
    height: 48px;
    background-position: -105px -221px;
}

.ru-social-icon-google-hover-48x48 {
    width: 48px;
    height: 48px;
    background-position: -163px -221px;
}

.ru-social-icon-twitter-40x40 {
    width: 40px;
    height: 40px;
    background-position: -221px -221px;
}

.ru-social-icon-twitter-40x40-hover {
    width: 40px;
    height: 40px;
    background-position: -271px -221px;
}

.ru-social-icon-twitter-48x48 {
    width: 48px;
    height: 48px;
    background-position: -321px -221px;
}

.ru-social-icon-twitter-hover {
    width: 68px;
    height: 68px;
    background-position: -379px -221px;
}

.ru-social-icon-twitter-hover-48x48 {
    width: 48px;
    height: 48px;
    background-position: -5px -299px;
}
.ru-alert-box {
    display: block;
    font-weight: normal;
    position: relative;
    padding: 0.875rem;
    font-size: 11px;
    font-family: Arial;
    line-height: 14px;
    transition: opacity 300ms ease-out;
    background-color: #333;
    color: #fff;
    .ru-button {
        float: right;
        font-size: 16px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 0;
    }
}
select {
    background-image: url(/assets/select-chevron.png);
    background-position: 95% center;
}
@media #{$small-only} { 
    .ru-alert-box {
        position: absolute;
        top: 42px;
        left: 0;
        right: 0;
        z-index: 99;
        background: rgba(76, 76, 76, 0.9); 
        .ru-button {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            margin-top: 20px;
        }
    }
}
