// Share button and acrobat button

.ru_share
{
    background-image: url('/assets/share.svg');
    width: 50px;
    height: 80px;
    right: -50px;
    float: right;
    background-repeat: no-repeat;
    z-index: 101;
    position: relative;
    cursor: pointer;

    &:hover
    {
        opacity: 0.85;
    }
}

@media #{$medium-up}
{
    .ru_share_link
    {
        position: absolute;
        height: 56px;
        z-index: 100;
        width: 0px;
        background-color: white;
        border: #a7a7a7 solid 1px;
        margin-top: 1px;
        top: -1px;
        right: -10px;
        overflow: hidden;
    }
    
    .ru_share_link > div
    {
        margin: 14px 30px 14px 6px;
        padding: 3px 6px;
        background-color: #ebf3e8;
    }
    
    .ru_share_link_show
    {
        display: block;
    }
}

.ru_acrobat
{
    background-image: url('/assets/PDF.svg');
    width: 50px;
    height: 80px;
    float: right;
    position: relative;
    right: -40px;
    background-repeat: no-repeat;
    &:hover
    {
        opacity: 0.85;
    }
}

.ru_print
{
    background-image: url('/assets/print.svg');
    width: 50px;
    height: 80px;
    float: right;
    position: relative;
    right: -40px;
    background-repeat: no-repeat;
    &:hover
    {
        opacity: 0.85;
    }
}

@media #{$small-only}
{
    .ru_acrobat, .ru_share
    {
        background-size: 40px 45px;
        width: 40px;
        height: 45px;
        cursor: inherit;
        right: -20px;
        margin-left: 4px;
    }
    
    .ru_acrobat
    {

    }
    
    .ru_share_link
    {
        position: absolute;
        height: 45px;
        z-index: 100;
        width: 0px;
        background-color: white;
        border: #a7a7a7 solid 1px;
        margin-top: 1px;
        right: 13px;
        top: -1px;
        overflow: hidden;
    }
    
    .ru_share_link > div
    {
        margin: 10px 28px 8px 8px;
        padding: 2px 4px;
        background-color: #ebf3e8;
    }
    
}