.reveal-modal-bg {
    background-color: rgba(225, 225, 225, 0.6);
}
.reveal-modal {
    max-width: 765px;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    background-color: transparent;

    h2 {
        padding-right: 32px;
    }

    .close-reveal-modal {
        top: 16px;
        right: 15px;
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        color: #fff;
    }
}
.reveal-modal-head {
    background-color: $ru_green;
    padding: 10px 15px;
    border-left:$ru_green 1px solid;

    h2 {
        color: #fff;
        font-weight: 600;
        font-style: italic;
    }
}
.reveal-modal-body {
    padding: 20px 35px;
    border-right:#cecece 1px solid;
    border-bottom:#cecece 1px solid;
    border-left:#cecece 1px solid;
    background-color: #fff;
}
.icon-close {
    float: right;
    width: 24px;
    height: 23px;
    background: url(../assets/ru.png) no-repeat -332px -375px;
    margin-left: 12px;
}

.congrats {
    clear: both;
    height: 112px;
    border: #b4b4b4 1px solid;
    margin: 0 -5px 0 30px;
    padding-right: 10px;

    h3 {
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
        color: $ru_green;
        margin-top: 5px;
    }

    p {
        font-size: 14px;
        font-weight: 800;
        line-height: 1;
        font-weight: 600;
        font-style: italic;
        margin: 0; 
    }

    .icon-stack {
        float: left;
        width: 165px;
        height: 112px;
        position: relative;
        margin-left: -102px;
    }
    .icon-hexagon {
        font-size: 200px;
        line-height: 0.642;
        color: $ru_green;
    }
    .icon-board-complete, 
    .icon-question-complete {
        position: absolute;
        top: -40px;
        color: #fff;
        font-size: 135px;
        left: 32px;
        right: 0;
        text-align: center;
    }

    &.physics {
        h3,
        .icon-hexagon {
            color: $ru_purple;
        }
    }

    &.maths {
        h3,
        .icon-hexagon {
            color: $ru_blue;
        }
    }
}
.congrats-msg {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}
.congrats-subhead {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0;
}
@media #{$small-only} { 

    .reveal-modal-body {
        padding: 20px 0px;
    }
    
}

@media #{$medium-up} { 
    .reveal-modal {
        .close-reveal-modal {
            top: 25px;
            right: 30px;

            .hide-for-small-only {
                display: inline !important;
            }
        }
    }
    .reveal-modal-head {
        padding-left: 35px;
        padding-right: 35px;

        h2 {
            padding-right: 90px;
        }
    }
    .congrats {
        height: 150px;
        padding-right: 15px;
        margin: 15px 0 15px 65px;

        h3 {
            font-size: 28px;
            line-height: 1.1;
        }
        p {
            font-size: 16px;
            line-height: 1.1;
        }
        .icon-stack {
            width: 220px;
            height: 150px;
            margin-left: -136px
        }
        .icon-hexagon {
            font-size: 268px;
        }

        .icon-board-complete, 
        .icon-question-complete {
            font-size: 180px;
            top: -50px;
            left: 42px;

        }
    }
}
@media #{$large-up} { 
    .congrats {
        height: 180px;
        padding-right: 20px;
        margin: 20px 20px 20px 100px;

        h3 {
            font-size: 32px;
            line-height: 1.2;
        }
        p {
            font-size: 18px;
            line-height: 1.2;
        }

        .icon-stack {
            width: 280px;
            height: 180px;
            margin-left: -162px
        }
        .icon-hexagon {
            font-size: 320px;
        }

        .icon-board-complete, 
        .icon-question-complete {
            font-size: 205px;
            top: -50px;
            left: 36px;

        }
    }

}
[isaac-modal] {
    display:none;
}

#isaacModal>[isaac-modal] {
    display: block;
}

// Fix cross browser icon line-height issues 

// Target firefox only
@-moz-document url-prefix() {
    .congrats {
        .icon-hexagon {
            line-height: 0.51;
        }
    }
    @media #{$medium-up} { 
        .congrats {
            .icon-board-complete, 
            .icon-question-complete {
                top: 65px;
            }
        }
    }
    @media #{$large-up} { 
        .congrats {
            .icon-board-complete, 
            .icon-question-complete {
                top: 79px;
            }
        }
    }
}

// Target IE 7-9
.lt-ie10 {
    .congrats {
        .icon-hexagon {
            line-height: 0.68;
        }
    }
}
// Target IE 10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .congrats {
        .icon-hexagon {
            line-height: 0.68;
        }
    }
}