// Accordion

// Accordtion Title
.accordion.ru_accordion dd a.ru_accordion_titlebar
{
    padding: 0;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    background-color: f6f6f6;
    height: 60px;
    border-top: #cccccc 1px solid !important;
    overflow: hidden;
    text-overflow: clip;
}

.accordion-section-title-suffix 
{
    float: right;
    margin-top: 15px;
}

.ru_level:before
{
    content: 'Level';
}

.ru_part:before
{
    content: 'Part ';
}

.accordion.ru_accordion>dd>.content
{
    padding-top: 2em;
    padding-bottom: 2em;
}

.accordion.ru_accordion dd.active a.ru_accordion_titlebar
{
   border-bottom: #cccccc 1px solid !important;
}

.accordion.ru_accordion dd a.ru_accordion_titlebar div.ru_accordion_details
{
    padding-top: 13px;
    float: right;
    position: relative;
    bottom: 4px;
    padding-right: 20px;
}

.accordion.ru_accordion dd a.ru_accordion_titlebar div.ru_accordion_details img
{
    @include rotate(180deg);
    position: relative;
    bottom: 3px;
    margin-left: 20px;
}

.accordion.ru_accordion dd.active a.ru_accordion_titlebar div.ru_accordion_details img
{
    @include rotate(0deg);
}

.ru_accordion_details.ru-problem img
{
    bottom: 0px !important;
}

.ru_accordion_title
{
    padding-left: 1rem;
    font-weight: 600;
}

.accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_name
{
    color: white;
    display: inline-block;
    height: 60px;
    padding-top: 13px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: -1px;
    min-width: 150px;
    position: relative;
}

.accordion.ru_accordion.biology dd a.ru_accordion_titlebar .ru_accordion_name
{
    background-color: $ru_biology;
    border-top: 3px solid $ru_biology;
}

.accordion.ru_accordion.biology dd a.ru_accordion_titlebar:hover .ru_accordion_name
{
    background-color: lighten($ru_biology, $ru_site_hover);
    border-top: 3px solid lighten($ru_biology, $ru_site_hover);
}

.accordion.ru_accordion dd:not(.active) a.ru_accordion_titlebar .ru_accordion_name:after
{
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    background-color: #aaaaaa;
    position: absolute;
    bottom: -1px;
    z-index: 3;
    left: 0;
}

.accordion.ru_accordion.maths dd a.ru_accordion_titlebar .ru_accordion_name
{
    background-color: $ru_maths;
    border-top: 3px solid $ru_maths;
}

.accordion.ru_accordion.maths dd a.ru_accordion_titlebar:hover .ru_accordion_name
{
    background-color: lighten($ru_maths, $ru_site_hover);
    border-top: 3px solid lighten($ru_maths, $ru_site_hover);
}

.accordion.ru_accordion.general dd a.ru_accordion_titlebar .ru_accordion_name
{
    background-color: $ru_biology;
    border-top: 3px solid $ru_biology;
}

.accordion.ru_accordion.general dd a.ru_accordion_titlebar:hover .ru_accordion_name
{
    background-color: lighten($ru_biology, $ru_site_hover);
    border-top: 3px solid lighten($ru_biology, $ru_site_hover);
}


.accordion .content {
    padding: 0;
}
// Ellipsis for title
.accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_title
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 15px;
}

.accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_title.safari
{
    top: 0px;
}

@media #{$small-only}
{
    .ru_level:before
    {
        content: 'L';
    }

    .ru_part:before
    {
        content: ' ';
    }
    
    [class^=ru-level-]
    {
        display: none;
    }

    .accordion-section-title-suffix {
        margin-top: 10px;
    }
    
    .accordion.ru_accordion dd a.ru_accordion_titlebar
    {
        height: 50px;
        font-size: 0.9rem;
        padding-top: 3px;
    }
    
    .accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_title
    {
        padding-left: 1.4rem;
        position: relative;
        top: 10px;
    }
    
    .accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_name
    {
        height: 50px;
        padding-top: 10px;
        margin-top: -4px;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 60px;
        position: relative;
        bottom: 0px;
    }
    
    .accordion.ru_accordion dd a.ru_accordion_titlebar .ru_accordion_title.iphone
    {
        top: 0px;
    }
    
    .accordion.ru_accordion dd a.ru_accordion_titlebar div.ru_accordion_details
    {
        padding-top: 0px;
        padding-right: 8px;
        position: relative;
        bottom: 0px;
        max-height: 30px;
    }
    
    .accordion.ru_accordion dd a.ru_accordion_titlebar div.ru_accordion_details img, .accordion.ru_accordion dd.active a.ru_accordion_titlebar div.ru_accordion_details img
    {
        height: 28px;
        position: relative;
        top: 6px;
    }
    
    .accordion.ru_accordion dd:not(.active) a.ru_accordion_titlebar .ru_accordion_name:after
    {
        width: 100%;
    }
}

// Ratings hexagons

$ru_level_prefix : '/assets/isaac-level-marker-';
$ru_types :(biology, maths);
$ru_levels : 6;
$ru_inactive: 'inactive';

@each $type in $ru_types
{
    @for $i from 1 through $ru_levels
    {
        $bg_list : ();
        $pos_list : ();
        @for $j from 1 through 6
        {
            $pos_list : append($pos_list, ($j - 1) * 100% / 5 );
            @if $i < $j { $bg_list : append($bg_list, url('#{$ru_level_prefix}#{$ru_inactive}.png')); }
            @if $i >= $j { $bg_list : append($bg_list, url('#{$ru_level_prefix}#{$type}.png')); }
        }
        .ru-level-#{$type}-#{$i}:after
        {
            content:'';
            display: inline-block;
            position: relative;
            top: 13px;
            height: 27px;
            width: 16px * $ru_levels;
            background-repeat: no-repeat;
            background-image: nth($bg_list, 1), nth($bg_list, 2), nth($bg_list, 3), nth($bg_list, 4), nth($bg_list, 5), nth($bg_list, 6);
            background-position: nth($pos_list, 1) top, nth($pos_list, 2) top, nth($pos_list, 3) top, nth($pos_list, 4) top, nth($pos_list, 5) top, nth($pos_list, 6) top;
        }
    }
}

.ru-level
{
    padding-top: 24px;
    display: inline-block;
}

@media #{$small-only}
{
    .ru-level
    {
        position: relative;
        padding-top: 0px;
        bottom: 4px
    }
}

.ru-level:not([class^='ru-level-'])
{
    padding-top: 36px;
}