.game-editor, .analytics {
	.results-panel {
		border: #cccccc 1px solid;
	    background-color: white;
	    padding: 15px;
		margin-bottom: 15px;
		
		h4 {
			margin-bottom: 5px;
		}
		
		.results-list {
			height: 160px;
			overflow-y: scroll;
			padding-top: 5px;

			label input {
  				margin-right: 5px;			
			}
		}

		.selected-questions {
			height: 110px;
			overflow-y: auto;
		}

		.arrow-indicator {
			font-size: 2em;

		}

		.builder-steps label {
			display: inline;
		}

		.builder-steps li, .builder-steps label {
			font-weight: bold;
		}


	}	
}

