// Share button and acrobat button

.ru_share
{
    background-image: url('/assets/share.svg');
    width: 50px;
    height: 80px;
    background-repeat: no-repeat;
    z-index: 101;
    float: right;
    position: relative;
    margin-right: 10px;

    &:hover
    {
        opacity: 0.85;
    }
}

.ru_print
{
    background-image: url('/assets/print.svg');
    width: 50px;
    height: 80px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 20px;

    &:hover
    {
        opacity: 0.85;
    }
}


@media #{$medium-up}
{
    .ru_share_link
    {
        position: relative;
        height: 57px;
        z-index: 100;
        //width: 0px;
        left: 25px;
        background-color: white;
        border: #a7a7a7 solid 1px;
        overflow: hidden;
        float: right;
        margin-left: -25px;
    }
    
    .ru_share_link > div
    {
        margin: 14px 30px 14px 6px;
        padding: 3px 6px;
        background-color: #ebf3e8;
    }
}

@media #{$small-only}
{
    .ru_print, .ru_share
    {
        background-size: 40px 45px;
        width: 40px;
        height: 45px;
    }

    .ru_share_link
    {
        position: relative;
        height: 45px;
        z-index: 100;
        background-color: white;
        border: #a7a7a7 solid 1px;
        left: 20px;
        margin-left: -20px;
        overflow: hidden;
        float: right;
    }
    
    .ru_share_link > div
    {
        margin: 10px 28px 8px 8px;
        padding: 2px 4px;
        background-color: #ebf3e8;
    }
    
}