// Desktop Header

.ru-desktop-header
{
    @extend .hide-for-small-only;
}

$ru_nav_size : 7em;

.ru-desktop-nav-item
{
    height: 140px;
    display: inline-block;
    margin-top: -1px;
    outline: none;
    &:focus
    {
        .ru-desktop-nav-item-inner:not(.active)
        {
            background-position: -249px -5px;
            span
            {
                color: #fff;
            }
        }
    }
}

.ru-desktop-menu-img
{
    height: 136px;
}

.ru-desktop-nav-item-inner {
    background-image: url(/assets/ru.png);
    background-position: -127px -5px;
    height: 188px;
	width: 7em;
	position: relative;
}

.ru-desktop-nav-item span
{
    width: $ru_nav_size - 0.7;
    text-align: center;
    top: 3.5em;
    position: relative;
    font-size: 1.1em;
    display: inline-block;
    font-style: italic;
    font-weight: 300;
    color: #333333;
}

.ru-desktop-nav-item-inner:hover
{
    background-position: -249px -5px;
}

.ru-desktop-nav-item-inner:hover span
{
    color: #fff;
}

.ru-desktop-nav-item-inner.active
{
    background-position: -5px -5px;
    z-index: 1000;
}

.ru-desktop-nav-item-inner.active span
{
    font-weight: 600;
    color: #fff;
}

.ru-desktop-panel
{
    margin-top: 19px;
    padding: 8px 8px 8px 20px;
    background: white;
    border: $ru_green solid 1px;
    margin-bottom: 10px;
}

.ru-desktop-panel-search
{
    position: absolute;
    right: 15px;
    top: 19px;
    z-index: 200;
    width: 62px;
    height: 40px;
    background: url(/assets/desktop-search-bg.png) 0 0 no-repeat;
}

.ru-desktop-search-icon {
    position: absolute;
    z-index: 202;
    right: 15px;
    top: 19px;
}

#tutorial-search {
    float: right;
}

.ru-desktop-panel-content
{
    min-height: 40px;
}

// Mobile Header

.pointer
{
    cursor: pointer;
}

.ru-mobile-header
{
    @extend .show-for-small-only;
}

.ru-fixed-header
{
    background-color: black;
    height: 42px;
    font-wight: 400;
    font-size: 0.9em;
    font-style: italic;
    color: white;
    z-index: 600;
}

.ru-fixed-header a
{
    color: white;
}

.ru-fixed-header * span
{
    position: relative;
    bottom: 16px;
    padding-left: 6px;
    padding-right: 6px;
}

@each $name in (login, down, search)
{
    .ru-mobile-#{$name}
    {
        height: 42px;
        width: 28px;
        background-image: url('/assets/ru-mobile-#{$name}.png');
        background-repeat: none;
        display: inline-block;
        @if $name == down { cursor: pointer;}
    }
}

.ru-mobile-up
{
    @include rotate(180deg);
}

.ru-mobile-panel
{
    border-top: 1px solid $ru_green;
    border-bottom: 1px solid $ru_green;
    background-color: white;
    width: auto;
    margin: 2px -0.9375rem 10px -0.9375rem;
    padding: 8px 0.9375rem;
    min-height: 40px;
}

.ru-mobile-nav
{
    margin-top: 41px;
    font-weight: 300;
    font-style: italic;
    font-size: 0.8em;
    margin-left: 4px;
    margin-right: 4px;
}

.ru-mobile-menu-img
{
    @extend .left;
    width: 72px;
}

.ru-mobile-nav-item-inner {
	width: 72px;
	height: 129px;
	background-image: url('/assets/menu-mobile-inactive.png');
	position: relative;
    background-repeat: no-repeat;
}

.ru-mobile-nav-item-inner.active
{
    background-image: url('/assets/menu-mobile-active.png'); 
    color: white;
    background-repeat: no-repeat;
    z-index: 2;
}

.ru-mobile-nav-item
{
    @extend .right;
    height: 100px;
    display: inline-block;
    position: relative;
    margin-left: 4px;
    color: #333333;
}

.ru-mobile-nav-item span
{
    width: 72px;
    text-align: center;
    top: 3em;
    position: relative;
    font-size: 1.1em;
    display: inline-block;
}

.ru-search-bg {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ru-desktop-panel.search {
    z-index: 2000;
    position: relative;

}

.ru-desktop-search
{
    padding-top: 16px;
}

.ru-desktop-search * label
{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
}

label[for="ru-search-box"]
{
    font-weight: 600;
}

#ru-search-box
{
    margin-top: 6px;
}

.ru-desktop-search-check
{
    margin-top: 8px;
}

.ru-desktop-panel-search > .ru-desktop-search
{

}

.ru-desktop-menu-noz-active
{
    z-index: inherit !important;
}

.ru-desktop-panel-search-close
{
    position: absolute;
    right: 5px;
    top: 9px;
    z-index: 3000;
    cursor: pointer;
}

.site-search-row
{
    position: absolute;
    width: 100% !important;
    z-index: 100;
}