.teacher-feature-body {
	
	.row {
		margin-bottom: 15px;
	}

	a.hexagon, div.hexagon {
		background-image:url(/assets/top-boards-hexagon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		color: black;
		width:220px;
		height:258px;
		overflow:hidden;
		display: block;
		margin-left: 10px;
		margin-right: 10px;

		&.disabled{
			color: #ccc;
			background-image:url(/assets/top-boards-hexagon-grey.svg);
			&:hover .hexagon-title {
				color: #ccc;
			}
		}
	}

	a.hexagon {
		&:hover .hexagon-title {
			color: $ru_green;
		}
	}

	img.hexagon-field {
		display: block;
		width:80px;
		height:80px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;

		&.disabled {
			-webkit-filter: grayscale(100%);
			-webkit-filter: grayscale(1); 
			filter: grayscale(100%);
			filter:url(/assets/gray.svg#grayscale);
			filter:gray;
			opacity: .5;
		}
	}

	div.hexagon-title {
	    font-size: 1.6rem;
	    font-weight: 600;
	    font-style: italic;
	    text-align: center;
		margin-top: 10px;
	    margin-left: 20px;
	    margin-right: 20px;
	    line-height: 1.6rem;
	    height: 85px;
	}

}