.joyride-custom-controls {
	position: fixed;
	top: 28px;
	left: 0;
	right: 0;
	z-index: 1004;
	.row {
		position: relative;
	}
	a {
		float: left;
		width: 70px;
		height: 59px;
		background: url(/assets/tutorial-buttons.png) 0 0 no-repeat;
	}
	.custom-controls-wrap {
		width: 150px;
		margin: 0 auto;
	}
	a.joyride-next-tip {
		background-position: -140px 0;
	}
	a.joyride-prev-tip {
		margin-right: 10px;
		background-position: -70px 0;
	}
	a..joyride-close-tip {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.joyride-nub.top {
	display: block;
	position: relative;
	width: 41px;
	height: 84px;
	background: url(/assets/tutorial-arrows.png) 0 0 no-repeat;
	border: none;
	margin-bottom: -20px;
	left: 0;
}
.joyride-modal-bg {
	background: rgba(0, 141, 187, 0.7);
	z-index: 1002;
}
.joyride-content-wrapper {
	text-align: right;
}
.joyride-tip-guide {
	background: transparent;
	z-index: 1003;
}
