@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Light'), local('Exo2-Light'), url('/assets/font/Exo2.0-Light-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-Light-webfont.svg#exo_2.0light') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url('/assets/font/Exo2.0-Regular-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-Regular-webfont.svg#exo_2.0regular') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url('/assets/font/Exo2.0-SemiBold-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-SemiBold-webfont.svg#exo_2.0semi_bold') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: local('Exo 2 Bold'), local('Exo2-Bold'), url('/assets/font/Exo2.0-Bold-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-Bold-webfont.svg#exo_2.0bold') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 300;
  src: local('Exo 2 Light Italic'), local('Exo2-LightItalic'), url('/assets/font/Exo2.0-LightItalic-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-LightItalic-webfont.svg#exo_2.0light_italic') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 400;
  src: local('Exo 2 Italic'), local('Exo2-Italic'), url('/assets/font/Exo2.0-Italic-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-Italic-webfont.svg#exo_2.0italic') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 600;
  src: local('Exo 2 Semi Bold Italic'), url('/assets/font/Exo2.0-SemiBoldItalic-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-SemiBoldItalic-webfont.svg#exo_2.0semi_bold_italic') format('svg');
}
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  src: local('Exo 2 Bold Italic'), local('Exo2-BoldItalic'), url('/assets/font/Exo2.0-BoldItalic-webfont.woff') format('woff'),
         url('/assets/font/Exo2.0-BoldItalic-webfont.svg#exo_2.0bold_italic') format('svg');
}