        <!--  Main Content -->
        <section>
            <div class="row  ru-concept">
                <div class="ru-concept-inner ru-border">
                <div class="small-15 small-offset-0 medium-14 medium-offset-1 columns end ru-concept-intro">
                    <div class="ru_share">
                        
                    </div>
                    <div class='ru_share_link'>
                        <div>
                            http://issacphysics/2736
                        </div>
                     </div>
                    <a class="ru_acrobat" href=""></a>
                    <h2 class="ru_physics">Conservation of Momentum</h2>
                    <h3 class='subheader'><strong>Physics Concept</strong></h3>
                    <p>This sheet is the second of two which discusses concepts relating to the conservation of momentum and 
                        collisions and will refer to examples that have been discussed in Part 1. 
                        Part 2 presents an alternate approach to understanding conservation of momentum and collisions using 
                        an alternate reference frame called the Zero Momentum Frame or ZMF.
                    </p>
                </div>
                <div class="clearfix"></div>
                <dl class="accordion ru_accordion physics" data-accordion>
                    <dd class="active">
                        <a href="#panel1" class="ru_accordion_titlebar">
                            <div class="ru_accordion_name"><span class='ru_level'/> 3</div>
                            <span class="ru_accordion_title">Zero Momentum Frame</span>
                            <div class="ru_accordion_details">
                                <span class='ru-level-physics-3'></span>    
                                <img src='/assets/icon-expand-arrow.png'>
                            </div>
                        </a>
                        <div id="panel1" class="content active">
                            <div class="row">
                                <div class="medium-14 medium-offset-1 columns">
                                     <div class="panel physics ru_figure_panel">
                                        <figure class="ru_figure">
                                            <figcaption><div><strong>Figure 1.0</strong></div><div>Sub title or caption</div></figcaption>
                                            <img src="/assets/Concept-image.png" class="img-responsive">
                                        </figure>
                                        <p>
                                            Particle A has a velocity $ {u} $. Particles B and C are initially stationelss. 
                                            Find the velocities of A, B and C after B has collided with C
                                        </p>

                                    </div>
                                    <p>The zero momentum frame is a construct that physicists use to simplify the algebra that is involved in 
                                        collision calculations where momentum is conserved. By transferring to a frame in which the total momentum of the 
                                        system is zero we can remove the need to solve simultaneous equations for energy and momentum.</p>

                                    <p><strong>Example (1)</strong> A perfectly inelastic head on collision between equal masses, one at rest the 
                                        other at velocity $ {v} $ (Also explained in figure 1)</p>

                                   
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-14 medium-offset-1 small-16 columns end">
                                    <dl class="tabs ru_tabs physics" data-tab>
                                        <dd class="active"><a href="#panel2-1">Video</a></dd>
                                        <dd><a href="#panel2-2">Test <span class='ru_tabs_question'></span>1</a></dd>
                                        <dd><a href="#panel2-3">Test <span class='ru_tabs_question'></span>2</a></dd>
                                        <dd><a href="#panel2-4">More</a></dd>
                                    </dl>
                                    <div class="tabs-content ru_tabs">
                                        <div class="content active" id="panel2-1">
                                            <div class="row">
                                                <div class='medium-14 medium-offset-1 small-16 columns end'>
                                                    <video id="example" class="video-js vjs-default-skin vjs-big-play-centered" 
                                                           controls preload="none" data-setup='{}'
                                                           poster='http://video-js.zencoder.com/oceans-clip.jpg' data-aspect='21:9'>
                                                        <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                                                        <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content" id="panel2-2">
                                            <div class='row'>
                                                <div class="small-14 small-offset-1 columns end">
                                                    <p>This sheet is the second of two which discusses concepts relating to the conservation of momentum 
                                                        and collisions and will refer to examples that have been discussed in Part 1. Part 2 presents 
                                                        an alternate approach to understanding conservation of momentum and collisions using an alternate 
                                                        reference frame called the Zero Momentum Frame or ZMF.
                                                    </p>
                                                    <div class="panel physics">
                                                        <figure class='ru_figure'>
                                                            <figcaption><div><strong>Figure 1.0</strong></div><div>Sub title or caption</div></figcaption>
                                                            <img src='assets/Concept-diagram.jpg' class='img-responsive'>                                              
                                                        </figure>
                                                        <p>
                                                            Particle A has a velocity u. Particles B and C are initially stationelss. 
                                                            Find the velocities of A, B and C after B has collided with C
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class="medium-7 medium-offset-8 small-14 small-offset-1 columns end">
                                                    <div class='ru_answer_reveal physics'>
                                                        <div>
                                                            Show answer
                                                        </div>
                                                        <div>
                                                            $ { \theta = \arctan \left( \frac {1}{3} \right)  } $
                                                            <div class='ru_answer_close'></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content" id="panel2-3">
                                            <div class='row'>
                                                <div class="medium-14 medium-offset-1 small-16 columns end">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales mi id mauris ullamcorper sagittis. Mauris tincidunt dui vel est sagittis sollicitudin. Suspendisse volutpat ut magna congue sagittis. Integer euismod interdum lorem. Nunc vulputate dolor sem, ac facilisis augue interdum adipiscing. Integer mattis eu lorem at blandit. Pellentesque elementum, nunc sit amet egestas aliquet, enim nunc ullamcorper urna, ut tincidunt felis purus non ligula. Morbi et lorem nec quam dictum pharetra quis vel sem. Cras ut arcu id erat feugiat bibendum. Sed vel urna nibh. Etiam dapibus mauris mi, id fringilla elit ullamcorper in. Nam at velit faucibus sem lacinia pretium ac ac diam. Sed mi enim, cursus sit amet lectus quis, euismod accumsan urna.

Aliquam eu ornare tortor. Maecenas pellentesque massa a scelerisque rhoncus. Donec tellus metus, mattis nec massa ut, euismod elementum leo. Praesent vitae arcu convallis, placerat magna nec, euismod erat. Nullam elementum mauris nec fermentum sodales. Nullam non orci sed nisi scelerisque rhoncus a et ipsum. Etiam tincidunt dignissim ligula quis ullamcorper. Morbi varius velit vitae pellentesque auctor.

Etiam ultricies magna eu dolor condimentum ultricies. Maecenas vehicula lorem non ante dictum, quis lacinia mi ornare. Fusce venenatis nisi sed lacinia vehicula. Nam sagittis malesuada scelerisque. Etiam ac risus egestas, convallis dolor ac, tristique ante. Nulla urna metus, aliquet id arcu ac, sagittis eleifend augue. Quisque pellentesque eros nunc, ac aliquet velit placerat sed. Mauris rhoncus dapibus nulla sed hendrerit. Nulla vitae dignissim urna. Nullam consequat posuere nulla, vitae facilisis ligula adipiscing in. Fusce in urna massa. Phasellus id justo dapibus est ultricies facilisis. Ut at mauris convallis, mollis augue vel, lobortis nulla.

Duis sit amet lectus gravida, cursus libero id, dictum tellus. Phasellus mollis fringilla enim et rutrum. Praesent lectus lorem, convallis sed augue in, pretium laoreet arcu. Maecenas dui elit, fermentum id faucibus scelerisque, adipiscing vitae est. Sed hendrerit lorem sit amet lorem ultrices gravida. Donec et quam sed erat eleifend ultricies. Praesent laoreet molestie arcu at facilisis. Donec at facilisis lectus. Maecenas consectetur pulvinar tortor id porta. Morbi sed est eleifend, volutpat nisi at, porttitor magna. Aliquam semper tortor sed consequat hendrerit. Donec blandit sapien rutrum odio rutrum, non condimentum justo sagittis. Nam et felis at turpis consectetur porta a ac lacus.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content" id="panel2-4">
                                            <div class='row'>
                                                <div class="medium-14 medium-offset-1 small-16 columns end">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales mi id mauris ullamcorper sagittis. Mauris tincidunt dui vel est sagittis sollicitudin. Suspendisse volutpat ut magna congue sagittis. Integer euismod interdum lorem. Nunc vulputate dolor sem, ac facilisis augue interdum adipiscing. Integer mattis eu lorem at blandit. Pellentesque elementum, nunc sit amet egestas aliquet, enim nunc ullamcorper urna, ut tincidunt felis purus non ligula. Morbi et lorem nec quam dictum pharetra quis vel sem. Cras ut arcu id erat feugiat bibendum. Sed vel urna nibh. Etiam dapibus mauris mi, id fringilla elit ullamcorper in. Nam at velit faucibus sem lacinia pretium ac ac diam. Sed mi enim, cursus sit amet lectus quis, euismod accumsan urna.

Aliquam eu ornare tortor. Maecenas pellentesque massa a scelerisque rhoncus. Donec tellus metus, mattis nec massa ut, euismod elementum leo. Praesent vitae arcu convallis, placerat magna nec, euismod erat. Nullam elementum mauris nec fermentum sodales. Nullam non orci sed nisi scelerisque rhoncus a et ipsum. Etiam tincidunt dignissim ligula quis ullamcorper. Morbi varius velit vitae pellentesque auctor.

Etiam ultricies magna eu dolor condimentum ultricies. Maecenas vehicula lorem non ante dictum, quis lacinia mi ornare. Fusce venenatis nisi sed lacinia vehicula. Nam sagittis malesuada scelerisque. Etiam ac risus egestas, convallis dolor ac, tristique ante. Nulla urna metus, aliquet id arcu ac, sagittis eleifend augue. Quisque pellentesque eros nunc, ac aliquet velit placerat sed. Mauris rhoncus dapibus nulla sed hendrerit. Nulla vitae dignissim urna. Nullam consequat posuere nulla, vitae facilisis ligula adipiscing in. Fusce in urna massa. Phasellus id justo dapibus est ultricies facilisis. Ut at mauris convallis, mollis augue vel, lobortis nulla.

Duis sit amet lectus gravida, cursus libero id, dictum tellus. Phasellus mollis fringilla enim et rutrum. Praesent lectus lorem, convallis sed augue in, pretium laoreet arcu. Maecenas dui elit, fermentum id faucibus scelerisque, adipiscing vitae est. Sed hendrerit lorem sit amet lorem ultrices gravida. Donec et quam sed erat eleifend ultricies. Praesent laoreet molestie arcu at facilisis. Donec at facilisis lectus. Maecenas consectetur pulvinar tortor id porta. Morbi sed est eleifend, volutpat nisi at, porttitor magna. Aliquam semper tortor sed consequat hendrerit. Donec blandit sapien rutrum odio rutrum, non condimentum justo sagittis. Nam et felis at turpis consectetur porta a ac lacus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd>
                        <a href="#panel2" class="ru_accordion_titlebar">
                            <div class="ru_accordion_name"><span class='ru_level'/> 4</div>
                            <span class="ru_accordion_title">Zero Momentum Frame With A Longer Title To Test Maximum Width In All Screen Sizes</span>
                            <div class="ru_accordion_details">
                                <span class='ru-level-physics-4'></span>    
                                <img src='/assets/icon-expand-arrow.png'>
                            </div>
                        </a>
                        <div id="panel2" class="content">
                            <div class="row">
                                <div class="medium-14 medium-offset-1 small-16 columns end">
                                    <p>Panel 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales mi id mauris ullamcorper sagittis. Mauris tincidunt dui vel est sagittis sollicitudin. Suspendisse volutpat ut magna congue sagittis. Integer euismod interdum lorem. Nunc vulputate dolor sem, ac facilisis augue interdum adipiscing. Integer mattis eu lorem at blandit. Pellentesque elementum, nunc sit amet egestas aliquet, enim nunc ullamcorper urna, ut tincidunt felis purus non ligula. Morbi et lorem nec quam dictum pharetra quis vel sem. Cras ut arcu id erat feugiat bibendum. Sed vel urna nibh. Etiam dapibus mauris mi, id fringilla elit ullamcorper in. Nam at velit faucibus sem lacinia pretium ac ac diam. Sed mi enim, cursus sit amet lectus quis, euismod accumsan urna.

Aliquam eu ornare tortor. Maecenas pellentesque massa a scelerisque rhoncus. Donec tellus metus, mattis nec massa ut, euismod elementum leo. Praesent vitae arcu convallis, placerat magna nec, euismod erat. Nullam elementum mauris nec fermentum sodales. Nullam non orci sed nisi scelerisque rhoncus a et ipsum. Etiam tincidunt dignissim ligula quis ullamcorper. Morbi varius velit vitae pellentesque auctor.

Etiam ultricies magna eu dolor condimentum ultricies. Maecenas vehicula lorem non ante dictum, quis lacinia mi ornare. Fusce venenatis nisi sed lacinia vehicula. Nam sagittis malesuada scelerisque. Etiam ac risus egestas, convallis dolor ac, tristique ante. Nulla urna metus, aliquet id arcu ac, sagittis eleifend augue. Quisque pellentesque eros nunc, ac aliquet velit placerat sed. Mauris rhoncus dapibus nulla sed hendrerit. Nulla vitae dignissim urna. Nullam consequat posuere nulla, vitae facilisis ligula adipiscing in. Fusce in urna massa. Phasellus id justo dapibus est ultricies facilisis. Ut at mauris convallis, mollis augue vel, lobortis nulla.

Duis sit amet lectus gravida, cursus libero id, dictum tellus. Phasellus mollis fringilla enim et rutrum. Praesent lectus lorem, convallis sed augue in, pretium laoreet arcu. Maecenas dui elit, fermentum id faucibus scelerisque, adipiscing vitae est. Sed hendrerit lorem sit amet lorem ultrices gravida. Donec et quam sed erat eleifend ultricies. Praesent laoreet molestie arcu at facilisis. Donec at facilisis lectus. Maecenas consectetur pulvinar tortor id porta. Morbi sed est eleifend, volutpat nisi at, porttitor magna. Aliquam semper tortor sed consequat hendrerit. Donec blandit sapien rutrum odio rutrum, non condimentum justo sagittis. Nam et felis at turpis consectetur porta a ac lacus.</p>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd>
                        <a href="#panel3" class="ru_accordion_titlebar">
                            <div class="ru_accordion_name"><span class='ru_level'/> 5</div>
                            <span class="ru_accordion_title">Zero Momentum Frame</span>
                            <div class="ru_accordion_details">
                                <span class='ru-level-physics-5'></span>    
                                <img src='/assets/icon-expand-arrow.png'>
                            </div>
                        </a>
                        <div id="panel3" class="content">
                            <div class="row">
                                <div class="medium-14 medium-offset-1 small-16 columns end">
                                    Panel 3.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales mi id mauris ullamcorper sagittis. Mauris tincidunt dui vel est sagittis sollicitudin. Suspendisse volutpat ut magna congue sagittis. Integer euismod interdum lorem. Nunc vulputate dolor sem, ac facilisis augue interdum adipiscing. Integer mattis eu lorem at blandit. Pellentesque elementum, nunc sit amet egestas aliquet, enim nunc ullamcorper urna, ut tincidunt felis purus non ligula. Morbi et lorem nec quam dictum pharetra quis vel sem. Cras ut arcu id erat feugiat bibendum. Sed vel urna nibh. Etiam dapibus mauris mi, id fringilla elit ullamcorper in. Nam at velit faucibus sem lacinia pretium ac ac diam. Sed mi enim, cursus sit amet lectus quis, euismod accumsan urna.

Aliquam eu ornare tortor. Maecenas pellentesque massa a scelerisque rhoncus. Donec tellus metus, mattis nec massa ut, euismod elementum leo. Praesent vitae arcu convallis, placerat magna nec, euismod erat. Nullam elementum mauris nec fermentum sodales. Nullam non orci sed nisi scelerisque rhoncus a et ipsum. Etiam tincidunt dignissim ligula quis ullamcorper. Morbi varius velit vitae pellentesque auctor.

Etiam ultricies magna eu dolor condimentum ultricies. Maecenas vehicula lorem non ante dictum, quis lacinia mi ornare. Fusce venenatis nisi sed lacinia vehicula. Nam sagittis malesuada scelerisque. Etiam ac risus egestas, convallis dolor ac, tristique ante. Nulla urna metus, aliquet id arcu ac, sagittis eleifend augue. Quisque pellentesque eros nunc, ac aliquet velit placerat sed. Mauris rhoncus dapibus nulla sed hendrerit. Nulla vitae dignissim urna. Nullam consequat posuere nulla, vitae facilisis ligula adipiscing in. Fusce in urna massa. Phasellus id justo dapibus est ultricies facilisis. Ut at mauris convallis, mollis augue vel, lobortis nulla.

Duis sit amet lectus gravida, cursus libero id, dictum tellus. Phasellus mollis fringilla enim et rutrum. Praesent lectus lorem, convallis sed augue in, pretium laoreet arcu. Maecenas dui elit, fermentum id faucibus scelerisque, adipiscing vitae est. Sed hendrerit lorem sit amet lorem ultrices gravida. Donec et quam sed erat eleifend ultricies. Praesent laoreet molestie arcu at facilisis. Donec at facilisis lectus. Maecenas consectetur pulvinar tortor id porta. Morbi sed est eleifend, volutpat nisi at, porttitor magna. Aliquam semper tortor sed consequat hendrerit. Donec blandit sapien rutrum odio rutrum, non condimentum justo sagittis. Nam et felis at turpis consectetur porta a ac lacus.
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            </div>
        </section>
        
        <!-- Buttons -->
        <section>
            <div class="row">
                <div class="large-12 large-offset-2 medium-12 medium-offset-2 small-16 columns ru-concept-buttons">
                    <ul class='medium-block-grid-2 small-block-grid-2 ru-pad'>
                        <li><a class='ru-concept-button' href="">Back to Board</a></li>
                        <li><a class='ru-concept-button' href="">Concept Index</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Additional Information Panel -->
        <section>
            <div class="row">
                <div class='ru-concept-inner'>
                <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad ru_pods">
                    <li>
                        <div class="panel ru_pod">
                            <div class='ru_pod_title ru_pod_concepts'>
                                <h5>Related Concepts</h5>
                            </div>
                            <hr>
                            <ul>
                                <li>
                                    <a href=''>Concept: Energy</a>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <a href=''>Concept: Energy</a>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <a href=''>Concept: Energy</a>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <a href=''>Concept: Energy</a>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <a href=''>Concept: Energy</a>
                                    <h6>Energy, work and power</h6>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="panel ru_pod">
                            <div class='ru_pod_title ru_pod_questions'>
                                <h5>Related Questions</h5>
                            </div>
                            <hr>
                            <ul>
                                <li>
                                    <h5>Concept: Energy</h5>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <h5>Concept: Energy</h5>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <h5>Concept: Energy</h5>
                                    <h6>Energy, work and power</h6>
                                </li>
                                <li>
                                    <h5>Concept: Energy</h5>
                                    <h6>Energy, work and power</h6>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="panel ru_pod ru_pod_forum">
                            <div class='ru_pod_title'>
                                <h5>Discuss</h5>
                                <span><em>Chat on the forum</em></span>
                            </div>
                            <hr>
                            <h6>Related Threads</h6>
                            <a href=''>Second hand question?</a>
                            <a href=''>Needing help with second hand question!</a>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </section>