<!-- Main Body -->
<div class="row">
    <!-- LHS -->
    <div class='large-11 medium-11 columns'>
        <!-- Basic Typography -->
        <section>
            <!-- Header / Sub Header -->
            <h2>This is the heading style</h2>
            <h3 class='subheader'>This is the subheading style</h3>
            <!-- Paragraph -->
            <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
                In enim justo <a href=''>this is a link</a>, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
                mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate 
                eleifend tellus. Aenean leo ligula, porttitor eu, consequat</p>
            <!-- Equations Etc. -->
            <p>A uniform heavy inextensible chain AD of length $ { \left( 4 + \frac{\pi }{2} \right)l } $ and mass $ { \rho  } $ per unit 
                length is at rest in the position shown in Figure 1 , in which the points A, B, C and D lie in a vertical plane. The section 
                AB of length $ { 2l } $ rests on a smooth horizontal table. The next section of the chain is within a fixed smooth tube BC in the form of a 
                quadrant of a circle, radius $ { l } $ , whose centre $ { O } $ is vertically below B. The section CD of the chain hangs vertically.
                The chain is released from rest at $t{\, =0\, }$ s. At time $ { t } $ the length of the vertical section CD is $ { 2l + x } $ , where $ { x \le 2l } $ ,
                and the speed of the chain is $ { v } $ .</p>
                <!-- List & Heading -->
            <h5 class='ru-bullet-header'>This is a bullet list heading</h5>
            <ul>
                <li>Nulla consequat massa quis enim.</li>
                <li>Donec pede justo fringilla vel aliquet nec</li>
                <li>Vulputate eget arcu rhoncus ut</li>
                <li>Imperdiet venenatis vitae justo.</li>
            </ul>
            <h5 class='ru-bullet-header'>This is a numbered list heading</h5>
            <ol class='ru_ol'>
                <li>Nulla consequat massa quis enim.</li>
                <li>Donec pede justo fringilla vel aliquet nec</li>
                <li>Vulputate eget arcu rhoncus ut</li>
                <li>Imperdiet venenatis vitae justo.</li>
            </ol>
            <br>
        </section>
        <!-- Video -->
        <section>
            <h3>Watch our Science Event after movie</h3>
            <br>
            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo rhoncus ut, imperdiet a,
                venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            <div>
                <video id="example" class="video-js vjs-default-skin vjs-big-play-centered" 
                       controls preload="none" data-setup='{}'
                       poster='http://video-js.zencoder.com/oceans-clip.jpg' data-aspect='21:9'>
                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                </video>
            </div>       
            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 
                Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, 
                augue velit</p>
            <!-- Side Picture -->
            <ul class='large-block-grid-2 medium-block-grid-2'>
                <li>
                    <figure>
                        <img src='assets/emc2.png'>
                        <figcaption class='caption'>This is a caption</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                        Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                    <p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo sed fringilla mauris.</p>
                </li>
            </ul>
        </section>
        <!-- Quick form -->
        <section>
            <div class='panel'>
                <div class='row'>
                    <div class='small-16 columns'>
                        <h3 class='ru_green'>Send us a message</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                            Cum sociis natoque penatibus et magnis parturient montes</p>       
                    </div>
                </div>
                <form>
                    <div class='row'>
                        <div class='medium-8 columns'>
                            <label><strong>First Name</strong><span class='ru-form-required'></span>
                                <input type="text"/>
                            </label>
                        </div>
                        <div class='medium-8 columns'>
                            <label><strong>Last Name</strong><span class='ru-form-required'></span>
                                <input type="text"/>
                            </label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='medium-8 columns'>
                            <label><strong>Your Email Address</strong><span class='ru-form-required'></span>
                                <input type="email" placeholder='firstname.lastname@gmail.com'/>
                            </label>
                        </div>
                        <div class='medium-8 columns'>
                            <label><strong>Message Subject</strong><span class='ru-form-required'></span>
                                <input type="text"/>
                            </label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='small-16 columns'>
                            <label><strong>Message</strong><span class='ru-form-required'></span>
                                <textarea placeholder="Max 200 characters" maxlength="200" rows="5"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='small-16 columns'>
                            <div class="right">
                                <input class='button ru-button' type='button' value="Submit">
                            </div>
                            <div class="ru-toppad-8 ru_green">
                                <label class="ru_green"><strong>* Required field</strong></label>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- Meet the team example -->
        <section>
            <h3>Meet The Team</h3>
            <p class='light'>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo rhoncus ut, imperdiet a, venenatis 
                vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
            <ul class='large-block-grid-3 medium-block-grid-3'>
                <li class='text-center'>
                    <figure>
                        <img src='assets/nick.png'>
                        <figcaption>
                            <h6>Nick Walter</h6>
                            <h6 class='subheader'>Physics Professor</h6>
                            <p class='light'><small>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate 
                                    eget, arcu. In enim justo, rhoncus ut.</small></p>
                            <a href='mailto:x@y.com'><img src='assets/icon-mailto.png'></a>
                        </figcaption>
                    </figure>
                </li>
                <li class='text-center'>
                    <figure>
                        <img src='assets/nick.png'>
                        <figcaption>
                            <h6>Nick Walter</h6>
                            <h6 class='subheader'>Physics Professor</h6>
                            <p class='light'><small>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate 
                                    eget, arcu. In enim justo, rhoncus ut.</small></p>
                            <a href='mailto:x@y.com'><img src='assets/icon-mailto.png'></a>
                        </figcaption>
                    </figure>
                <li class='text-center'>
                    <figure>
                        <img src='assets/nick.png'>
                        <figcaption>
                            <h6>Nick Walter</h6>
                            <h6 class='subheader'>Physics Professor</h6>
                            <p class='light'><small>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate 
                                    eget, arcu. In enim justo, rhoncus ut.</small></p>
                            <a href='mailto:x@y.com'><img src='assets/icon-mailto.png'></a>
                        </figcaption>
                    </figure></li>
            </ul>
            <!-- Table -->
            <h5 class='ru-table-header'>This is the Table Heading</h5>
            <table class='ru-table responsive'>
                <thead>
                    <tr>
                        <th>Longer Label</th>
                        <th>Label</th>
                        <th>Label</th>
                        <th>Label</th>
                        <th>Label</th>
                        <th>Label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A bit more text in column 1</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                    </tr>
                    <tr>
                        <td>A bit more text in column 1</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                    </tr>
                    <tr>
                        <td>A bit more text in column 1</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                        <td>Text</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </section>
        <!-- Orbit -->
        <section>
            <h4>View images from our science event</h4>
            <br>
            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo rhoncus ut, imperdiet a, 
                venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer </p>
            <ul class="example-orbit ru-right-bullets" data-orbit data-options='animation_speed:5000;timer:false;navigation_arrows:false;slide_number:false'>
                <li>
                    <img src="/assets/satelite-orbit.jpg" alt="slide 1" />
                    <div class="orbit-caption caption">
                        This is a really long caption
                    </div>
                </li>
                <li class="active">
                    <img src="/assets/andromeda-orbit.jpg" alt="slide 2" />
                    <div class="orbit-caption caption">
                        This picture has a different caption
                    </div>
                </li>
                <li>
                    <img src="/assets/launch-orbit.jpg" alt="slide 3" />
                    <div class="orbit-caption caption">
                        And another one
                    </div>
                </li>
            </ul>
            <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus 
                tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo 
                eget bibendum sodales, augue velit</p>
            <!-- Quote -->
            <p class='ru-quote'>Etiam sit amet orci eget eros faucibus tincidunt duis leo sed fringilla <strong>mauris sit amet</strong> nibh. Donec sodales 
                sagittis magna consequat, leo eget bibendum sodale.</p>
            <ul class='large-block-grid-2 medium-block-grid-2'>
                <li>
                    <figure>
                        <img src='assets/emc2.png'>
                        <figcaption class='caption'>This is a caption</figcaption>
                    </figure>
                </li>
                <li>
                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
                        Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</p>
                    <p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo sed fringilla mauris.</p>
                </li>
            </ul>
        </section>
    </div>
    <!-- RHS -->
    <div class='large-5 medium-5 columns'>
        <!-- Featured Profile -->
        <section>
            <br>
            <h4 class='text-center'>Featured Profile</h4>
            <br>
            <div class='text-center'>
                <figure>
                    <img src='assets/nick.png'>
                    <figcaption>
                        <h6>Nick Walter</h6>
                        <h6 class='subheader'>Physics Professor</h6>
                        <p class='light'><small>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate 
                                eget, arcu. In enim justo, rhoncus ut.</small></p>
                        <a href='mailto:x@y.com'><img src='assets/icon-mailto.png'></a>
                    </figcaption>
                </figure>
            </div>
            <hr>
        </section>
        <!-- Orbit -->
        <section>
            <h4>Upcoming Events</h4>
            <div class='space'>
                <ul class="example-orbit2" data-orbit data-options="animation_speed:5000;timer:false;navigation_arrows:false;slide_number:false">
                    <li>
                        <img src="/assets/satelite-orbit.jpg" alt="slide 1" />
                    </li>
                    <li class="active">
                        <img src="/assets/andromeda-orbit.jpg" alt="slide 2" />
                    </li>
                    <li>
                        <img src="/assets/launch-orbit.jpg" alt="slide 3" />
                    </li>
                </ul>
            </div>
            <br class='show-for-small-only'>
        </section>
        <!-- Tips -->
        <section class="panel">
            <h4>Top Tips</h4>
            <hr>
            <h5 class='ru-tips-header'>This is a Top Tip Heading</h5>
            <p class='light'>Lorem ipsum dolor sit amet adising maecenas nec odio et ante tincdunt.</p>
            <h5 class='ru-tips-header'>This is a Top Tip Heading</h5>
            <p class='light'>Lorem ipsum dolor sit amet adising maecenas nec odio et ante tincdunt.</p>
        </section>
        <!-- Featured Video -->
        <section>
            <h4>Featured Video</h4>
            <div class='space'>
                <video id="example2" class="video-js vjs-default-skin vjs-big-play-centered" 
                       controls preload="none" data-setup='{}'
                       poster='http://video-js.zencoder.com/oceans-clip.jpg' data-aspect='21:9'>
                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                </video>
            </div>
            <figure>
                <img src='assets/emc2.png'>
                <figcaption class='caption'>This is a caption</figcaption>
            </figure>
        </section>
    </div> 
</div>