<!-- Main Body -->
<div class="row">
    <!-- LHS -->
    <div class='large-11 medium-11 columns'>
        <!-- Basic Typography -->
        <section>
            <!-- Header / Sub Header -->
            <h2>This is the heading style</h2>
            <h3 class='subheader'>This is the subheading style</h3>
        </section>
    </div>
    <!-- RHS -->
    <div class='large-5 medium-5 columns'>
        <!-- Featured Profile -->
        <section>
            <br>
        </section>

    </div> 
</div>  