<div class="panel white clearfix analytics">
    <div ng-if="!globalFlags.loading">
        <h2>Last user locations 
            <span ng-hide="locationDates.start || locationDates.end">(in the last month)</span>
            <span ng-show="locationDates.start || locationDates.end">({{locationDates.start | date:'d MMM yyyy'}} to {{locationDates.end | date:'d MMM yyyy'}})</span>
        </h2>
        
        <a class="button small" ng-show="locations.length == 0" ng-click="getLocationData()">Generate Location Data</a>
        <a class="button small secondary" ng-show="locations.length == 0" ng-click="customiseLocationDates()">(Specify Date Range)</a>
        <label ng-show="customLocationDates" for="startDateInput">Start Date (default 1 month ago):</label><input ng-show="customLocationDates" type="date" ng-model="locationDates.start" name="startDateInput">
        <label ng-show="customLocationDates" for="endDateInput">End Date (default today):</label><input ng-show="customLocationDates" type="date" ng-model="locationDates.end" name="endDateInput">
        
        <div ng-show="locations.length != 0">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-markers models="locations" coords="'self'" icon="'icon'">
                </ui-gmap-markers>
            </ui-gmap-google-map>              
        </div>
    </div>

    <div class="results-panel">
        <h2>Data collection events over time <a ng-click="editingGraph=!editingGraph">Change Graph Data</a></h2>
        <div ng-show="editingGraph">
            <h3>Select your events of interest</h3>
            <ul class="no-bullet results-list">
                <li ng-repeat="eventType in eventsAvailable.results | orderBy: eventType"> <input type="checkbox" ng-model="eventsSelected[eventType]"><label>{{eventType}}</label></li>
            </ul>
            <a href="javascript:void(0)" ng-click="updateGraph()" class="button small">Update Graph</a>                        
        </div>
        <hr/>
        <div ng-show="questionsAnsweredOverTime">
            <div d3-plot data="questionsAnsweredOverTime" type="line"></div>            
        </div>
    </div>
</div>