<div class="panel white clearfix">
    <div class="small-16 columns">
        <h2>Schools By User Links <span ng-if="dataToShow">({{dataToShow.length}} schools)</span></h2>
    </div>
    <div ng-if="!globalFlags.loading">
        <div class="small-16 columns">
        <table>
            <tr>
                <th>School URN</th>
                <th><a href="javascript:void(0);" ng-click="schoolListSortPredicate = 'school.name'; reverse=!reverse">School Name</a></th>
                <th>School PostCode</th>
                <th><a href="javascript:void(0);" ng-click="schoolListSortPredicate = 'teachers'; reverse=!reverse"># of Teachers</a></th>
                <th><a href="javascript:void(0);" ng-click="schoolListSortPredicate = 'connections'; reverse=!reverse">Total connected</a></th>
                <th><a href="javascript:void(0);" ng-click="schoolListSortPredicate = 'numberActiveLastThirtyDays'; reverse=!reverse"># of users active (last 30 days)</a></th>
            </tr>
            <tr ng-repeat="item in dataToShow | orderBy:schoolListSortPredicate:reverse">
                <td><a ng-hide="item.school.dataSource == 'USER_ENTERED'" href="javascript:void(0)" ui-sref="adminStats.schoolUsersDetail({schoolId:item.school.urn})" ng-click="getSchoolUserListData(item.school.urn, item.school.name)">{{item.school.urn}}</a><span ng-show="item.school.dataSource == 'USER_ENTERED'">NON-DFE</span></td>
                <td>{{item.school.name}}</td>
                <td>{{item.school.postcode}}</td>
                <td>{{item.teachers}}</td>
                <td>{{item.connections}}</td>
                <td>{{item.numberActiveLastThirtyDays}}</td>
            </tr>
        </table>
        </div>      
    </div>
</div>