<div class="panel white clearfix">
    <div class="small-16 columns">
        <h2>School Detail: {{dataToShow.school.name}} ({{dataToShow.school.postcode}})</h2>
    </div>
    <div ng-if="!globalFlags.loading">
        <div class="small-16 columns">
        <table ng-init="userListSortPredicate='familyName'">
            <tr>
                <th><a href="javascript:void(0);" ng-click="userListSortPredicate = 'familyName'; reverse=!reverse">Name</a></th>
                <th><a href="javascript:void(0);" ng-click="userListSortPredicate = 'role'; reverse=!reverse">Role</a></th>
                <th>Gender</th>
                <th><a href="javascript:void(0);" ng-click="userListSortPredicate = 'registrationDate'; reverse=!reverse">Registration Date</a></th>
                <th><a href="javascript:void(0);" ng-click="userListSortPredicate = 'lastSeen'; reverse=!reverse">Last Seen Date</a></th>
            </tr>
            <tr ng-repeat="item in dataToShow.users | orderBy:userListSortPredicate:reverse">
                <td>{{item.familyName}}, {{item.givenName}}</td>
                <td>{{item.role || 'NOT_SET (Student)'}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.registrationDate | date:'dd/MM/yyyy'}}</td>
                <td>{{item.lastSeen | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
        </div>      
    </div>
</div>