<div class="panel white clearfix">
    <div class="small-16 columns">
        <h2>School Detail</h2>
    </div>
    <div ng-if="!globalFlags.loading">
        <div class="small-16 columns">
        <table>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Gender</th>
                <th>Registration Date</th>
                <th>Last Seen Date</th>
            </tr>
            <tr ng-repeat="item in dataToShow | orderBy:'familyName':reverse">
                <td>{{item.familyName}}, {{item.givenName}}</td>
                <td>{{item.role || 'NOT_SET (Student)'}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.registrationDate | date:'dd/MM/yyyy'}}</td>
                <td>{{item.lastSeen | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
        </div>      
    </div>
</div>