logs/*
!.gitkeep
/node_modules/
tmp
.DS_Store
.idea
*.localbackup
app/npm-debug.log
npm-debug.log
/dist/
app/js/isaac.js.map
app/js/isaac.js
app/ts/**/*.js*
app/bower_components/
ngrok.yml
app/isaac.js*
app/isaac.css*
