<!--<div ng-repeat="concept in list.results">
	<h2><a ui-sref="concept({id: concept.id})">{{concept.title}}</a></h2>
</div>

<button ng-if="pageNumber!=1" ui-sref="conceptsIndex({page: pageNumber-1})">Previous</button>

<button ui-sref="conceptsIndex({page: pageNumber+1})">Next</button>-->

<!-- Search -->
<section class='ru-concept-search'>
    <div class='row'>
        <div class='medium-2 small-0 columns hide-for-small-only'>
            <h3>Search:</h3>
        </div>
        <div class='clearfix show-for-small-only'></div>
        <div class='medium-13 small-13 columns'>
            <input type='text' id='concept-search'>
            <div class="ru-search-list hide-for-small-only">
            </div>
        </div>
        <div class='medium-1 small-3 columns end'>
            <button id='desktop-button' class='hide-for-small-only'>GO</button>
            <div id='mobile-button' class='hide-for-medium-up'>
                <img src='/assets/mobile-search.png'>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<!-- Results -->
<section>
    <div class='row ru-mobile-searchbar-wrap'>
        <div class='small-16 columns'>
            <div class="ru-search-result-bar">
                <h4 class="left">Search Results</h4>
                <div class="right">
                    <span class='hide-for-small-only'>Filter</span>
                    <input type="checkbox" id="includePhysics" ng-model="includePhysics"><label for="includePhysics">Physics</label>
                    <input type="checkbox" id="includeMaths" ng-model="includeMaths"><label for="includeMaths">Maths</label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="ru-concept-results">
        <div ng-repeat="concept in allConcepts" class='row ru-mobile-answer-wrap' ng-init="maths = concept.tags.indexOf('maths') > -1; physics = concept.tags.indexOf('physics') > -1;" ng-class="{maths: maths && !physics, physics: physics && !maths, both: physics && maths}" ui-sref="concept({id: concept.id})" ng-show="includePhysics && physics || includeMaths && maths">
            <div class='small-16 columns'>
                <div class="ru-search-result">
                    <div class="ru-search-result-content">
                        <img class="right show-for-small-only" src="/assets/isaac-index-arrow.png">
                        <h4>
                            <span class="maths" ng-show="maths">Maths</span>
                            <span ng-show="maths && physics">&amp;</span>
                            <span class="physics" ng-show="physics">Physics</span>
                            : {{concept.title}}</h4>
                        <!-- ADD DESCRIPTION HERE 
                            <p>Every body continues in its state of being at rest or in uniform motion unless acted upon by a resultant force.</p>
                        -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ru-concept-pad">
        
    </div>
    <div class="ru-concept-result-controls">
        <div class="row">
        <div class='small-16 columns show-for-small-only'>
            <button id="load-more">Load more</button>
        </div>
        </div>
        <div class="ru-concept-result-bullets hide-for-small-only text-center">
            
        </div>
    </div>
</section>
