<div class='pad'></div>
<div id="conceptfilter">
	<h3>Filter by Concept<!-- <a href=''><small>(What's this?)</small></a>--></h3>
	<input type="text" placeholder="Concept title" ng-model="conceptInput">
	<div id="concept-search-data">
		<div ng-repeat="c in filteredResults = (allConcepts.results | filter:removeSelected | filter:{title: conceptInput}:titleMatcher | limitTo:4)" class='concept-search-result physics' ng-click="selectConcept(c.id)">
			<div>{{ c.title }}</div>
		</div>
		<div ng-if="conceptInput.length > 1 && filteredResults.length == 0" class='concept-search-result physics no-results'>
			<div>No concepts found</div>
		</div>
	</div>
	<div id="concept-results">
		<div ng-repeat="id in selectedConceptIds" class='concept-search-result'
		     ng-class="conceptMap[id].subject || 'physics'" ng-click="deselectConcept($index)">
			<div>{{conceptMap[id].title || id}}</div>
		</div>
	</div>
</div>