<div class="row no-print">
    <div class="large-16 columns">
        <div data-alert class="ru-alert-box cookies-message">
            <div class="row">
                <div class="large-1 medium-1 small-16 columns">
                    <span class="ru-info-icon hide-for-small-only"></span>
                    <span class="cookies-title show-for-small-only"><img src="/assets/information-icon.png" alt="" /> Cookies</span>
                </div>
                <div class="large-12 medium-12 small-16 columns">
                    By continuing to use this site you consent to the use of cookies on your device as described in our <a ui-sref="cookies">cookie policy</a> unless you have disabled them. You can change your <a target="_blank" rel="nofollow" href="http://www.aboutcookies.org/Default.aspx?page=1">cookie settings</a> at any time but parts of our site will not function correctly without them. This site collects usage data to support research into e-learning. For further information please see our <a ui-sref="privacy">privacy policy</a>.
                </div>
                <div class="large-3 medium-3 small-16 columns">
                    <a class="ru-button close cookies-accepted">Accept</a>
                </div>
            </div>
        </div>
    </div>
</div>