<div class="row no-print">
    <div class="large-16 columns">
        <div data-alert class="ru-alert-box cookies-message">
            <div class="row">
                <div class="large-1 medium-1 small-16 columns">
                    <span class="ru-info-icon hide-for-small-only"></span>
                    <span class="cookies-title show-for-small-only"><img src="/assets/information-icon.png" alt="" /> Cookies</span>
                </div>
                <div class="large-12 medium-12 small-16 columns">
                Use of this website and the information entered is being recorded. This data is used to support research into online learning at the University of Cambridge. Cookies are used to support this functionality. Full details are in the <a ui-sref="privacy">privacy policy</a> and <a ui-sref="cookies">cookie policy</a>. Do you agree to participate in this research?
                </div>
                <div class="large-3 medium-3 small-16 columns">
                    <a class="ru-button close cookies-accepted">I Agree</a>
                </div>
            </div>
        </div>
    </div>
</div>