<div class="row">
    <div class="small-16 columns">
        <div data-alert class="ru-alert-box">
            <div class="row">
                <div class="small-13 columns">
                    By continuing to use this site you consent to the use of cookies on your device as described in our <a href="#">cookie policy</a> unless you have disabled them. You can change your <a href="#">cookie settings</a> at any time but parts of our site will not function correctly without them.
                </div>
                <div class="small-3 columns">
                    <a ng-click="cookiesAccepted()" class="ru-button close">Accept</a>
                </div>
            </div>
        </div>
    </div>
</div>