<div class='pad'></div>
<h3>Difficulty <a ng-click="explanationVisible = true" ng-hide="explanationVisible"><small>(What's my level?)</small></a></h3>

<div ng-show="explanationVisible" class="row difficulty-explanation">
	<div class="small-16 columns">
		<div class="ru-difficulty-explanation-close" >
            <img src='/assets/Close-button.jpg' alt="Close Explanation" ng-click="explanationVisible = false">
        </div>
		<img src="/assets/difficulty-guide.png">
		<div class="text-center">Rough guide to difficulty levels</div>
	</div>
</div>

<div id="difficulty-hexagons">
</div>
