<div class="row">
    <div class="ft-board-title medium-4 small-16 columns">
        <h4>{{cachedTitle || boardState.title}}</h4>
        <span ng-show="currentlyWorkingOn.isConcept">
            <br class="hide-for-small-only"/>
            <br class="hide-for-medium-down"/>
            <h4 class="hide-for-small-only" ng-if="currentlyWorkingOn.isConcept">{{cachedConceptTitle || currentlyWorkingOn.title}} Practice</h4>
        </span>
    </div>
    <div class='ft-progress-bar medium-12 small-16 columns'>
        <svg id="ft-progress" version="1.1" baseprofile="full" width="100%" height="{{progressBarHeight}}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="progress-bar-padding" transform="translate({{progressBarPadding}}, {{progressBarPadding}})">
                <g id="concept-connections"></g>
                <g id="question-hexagons"></g>
            </g>
        </svg>
    </div>
    <div ng-show="currentlyWorkingOn.isConcept" class="show-for-small-only small-16 columns">
        <h4>{{cachedConceptTitle || currentlyWorkingOn.title}} Practice</h4>
        <br />
    </div>
</div>