<div class="row">
    <div class="ft-board-title small-10 columns">
        <h4>{{boardState.title}}</h4>
    </div>
    <div class="progress-bar-key small-2 columns">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="20"><path fill="{{FT_STATES.ft_top_ten.colour}}" stroke="#333" d="M8.660254037844386 0L17.32050807568877 5L17.32050807568877 15L8.660254037844386 20L0 15L0 5Z"></path></svg>
        <span class="visible-for-medium-up">Top&nbsp;Ten</span>
    </div>
    <div class="progress-bar-key small-2 columns">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="20"><path fill="{{FT_STATES.ft_upper.colour}}" stroke="#333" d="M8.660254037844386 0L17.32050807568877 5L17.32050807568877 15L8.660254037844386 20L0 15L0 5Z"></path></svg>
        <span class="visible-for-medium-up">Revision</span>
    </div>
    <div class="progress-bar-key small-2 columns">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18" height="20"><path fill="{{FT_STATES.ft_lower.colour}}" stroke="#333" d="M8.660254037844386 0L17.32050807568877 5L17.32050807568877 15L8.660254037844386 20L0 15L0 5Z"></path></svg>
        <span class="visible-for-medium-up">Practice</span>
    </div>  
</div>
<div class="row">
    <div class='ft-progress-bar small-16 columns'>
        <svg version="1.1" baseprofile="full" width="100%" height="{{progressBarHeight}}" shape-rendering="geometricPrecision" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <pattern id="stripe" patternUnits="userSpaceOnUse" width="16" height="16">
                    <path stroke="#ddd" stroke-width="6" d="M-4,4 l8,-8  M0,16 l16,-16  M12,20 l8,-8" />
                </pattern>

                <mask id="inProgressMask">
                    <rect height="100%" width="100%" fill="url(#stripe)" />
                </mask>

                <rect id="progress-bar-shape" x="0" y="0" width="100%" height="{{progressBarHeight}}" rx="8" ry="8"></rect>
            </defs>
            <clipPath id="progress-bar-clip">
                <use href="#progress-bar-shape"></use>
            </clipPath>
            <use href="#progress-bar-shape" id="progress-bar-base-fill" fill="#eee"></use>
            <g id="question-part-states" clip-path="url(#progress-bar-clip)">
            </g>
            <g id="question-separators" pointer-events="visible" clip-path="url(#progress-bar-clip)">
            </g>
            <use href="#progress-bar-shape" id="progress-bar-border-stroke" stroke="black" fill="none"></use>
        </svg>
    </div>
</div>