<!-- Additional Information Panel -->
<div ng-if="relatedQuestions.length || relatedEasierQuestions.length || relatedHarderQuestions.length" class="row no-print">
    <div class='ru-concept-inner'>
        <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad ru_pods">
            <li>
                <div class="panel ru_pod">
                    <div class='ru_pod_title ru_pod_concepts'>
                        <h5>Related Concepts</h5>
                    </div>
                    <hr>
                    <ul class="pod-scroll-list">
                        <li ng-repeat="c in relatedConcepts">
                            <a ui-sref="concept({id: c.id})">{{c.title}}</a>
                            <h6>{{c.summary}}</h6>
                        </li>
                        <li ng-hide="relatedConcepts.length" class="text-center">- No related concepts -</li>
                    </ul>
                </div>
            </li>
            <li ng-if="page.type !='isaacFastTrackQuestionPage'" question-pod parent-question-id="questionId" questions="relatedQuestions" title="'Related Questions'"></li>

            <li ng-if="page.type=='isaacFastTrackQuestionPage'" question-pod parent-question-id="questionId" questions="relatedEasierQuestions" title="'Easier Questions'"></li>

            <li ng-if="page.type=='isaacFastTrackQuestionPage' && relatedHarderQuestions.length > 0" question-pod parent-question-id="questionId" questions="relatedHarderQuestions" title="'Other Related Questions'"></li>

            <li ng-if="page.type !='isaacFastTrackQuestionPage' || relatedHarderQuestions.length == 0 ">
                <div class="panel ru_pod ru_pod_forum">
                    <div class='ru_pod_title'>
                        <h5>Events</h5>
                    </div>
                    <hr>
                    <div class="pod-scroll-list">
                        <h6>Upcoming events</h6>
                        See our <a ui-sref="events">events page</a> to find an event near you.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>