<!-- Footer for desktop -->
<footer class='hide-for-small-only no-print'>
    <div class='row'>
        <div class='large-2 medium-2 columns'>
            <a ui-sref='home'><img alt='Isaac Physics. You work it out.' class='ru-desktop-banner'
                             data-interchange="[/assets/isaac-logo.png, (medium)], [/assets/isaac-logo@2x.png, (medium_retina)]" src='/assets/isaac-logo.png'></a>
        </div>
        <!-- Link Collections -->
        <div class='large-2 medium-2 columns footer_links'>
            <a ui-sref='about'>About Us</a>
            <a ui-sref='contact'>Contact Us</a>
            <a ui-sref='privacy'>Privacy Policy</a>
        </div>
        <div class='large-2 medium-2 columns footer_links'>
            <a ui-sref='why_physics'>Why Physics?</a>
            <a ui-sref='bios'>Biographies</a>
            <a id="tutorial-button" href="javascript:void(0)" class="desktop-tutorial-trigger">Tutorial</a>            
        </div>
        <div class='large-3 medium-3 columns footer_links'>
            <a ui-sref='extraordinary_problems'>Extraordinary Problems</a>
            <a ui-sref='challenge_problems'>Challenge of the Month</a>
            <a ui-sref='publications'>Publications</a>
        </div>
        <div class='large-7 medium-7 columns footer_links'>
            <div class='right'>
                <span class='ru-social'>Get Social</span>
                <a class='ru ru-social-icon-google-48x48' href="https://plus.google.com/118214242928754076411" rel="publisher" target='_blank' title="Isaac Google+ page"></a>
                <a class='ru ru-social-icon-facebook-48x48' href="https://www.facebook.com/isaacphysicsUK" target='_blank' title="Isaac Facebook page"></a>
                <a class='ru ru-social-icon-twitter-48x48' href="https://twitter.com/isaacphysics" target='_blank' title="Isaac Twitter page"></a>
                <a class='ru ru-social-icon-youtube-48x48' href="https://www.youtube.com/user/isaacphysics/" target='_blank' title="Isaac YouTube page"></a>
            </div>
        </div>
        <div class='clearfix'></div>
        <div class="small-16 columns">
            <div class='row ru-footer-base '>
                <div class='large-16 medium-16 columns'>
                    <span class='left'>A 
                        <a class='footer_link' href='https://www.gov.uk/government/organisations/department-for-education' target='_blank'>
                            <strong>Department for Education</strong></a> project <br> at the <a class='footer_link' href="http://www.cam.ac.uk" target="_blank"><strong>University of Cambridge</strong></a>.</span>
                    <span class='right text-right'>All materials on this site are
                        licensed under the<br><a class='footer_link' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
                            <strong>Creative Commons license</strong></a>, unless stated otherwise</span>
                </div>            
            </div>
        </div>
    </div>
</footer>

<!-- Footer for mobile -->
<footer class='show-for-small-only no-print'>
    <div class='row'>
        <div class='small-4 columns'><a ui-sref='home'><img alt='Isaac Physics. You work it out.' class='ru-mobile-logo' 
                                                      data-interchange="[/assets/isaac-logo.png, (small)], [/assets/isaac-logo@2x.png, (small_retina)]" src='/assets/isaac-logo.png'></a></div>
        <div class='small-12 columns'><span class='ru-mobile-doe ru-footer-base'>
                A <a class='footer_link' href='https://www.gov.uk/government/organisations/department-for-education' target='_blank'>
                    <strong>Department for Education</strong></a> project <br> at the <a class='footer_link' href="http://www.cam.ac.uk" target="_blank"><strong>University of Cambridge</strong></a>.</span> </div>
        <div class='clearfix'></div>
        <div class='small-16 columns'>
            <div class='ru-mobile-social'>
                <div class='small-4 columns'>
                    <span>Get<br>Social:</span>
                </div>
                <div class='small-12 columns'>
                    <a class='ru ru-social-icon-google-40x40' href="https://plus.google.com/118214242928754076411" target='_blank' title="Isaac Google+ page"></a>
                    <a class='ru ru-social-icon-facebook-40x40' href="https://www.facebook.com/isaacphysicsUK" target='_blank' title="Isaac Facebook page"></a>
                    <a class='ru ru-social-icon-twitter-40x40' href="https://twitter.com/isaacphysics" target='_blank' title="Isaac Twitter page"></a>
                    <a class='ru ru-social-icon-youtube-40x40' href="https://www.youtube.com/user/isaacphysics/" target='_blank' title="Isaac YouTube page"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Links -->
    <div class='ru-mobile-menu'>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='about'><span>About Us</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='contact'><span>Contact us</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='privacy'><span>Privacy Policy</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>

        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='why_physics'><span>Why Physics?</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='bios'><span>Biographies</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <hr>
        <div class='row'>
            <div id="tutorial-button-mobile" class='small-16 columns'>
                <a class="mobile-tutorial-trigger" href="javascript:void(0)"><span>Tutorial</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='extraordinary_problems'><span>Extraordinary Problems</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='challenge_problems'><span>Challenge of the Month</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='publications'><span>Publications</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>              
    </div>
    <div class='row'>
        <div class='small-16 columns'>
            <span class='ru-footer-base'>All materials on this site are
                licensed under the<br> <a class='footer_link' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
                    <strong>Creative Commons license</strong></a>, unless stated otherwise.</span>
        </div>
    </div>
</footer>

<!-- This is all standard joyride apart from the 'data-shape' attr, this is the shape you want the exposed element to be wrapped with and can be circle, square or rectangle. If nothing or an invalide input is passed in it will default to circule -->
<div id="desktop-tutorial">
    <ul class="joyride-list" data-joyride>
        <li class="joyrideTutorialItem">
            <h4 class="tutorial-welcome">Welcome to Isaac Physics. Check out out <a ui-sref="about" target="_blank">About Us</a> page for our aims.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="questions-tab-desktop" data-options="tip_location: bottom;">
            <h4>Get to our question filter to find questions.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="concepts-tab-desktop" data-options="tip_location: bottom;">
            <h4>You can find our concept pages here.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="tutorial-search" data-options="tip_location: left;" data-shape="circle">
            <h4>Search for concepts and problems.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="login-tab" data-options="tip_location: bottom;">
            <h4>Register with Isaac to save your progress and access more features.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="menu-button-dekstop" data-options="tip_location: bottom;" data-shape="rectangle">
            <h4>You'll find your account page, assignments, progress and more in the menu.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="tutorial-button" data-options="tip_location: top;" data-shape="rectangle">
            <h4>You can find the tutorial here on all pages!</h4>
        </li>      
    </ul>
</div>
<div id="mobile-tutorial">
    <ul class="joyride-list" data-joyride>
        <li class="joyrideTutorialItem">
            <h4 class="tutorial-welcome">Welcome to Isaac Physics. Check out out <a ui-sref="about" target="_blank">About Us</a> page for our aims.</h4>
        </li>        
        <li class="joyrideTutorialItem" data-id="button-hex" data-options="tip_location: bottom;" data-shape="square">
            <h4>Set your question board.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="button-difficulty" data-options="tip_location: bottom;" data-shape="circle">
            <h4>Reveals difficulty filter.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="button-concept" data-options="tip_location: bottom;" data-shape="square">
            <h4>Reveals concepts filter.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="game-board-panel" data-options="tip_location: top;">
            <h4>Select a physics problem to solve here.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="tutorial-button-mobile" data-options="tip_location: top;" data-shape="rectangle">
            <h4>Click here to see this tutorial again</h4>
        </li>
    </ul>
</div>
<div id="home-page-tutorial">
    <ul class="joyride-list" data-joyride>
        <li class="joyrideTutorialItem">
            <h4 class="tutorial-welcome">Welcome to <a ui-sref="about" target="_blank">Isaac Physics</a>! This tutorial explains key parts of our homepage.</h4>
        </li> 
        <li class="joyrideTutorialItem" data-id="login-tab" data-options="tip_location: bottom;">
            <h4>Register with Isaac to save your progress and access more features.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-learn" data-options="tip_location: right;">
            <h4>Find out what Isaac has on offer for students!</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-learn-1" data-options="tip_location: right;">
            <h4>Different ways to find questions:</h4>
            <ul style="list-style:disc;list-style-position:inside;">
                <li>Featured Questions</li>
                <li>Top Boards</li>
                <li>Build a Board</li>
                <li>Extraordinary Questions</li>
            </ul>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-learn-2" data-options="tip_location: right;">
            <h4>School and Uni Preparation:</h4>
            <ul style="list-style:disc;list-style-position:inside;">
                <li>Skills Mastery Book</li>
                <li>Uni Application Guidance</li>
                <li>Admissions Preparation Questions</li>
                <li>Preparing for a Physics Course at Uni</li>
            </ul>
        </li>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-learn-3" data-options="tip_location: right;">
            <h4>Free Student Events:</h4>
            <ul style="list-style:disc;list-style-position:inside;">
                <li>Virtual and Face-to-Face Events</li>
                <li>For Yr 12 and Yr 13</li>
                <li>All over England</li>
                <li>Run by Local Teachers</li>
            </ul>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-teach" data-options="tip_location: left;">
            <h4>Discover what Isaac has for teachers!</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-teach-1" data-options="tip_location: left;">
            <h4>Teacher Features:</h4>
            <ul style="list-style:disc;list-style-position:inside;">
                <li>Create Groups of Students</li>
                <li>Set Assignments</li>
                <li>Automated Assignment Marking</li>
                <li>Track Student Progress</li>
            </ul>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-teach-2" data-options="tip_location: left;">
            <h4>For Teachers, By Teachers:</h4>
            <ul style="list-style:disc;list-style-position:inside;">
                <li>Pedagogy</li>
                <li>Guidance</li>
                <li>Table of All Our Questions!</li>
            </ul>
        </li>
        <li class="joyrideTutorialItem" data-id="home-page-menu-teach-3" data-options="tip_location: left;">
            <h4>Teacher CPD Events:</h4>
            <ul style="list-style:disc;list-style-position:inside;">
                <li>Full Day (Fully Funded)</li>
                <li>Introductions to Isaac (SPN, ASE etc)</li>
                <li>Online Events &amp; Tutorials</li>
            </ul>
        </li>
        <li class="joyrideTutorialItem" data-id="menu-button-dekstop" data-options="tip_location: bottom;" data-shape="rectangle">
            <h4>You'll find your account settings, email preferences, assignments, progress and more in the menu.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="tutorial-button" data-options="tip_location: top;" data-shape="rectangle">
            <h4>You can find the tutorial here on all pages!</h4>
        </li>  
    </ul>
</div>
<div id="filter-tutorial">
    <ul class="joyride-list" data-joyride>
        <li class="joyrideTutorialItem" data-id="game-board-panel" data-options="tip_location: top;">
            <h4>This is your current game board. Just click on questions to have a go.</h4>
        </li>         
        <li class="joyrideTutorialItem" data-id="desktop-reveal" data-options="tip_location: bottom;" data-shape="circle">
            <h4>Click to reveal subject &amp; difficulty filters to create your own question gameboards.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="tutorial-shuffle" data-options="tip_location: bottom;" data-shape="rectangle">
            <h4>Refreshes the current board to display another set of questions based on your filters.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="questions-tab-desktop" data-options="tip_location: bottom;">
            <h4>Get back to this page to try more questions.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="concepts-tab-desktop" data-options="tip_location: bottom;">
            <h4>You can find our concept pages here.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="tutorial-search" data-options="tip_location: left;" data-shape="circle">
            <h4>Search for specific concepts and problems.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="menu-button-dekstop" data-options="tip_location: bottom;" data-shape="rectangle">
            <h4>You'll find your account page, assignments, progress and more in the menu.</h4>
        </li>
        <li class="joyrideTutorialItem" data-id="desktop-reveal" data-options="tip_location: bottom;" data-shape="circle">
            <h4>Click here to choose your own questions!</h4>
        </li>  
    </ul>
</div>