<!-- Footer for desktop -->
<footer class='hide-for-small-only no-print'>
    <div class='row'>
        <div class='large-2 medium-2 columns'>
            <a ui-sref='home'><img alt='Isaac. Physics. You work it out.' class='ru-desktop-banner'
                             data-interchange="[/assets/isaac-logo.png, (medium)], [/assets/isaac-logo@2x.png, (medium_retina)]" src='/assets/isaac-logo.png'></a>
        </div>
        <!-- Link Collections -->
        <div class='large-2 medium-2 columns footer_links'>
            <a ui-sref='about'>About Us</a>
            <a ui-sref='events'>Events</a>
            <a ui-sref='contact'>Contact Us</a>
            <a ui-sref='privacy'>Privacy Policy</a>
        </div>
        <div class='large-4 medium-4 columns footer_links'>
            <a ui-sref='extraordinary_problems'>Extraordinary Problems</a>
            <a ui-sref='challenge_problems'>Challenge of the Month</a>
            <a ui-sref='why_physics'>Why Physics?</a>
            <a ui-sref='apply_uni'>Applying to Uni</a>
        </div>
        <div class='large-3 medium-3 columns footer_links'>
            <a ui-sref='bios'>Biographies of Real Physicists</a>
            <a api-environment="dev" ui-sref='questionIndex'>Question List</a>
            <a api-environment="dev" ui-sref='contentErrors'>Content Errors</a>
            <a id="tutorial-button" class="desktop-tutorial-trigger">Tutorial</a>
        </div>
        <div class='large-5 medium-5 columns footer_links'>
            <div class='right'>
                <span class='ru-social'>Get Social</span>
                <a class='ru ru-social-icon-google-48x48' href="https://plus.google.com/118214242928754076411" target='_blank'></a>
                <a class='ru ru-social-icon-facebook-48x48' href="https://www.facebook.com/isaacphysicsUK" target='_blank'></a>
                <a class='ru ru-social-icon-twitter-48x48' href="https://twitter.com/isaacphysics" target='_blank'></a>
            </div>
        </div>
        <div class='clearfix'></div>
        <div class='ru-footer-base large-16 medium-16 columns'>
            <span class='left'>Supported by: 
                <a class='footer_link' href='https://www.gov.uk/government/organisations/department-for-education' target='_blank'>
                    <strong>Department for Education</strong></a></span>
            <span class='right text-right'>All materials on this site are<br>
                licensed under the <a class='footer_link' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
                    <strong>Creative Commons license</strong></a></span>
        </div>
    </div>
</footer>

<!-- Footer for mobile -->
<footer class='show-for-small-only no-print'>
    <div class='row'>
        <div class='small-4 columns'><a ui-sref='home'><img alt='Isaac. Physics. You work it out.' class='ru-mobile-logo' 
                                                      data-interchange="[/assets/isaac-logo.png, (small)], [/assets/isaac-logo@2x.png, (small_retina)]" src='/assets/isaac-logo.png'></a></div>
        <div class='small-12 columns'><span class='ru-mobile-doe ru-footer-base'>Supported by:<br>
                <a class='footer_link' href='https://www.gov.uk/government/organisations/department-for-education' target='_blank'>
                    <strong>Department for Education</strong></a></span></div>
        <div class='clearfix'></div>
        <div class='small-16 columns'>
            <div class='ru-mobile-social'>
                <div class='small-4 columns'>
                    <span>Get<br>Social:</span>
                </div>
                <div class='small-12 columns'>
                    <a class='ru ru-social-icon-google-40x40' href="https://plus.google.com/118214242928754076411" target='_blank'></a>
                    <a class='ru ru-social-icon-facebook-40x40' href="https://www.facebook.com/isaacphysicsUK" target='_blank'></a>
                    <a class='ru ru-social-icon-twitter-40x40' href="https://twitter.com/isaacphysics" target='_blank'></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Links -->
    <div class='ru-mobile-menu'>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='about'><span>About Us</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='contact'><span>Contact us</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='events'><span>Events</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='privacy'><span>Privacy Policy</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='extraordinary_problems'><span>Extraordinary Problems</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='challenge_problems'><span>Challenge of the Month</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='why_physics'><span>Why Physics?</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='apply_uni'><span>Applying to Uni</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='bios'><span>Biographies of Real Physicists</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a class="mobile-tutorial-trigger"><span>Tutorial</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
    </div>
    <div class='row'>
        <div class='small-16 columns'>
            <span class='ru-footer-base'>All materials on this site are<br>
                licensed under the <a class='footer_link' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
                    <strong>Creative Commons license</strong></a></span>
        </div>
    </div>
</footer>

<!-- This is all standard joyride apart from the 'data-shape' attr, this is the shape you want the exposed element to be wrapped with and can be circle, square or rectangle. If nothing or an invalide input is passed in it will default to circule -->
<div id="desktop-tutorial">
    <ul class="joyride-list" data-joyride>
        <li data-id="desktop-reveal" data-options="tip_location: bottom;">
            <h4>Reveals the Board-filter where you can create your challenge</h4>
        </li>
        <li data-id="tutorial-search" data-options="tip_location: left;" data-shape="circle">
            <h4>Search your board, concepts, problems & articles.</h4>
        </li>
        <li data-id="tutorial-shuffle" data-options="tip_location: right;" data-shape="rectangle">
            <h4>Refreshes the current board to display another set of questions based on your board set-up</h4>
        </li>
        <li data-id="tutorial-button" data-options="tip_location: top;" data-shape="rectangle">
            <h4>Want to see it again, launch tutorial</h4>
        </li>
    </ul>
</div>
<div id="mobile-tutorial">
    <ul class="joyride-list" data-joyride>
        <li data-id="button-hex" data-options="tip_location: bottom;" data-shape="square">
            <h4>Set your challenge</h4>
        </li>
        <li data-id="button-difficulty" data-options="tip_location: bottom;" data-shape="circle">
            <h4>Reveals difficulty</h4>
        </li>
        <li data-id="button-concept" data-options="tip_location: bottom;" data-shape="square">
            <h4>Reveals concepts</h4>
        </li>
    </ul>
</div>
