<!-- Footer for desktop -->
<footer class='hide-for-small-only no-print'>
    <div class='row'>
        <div class='large-2 medium-2 columns'>
            <a ui-sref='home'><img alt='Isaac Physics. You work it out.' class='ru-desktop-banner'
                             data-interchange="[/assets/isaac-logo.png, (medium)], [/assets/isaac-logo@2x.png, (medium_retina)]" src='/assets/isaac-logo.png'></a>
        </div>
        <!-- Link Collections -->
        <div class='large-2 medium-2 columns footer_links'>
            <a ui-sref='about'>About Us</a>
            <a ui-sref='contact'>Contact Us</a>
            <a ui-sref='privacy'>Privacy Policy</a>
        </div>
        <div class='large-2 medium-2 columns footer_links'>
            <a ui-sref='terms'>Terms of Use</a>
            <a ui-sref='why_physics'>Why Physics?</a>
            <!-- <a ui-sref='bios'>Biographies</a> -->
            <a ui-sref='publications'>Publications</a>            
        </div>
        <div class='large-3 medium-3 columns footer_links'>
            <a ui-sref='extraordinary_problems'>Extraordinary Problems</a>
            <a ui-sref='challenge_problems'>Challenge of the Month</a>
        </div>
        <div class='large-7 medium-7 columns footer_links'>
            <div class='right'>
                <span class='ru-social'>Get Social</span>
                <a class='ru ru-social-icon-facebook-48x48' href="https://www.facebook.com/isaacphysicsUK" target='_blank' title="Isaac Facebook page"></a>
                <a class='ru ru-social-icon-twitter-48x48' href="https://twitter.com/isaacphysics" target='_blank' title="Isaac Twitter page"></a>
                <a class='ru ru-social-icon-youtube-48x48' href="https://www.youtube.com/user/isaacphysics/" target='_blank' title="Isaac YouTube page"></a>
            </div>
        </div>
        <div class='clearfix'></div>
        <div class="small-16 columns">
            <div class='row ru-footer-base '>
                <div class='large-16 medium-16 columns'>
                    <span class='left'>A 
                        <a class='footer_link' href='https://www.gov.uk/government/organisations/department-for-education' target='_blank'>
                            <strong>Department for Education</strong></a> project <br> at the <a class='footer_link' href="http://www.cam.ac.uk" target="_blank"><strong>University of Cambridge</strong></a>.</span>
                    <span class='right text-right'>All materials on this site are
                        licensed under the<br><a class='footer_link' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
                            <strong>Creative Commons license</strong></a>, unless stated otherwise</span>
                </div>            
            </div>
        </div>
    </div>
</footer>

<!-- Footer for mobile -->
<footer class='show-for-small-only no-print'>
    <div class='row'>
        <div class='small-4 columns'><a ui-sref='home'><img alt='Isaac Physics. You work it out.' class='ru-mobile-logo' 
                                                      data-interchange="[/assets/isaac-logo.png, (small)], [/assets/isaac-logo@2x.png, (small_retina)]" src='/assets/isaac-logo.png'></a></div>
        <div class='small-12 columns'><span class='ru-mobile-doe ru-footer-base'>
                A <a class='footer_link' href='https://www.gov.uk/government/organisations/department-for-education' target='_blank'>
                    <strong>Department for Education</strong></a> project <br> at the <a class='footer_link' href="http://www.cam.ac.uk" target="_blank"><strong>University of Cambridge</strong></a>.</span> </div>
        <div class='clearfix'></div>
        <div class='small-16 columns'>
            <div class='ru-mobile-social'>
                <div class='small-4 columns'>
                    <span>Get<br>Social:</span>
                </div>
                <div class='small-12 columns'>
                    <a class='ru ru-social-icon-facebook-40x40' href="https://www.facebook.com/isaacphysicsUK" target='_blank' title="Isaac Facebook page"></a>
                    <a class='ru ru-social-icon-twitter-40x40' href="https://twitter.com/isaacphysics" target='_blank' title="Isaac Twitter page"></a>
                    <a class='ru ru-social-icon-youtube-40x40' href="https://www.youtube.com/user/isaacphysics/" target='_blank' title="Isaac YouTube page"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Links -->
    <div class='ru-mobile-menu'>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='about'><span>About Us</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='contact'><span>Contact us</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='privacy'><span>Privacy Policy</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>

        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='why_physics'><span>Why Physics?</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='bios'><span>Biographies</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='publications'><span>Publications</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>   
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='extraordinary_problems'><span>Extraordinary Problems</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='small-16 columns'>
                <a ui-sref='challenge_problems'><span>Challenge of the Month</span><img src='/assets/icon-index-arrow.png'></a>
            </div>
        </div>
        <hr>           
    </div>
    <div class='row'>
        <div class='small-16 columns'>
            <span class='ru-footer-base'>All materials on this site are
                licensed under the<br> <a class='footer_link' href='http://creativecommons.org/licenses/by/4.0/' target='_blank'>
                    <strong>Creative Commons license</strong></a>, unless stated otherwise.</span>
        </div>
    </div>
</footer>

<!-- Isaac Books Modal, so only needed in one place: -->
<div isaac-modal="isaacBooks">
  <div class="reveal-modal-head">
    <h2>Isaac Skills Books</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body ru-page-heading set-boards-books-preview">
    <div class="row">
      <h4>Mastering Essential...</h4>
    </div>
    <div class="row text-center">
      <div class="small-offset-1 small-4 columns">
        <a ui-sref="book_phys_book_gcse"><img src="assets/books/phys_book_gcse.jpg"><span>GCSE Physics</span></a>
      </div> 
      <div class="small-offset-1 small-4 columns">
        <a ng-click="modals.preUniversityPhysics.show();" href="javascript:void(0)"><img src="assets/books/physics_skills_14.jpg"><span>Pre-University Physics</span></a>
      </div> 
      <div class="small-offset-1 small-4 columns end">
        <a ui-sref="book_chemistry_16"><img src="assets/books/chemistry_16.jpg"><span>Pre-University Physical Chemistry</span></a>
      </div>
    </div>
    <div class="row">
      <h4>or</h4>
    </div>
    <div class="row text-center">
      <div class="small-offset-1 small-4 columns">
        <a ui-sref="book_pre_uni_maths"><img src="assets/books/pre_uni_maths.jpg"><span>Mathematics for Sciences</span></a>
      </div> 
    </div>
  </div>
</div>

<!-- Pre University Physics Modal, so only needed in one place: -->
<div isaac-modal="preUniversityPhysics">
  <div class="reveal-modal-head">
    <h2>Mastering Essential Pre-University Physics</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body ru-page-heading set-boards-books-preview">
    <div class="row text-center">
      <div class="small-offset-1 large-6 medium-6 small-4 columns">
        <a ui-sref="book_physics_skills_14"><img src="assets/books/physics_skills_14.jpg"><span>2nd Edition (2014-2018)</span></a>
      </div>
      <div class="small-offset-1 large-6 medium-6 small-4 columns">
        <a ui-sref="book_physics_skills_19"><img src="assets/books/physics_skills_19.jpg"><span>3rd Edition (2019-)</span></a>
      </div>
    </div>
  </div>
</div>
