
<!-- Global navigation -->
<div class="status-panel">
    <div class="medium-3 columns">
        <button class="dl-toggle" ng-click="menuToggle()" ng-class="{active: isVisible}"><span></span>Menu</button>
        <!--span class="show-for-small-only help-tip" aria-haspopup="true" data-ot="Help information"><span class="icon-help"></span>Help</span-->
    </div>
    <div class="medium-12 end columns text-right">
        <h2 class="status hide-for-small-only">Welcome<span ng-if="!user._id"> to Isaac</span>
        <span class='green' ng-if="user.givenName && user._id"> {{user.givenName}}
            <span class="green"><a ui-sref="logout">(Log out)</a></span>
        </span></h2>
    </div>

    <nav class="dl-nav" role="navigation"> 
        <ul class="dl-level1">
            <li>
                <h6 ng-click="menuForward($event)">My Isaac <span class="login-notification" ng-if="!user.email"><a class="hide-for-small-only" ui-sref="login">(login)</a></span></h6>
                <ul class="dl-level2">
                	<li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li class="login-required" ng-class="{disabled: !user.email}"><a ui-sref="accountSettings">My Account &nbsp;<span ng-if="user._id && (!user.dateOfBirth || (!user.schoolId && !user.schoolOther) || !user.gender)" data-ot="Your isaac profile is incomplete." class="dl-alert warning hide-for-small-only" aria-haspopup="true">!</span></a></li>
                    <li class="login-required" ng-class="{disabled: !user.email}"><a ui-sref="boards">My Boards</a> <!--<span title="You have 1 board" class="dl-alert hide-for-small-only" aria-haspopup="true" data-tooltip>1</span>--></li>
                    <li class="login-required" ng-class="{disabled: !user.email}"><a href="javascript:void(0)" ui-sref="progress">My Progress</a></li>
                    <li class="login-required" ng-class="{disabled: !user.email}"><a href="javascript:void(0)" ui-sref="assignments">My Assignments</a> <!--<span title="You have 10 overdue assignments" class="dl-alert overdue hide-for-small-only" aria-haspopup="true" data-tooltip="">10</span>--></li>
                    <!-- <li class="disabled"><a href="javascript:void(0)">My Events</a> <span title="You have 1 upcoming event" class="dl-alert hide-for-small-only" aria-haspopup="true" data-tooltip="">1</span></li> -->
                </ul>
            </li>
            <li ng-show="user.role && (user.role == 'TEACHER' || user.role == 'ADMIN' || user.role == 'CONTENT_EDITOR')">
                <h6 ng-click="menuForward($event)">Teacher Tools</h6>
                <ul class="dl-level2">
                    <li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li><a href="javascript:void(0)" ui-sref="teacher_features({redirectModal: 'setAssignmentsModal'})">Set Assignments</a></li>
                    <li><a href="javascript:void(0)" ui-sref="assignmentProgress">Assignment Progess</a></li>
                    <li><a href="javascript:void(0)" ui-sref="groups">Manage Groups</a></li>                    
                </ul>
            </li>            
            <li>
                <h6 ng-click="menuForward($event)">Helpful Information</h6>
                <ul class="dl-level2">
                    <li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li><a ui-sref="solving_problems">Problem Solving Guide</a></li>
                    <li><a ui-sref='teacher_features'><span>Guide for Teachers</span></a></li>
                    <li><a ui-sref="events">Events</a></li>
<!--                     <li class="hide-for-small-only"><a href="javascript:void(0)" class="desktop-tutorial-trigger" ng-click="menuClose()">Tutorial</a></li>
                    <li class="show-for-small-only"><a href="javascript:void(0)" class="mobile-tutorial-trigger" ng-click="menuClose()">Tutorial</a></li>    -->                 
                </ul>
            </li>            
            <li ng-show="user.role && (user.role == 'ADMIN' || user.role == 'CONTENT_EDITOR')">
                <h6 ng-click="menuForward($event)">Admin Pages</h6>
                <ul class="dl-level2">
                    <li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li ng-show="user.role && user.role == 'ADMIN'"><a ui-sref="admin">Site Admin</a></li>
                    <li><a ui-sref="adminEvents">Event Admin</a></li>
                    <li><a ui-sref="contentErrors">Content Errors</a></li>
                    <li><a ui-sref="adminStats">Site Statistics</a></li>
                </ul>
            </li>            
        </ul>
    </nav>
</div>
 