
<!-- Global navigation -->
<div class="row">
    <div class="small-16 columns global-nav-strip">
        <button id="menu-button-desktop" class="dl-toggle" ng-click="menuToggle()" ng-class="{active: isVisible}"><span></span>Menu</button>
        <span class="global-title hide-for-small-only" style="height: 60px; overflow:hidden;">
            &nbsp; <!-- You can't remove this; it ensures the menu div doesn't collapse -->
            <!-- <span ng-if="$state.includes('home') && answerCountTicker > 0">
                <span class="question-answer-count">{{answerCountTicker | number:0 }}</span> Questions answered so far!
            </span> -->
            <span ng-if="$state.includes('home')" style="font-size:1.4rem;font-weight:normal;display:inline-block;width:70%;">
                <span>Mastering Physics by Solving Problems</span><span style="display:inline-block;">: from School to University!</span>
            </span>
        </span>

        <a id="tutorial-search" 
           href="javascript:void(0)" 
           class="ru-desktop-search-icon hide-for-small-only" 
           tabindex="0" 
           ng-click="globalFlags.siteSearchOpen = true"
           ng-hide="globalFlags.siteSearchOpen">
            <img src='/assets/desktop-search-icon.png' alt="Search">
        </a>

        <div ng-show="globalFlags.siteSearchOpen" class="animate-show" ng-controller="GlobalSearchController">
            <div class="ru-search-bg hide-animate" ng-click="globalFlags.siteSearchOpen = false"></div>
            <div class='ru-desktop-search'>
                <div class="ru-desktop-panel-search-close"  tabindex="0">
                    <img src='/assets/Close-button.jpg' alt="Close Search" ng-click="globalFlags.siteSearchOpen = false">
                </div>
                <form ng-submit="triggerSearch()">
                    <div class="row">
                        <div class="large-2 medium-2 columns">
                            <label for="ru-search-box" class=" text-center inline">Search</label>
                        </div>
                        <div class="large-3 medium-13 columns">
                            <input id="ru-search-box" ng-model="models.query" type="text" sync-search-focus/>
                        </div>
                        <div class="clearfix show-for-medium-only"></div>
                        <div class="large-4 medium-5 medium-offset-2 large-offset-0 columns">
                            <div class="ru-desktop-search-check">
                                <span class="ru-drop-check">
                                    <input id="search-check1" ng-model="models.includeQuestions" name="checkbox2" type="checkbox">
                                    <label for='search-check1'></label>
                                </span>
                                <label for="search-check1" class=''> Search problems</label>
                            </div>
                        </div>
                        <div class="large-4 medium-5  columns">
                            <div class="ru-desktop-search-check">
                                <span class="ru-drop-check">
                                    <input id="search-check2" ng-model="models.includeConcepts" name="checkbox2" type="checkbox">
                                    <label for='search-check2'></label>
                                </span>
                                <label for="search-check2" class=''> Search concepts</label>
                            </div>
                        </div>
                        <div class="large-2 medium-3 medium-offset-0 columns end">
                            <input class="button ru-search-button expand" type="button" value="Search" id="desktop-search-now" ng-click="triggerSearch()">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
<!--
    <div class="medium-3 columns">
    </div>
    <div class="medium-12 end columns text-right">
        <h2 class="status hide-for-small-only">Welcome<span ng-if="!user._id"> to Isaac</span>  
        <span class='green' ng-if="user.givenName && user._id" ng-class="{physics:user.role=='ADMIN'}"> {{user.givenName}}</span>
        <span ng-if="user._id">
            <span class="green"><a ui-sref="logout">(Log out)</a></span>
        </span></h2>
    </div>
-->
    <nav class="dl-nav" role="navigation"> 
        <ul class="dl-level1">
            <li>
                <h6 ng-click="menuForward($event)">My Isaac
                    <span class="login-notification" ng-if="!user._id"><a class="hide-for-small-only" ui-sref="login"> (login)</a></span>
                    <span class="login-notification" ng-if="user._id"><a class="hide-for-small-only" ui-sref="logout"> (logout)</a></span>
                </h6>
                <ul class="dl-level2">
                	<li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li class="login-required" ng-class="{disabled: !user._id}"><a ui-sref="accountSettings">My Account &nbsp;<span ng-if="user._id && (user.emailVerificationStatus!='VERIFIED' || !user.dateOfBirth || (!user.schoolId && !user.schoolOther) || !user.gender)" data-ot="Your Isaac profile is incomplete." class="dl-alert warning hide-for-small-only" aria-haspopup="true">!</span></a></li>
                    <li class="login-required" ng-class="{disabled: !user._id}"><a ui-sref="boards">My Boards</a> <!--<span title="You have 1 board" class="dl-alert hide-for-small-only" aria-haspopup="true" data-tooltip>1</span>--></li>
                    <li class="login-required" ng-class="{disabled: !user._id}"><a href="javascript:void(0)" ui-sref="progress">My Progress</a></li>
                    <li class="login-required" ng-class="{disabled: !user._id}"><a href="javascript:void(0)" ui-sref="assignments">My Assignments &nbsp; <span ng-if="myIncompleteAssignments > 0" class="dl-alert warning hide-for-small-only" aria-haspopup="true">{{myIncompleteAssignments}}</span></a> <!--<span title="You have 10 overdue assignments" class="dl-alert overdue hide-for-small-only" aria-haspopup="true" data-tooltip="">10</span>--></li>
                    <!-- <li class="disabled"><a href="javascript:void(0)">My Events</a> <span title="You have 1 upcoming event" class="dl-alert hide-for-small-only" aria-haspopup="true" data-tooltip="">1</span></li> -->
                </ul>
            </li>
            <li ng-show="user.role && (user.role == 'TEACHER' || user.role == 'ADMIN' || user.role == 'EVENT_MANAGER' || user.role == 'CONTENT_EDITOR')">
                <h6 ng-click="menuForward($event)">Teacher Tools</h6>
                <ul class="dl-level2">
                    <li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li><a href="javascript:void(0)" ui-sref="setAssignments({showModal: 'setAssignmentsModal'})">Set Assignments</a></li>
                    <li><a href="javascript:void(0)" ui-sref="assignmentProgress">Assignment Progess</a></li>
                    <li><a href="javascript:void(0)" ui-sref="groups">Manage Groups</a></li>                    
                </ul>
            </li>
            <li>
                <h6 ng-click="menuForward($event)">Helpful Information</h6>
                <ul class="dl-level2">
                    <li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li><a ui-sref="solving_problems">Problem Solving Guide</a></li>
                    <li><a ui-sref='teacher_features'><span>Guide for Teachers</span></a></li>
                    <li><a ui-sref="events">Events</a></li>
<!--                     <li class="hide-for-small-only"><a href="javascript:void(0)" class="desktop-tutorial-trigger" ng-click="menuClose()">Tutorial</a></li>
                    <li class="show-for-small-only"><a href="javascript:void(0)" class="mobile-tutorial-trigger" ng-click="menuClose()">Tutorial</a></li>    -->                 
                </ul>
            </li>            
            <li ng-show="user.role && (user.role == 'ADMIN' || user.role == 'CONTENT_EDITOR' || user.role == 'EVENT_MANAGER')">
                <h6 ng-click="menuForward($event)">Admin Pages</h6>
                <ul class="dl-level2">
                    <li class="dl-back show-for-small-only"><a href="javascript:void(0)"><span></span>Back</a></li>
                    <li ng-show="user.role && (user.role == 'ADMIN' || user.role == 'EVENT_MANAGER')"><a ui-sref="admin">Site Admin</a></li>
                    <li ng-show="user.role && (user.role == 'ADMIN' || user.role == 'EVENT_MANAGER')"><a ui-sref="adminUserManager">User Manager</a></li>
                    <li ng-show="user.role && (user.role == 'ADMIN' || user.role == 'EVENT_MANAGER')"><a ui-sref="adminEvents">Event Admin</a></li>
                    <li><a ui-sref="contentErrors">Content Errors &nbsp;<span ng-if="contentProblems > 0" data-ot="There are {{contentProblems}} outstanding problems." class="dl-alert warning hide-for-small-only" aria-haspopup="true">{{contentProblems}}</span></a></li>
                    <li><a ui-sref="adminStats">Site Statistics</a></li>
                </ul>
            </li>            
        </ul>
    </nav>
</div>
 