<div class="group-management-details">
    <h6>Create / Edit group name</h6>
    <input type="email" />

    <h6>Invite students to group via email</h6>
    <p>Email addresses MUST be seperated by a comma.</p>
    <textarea>DaveyBoy@hotmail.com,  Jane123@googlemail.com, JReece@gmail.com</textarea>

    <dl class="accordion group-accordion">
        <dd>
            <a class="group-accordion-header">
                3 Active members in this group
                <span class="group_accordion_arrow"></span>
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td class="group-table-name">David Simmons</td>
                            <td>DaveyBoy@hotmail.com</td>
                            <td>Edit</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td class="group-table-name">Jane Brown</td>
                            <td>Jane123@googlemail.com</td>
                            <td>Edit</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td class="group-table-name">John Reece</td>
                            <td>JReece@gmail.com</td>
                            <td>Edit</td>
                            <td>x</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
        <dd>
            <a class="group-accordion-header">
                2 Invitations not yet accepted in this group
                <span class="group_accordion_arrow"></span>
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td>Jane123@googlemail.com</td>
                            <td>Edit</td>
                            <td>x</td>
                        </tr>
                        <tr>
                            <td>JReece@gmail.com</td>
                            <td>Edit</td>
                            <td>x</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>

    <a class="ru-button-big expand">Save</a>
    <div class="medium-16 columns text-right">
       <a href="#">Archive this group</a><span title="Information about connecting" class="has-tip icon-help" data-tooltip></span>
    </div>
</div>