<!-- Start active group -->
    <h6>
        {{selectedGroup == null ? "Create" : "Edit"}} group 
        <span class="access-token" ng-show="selectedGroup">
            <a href="javascript:void(0)" ng-click="modals.shareCode.show()">Invite Users</a>&nbsp;
            <span ng-if="selectedGroup && selectedGroup.ownerId == user._id && ($root.userPreferences.BETA_FEATURE.ADDITIONAL_GROUP_MANAGERS || selectedGroup.additionalManagers.length > 0)"> or &nbsp;<a href="javascript:void(0)" ng-click="modals.groupManagers.show()">Edit Group Managers</a></span>
            <span ng-if="selectedGroup && selectedGroup.ownerId != user._id"> or &nbsp;<a href="javascript:void(0)" ng-click="modals.groupManagers.show()">View Group Managers</a></span>
        </span>
    </h6>

    <input ng-show="selectedGroup" ng-disabled="selectedGroup.ownerId != user._id" type="text" ng-model="selectedGroup.groupName" />
    <input ng-show="!selectedGroup" type="text" ng-model="newGroup.groupName" placeholder="Enter the name of your group here" />
    <a ng-if="(selectedGroup && selectedGroup.ownerId == user._id) || selectedGroup == null" class="ru-button-big expand" href="javascript:void(0)" ng-click="saveGroup(selectedGroup != null)">{{selectedGroup == null ? "Create" : "Update"}}</a>
    <div ng-if="emailInviteFeatureAvailable">
        <h6>Invite students<span class="show-for-medium-up"> to group</span> via email</h6>
        <p>Email addresses MUST be seperated by a comma.</p>
        <textarea>DaveyBoy@hotmail.com,  Jane123@googlemail.com, JReece@gmail.com</textarea>
    </div>

    <dl class="accordion group-accordion" ng-show="selectedGroup">
        <dd class="active">
            <a class="group-accordion-header" ng-class="{'remove-border-bottom': selectedGroupMembers != null && selectedGroupMembers.length != 0}">
                {{selectedGroupMembers == null ? 0 : selectedGroupMembers.length}} users <span class="show-for-medium-up">in this group</span>
                <!--span class="group-accordion-arrow"></span-->
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr ng-repeat="member in selectedGroupMembers" ng-class="{disabled: !member.authorisedFullAccess}">
                            <td ng-if="member.authorisedFullAccess">
                                <a href="javascript:void(0)" ui-sref="userProgress({userId: member.id})" data-ot="Click to view this student's data."><span class="group-table-person"></span>{{member.givenName}} {{member.familyName}}</a>
                                <span ng-if="member.emailVerificationStatus =='DELIVERY_FAILED'"
                                      data-ot-escape-content="false"
                                      data-ot="This user's account email address is invalid or not accepting email.<br />They will not be able to reset their password or receive update emails. Ask them to login and update it, or contact us to help resolve the issue."
                                      class="has-tip"
                                      aria-haspopup="true"><span class="icon-email-status failed"></span></span>
                                <span ng-if="member.emailVerificationStatus =='NOT_VERIFIED'" data-ot="This user has not yet verified their email." class="has-tip" aria-haspopup="true"><span class="icon-email-status unverified"></span></span>
                            </td>
                            <td ng-if="!member.authorisedFullAccess"><span class="group-table-person"></span><span class="revoked">{{member.givenName}} {{member.familyName}}</span> (not sharing)</span></td>
                            <td ng-if="false" class="group-table-edit"><a class="edit-icon show-for-small-only" href="javascript:void(0)"></a></td>
                            <td>
                                <a href="javascript:void(0)" ng-click="resetMemberPassword(member)" class="right" ng-class="{disabled: !canSendPasswordResetRequest(member)}"
                                aria-haspopup="true" data-ot="{{canSendPasswordResetRequest(member) ? 'Send a password reset request to your student\'s email address.' : 'Cannot send password reset request email.'}}">
                                Reset Password</a>
                            </td>
                            <td class="group-table-delete"><a class="delete-icon" href="javascript:void(0)" ng-click="deleteMember(selectedGroup, member)"></a></td>
                        </tr>
                        <!-- Start edit email - mobile only -->
                        <tr ng-if="false" class="group-table-email-edit">
                            <td colspan="4">
                                <input type="email" value="{{member.email}}" />
                            </td>
                        </tr>
                        <!-- End edit email -->
                    </tbody>
                </table>
            </div>
        </dd>
        <dd ng-if="emailInviteFeatureAvailable">
            <a class="group-accordion-header">
                2 Invitations not yet accepted <span class="show-for-medium-up">in this group</span>
                <span class="group-accordion-arrow"></span>
            </a>
            
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td><span class="group-table-person"></span>Jane123@googlemail.com</td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="javascript:void(0)"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="javascript:void(0)"></a></td>
                        </tr>
                        <tr>
                            <td><span class="group-table-person"></span>JReece@gmail.com</td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="javascript:void(0)"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="javascript:void(0)"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
    
    <div class="row" ng-if="selectedGroup && selectedGroup.ownerId == user._id">
        <div class="large-16 columns">
            <a ng-if="!archivedView" class="ru-button-big secondary expand" ng-click="changeGroupArchiveState(true)">Archive this group</a>
            <a ng-if="archivedView" class="ru-button-big secondary expand" ng-click="changeGroupArchiveState(false)">Unarchive this group</a>   
        </div>
    </div>
    <!-- End active group -->
