<!-- Start active group -->
    <h6>Create / Edit group name</h6>
    <input type="email" />

    <h6>Invite students to group via email</h6>
    <p>Email addresses MUST be seperated by a comma.</p>
    <textarea>DaveyBoy@hotmail.com,  Jane123@googlemail.com, JReece@gmail.com</textarea>

    <dl class="accordion group-accordion">
        <dd class="active">
            <a class="group-accordion-header">
                3 Active members
                <span class="group-accordion-arrow"></span>
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td><a href="#"><span class="group-table-person"></span>David Simmons</a></td>
                            <td><span class="hide-for-small-only">DaveyBoy@hotmail.com</span></td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="#"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="#"></a></td>
                        </tr>
                        <!-- Start edit email - mobile only -->
                        <tr class="group-table-email-edit">
                            <td colspan="4">
                                <input type="email" value="Jane123@googlemail.com" />
                            </td>
                        </tr>
                        <!-- End edit email -->
                        <tr>
                            <td><a href="#"><span class="group-table-person"></span>Jane Brown</a></td>
                            <td><span class="hide-for-small-only">Jane123@googlemail.com</span></td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="#"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="#"></a></td>
                        </tr>
                        <!-- Start edit email - mobile only -->
                        <tr class="group-table-email-edit">
                            <td colspan="4">
                                <input type="email" value="Jane123@googlemail.com" />
                            </td>
                        </tr>
                        <!-- End edit email -->
                        <tr>
                            <td><a href="#"><span class="group-table-person"></span>John Reece</a></td>
                            <td><span class="hide-for-small-only">JReece@gmail.com</span></td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="#"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="#"></a></td>
                        </tr>
                        <!-- Start edit email - mobile only -->
                        <tr class="group-table-email-edit">
                            <td colspan="4">
                                <input type="email" value="JReece@gmail.com" />
                            </td>
                        </tr>
                        <!-- End edit email -->
                    </tbody>
                </table>
            </div>
        </dd>
        <dd>
            <a class="group-accordion-header">
                2 Invitations not yet accepted
                <span class="group-accordion-arrow"></span>
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td><span class="group-table-person"></span>Jane123@googlemail.com</td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="#"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="#"></a></td>
                        </tr>
                        <tr>
                            <td><span class="group-table-person"></span>JReece@gmail.com</td>
                            <td class="group-table-edit"><a class="edit-icon show-for-small-only" href="#"></a></td>
                            <td class="group-table-delete"><a class="delete-icon" href="#"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
    <a class="ru-button-big expand">Save</a>
    <div class="row">
        <div class="large-16 columns">
            <span title="What does this do?" class="has-tip icon-help right" aria-haspopup="true" data-tooltip=""></span>
            <a class="archive-group-btn" href="#">Archive this group</a>
        </div>
    </div>
    <!-- End active group -->
    



    <!-- Start archived group -->
    <h3 class="ru_green show-for-large-up">Dolphins</h3>

    <dl class="accordion group-accordion archived">
        <dd class="active">
            <a class="group-accordion-header">
                3 Active members
                <span class="group-accordion-arrow"></span>
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td><span class="group-table-person"></span>David Simmons</td>
                            <td>DaveyBoy@hotmail.com</td>
                        </tr>
                        <tr>
                            <td><span class="group-table-person"></span>Jane Brown</td>
                            <td>Jane123@googlemail.com</td>
                        </tr>
                        <tr>
                            <td><span class="group-table-person"></span>John Reece</td>
                            <td>JReece@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
        <dd>
            <a class="group-accordion-header">
                2 Invitations not yet accepted
                <span class="group-accordion-arrow"></span>
            </a>
            <div class="group-accordion-content">
                <table class="group-table">
                    <tbody>
                        <tr>
                            <td><span class="group-table-person"></span>Jane123@googlemail.com</td>
                        </tr>
                        <tr>
                            <td><span class="group-table-person"></span>JReece@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
    <a class="ru-button-big secondary expand">Un-archive this group</a>
    <!-- End archived group -->