<header>
    <!-- Desktop Header -->
    <div class='ru-desktop-header'>
        <div class='ru-dekstop-nav'>
            <!-- Desktop Nav -->
            <nav class='row'>
                <div class='large-8 medium-4 columns'>
                    <a ui-sref='home'>
                        <img alt='Isaac. Physics. You work it out.' class='ru-desktop-menu-img' src='' 
                             data-interchange="[/assets/isaac-logo.png, (medium)], [/assets/isaac-logo-strap.png, (large)], 
                             [/assets/isaac-logo@2x.png, (medium_retina)], [/assets/isaac-logo-strap@2x.png, (large_retina)]"></a>
                </div>
                <div class='large-8 medium-12 columns'>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner' ui-sref='questionsIndex'>
                            <span>Problems</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item' ui-sref='conceptsIndex'>  
                        <div class='ru-desktop-nav-item-inner active'>
                            <span>Concepts</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner'>
                            <span>My Boards</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner'>
                            <span>Login</span>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <!-- Mobile Header -->
    <div class='ru-mobile-header'>
        <!-- Mobile Fixed Header -->
        <div class='ru-fixed-header fixed'>
            <div class='row'>
                <div class='small-8 columns'>
                    <div id='mobile-login' class='pointer'>
                        <div class='ru-mobile-login'></div>
                        <span>
                            Login
                        </span>
                        <div class='ru-mobile-down'></div>
                    </div>
                </div>
                <div class='small-8 columns'>
                    <div class='right pointer' id='mobile-search'>
                        <div class='ru-mobile-search'></div>
                        <span>
                            Search
                        </span>
                        <div class='ru-mobile-down'></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Nav -->
        <div class='ru-mobile-nav'>
            <nav class='row'>
                <a ui-sref='home'><img alt='Isaac. Physics. You work it out.' class='ru-mobile-menu-img' 
                                data-interchange="[/assets/isaac-logo.png, (small)], [/assets/isaac-logo@2x.png, (small_retina)]" src='/assets/isaac-logo.png'></a>


                <a class='ru-mobile-nav-item'>  
                    <div class='ru-mobile-nav-item-inner'>
                        <span>My Boards</span>
                    </div>
                </a>
                <a class='ru-mobile-nav-item' ui-sref='conceptsIndex'>  
                    <div class='ru-mobile-nav-item-inner active'>
                        <span>Concepts</span>
                    </div>
                </a>
                <a class='ru-mobile-nav-item' ui-sref='questionsIndex'>  
                    <div class='ru-mobile-nav-item-inner'>
                        <span>Problems</span>
                    </div>
                </a>
            </nav>
        </div>
    </div>
    <!-- Search button  MUST BE LAST-->
    <div class='row hide-for-small-only'>
        <div class='large-16 medium-16 columns'>
            <div class='ru-desktop-panel-search'>
                <a href=''><img src='/assets/desktop-search.png'></a>
            </div>
        </div>
    </div>
</header>
