<header>
    <!-- Desktop Header -->
    <div class='ru-desktop-header'>
        <div class='ru-dekstop-nav'>
            <!-- Desktop Nav -->
            <nav class='row'>
                <div class='large-8 medium-4 columns'>
                    <a href=''>
                        <img alt='Isaac. Physics. You work it out.' class='ru-desktop-menu-img' src='' 
                          data-interchange="[/assets/isaac-logo.png, (medium)], [/assets/isaac-logo-strap.png, (large)], 
                          [/assets/isaac-logo@2x.png, (medium_retina)], [/assets/isaac-logo-strap@2x.png, (large_retina)]"></a>
                </div>
                <div class='large-8 medium-12 columns'>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner'>
                            <span>Problems</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner active'>
                            <span>Concepts</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner'>
                            <span>My Boards</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner'>
                            <span>Login</span>
                        </div>
                    </a>
                </div>
            </nav>
            <!-- Desktop panel - e.g. About Us -->
            <div class='row'>
                <div class='large-16 medium-16 columns'>
                    <div class='ru-desktop-panel'>
                        <h1>About Us</h1>
                        <h2 class='subheader'>Who we are, what we do?</h2>
                    </div>
                    <div class='ru-desktop-panel-search'>
                        <a href=''><img src='/assets/desktop-search.png'></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Header -->
    <div class='ru-mobile-header'>
        <!-- Mobile Fixed Header -->
        <div class='ru-fixed-header fixed'>
            <div class='row'>
                <div class='small-8 columns'>
                    <div class='ru-mobile-login'></div>
                    <span>
                        Login
                    </span>
                    <div class='ru-mobile-down'></div>
                </div>
                <div class='small-8 columns'>
                    <div class='right'>
                        <div class='ru-mobile-search'></div>
                        <span>
                            Search
                        </span>
                        <div class='ru-mobile-down'></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Nav -->
        <div class='ru-mobile-nav'>
            <nav class='row'>
                <a href=''><img alt='Isaac. Physics. You work it out.' class='ru-mobile-menu-img' 
                                data-interchange="[/assets/isaac-logo.png, (small)], [/assets/isaac-logo@2x.png, (small_retina)]" src='/assets/isaac-logo.png'></a>


                <a class='ru-mobile-nav-item'>  
                    <div class='ru-mobile-nav-item-inner'>
                        <span>My Boards</span>
                    </div>
                </a>
                <a class='ru-mobile-nav-item'>  
                    <div class='ru-mobile-nav-item-inner active'>
                        <span>Concepts</span>
                    </div>
                </a>
                <a class='ru-mobile-nav-item'>  
                    <div class='ru-mobile-nav-item-inner'>
                        <span>Problems</span>
                    </div>
                </a>
            </nav>
        </div>
        <!-- Mobile panel -->
        <div class='ru-mobile-panel'>
            <div class='row'>
                <div class='small-16 columns'>
                    <img class='right' src='/assets/icon-share.png'>
                    <h1>About Us</h1>
                    <h2 class='subheader'>Who we are, what we do?</h2>

                </div>
            </div>
        </div>
    </div>
</header>
