<header>
    <!-- Desktop Header -->
    <div class='ru-desktop-header'>
        <div class='ru-dekstop-nav'>
            <!-- Desktop Nav -->
            <nav class='row'>
                <div class='large-8 medium-4 columns'>
                    <a ui-sref='home'>
                        <img alt='Isaac. Physics. You work it out.' class='ru-desktop-menu-img' src='' 
                             data-interchange="[/assets/isaac-logo.png, (medium)], [/assets/isaac-logo-strap.png, (large)], 
                             [/assets/isaac-logo@2x.png, (medium_retina)], [/assets/isaac-logo-strap@2x.png, (large_retina)]"></a>
                </div>
                <div class='large-8 medium-12 columns'>
                    <a class='ru-desktop-nav-item' ui-sref='questionIndex'>  
                        <div class='ru-desktop-nav-item-inner' ng-class="{active: $state.includes('questionIndex')}">
                            <span>Questions</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item' ui-sref='conceptIndex'>  
                        <div class='ru-desktop-nav-item-inner' ng-class="{active: $state.includes('conceptIndex')}">
                            <span>Concepts</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner' ng-class="{active: false}">
                            <span>My Boards</span>
                        </div>
                    </a>
                    <a class='ru-desktop-nav-item'>  
                        <div class='ru-desktop-nav-item-inner' ng-class="{active: false}">
                            <span>Login</span>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <!-- Mobile Header -->
    <div class='ru-mobile-header'>
        <!-- Mobile Fixed Header -->
        <div class='ru-fixed-header fixed'>
            <div class='row'>
                <div class='small-8 columns'>
                    <div id='mobile-login' class='pointer'>
                        <div class='ru-mobile-login'></div>
                        <span>
                            Login
                        </span>
                        <div class='ru-mobile-down'></div>
                    </div>
                </div>
                <div class='small-8 columns'>
                    <div class='right pointer' id='mobile-search'>
                        <div class='ru-mobile-search'></div>
                        <span>
                            Search
                        </span>
                        <div class='ru-mobile-down'></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Nav -->
        <div class='ru-mobile-nav'>
            <nav class='row'>
                <a ui-sref='home'><img alt='Isaac. Physics. You work it out.' class='ru-mobile-menu-img' 
                                data-interchange="[/assets/isaac-logo.png, (small)], [/assets/isaac-logo@2x.png, (small_retina)]" src='/assets/isaac-logo.png'></a>


                <a class='ru-mobile-nav-item'>  
                    <div class='ru-mobile-nav-item-inner'>
                        <span>My Boards</span>
                    </div>
                </a>
                <a class='ru-mobile-nav-item' ui-sref='conceptsIndex'>  
                    <div class='ru-mobile-nav-item-inner'>
                        <span>Concepts</span>
                    </div>
                </a>
                <a class='ru-mobile-nav-item' ui-sref='questionsIndex'>  
                    <div class='ru-mobile-nav-item-inner active'>
                        <span>Problems</span>
                    </div>
                </a>
            </nav>
        </div>
    </div>
    <!-- Search button  MUST BE LAST-->
    <div class='row hide-for-small-only'>
        <div class='large-16 medium-16 columns'>
            <div class='ru-desktop-panel-search'>
                <a href=""><img src='/assets/desktop-search.png' alt="Search"></a>
                <div class='ru-desktop-search'>
                    <div class="row">
                        <div class="large-2 medium-3 columns">
                            <label for="ru-search-box" class=" text-center inline">Search</label> 
                        </div>
                        <div class="large-4 medium-12 columns">
                            <input id="ru-search-box" type="text"/>
                        </div>
                        <div class="clearfix show-for-medium-only"></div>
                        <div class="large-4 medium-5 medium-offset-3 large-offset-0 columns">
                            <div class="ru-desktop-search-check">
                                <span class="ru-drop-check">
                                    <input id="search-check1" name="checkbox2" type="checkbox" checked='checked'>
                                    <label for='search-check1'></label>
                                </span>
                                <label class=''> Problems only</label>
                            </div>
                        </div>
                        <div class="large-4 medium-5 columns">
                            <div class="ru-desktop-search-check">
                                <span class="ru-drop-check">
                                    <input id="search-check2" name="checkbox2" type="checkbox" checked='checked'>
                                    <label for='search-check2'></label>
                                </span>
                                <label class=''> Concepts only</label>
                            </div>
                        </div>
                        <div class="large-2 medium-3 columns text-center">
                            <img  src="/assets/search.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ru-desktop-panel-search-close">
                <img src='/assets/Close-button.jpg' alt="Close Search">
            </div>
        </div>
    </div>
</header>