<form class="login-wrap" ng-submit="login()" ng-controller="LoginController">
    <div class="row">
        <div class='large-7 medium-7 columns small-only-text-center'>
            <div class="login-social">
                <h2><span class="ru_green">Login</span> or <span class="ru_green">sign up</span> with:</h2>
                <a ng-click="auth.loginRedirect('google', target)" class="login-social-google">Google+</a>
                <a ng-click="auth.loginRedirect('twitter', target)" class="login-social-twitter">Twitter</a>
                <a ng-click="auth.loginRedirect('facebook', target)" class="login-social-facebook">Facebook</a>
            </div>
        </div>
        <div class='large-2 medium-2 columns text-center login-separator'>
            <span class="ru_green">or</span>
        </div>
        <div class='large-6 medium-6 columns login-form left'>
            <p ng-show="warnings.resetpassword">Your password request is being proccessed. Please check your email.</p>
            <div class="row">
                <div class='large-12 medium-14 columns'>
                    <input type="text" placeholder="Email address" ng-model="user.email" />
                </div>
            </div>
            <div class="row">
                <div class='large-12 medium-14 columns'>
                    <input type="password" placeholder="Password" ng-model="user.password" />
                </div>
            </div>
            <div class="row">
                <div class='large-12 medium-14 columns'>
                    <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
                        <li><input class="ru-button expand" type="submit" value="login" /></li>
                        <li><a class="ru-button expand secondary" ui-sref="accountSettings">Sign up</a></li>
                    </ul>
                </div>
            </div>
            <a class="login-forgot-password" ng-click="resetPassword()">Forgotten your password?</a>
        </div>
    </div>
</form>