<form name="form" class="login-wrap" ng-submit="login()" ng-controller="LoginController" novalidate>
    <div class="row">
        <div class='medium-5 columns text-center'>
            <p class="login-social">
                Please note that login with Google has been disabled on the old version of the site. You can add a password to your account using the "Forgotten your password?" button.
            </p>
        </div>
        <div class='medium-2 columns text-center login-separator'>
        </div>
        <div ng-hide="passwordResetFlag" class='medium-8 medium-offset-1 columns login-form'>
            <p ng-show="errorMessage">
                <strong class="ru_red">{{errorMessage}}</strong>
            </p>
            <div class="row">
                <div class='large-12 medium-14 columns'>
                    <label class="ru-error-message" ng-show="form.email.$invalid && loginAttempted || form.email.$invalid && forgottenPassword">
                        Enter a valid email
                    </label>
                    <input name="email" type="email" placeholder="Email address" ng-model="loginUser.email" required autocomplete="username email"/>
                </div>
            </div>
            <div class="row">
                <div class='large-12 medium-14 columns'>
                    <label class="ru-error-message" ng-show="form.password.$invalid && loginAttempted">
                        Enter your password
                    </label>
                    <input name="password" type="password" placeholder="Password" ng-model="loginUser.password" required autocomplete="current-password"/>
                </div>
            </div>
            <div class="row">
                <div class='large-12 medium-14 columns'>
                    <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
                        <li><input class="ru-button expand" type="submit" value="Log in"/></li>
                        <li><a class="ru-button expand secondary" ui-sref="register" ng-click="signUpFunction()">Sign up</a></li>
                    </ul>
                </div>
            </div>
            <a tabindex="0" class="login-forgot-password" ng-click="resetPassword()">Forgotten your password?</a>
        </div>
        <div ng-show="passwordResetFlag" class='large-8 medium-8 medium-offset-1 columns login-form'>
            <p><strong>Your password reset request is being processed. Please check your inbox.</strong></p>
            <p class="space"><a href="/support/student/general#login_issues">Haven't received an email?</a></p>
        </div>      
    </div>
</form>