<div class="panel ru_pod">
    <div class='ru_pod_title ru_pod_questions'>
        <h5>{{title}}</h5>
    </div>
    <hr>
    <ul class="pod-scroll-list">
    	<li ng-repeat="c in questions | orderBy: ['level', questionComparer]">
            <a ui-sref="question({id: c.id})" ng-click="logRelatedQuestionView(c.id)">{{c.title}} (Level {{c.level}})</a>
            <h6>{{c.summary}}</h6>
    	</li>
        <li ng-hide="questions.length" class="text-center">- No related questions -</li>
    </ul>
</div>