<div class="row no-print" ng-if="user.emailVerificationStatus == null || user.emailVerificationStatus=='NOT_VERIFIED' || user.emailVerificationStatus=='DELIVERY_FAILED'">
    <div class="large-16 columns ru-alert-columns">
        <div data-alert class="ru-alert-box cookies-title">
            <div class="row" ng-if="user.emailVerificationStatus=='NOT_VERIFIED' || user.emailVerificationStatus==null">
                <div class="large-1 medium-1 small-16 columns">
                    <span class="ru-info-icon hide-for-small-only"></span>
                    <span class="cookies-title show-for-small-only"><img src="/assets/information-icon.png" alt="" /> Email Verification</span>
                </div>
                <div  class="large-12 medium-12 small-16 columns">Your email address is not verified - please find our email in your inbox and follow the verification link. To request a new verification email<a ng-click="requestEmailVerification()"> click here</a>. To change your email address, go to <a href="/account">Account Settings</a>.
                </div>
                <div class="large-3 medium-3 small-16 columns">
                    <a ng-click="snoozeEmailVerification()" class="ru-button close cookies-accepted">Snooze</a>
                </div>
            </div>
            <div class="row" ng-if="user.emailVerificationStatus=='DELIVERY_FAILED'">
                <div class="large-1 medium-1 small-16 columns">
                    <span class="ru-warning-icon hide-for-small-only"></span>
                    <span class="cookies-title show-for-small-only"><img src="/assets/warning.png" alt="" /> Email Verification</span>
                </div>
                <div class="large-15 medium-15 small-15 columns">One or more email(s) sent to your email address failed. This means you won't receive emails from Isaac, and may prevent you regaining access to your account. <br>To start receiving emails again, change your email address in your <a href="/account">Account Settings</a>. If you believe this is in error, please <a href="mailto:webmaster@isaacphysics.org">email us</a>.
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>