<div class="row no-print">
    <div class="large-16 columns">
        <div data-alert class="ru-alert-box verification-message">
            <div class="row">
                <div class="large-1 medium-1 small-16 columns">
                    <span class="ru-info-icon hide-for-small-only"></span>
                    <span class="cookies-title show-for-small-only"><img src="/assets/information-icon.png" alt="" /> Email Verification</span>
                </div>
                <div class="large-12 medium-12 small-16 columns verification-content">
                <p>Your email address is not verified - please find our email in your inbox and follow the verification link.<br> To request a new verification email<a ng-click="requestEmailVerification()"> click here</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>