<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head lang="en">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Isaac</title>
        <link rel="stylesheet" href="/css/app.css" />

        <script src="/bower_components/modernizr/modernizr.js"></script>

        <script src="/js/lib/require.js" data-main="/js/config.js"></script>
  </head>
  <body>
        <div ng-include="'/partials/mobile_pre_header.html'"></div>
        <!-- Container for hexagon background -->
        <div class='bg-wrap'>
            <div ng-include="'/partials/header.html'"></div>

            <main class='ru-body'>
                <!-- Desktop panel - e.g. About Us  MUST BE FIRST-->
                <div class='row hide-for-small-only'>
                    <div class='large-16 medium-16 columns'>
                        <div class='ru-desktop-panel'>
                            <div ng-if="isLoading" ng-controller="LoadingMessageController"><h1 ng-show="displayMessage">Loading...</h1></div>
                            <div ng-if="!isLoading" ui-view="header-panel"></div>
                        </div>
                    </div>
                </div>
                <!-- Mobile panel MUST BE SECOND-->
                <div class='ru-mobile-panel show-for-small-only'>
                    <div class='row'>
                        <div class='small-16 columns'>
                            <div ng-if="isLoading"><h1>Loading...</h1></div>
                            <div ng-if="!isLoading" ui-view="header-panel"></div>
                        </div>
                    </div>
                </div>

                <!--<div ng-include="'/partials/samples/concept.html'"></div>-->

                <div class="row">
                    <div class='large-16 medium-16 columns'>
                        <div ng-if="!isLoading" ui-view="body"></div>
                    </div>
                </div>

            </main>

        </div>
        <div ng-include="'/partials/footer.html'"></div>
  </body>
</html>
