<div class="clearfix"></div>
<dl class="accordion ru_accordion physics" data-accordion>
    <dd ng-repeat="c in doc.children" ng-class="{active: $index == activeChild}">
        <a href="javascript:void(0)" ng-click="activateChild($index)" class="ru_accordion_titlebar">
            <div class="ru_accordion_name">{{c.title}}</div>
            <span class="ru_accordion_title">{{c.subtitle}}</span>
            <div class="ru_accordion_details">
                <span class='ru-level-physics-4'></span>    
                <img src='/assets/icon-expand-arrow.png'>
            </div>
        </a>
        <div ng-class="{content: true, active: $index == activeChild}">
            <isaac-content doc="c"></isaac-content>
        </div>
    </dd>
</dl>
