<div class="clearfix"></div>
<dl class="accordion ru_accordion {{pageSubject || 'general'}}">
    <dd ng-repeat="c in doc.children" ng-class="{active: openChildren[$index]}" scroll-to-on-accordion-open class="print-avoid-break" ng-init="accordionSection = {titleSuffix: '', $index: $index, correctAnswerFlag: correctAnswerFlags[$index]}">
        <a href="javascript:void(0)" ng-click="toggleChild($index)" class="ru_accordion_titlebar">
	        <div class="ru_accordion_details no-print">
		        <span class='ru-level-{{pageSubject}}-{{c.level || "0"}}'></span>
		        <img src='/assets/icon-expand-arrow.png'>
	        </div>
	        <span class="accordion-section-title-suffix" ng-bind="accordionSection.titleSuffix" math-jax></span>
            <div class="ru_accordion_name" style="float: left;">
                <span class='ru_level' ng-if="c.level"></span> 
                {{c.level}}
                <span ng-if="questionPage">Part {{$index | indexToPart}}</span>
                <span ng-if="!questionPage && !c.level">&nbsp;</span>
            </div>
            <div class="ru_accordion_title" math-jax>{{c.title}}</div>
        </a>
        <div ng-class="{content: true, active: openChildren[$index]}" class="force-print">
            <div class="row">
                <div class="small-14 small-offset-1 columns end">
                    <div isaac-content doc="c"></div>
                </div>
            </div>
        </div>
    </dd>
</dl>
