<div class="clearfix"></div>
<dl class="accordion ru_accordion {{pageSubject || 'maths'}}" data-accordion>
    <dd ng-repeat="c in doc.children" ng-class="{active: openChildren[$index]}" class="print-avoid-break" ng-init="accordionSection = {titleSuffix: '', $index: $index, correctAnswerFlag: correctAnswerFlags[$index]}">
        <a href="javascript:void(0)" ng-click="toggleChild($index)" class="ru_accordion_titlebar">
            <div class="ru_accordion_name">
                <span class='ru_level' ng-if="c.level"></span> 
                {{c.level}}
                <span ng-if="questionPage">Part {{$index | indexToPart}}</span>
                <span ng-if="!questionPage && !c.level">&nbsp;</span>
            </div>
            <span class="ru_accordion_title" math-jax>
                {{c.title}} <span class="accordion-section-title-suffix" ng-bind="accordionSection.titleSuffix" math-jax></span>
            </span>
            <div class="ru_accordion_details no-print">
                <span class='ru-level-{{pageSubject}}-{{c.level || "0"}}'></span>    
                <img src='/assets/icon-expand-arrow.png'>
            </div>
        </a>
        <div ng-class="{content: true, active: openChildren[$index]}" class="force-print">
            <div isaac-content doc="c"></div>
        </div>
    </dd>
</dl>
