<div ng-switch="doc.type">
	<div ng-switch-when="figure" isaac-figure="doc"></div>
	<div ng-switch-when="image" isaac-image="doc.src"></div>
	<div ng-switch-when="video" isaac-video="doc"></div>
	<div ng-switch-when="isaacFeaturedProfile" isaac-featured-profile="doc"></div>
	<div ng-switch-when="isaacQuestion" isaac-quick-question="doc"></div>
	<div ng-switch-when="isaacMultiChoiceQuestion" isaac-multi-choice-question="doc"></div>
	<div ng-switch-when="isaacNumericQuestion" isaac-numeric-question="doc"></div>
	<div ng-switch-when="isaacSymbolicQuestion" isaac-quick-question="doc"></div>

	<div ng-switch-default ng-switch="doc.layout">
			<div ng-switch-when="tabs" isaac-tabs children="doc.children"></div>
			<div ng-switch-when="accordion" isaac-accordion doc="doc"></div>
			<div ng-switch-default isaac-content-value-or-children encoding="doc.encoding" value="doc.value" children="doc.children"></div>
	</div>
</div>