<div ng-switch="doc.type">

	<!-- Simple content types -->
	<div ng-switch-when="figure" isaac-figure></div>
	<div ng-switch-when="image" isaac-image></div>
	<div ng-switch-when="video" isaac-video></div>
	<div ng-switch-when="isaacFeaturedProfile" isaac-featured-profile></div>
	<div ng-switch-when="isaacQuestion" isaac-quick-question></div>
	<div ng-switch-when="anvilApp" anvil-app app="doc"></div>

	<!-- All these question types render as question-tabs -->
	<div ng-switch-when="isaacMultiChoiceQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacNumericQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacSymbolicQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacSymbolicChemistryQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacSymbolicLogicQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacGraphSketcherQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacAnvilQuestion" isaac-question-tabs></div>
	<div ng-switch-when="isaacStringMatchQuestion" isaac-question-tabs></div>

	<!-- Other things -->
	<div ng-switch-default ng-switch="doc.layout">
			<div ng-switch-when="tabs" isaac-tabs></div>
			<div ng-switch-when="accordion" isaac-accordion></div>
			<div ng-switch-when="horizontal" isaac-horizontal></div>
			<div ng-switch-default isaac-content-value-or-children encoding="doc.encoding" value="doc.value" children="doc.children"></div>
	</div>
</div>