<div class="text-center featured-profile"
     ng-class="{'featured-profile-new-row': valueOrChildren.$index % 3 == 0}">
    <figure style="padding: 10px 20px;">
        <img ng-src='{{doc.image.src || "assets/nick.png"}}'>
        <figcaption>
            <h6 ng-if="doc.homepage"><a ng-href="{{doc.homepage}}" target="_blank">{{doc.title}}</a> </h6>
            <h6 ng-if="!doc.homepage">{{doc.title}}</h6>
            <h6 class='subheader'>{{doc.subtitle}}</h6>
            <div class='light caption' isaac-content-value-or-children encoding="doc.encoding" value="doc.value" children="doc.children"> </div>    
            <a ng-show='doc.emailAddress' href='mailto: {{doc.emailAddress}}'><img src='assets/icon-mailto.png'></a>
        </figcaption>
    </figure>
</div>