<div class="isaac-free-text-question">
    <div class="row">
        <div class="small-14 small-offset-1 columns end">
            <h3><div isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></div></h3>
        </div>
    </div>
    <div class="row">
        <div class="medium-14 medium-offset-1 columns end no-print">
            <form class="" autocomplete="off">
                <ul class="small-block-grid-1">
                    <li ng-class="{'ru-answer-block': true, 'ru-error': question.validationResponse.correct === false}">
                        <div class="ru-answer-block-panel">
                            <textarea ng-model="ctrl.selectedValue" placeholder="Type your answer here." rows="3" ng-class="{'invalid-value': !validValue}" />
                            <div ng-hide="validValue" class="input-warning">
                                <strong>Warning:</strong>
                                <ul>
                                    <li ng-show="charLimitExceeded">Character limit exceeded ({{currentNumebrOfChars}}/{{charLimit}})</li>
                                    <li ng-show="wordLimitExceeded">Word limit exceeded ({{currentNumebrOfWords}}/{{wordLimit}})</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>