<div isaac-question-tabs>
    <div class='row'>
        <div class="small-14 small-offset-1 columns end">
            <form class="ac-custom ac-radio ac-fill physics" autocomplete="off">
                <h3><isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></isaac-content-value-or-children> </h3>
                <ul class='ru-problem-q-pad'>

                    <li ng-repeat="choice in doc.choices">
                        <input type="radio" question-radio-button ng-model="$parent.selectedAnswer" ng-value="$index">
                        <label ng-click="$parent.selectedAnswer = $index" math-jax>{{choice.value}}</label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>