<div isaac-question-tabs>
	<div class="row">
	    <div class="small-14 small-offset-1 columns end">
	        <h3><div isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></div></h3>
	    </div>
	    <div class="small-14 small-offset-1 medium-8 medium-offset-1 columns end">
	        <form class="" autocomplete="off">
	            <ul class="small-block-grid-2">
	                <li ng-class="{'ru-answer-block': true, 'ru-error': validationResponse.correctValue === false}">
	                    <div>Value</div>
	                    <div class="ru-answer-block-panel">
	                        <input type="text" ng-model="selectedChoice.value">
	                        <small>Please answer to three significant figures.</small>
	                    </div>
	                </li>
	                <li ng-if="doc.requireUnits" ng-class="{'ru-answer-block': true, 'ru-error': validationResponse.correctUnits === false}">
	                    <div>Units</div>
	                    <div class="ru-answer-block-panel">
	                    	<button class="button" ng-click="toggleUnitsDropdown()"><span ng-bind="selectedUnitsDisplay" math-jax></span></button>
	                    	<ul class="f-dropdown" ng-style="unitsDropdownStyle">
								<li><a ng-click="selectUnit('')">None</a></li>
								<li ng-repeat="u in unitOptions" math-jax><a ng-click="selectUnit(u)">$\units{ {{u}} }$</a></li>
							</ul>
	                        <small>Please choose the unit of measurement.</small>
	                    </div>
	                </li>
	            </ul>
	        </form>
	    </div>
	</div>
</div>