<div isaac-question-tabs>
	<div class="row">
	    <div class="small-14 small-offset-1 columns end">
	        <h3><isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></isaac-content-value-or-children></h3>
	    </div>
	    <div class="small-14 small-offset-1 medium-8 medium-offset-1 columns end">
	        <form class="" autocomplete="off">
	            <ul class="small-block-grid-2">
	                <li ng-class="{'ru-answer-block': true, 'ru-error': validationResponse.correct == false}">
	                    <div>Value</div>
	                    <div class="ru-answer-block-panel">
	                        <input type="text" ng-model="selectedChoice.value">
	                        <small>Please answer to three significant figures.</small>
	                    </div>
	                </li>
	                <li ng-class="{'ru-answer-block': true, 'ru-error': validationResponse.correct == false}">
	                    <div>Unit</div>
	                    <div class="ru-answer-block-panel">
	                        <input type="text" ng-model="selectedChoice.units">
	                        <small>Please enter the unit of measurement.</small>
	                    </div>
	                </li>
	            </ul>
	        </form>
	    </div>
	</div>
</div>