<div class="isaac-parson-question">
    <div class="row">
        <div class="small-14 small-offset-1 columns end">
            <h3><div isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></div></h3>
        </div>
    </div>
    <div class="row ru-answer-block-panel">
        <div class="small-8 medium-7 medium-offset-1 columns end no-print">
            <div class="parson-panel">
                <div as-sortable="parsonDragOptions" ng-model="parsonItemOptions">
                    <div ng-repeat="parsonItem in parsonItemOptions" as-sortable-item class="parson-item">
                        <div as-sortable-item-handle>
                            <code ng-show="{{parsonItem.code}}">{{parsonItem.value}}</code>
                            <span ng-hide="{{parsonItem.code}}">{{parsonItem.value}}</span>
                        </div>
                    </div>
                </div>
                <button ng-show="{{parsonItemOptions != parsonQuestionItems}}" ng-click="initaliseState()">Reset</button>
            </div>
        </div>
        <div class="small-8 medium-7 columns end no-print">
            <div as-sortable="parsonDragOptions" ng-model="parsonAnswerItems" class="parson-panel">
                <div ng-hide="parsonAnswerItems.length" class="parson-item parson-item-instruction">
                    <code>Your answer</code>
                </div>
                <div ng-repeat="parsonItem in parsonAnswerItems" as-sortable-item class="parson-item" style="margin-left: {{tabWidth * parsonItem.indentation}}px">
                    <div as-sortable-item-handle>
                        <code ng-show="{{parsonItem.code}}">{{parsonItem.value}}</code>
                        <span ng-hide="{{parsonItem.code}}">{{parsonItem.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>