<div class="isaac-parson-question">
    <div class="row">
        <div class="small-14 small-offset-1 columns end">
            <h3><div isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></div></h3>
        </div>
    </div>
    <div class="row ru-answer-block-panel">
        <div class="medium-7 medium-offset-1 columns end no-print">
            <div as-sortable="parsonDragOptions" ng-model="parsonQuestionItems" class="parson-panel">
                <div ng-repeat="parsonItem in parsonQuestionItems" as-sortable-item class="parson-item">
                    <div as-sortable-item-handle>{{parsonItem.value}}</div>
                </div>
            </div>
        </div>
        <div class="medium-7 columns end no-print">
            <div as-sortable="parsonDragOptions" ng-model="parsonAnswerItems" class="parson-panel">
                <div ng-repeat="parsonItem in parsonAnswerItems" as-sortable-item class="parson-item" style="margin-left: {{tabWidth * parsonItem.indentation}}px">
                    <div as-sortable-item-handle>{{parsonItem.value}}</div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row ru-answer-block-panel">
        <div class="small-13 small-offset-1 columns">{{parsonQuestionItems}}</div>
    </div>
    <hr />
    <div class="row ru-answer-block-panel">
        <div class="small-13 small-offset-1 columns">{{parsonAnswerItems}}</div>
    </div>
</div>