<section>
    <br>
    <h4 class='text-center'>Featured Profile</h4>
    <br>
    <div class='text-center'>
        <figure>
            <img src='assets/nick.png'>
            <figcaption>
                <h6>{{doc.title}}</h6>
                <h6 class='subheader'></h6>
                <div class='light' isaac-content-value-or-children encoding="doc.encoding" value="doc.value" children="doc.children"> </div>
                <a href='mailto:x@y.com'><img src='assets/icon-mailto.png'></a>
            </figcaption>
        </figure>
    </div>
    <hr>
</section>