<br class="no-print">
<div class="row">
    <div class="small-16 columns end">
        <dl class="tabs ru_tabs {{pageSubject}} ru-answer no-print" data-tab>
            <dd class="ru-answer active" ng-class="{active: activeTab == -1}" ng-click="activateTab(-1)"><a href="javascript:void(0);">Answer <span>Now</span></a></dd>
            <dd ng-repeat="hint in doc.hints" ng-class="{active: $index == activeTab}" ng-click="activateTab($index)"><a href="javascript:void(0);">Hint <span>{{$index + 1}}</span></a></dd>
        </dl>
        <div class="tabs-content ru_tabs ru-answer">
            <div ng-class="{content: true, 'ru-answer': true, active: activeTab == -1}" class="force-print">

                <!-- This is where the custom answer-input rendering goes for each question type. -->
                <!-- Can't use ngTransclude here, as we mess around with the scope of the transcluded template -->
                <div class='ru-answer-area transclude-here'></div>

                <!-- TODO Remove display:none from css -->
                <div class='ru-answer-wrong no-print' style="display:block;" ng-show="validationResponse.correct==false && doc.type!='isaacAnvilQuestion' && doc.type!='isaacSymbolicQuestion'">
                    <div class='row'>
                        <div class="small-14 small-offset-1 columns end text-center">
                            <h2>incorrect</h2>
                            <h5>Please try again.</h5>
                            <div isaac-content doc="validationResponse.explanation"></div>
                        </div>
                    </div>
                </div>

                <!-- TODO Remove display:none from css -->
                <div class='ru-answer-correct-wrap no-print' style="display:block;" ng-show="validationResponse.correct==true">
                    <div class='ru-answer-correct {{pageSubject}}'>
                        <div class='row'>
                            <div class="small-14 small-offset-1 medium-14 medium-offset-1 columns end text-center">
                                <h1>Correct!</h1>
                            </div><!--
                            <div class='small-15  medium-9  columns'>
                                <img src='/assets/icon-award.png' class='img-responsive right'>
                                <p class='text-right'>You have earned yourself a Top of the Class Isaac award and 25 bonus points!</p>
                            </div>-->
                        </div>
                    </div>
                    <div class='ru-answer-correct-summary {{pageSubject}}'>
                        <div class='row'>
                            <div class="small-14 small-offset-1 columns end text-center">
                                <p><strong>Well done!</strong></p>
                                <div isaac-content doc="validationResponse.explanation"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class='ru-answer-check no-print' ng-hide="validationResponse.correct==true || doc.type=='isaacAnvilQuestion' || (validationResponse && doc.type=='isaacSymbolicQuestion')">
                    <div class='row'>
                        <div class="small-14 small-offset-1 medium-7 medium-offset-1 columns">
                            <p ng-show="doc.hints && doc.hints.length > 0">Don’t forget to use the <strong>hint</strong> tabs above if you need help.</p>&nbsp;
                        </div>
                        <div class="small-14 small-offset-1 medium-6 columns end">
                            <button class='expand ru-answer-button' ng-click="checkAnswer()" ng-hide="validationResponse.correct">Check my answer</button>
                        </div>
                    </div>
                </div>

                <div class='ru-answer-check no-print' ng-show="validationResponse && (doc.type=='isaacAnvilQuestion' || doc.type=='isaacSymbolicQuestion')">
                    <div class='row'>
                        <div class="medium-14 medium-offset-1 columns text-center">
                            <div isaac-content doc="doc.answer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="hint in doc.hints" ng-class="{content: true, active: $index == activeTab, 'force-print' : printingVisibility.hints}"  ng-init="questionTabIndex = $index">
                <div class='row'>
                    <div class="small-14 small-offset-1 columns end">
                        <h3 class="only-print">Hint {{$index + 1}}</h3>
                        <div isaac-content doc="hint" class="small-side-padding"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br class="no-print"/>
