<br class="no-print">
<div class="row">
    <div class="small-16 columns end">
        <dl class="tabs ru_tabs {{pageSubject || 'physics'}} ru-answer no-print" data-tab>
            <dd class="ru-answer active" ng-class="{active: activeTab == -1}" ng-click="activateTab(-1)"><a href="javascript:void(0);">Answer <span>Now</span></a></dd>
            <dd ng-repeat="hint in doc.hints" ng-class="{active: $index == activeTab}" ng-click="activateTab($index)">
                <a href="javascript:void(0);">Hint <span>{{$index + 1}}</span></a>
            </dd>
        </dl>
        <div class="tabs-content ru_tabs ru-answer">
            <div ng-class="{content: true, 'ru-answer': true, active: activeTab == -1}" class="force-print">

                <!-- This is where the custom answer-input rendering goes for each question type. -->
                <div class='ru-answer-area' ng-switch="doc.type">
                    <div ng-switch-when="isaacMultiChoiceQuestion" isaac-multi-choice-question></div>
                    <div ng-switch-when="isaacNumericQuestion" isaac-numeric-question></div>
                    <div ng-switch-when="isaacSymbolicQuestion" isaac-symbolic-question></div>
                    <div ng-switch-when="isaacSymbolicChemistryQuestion" isaac-symbolic-chemistry-question></div>
                    <div ng-switch-when="isaacAnvilQuestion" isaac-anvil-question></div>
                </div>

                <!-- TODO Remove display:none from css -->
                <div class='ru-answer-wrong no-print' style="display:block;" ng-show="question.validationResponse.correct==false && doc.type!='isaacAnvilQuestion'">
                    <div class='row'>
                        <div class="small-14 small-offset-1 columns end text-center">
                            <h2>incorrect</h2>
                            <div isaac-content doc="question.validationResponse.explanation"></div>
                            <h5>Please try again.</h5>
                        </div>
                    </div>
                </div>

                <!-- TODO Remove display:none from css -->
                <div class='ru-answer-correct-wrap no-print' style="display:block;" ng-show="question.validationResponse.correct==true">
                    <div class='ru-answer-correct {{pageSubject || "physics"}}'>
                        <div class='row'>
                            <div class="small-14 small-offset-1 columns end text-center">
                                <h1>Correct!</h1>
                            </div><!--
                            <div class='small-15  medium-9  columns'>
                                <img src='/assets/icon-award.png' class='img-responsive right'>
                                <p class='text-right'>You have earned yourself a Top of the Class Isaac award and 25 bonus points!</p>
                            </div>-->
                        </div>
                    </div>
                    <div class='ru-answer-correct-summary {{pageSubject || "physics"}}'>
                        <div class='row'>
                            <div class="small-14 small-offset-1 columns end text-center">
                                <p><strong>Well done!</strong></p>
                                <div isaac-content doc="question.validationResponse.explanation"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- General question action buttons -->
                <div class='ru-answer-check no-print' ng-hide="!primaryAction || doc.type=='isaacAnvilQuestion' || page.type=='isaacFastTrackQuestionPage'">
                    <div class='row'>
                        <div class="small-14 small-offset-1 medium-7 medium-offset-1 columns">
                            <p ng-show="doc.hints && doc.hints.length > 0 && !hlp">Don’t forget to use the <strong>hint</strong> tabs above if you need help.</p>
                            <p ng-show="hlp" style="min-height:60px;font-size:1.2rem;font-weight:600;">
                                If you're stuck,
                                <span ng-show="doc.hints && doc.hints.length > 0"> check out the hints above or </span>
                                <span ng-hide="doc.hints && doc.hints.length > 0"> have a </span>
                                look at the <a href="/solving_problems" target="_blank">Solving Problems</a> page!
                            </p>&nbsp;
                        </div>
                        <div class="small-14 small-offset-1 medium-6 columns end" ng-class="{'medium-offset-1': !secondaryAction, 'medium-offset-2': secondaryAction}" ng-show="primaryAction">
                            <button ng-hide="primaryAction.hide" ng-disabled="primaryAction.disabled" ng-click="primaryAction.onClick()" title="{{primaryAction.title}}" class="expand ru-answer-button">{{primaryAction.label}}</button>
                        </div>
                    </div>
                </div>

                <!-- FastTrack question action buttons -->
                <div class='ru-answer-check no-print' ng-show="(primaryAction || secondaryAction) && page.type=='isaacFastTrackQuestionPage'">
                    <div class='row'>
                        <!-- Secondary Action -->
                        <div ng-show="secondaryAction" class="columns small-14 small-offset-1"
                             ng-class="primaryAction ? 'medium-7 medium-offset-1' : 'medium-8 medium-offset-4'">
                            <button ng-hide="secondaryAction.hide" ng-disabled="secondaryAction.disabled" ng-click="secondaryAction.onClick()" title="{{secondaryAction.title}}" class="expand ru-answer-button fasttrack-button fasttrack-secondary">{{secondaryAction.label}}</button>
                        </div>
                        <!-- Primary Action -->
                        <div ng-show="primaryAction" class="columns end small-14 small-offset-1"
                             ng-class="secondaryAction ? 'medium-7 medium-offset-0' : 'medium-8 medium-offset-4'">
                            <button ng-hide="primaryAction.hide" ng-disabled="primaryAction.disabled" ng-click="primaryAction.onClick()" title="{{primaryAction.title}}" class="expand ru-answer-button fasttrack-primary">{{primaryAction.label}}</button>
                        </div>
                    </div>
                </div>

                <div class='ru-answer-check no-print' ng-show="question.validationResponse && (doc.type=='isaacAnvilQuestion')">
                    <div class='row'>
                        <div class="small-14 small-offset-1 columns text-center">
                            <div isaac-content doc="question.validationResponse.explanation"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="hint in doc.hints" ng-class="{content: true, active: $index == activeTab, 'force-print' : printingVisibility.hints}"  ng-init="questionTabIndex = $index; contentChildIndex = padIndex($index)">
                <div class='row'>
                    <div class="small-14 small-offset-1 columns end">
                        <h3 class="only-print">Hint {{$index + 1}}</h3>
                        <div isaac-content doc="hint" class="small-side-padding"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br class="no-print"/>
