<br class="no-print">
<div class="row">
    <div class="small-16 columns end">
        <dl class="tabs ru_tabs {{pageSubject || 'physics'}} ru-answer no-print" data-tab>
            <dd class="ru-answer active" ng-class="{active: activeTab == -1}" ng-click="activateTab(-1)"><a href="javascript:void(0);">Answer <span>Now</span></a></dd>
            <dd ng-repeat="hint in doc.hints" ng-class="{active: $index == activeTab}" ng-click="activateTab($index)">
                <a href="javascript:void(0);">Hint <span>{{$index + 1}}</span></a>
            </dd>
        </dl>
        <div class="tabs-content ru_tabs ru-answer">
            <div ng-class="{content: true, 'ru-answer': true, active: activeTab == -1}" class="force-print">

                <!-- This is where the custom answer-input rendering goes for each question type. -->
                <div class='ru-answer-area' ng-switch="doc.type">
                    <div ng-switch-when="isaacMultiChoiceQuestion" isaac-multi-choice-question></div>
                    <div ng-switch-when="isaacNumericQuestion" isaac-numeric-question></div>
                    <div ng-switch-when="isaacSymbolicQuestion" isaac-symbolic-question></div>
                    <div ng-switch-when="isaacSymbolicChemistryQuestion" isaac-symbolic-chemistry-question></div>
                    <div ng-switch-when="isaacAnvilQuestion" isaac-anvil-question></div>
                </div>


            </div>
            <div ng-repeat="hint in doc.hints" ng-class="{content: true, active: $index == activeTab, 'force-print' : printingVisibility.hints}"  ng-init="questionTabIndex = $index; contentChildIndex = padIndex($index)">
                <div class='row'>
                    <div class="small-14 small-offset-1 columns end">
                        <h3 class="only-print">Hint {{$index + 1}}</h3>
                        <div isaac-content doc="hint" class="small-side-padding"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br class="no-print"/>
