<br class="no-print">
<div class='row'>
    <div class="small-16 columns end">
        <div isaac-content-value-or-children encoding="doc.encoding" value="doc.value" children="doc.children"></div>
    </div>
</div>
<div class="no-print">
    <br><br>
    <div class='row no-print'>
        <div class="small-14 small-offset-1 columns end">
            <div class='ru_answer_reveal {{pageSubject}}'>
                <div ng-click="isVisible=!isVisible">
                    <span ng-if="isVisible">Hide answer</span>
                    <span ng-if="!isVisible">Show answer</span>
                </div>
                <div ng-show="isVisible">
                    <div isaac-content-value-or-children encoding="doc.answer.encoding" value="doc.answer.value" children="doc.answer.children"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>