<br/>
<div class='row'>
    <div class="small-14 small-offset-1 columns end">
        <div isaac-content-value-or-children encoding="doc.encoding" value="doc.value" children="doc.children"></div>
    </div>
</div>
<br><br>
<div class='row'>
    <div class="medium-7 medium-offset-8 small-14 small-offset-1 columns end">
        <div class='ru_answer_reveal {{$root.pageSubject}}'>
            <div ng-click="isVisible=!isVisible"> 
                <span ng-if="isVisible">Hide answer</span> 
                <span ng-if="!isVisible">Show answer</span>
            </div>
            <div ng-show="isVisible">
                <div isaac-content-value-or-children encoding="doc.answer.encoding" value="doc.answer.value" children="doc.answer.children"></div>
                <div ng-click="isVisible=!isVisible" class='ru_answer_close'></div>
            </div>
        </div>
    </div>
</div>
<br/>