<div>
    <div class="row">
        <div class="small-14 small-offset-1 columns end">
            <h3><div isaac-content-value-or-children value="doc.value" children="doc.children" encoding="doc.encoding"></div></h3>
        </div>
    </div>
    <div class="row">
        <div class="medium-14 medium-offset-1 columns end no-print">
            <div equation-input state="ctrl.selectedFormula" question-doc="ctrl.plainDoc" editor-mode="editorMode"></div>
            <div ng-show="segueEnvironment == 'DEV'">
                <p>... or type your answer <strong>(beta)</strong>
                <input type="text" equation-text-input ng-model="ctrl.selectedTextFormula" placeholder="Type your answer here."></input>
                </p>
            </div>
        </div>
    </div>
</div>
