<div ng-if="value != null" ng-switch="encoding">
	<div ng-switch-when="markdown" bind-markdown md="value"></div>
	<div ng-switch-when="html" math-jax ng-bind-html="safeValue"></div>
	<div ng-switch-default>[CONTENT WITH UNKNOWN ENCODING: <i>{{encoding}}</i>]</div>
</div>

<div ng-repeat="cc in contentChunks" ng-init="contentChunkIndex = $index">
	<div ng-switch="cc.isAccordion">

		<!-- This chunk is an accordion, render it outside the grid -->
		<div ng-switch-when="true">
			<div isaac-content ng-repeat="c in cc" doc="c"></div>
		</div>

		<!-- This chunk is NOT an accordion, render it inside a grid row -->
		<!-- This chunk is NOT an accordion, give it some margins if we are top-level -->
		<div ng-switch-default>
			<div class="row">
			    <div ng-if="accordionSection" class="small-16 columns end">
					<div isaac-content ng-repeat="c in cc" doc="c" ng-init="valueOrChildren = {$index: $index}"></div>
    			</div>
			    <div ng-if="!accordionSection" class="small-14 small-offset-1 columns end">
					<div isaac-content ng-repeat="c in cc" doc="c" ng-init="valueOrChildren = {$index: $index}"></div>
    			</div>
    		</div>
    	</div>
	</div>
</div>
