<div class='ru-desktop-panel-content'>
    <div class='medium-12 columns'>
        <ul class='ru-crumb physics'>
            <li>Physics</li>
            <li>Mechanics</li>
            <li>Circular Motion</li>
        </ul>
    </div>
    <div class='medium-1 columns text-right'>
        <span class='ru-level'>Level: </span>
    </div>
    <div class='medium-2 end columns'>
         <span class='ru-level-physics-3 ru-level' aria-label='Physics Level 3'></span>    
    </div>
    <div class='clearfix'></div>
</div>
