<!-- Desktop panel - e.g. About Us  MUST BE FIRST-->
<div class='ru-desktop-panel-content hide-for-small-only'>
    <div class='medium-12 columns'>
        <ul class='ru-crumb physics'>
            <li>Physics</li>
            <li>Mechanics</li>
            <li>Circular Motion</li>
        </ul>
    </div>
    <div class='medium-1 columns text-right'>
        <span class='ru-level'>Level: </span>
    </div>
    <div class='medium-2 end columns'>
         <span class='ru-level-physics-3 ru-level'></span>    
    </div>
    <div class='clearfix'></div>
</div>

<!-- Mobile panel MUST BE SECOND - TODO: fix the below when we know what is happening with index page wrapper.-->

<div class='row show-for-small-only'>
    <div class='small-16 columns text-right'>
        <span class='ru-level-physics-3 ru-level'></span>  
    </div>
</div>
<div class='ru-mobile-crumb show-for-small-only'>
    <div class='row'>
        <div class='small-16 columns'>
            <ul class='physics'>
                <li>Physics</li>
                <li>Mechanics</li>
                <li>Circular Motion</li>
            </ul>
        </div>
	</div>
</div>