<div ng-switch="symbol.type">
	<div ng-switch-when="string" class="canvas-symbol string" ng-class="{selected: selected, dragging: dragging}" ng-style="{left: symbol.x, top: symbol.y}">
		<span class="katex-render-target measure-this"></span>
    </div>
	<div ng-switch-when="container" class="canvas-symbol container" ng-class="{selected: selected, dragging: dragging}" ng-style="{left: symbol.x - symbol.width/2, top: symbol.y-symbol.height/2, width: symbol.width, height: symbol.height}">
        <div ng-include="'/partials/equation_editor/symbols/containers.html'" style="width:100%;height:100%;"></div>
	</div>
    <div ng-switch-when="line" class="canvas-symbol line" ng-class="{selected: selected, dragging: dragging}" ng-style="{left: symbol.x-symbol.length/2, top: symbol.y-1.5, width: symbol.length, height: symbol.length / 20}">
        <div ng-include="'/partials/equation_editor/symbols/lines.html'" style="width:100%;height:100%;"></div>
    </div>
</div>