<div class="equation-editor" ng-click="editorClick()">
    <div top-menu="numbers">
        <h1>NUMBERS CONTENT</h1>
    </div>
    <div top-menu="letters">
        <div sub-menu></div>
        <div sub-menu-item="abc" symbol-menu symbols="symbolLibrary.latinLetters"></div>
        <div sub-menu-item="abg" symbol-menu symbols="symbolLibrary.greekLetters"></div>
    </div>
    <div top-menu="operators">
        MENU3 CONTENT
    </div>
    <div top-menu="functions">
        MENU4 CONTENT
    </div>


    <!-- BUTTONS -->

    <div class="hex-button undo">UNDO</div>
    <div class="hex-button redo">REDO</div>
    <div class="hex-button submit">SUBMIT</div>
</div>