<div class="equation-editor" ng-click="editorClick()">
    <div top-menu="numbers">
        <div number-entry></div>
    </div>
    <div top-menu="letters">
        <div sub-menu></div>
        <div sub-menu-item menu-title="latinLetterTitle" symbol-menu symbols="symbolLibrary.latinLetters"></div>
        <div sub-menu-item menu-title="greekLetterTitle" symbol-menu symbols="symbolLibrary.greekLetters"></div>
    </div>
    <div top-menu="operators">
        MENU3 CONTENT
    </div>
    <div top-menu="functions">
        MENU4 CONTENT
    </div>

    <div class="equation-canvas">
        <div ng-repeat="s in state.symbols" draggable-symbol symbol="s.symbolSpec" ng-style="{left: s.x, top: s.y}"></div>
    </div>

    <!-- BUTTONS -->

    <div class="hex-button undo">UNDO</div>
    <div class="hex-button redo">REDO</div>
    <div class="hex-button submit">SUBMIT</div>
</div>