<div>
    <a href="javascript:void(0)" ng-click="edit()" class="eqn-preview" editor-mode="editorMode" ng-style="{color: state.result.tex ? 'black' : '#ddd'}" style="border-radius: 3px;
  box-shadow: none;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 20px 0px;
  border: 1px solid #999;
  width:100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background: white;">
  &nbsp;
</a>
</div>
<div ng-show="editorMode == 'maths' && questionDoc.type && $root.userPreferences.BETA_FEATURE.EQN_TEXT_ENTRY">
    <input ng-keyup="textEdit()" type="text" class="eqn-text-input" maxlength="200" placeholder="Or type your answer (beta!)" style="font-family: monospace; font-size: 1.4rem;"></input>
</div>