<div>
    <div style="position: relative">
        <a href="javascript:void(0)" ng-click="edit()" class="eqn-preview" editor-mode="editorMode" ng-style="{color: state.result.tex ? 'black' : '#ddd'}" style="border-radius: 3px;
            box-shadow: none;
            font-size: 2rem;
            padding: 0.5rem;
            margin: 20px 0px;
            border: 1px solid #999;
            width:100%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            background: white;"
            >
            <div class="edit-eqn-icon" ng-show="state.result.tex" style="position: absolute; left: 10px; color: #999; bottom: 0; top: 0; display: flex; align-items: center;">&#9998;</div>
            <div class="inner-eqn-preview">&nbsp;</div>
        </a>
    </div>
</div>
<div ng-show="editorMode == 'maths'">
    <div class="equation-editor-text-entry" style="height: 0; overflow: hidden"></div>
    <input ng-keyup="textEdit()" ng-paste="textEdit()" type="text" class="eqn-text-input" maxlength="200" placeholder="Or type your answer here" style="font-family: monospace; font-size: 1.4rem;" autocorrect="off" autocapitalize="off" spellcheck="false"></input>
    <div ng-show="textEntryError.length > 0" style='margin-bottom:10px'><strong>Careful!</strong>
        <ul>
            <li ng-repeat="e in textEntryError">{{e}}</li>
        </ul>
    </div>
    <div ng-show="symbolList" style='font-size:1rem;margin-bottom:10px;color:#aaa;'>The following symbols may be useful: <pre style="font-size:0.75rem;font-family:Menlo,monospace;display:inline;white-space:pre-wrap;"> {{symbolList}}</pre></div>
</div>
