<div class="menu-list-container">
    <ul>
       		<li menu-symbol symbol="symbols[1]" ng-click="buttonClick('1')"></li>
			<li menu-symbol symbol="symbols[2]" ng-click="buttonClick('2')"></li>
			<li menu-symbol symbol="symbols[3]" ng-click="buttonClick('3')"></li>
			<li menu-symbol symbol="symbols[4]" ng-click="buttonClick('4')"></li>
			<li menu-symbol symbol="symbols[5]" ng-click="buttonClick('5')"></li>
			<li menu-symbol symbol="symbols[6]" ng-click="buttonClick('6')"></li>
			<li menu-symbol symbol="symbols[7]" ng-click="buttonClick('7')"></li>
			<li menu-symbol symbol="symbols[8]" ng-click="buttonClick('8')"></li>
			<li menu-symbol symbol="symbols[9]" ng-click="buttonClick('9')"></li>
			<li menu-symbol symbol="symbols[0]" ng-click="buttonClick('0')"></li>
    </ul>
</div>