<div class="row">
	<div class="small-8 columns">
		<ul class="small-block-grid-6 button-grid">
			<li ng-click="buttonClick('1')">1</li>
			<li ng-click="buttonClick('2')">2</li>
			<li ng-click="buttonClick('3')">3</li>
			<li ng-click="buttonClick('4')">4</li>
			<li ng-click="buttonClick('5')">5</li>
			<li ng-click="buttonClick('6')">6</li>
			<li ng-click="buttonClick('7')">7</li>
			<li ng-click="buttonClick('8')">8</li>
			<li ng-click="buttonClick('9')">9</li>
			<li ng-click="buttonClick('.')">.</li>
			<li ng-click="buttonClick('0')">0</li>
			<li ng-click="buttonClick('^')">^</li>
		</ul>
	</div>
	<div class="small-5 columns">
		<input name="number" type="text" ng-model="currentNumber"/>
		<div class="input-exponent" ng-if="currentExponent != null"><span>10<sup>{{currentExponent}}</sup></span></div>
		<div class="input-clear" ng-click="clearInput()">&times;</div>
	</div>
	<div class="small-3 columns">
		<div ng-show="currentSymbol != null" class="menu-list-container number-hex">
		    <ul>
		        <li draggable-symbol symbol="currentSymbol"></li>
		    </ul>
		</div>
	</div>
</div>