<div class="row number-bar">
    <div class="small-16 columns">
        <!--<div number-menu symbols="symbolLibrary.theNumbers" ></div> -->
        <ul class="small-block-grid-7 button-grid">
            <li menu-symbol symbol="symbols['one']" ng-click="buttonClick('1')"></li>
            <li menu-symbol symbol="symbols['two']" ng-click="buttonClick('2')"></li>
            <li menu-symbol symbol="symbols['three']" ng-click="buttonClick('3')"></li>
            <li menu-symbol symbol="symbols['four']" ng-click="buttonClick('4')"></li>
            <li menu-symbol symbol="symbols['five']" ng-click="buttonClick('5')"></li>
            <li menu-symbol symbol="symbols['six']" ng-click="buttonClick('6')"></li>
            <li class="wedgeFit" style="margin-left: 31px;"  menu-symbol symbol="symbols['seven']" ng-click="buttonClick('7')"></li>
            <li class="wedgeFit" menu-symbol symbol="symbols['eight']" ng-click="buttonClick('8')"></li>
            <li class="wedgeFit" menu-symbol symbol="symbols['nine']" ng-click="buttonClick('9')"></li>
            <li class="wedgeFit" menu-symbol symbol="symbols['zero']" ng-click="buttonClick('0')"></li>
            <li class="wedgeFit" ng-click="buttonClick('-')" style="font-size:30px; white-space: nowrap; line-height: 60px;padding-left:9px; color: #333">±</li>
        </ul>
        <div class="number-input-panel">
            <input name="number" type="text" ng-model="currentNumber" />
            <div class="input-exponent" ng-if="currentExponent != null"><span>10<sup>{{currentExponent}}</sup></span></div>
            <div class="input-clear" ng-click="clearInput()">&times;</div>
        </div>
        <div class="number-entry-symbol">
            <div ng-show="!editSymbol && currentSymbol != null" class="menu-list-container number-hex">
                <ul>
                    <li menu-symbol symbol="currentSymbol"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
