<svg style="width: 120px; height:120px;" viewbox="0.6 1.85 4 4">
    <defs>
        <filter id="symbol-handle-shadow" width="130%" height="130%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="0.1"/> 
            <feOffset dx="0.1" dy="0.1"/>
            <feComponentTransfer xmlns="http://www.w3.org/2000/svg">
                <feFuncA type="linear" slope="0.5"/>
            </feComponentTransfer>
            <feMerge> 
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/> 
            </feMerge>        
        </filter>
    </defs>
    <g filter="url(#symbol-handle-shadow)">
        <g ng-if="selectionHandleFlags.showMove" ng-class="{'handle-fade': dragging && dragMode!='move'}">
            <polygon class="handle-move"   points="2,0    3,0.67 3,1.67 2,2.33 1,1.67 1,0.67" />
            <image xlink:href="/assets/equation_editor/handle-move.png" x="1.3" y="0.47" width="1.4" height="1.4"/>
        </g>

        <g ng-if="selectionHandleFlags.showResize" ng-class="{'handle-fade': dragging && dragMode!='resize'}">
            <polygon class="handle-resize" points="1,1.67 2,2.33 2,3.33 1,4    0,3.33 0,2.33" />
            <image xlink:href="/assets/equation_editor/handle-resize.png" x="0.3" y="2.14" width="1.4" height="1.4"/>
        </g>
        
        <g ng-if="selectionHandleFlags.showCalc" ng-class="{'handle-fade': dragging}">
            <polygon class="handle-calc"   points="3,1.67 4,2.33 4,3.33 3,4    2,3.33 2,2.33" />
            <image xlink:href="/assets/equation_editor/handle-calc.png" x="2.3" y="2.25" width="1.4" height="1.2"/>
        </g>
    </g>
</svg>