<div class="symbol-list-container">
    <ul>
        <li draggable-symbol>S1</li>
        <li draggable-symbol>S2</li>
        <li draggable-symbol>S3</li>
        <li draggable-symbol>S4</li>
        <li draggable-symbol>S5</li>
        <li draggable-symbol>S6</li>
        <li draggable-symbol>S7</li>
        <li draggable-symbol>S8</li>
        <li draggable-symbol>S9</li>
        <li draggable-symbol>S11</li>
        <li draggable-symbol>S12</li>
        <li draggable-symbol>S13</li>
        <li draggable-symbol>S14</li>
        <li draggable-symbol>S15</li>
        <li draggable-symbol>S16</li>
        <li draggable-symbol>S17</li>
        <li draggable-symbol>S18</li>
        <li draggable-symbol>S19</li>
        <li draggable-symbol>S21</li>
        <li draggable-symbol>S22</li>
        <li draggable-symbol>S23</li>
        <li draggable-symbol>S24</li>
        <li draggable-symbol>S25</li>
        <li draggable-symbol>S26</li>
        <li draggable-symbol>S27</li>
        <li draggable-symbol>S28</li>
        <li draggable-symbol>S29</li>
        <li draggable-symbol>S31</li>
        <li draggable-symbol>S32</li>
        <li draggable-symbol>S33</li>
        <li draggable-symbol>S34</li>
        <li draggable-symbol>S35</li>
        <li draggable-symbol>S36</li>
        <li draggable-symbol>S37</li>
        <li draggable-symbol>S38</li>
        <li draggable-symbol>S39</li>
    </ul>
</div>
