<div class="medium-16 columns chemistry">
  <div class="book-intro">
    <h1 class="book-heading ru_chemistry">{{introText.title}}</h1>
    <strong ng-show="introText.subtitle">{{introText.subtitle}}</strong>
    <img class="book-cover" src="assets/books/chemistry_16.jpg" alt="Cover image of the book.">
    <div isaac-content doc="introText" />
  </div>
  
  <h4>Chapters:</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_a_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">a</span>
        </span>
        Formulae &amp; Equations
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_b_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">b</span>
        </span>
        Amount of Substance
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_c_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">c</span>
        </span>
        Gas Laws
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_d_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">d</span>
        </span>
        Atomic Structure
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_e_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">e</span>
        </span>
        Electronic Spectroscopy
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_f_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">f</span>
        </span>
        Enthalpy Changes
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_g_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">g</span>
        </span>
        Entropy
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_h_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">h</span>
        </span>
        Free Energy
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_i_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">i</span>
        </span>
        Equilibrium
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_j_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">j</span>
        </span>
        Acids &amp; Bases
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_k_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">k</span>
        </span>
        Redox
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_l_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">l</span>
        </span>
        Electrochemistry
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('chem_16_m_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">m</span>
        </span>
        Rate Laws, Graphs &amp; Half-life
      </a>
    </li>
  </ul>
</div>
<div isaac-modal="bookChapterOptions" class="chemistry">
  <div class="reveal-modal-head">
    <h2>{{modalContent.title}}</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body book-chapter-options">
    <div isaac-content doc="modalContent" />
  </div>
</div>
