<div class="equation-editor" tabindex="0" style="border: 5px solid #000;"> 

    <div id="graphSketcher" class="graph-sketcher"></div>
    <div class="hex-button undo graph" ng-click="undo()" ng-if="isUndoable()"></div>
    <div class="hex-button redo graph" ng-click="redo()" ng-if="isRedoable()"></div>
    <div class="hex-button submit" ng-click="submit()"></div>
    <div class="hex-button poly" ng-click="poly()"></div>
    <div class="hex-button straight" ng-click="straight()"></div>

    <div class="trash-button graph" ng-click="clean()" ng-mousedown="" ng-class="{active: trashActive}"></div>
    <div class="question-reminder show-for-large-up" ng-if="questionDoc && isLandscape && (questionDoc.value || questionDoc.children.length > 0)">
        <div isaac-content doc="questionDoc"></div>
        <div style="padding-bottom: 20px;">You are restricted to 3 curves at any one time.</div>
    </div>

    <select class="color-select" style="right: 100px; top: 20px; z-index: 9999; width: 140px; height: 40px; position: absolute;">
        <option value="Blue" selected>Blue</option> 
        <option value="Orange">Orange</option>
        <option value="Green">Green</option>
    </select>

</div>