<div>
    <div href="javascript:void(0)" ng-click="edit()" class="eqn-preview" ng-style="{color: state.result ? 'black' : '#ddd'}" 
  style="
  border-radius: 3px;
  box-shadow: none;
  font-size: 2rem;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #999;
  width:100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background: white;
  ">

  <div ng-if="isTherePreviousAnswer()" graph-preview state="state" question-doc="questionDoc"> </div>
  <div ng-if="!isTherePreviousAnswer()"> Click to enter your answer </div>
  
</div>

<!-- <p> There is a canvas underneath </p>
 -->


</div>
