<div class="equation-editor" tabindex="0" style="border: 5px solid #000;">
    <div id="graphSketcher" class="graph-sketcher"></div>
    <div class="hex-button undo graph" ng-click="p.undo()" ng-if="p.isUndoable()"></div>
    <div class="hex-button redo graph" ng-click="p.redo()" ng-if="p.isRedoable()"></div>
    <!--   <div class="hex-button clearAll" ng-click=""></div> -->
    <div class="hex-button submit" ng-click="submit()"></div>
    <div class="trash-button graph" ng-click="p.clean()" ng-mousedown="" ng-class="{active: trashActive}"></div>
    <div class="question-reminder show-for-large-up" ng-if="questionDoc && isLandscape && (questionDoc.value || questionDoc.children.length > 0)">
        <div isaac-content doc="questionDoc"></div>
    </div>
</div>
