<div class="equation-editor" tabindex="0"  style="border: 5px solid #000;">
  <div class="graph-sketcher">
    <!-- <button class="test">Test</button>
    <button class="testCase">Test Case</button>
    <button class="drawnCase">Drawn Case</button>
    <button class="custom">Custom</button>

    <button class="clear">Clear</button>
    <button class="testCasePrint">Print Test Case</button>
    <button class="drawnCasePrint">Print Drawn Case</button> -->
  </div>
  <div class="hex-button undo" ng-click="" ></div>
  <div class="hex-button redo" ng-click=""></div>
  <div class="hex-button clearAll" ng-click=""></div>
  
  <div class="hex-button submit" ng-click="submit()"></div>
</div>
