<section>
    <div class="ru-border ru-concept">
        <div class="row">
            <div class="small-14 small-offset-1 columns end">
                <div class="ru_share">
                    
                </div>
                <div class='ru_share_link'>
                    <div>
                        http://issacphysics/2736
                    </div>
                 </div>
                <div class="ru_acrobat"></div>
                <h2 class="ru_physics">{{doc.title}}</h2>
                <h3 class='subheader'><strong>Physics Concept</strong></h3>
                
                
            </div>
        </div>
        <isaac-content doc="doc"></isaac-content>
    </div>

</section>

<!-- Buttons -->
<section>
    <div class="row">
        <div class="large-8 large-offset-4 medium-12 medium-offset-2 small-16 columns ru-concept-buttons">
            <ul class='medium-block-grid-2 small-block-grid-2 ru-pad'>
                <li><a class='ru-concept-button' href="">Back to Board</a></li>
                <li><a class='ru-concept-button' ui-sref="conceptsIndex()">Concept Index</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Additional Information Panel -->
<section>
    <div class="row">
        <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad ru_pods">
            <li>
                <div class="panel ru_pod">
                    <div class='ru_pod_title'>
                        <img src='/assets/icon-books.png' class='img-responsive'>
                        <h5>Related Concepts</h5>
                    </div>
                    <hr>
                    <h5 class='ru_green'>Concept: Energy</h5>
                    <h5>Energy, work and power</h5>
                    <br>
                    <h5 class='ru_green'>Concept: Energy</h5>
                    <h5>Energy, work and power</h5>
                    <br>
                    <h5 class='ru_green'>Concept: Energy</h5>
                    <h5>Energy, work and power</h5>
                    <br>
                </div>
            </li>
            <li>
                <div class="panel ru_pod">
                    <div class='ru_pod_title'>
                        <img src='/assets/icon-search-concepts.png'>
                        <h5>Related Questions</h5>
                    </div>
                    <hr>
                    <h5 class='ru_green'>Concept: Energy</h5>
                    <h5>Energy, work and power</h5>
                    <br>
                    <h5 class='ru_green'>Concept: Energy</h5>
                    <h5>Energy, work and power</h5>
                    <br>
                    <h5 class='ru_green'>Concept: Energy</h5>
                    <h5>Energy, work and power</h5>
                    <br>
                </div>
            </li>
            <li>
                <div class="panel ru_pod ru_pod_forum">
                    <div class='ru_pod_title'>
                        <img src='/assets/icon-help-forum.png'>
                        <h5>Discuss</h5>
                        <span><em>Chat on the forum</em></span>
                    </div>
                    <hr>
                    <h6>Related Threads</h6>
                    <a href=''>Second hand question?</a>
                    <a href=''>Needing help with second hand question!</a>
                </div>
            </li>
        </ul>
    </div>
</section>
