<div desktop-panel>
	<h1>Account Settings</h1>
	<h2 class="subheader">Create/ update your <span class="ru_green">isaac</span> account</h2>
</div>
<div mobile-panel>
	<img class='right' src='/assets/icon-share.png'>
	<h1>Account settings</h1>
	<h2 class='subheader'>Join the community.</h2>
</div>
<div class="row account-settings-wrap">
	<div class="panel">
		<span ng-if="user.givenName"> {{user}}</span>
		<ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad">
            <li>
                <div class="row">
                    <div class="large-16 medium-8 columns">
            	       <label for="account-firstname"><strong>First Name</strong><span class="ru-form-required"></span></label>
    				        <input id="account-firstname" type="text" ng-model="user.givenName" class="account-settings-input">
                    </div>
                    <div class="large-16 medium-8 columns">
				        <label for="account-lastname"><strong>Last Name</strong><span class="ru-form-required"></span></label>
    				    <input id="account-lastname" type="text" ng-model="user.familyName" class="account-settings-input">
                    </div>
                </div>
				<label for="account-email"><strong>Your Email Address</strong><span class="ru-form-required"></span></label>
    			<input id="account-email" type="text" ng-model="user.email" class="account-settings-input">
            </li>
            <li>
            <div class="row">
                <div class="large-8 medium-8 columns">
                    <label for="account-password">
                        <strong ng-if="user.hasSegueAccount">Change password</strong>
                        <strong ng-if="!user.hasSegueAccount">Set password</strong>
                    </label>
                    <input id="account-password" type="password" ng-model="user.password" placeholder="***********">        
                </div>
                <div class="large-8 medium-8 columns">
                    <label for="account-password2" ng-class="{'disabled' : !user.password}"><strong>Confirm password</strong></label>
                    <input ng-show="!user.password" id="account-password2" type="password" placeholder="***********" match="user.password" disabled>
                    <input ng-show="user.password" id="account-password2" type="password" placeholder="***********" match="user.password">
                </div>
            </div>
            <label>
                <input type="radio" ng-model="user.gender" value="MALE">  Male <br/>
                <input type="radio" ng-model="user.gender" value="FEMALE"> Female <br/>
		</label>
        <select>
            <option ng-repeat="day in dob.days()" value="{{day}}">{{day}}</option>
        </select>
        <select>
            <option ng-repeat="month in dob.months" value="{{$index}}">{{month}}</option>
        </select>
        <select ng-model="dobYear">
            <option ng-repeat="year in dob.years()" value="{{year}}">{{year}}</option>
        </select>
            </li>
            <li>
            <label>
    		<strong>Starting level</strong></label>
                <select ng-model="user.defaultLevel">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
		<label>
    		<strong>School</strong><span class="ru-form-required"></span>
        </label>
    		<div school-dropdown selected-school-urn="user.schoolId">
            </div>
        </ul>
        {{schools}}
        <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1 ru-pad">
            <li><a class="ru-button-big expand" ng-click="save()">Save</a></li>
            <!-- TODO: What is skip going to do? -->
            <li><a class="ru-button-big expand secondary" ng-click="save()">Skip this step</a></li>
        </ul>
	</div>
</div>

