<div class="admin-stats">
    <div class="small-16 columns">
        <h1>Isaac Statistics</h1>
    </div>

    <div class="row">
        <div class="small-16 columns">
            <div class="panel white clearfix">
                <h2>Statistics Menu</h4>
                <ul class="no-bullet horizontal-list">
                    <li><a href="javascript:void(0)" ui-sref="adminStats.schoolUserSummaryList">Show School Data</a></li>
                    <li><a href="javascript:void(0)" ui-sref="adminStats.popularGameboards">Show Gameboard Data</a></li>
                    <li><a href="javascript:void(0)" ui-sref="adminStats.isaacAnalytics">Show Analytics</a></li>                
                </ul>            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-16 columns">
            <div class="panel white clearfix">
                <div class="small-16 columns">
                    <h2>Statistics at a glance</h2>
                </div>
                <div>
                    <div class="medium-8 small-16 columns">
                        <ul>
                            <li>
                                <strong>Users: Active (6 months): {{statistics.activeInLastSixMonths}} / Registered: {{statistics.totalUsers}}</strong>
                                <ul>
                                    <li>
                                        <strong>Gender</strong>
                                        <ul>
                                            <li>Male: {{statistics.gender.MALE}}</li>
                                            <li>Female: {{statistics.gender.FEMALE}}</li>
                                            <li>Unknown: {{statistics.gender.OTHER}}</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Role</strong>
                                        <ul>
                                            <li>Student (unknown role): {{statistics.role.STUDENT || 0 }}</li>
                                            <li>Teacher: {{statistics.role.TEACHER || 0 }}</li>
                                            <li>Event Manager: {{statistics.role.EVENT_MANAGER || 0 }}</li>
                                            <li>Content Editor: {{statistics.role.CONTENT_EDITOR || 0 }}</li>
                                            <li>Admin: {{statistics.role.ADMIN || 0 }}</li>
                                            <li>Tester: {{statistics.role.TESTER || 0 }}</li>
                                            <li>Staff: {{statistics.role.STAFF || 0 }}</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Profile Completion</strong>
                                        <ul>
                                            <li>School provided: {{statistics.hasSchool}} ({{statistics.hasSchoolOther}} - from 'school other')</li>
                                            <li>No School Information: {{statistics.hasNoSchool}}</li>
                                        </ul>
                                    </li> 
                                    <li>
                                        <strong>Last Seen Data (non-staff)</strong>
                                        <ul>
                                            <li>Last 7 days: {{statistics.activeUsers.sevenDays.total || 0}} (Teachers: {{statistics.activeUsers.sevenDays.TEACHER || 0}}, Students: {{statistics.activeUsers.sevenDays.STUDENT || 0}})</li>
                                            <li>Last 30 days: {{statistics.activeUsers.thirtyDays.total || 0}} (Teachers: {{statistics.activeUsers.thirtyDays.TEACHER || 0}}, Students: {{statistics.activeUsers.thirtyDays.STUDENT || 0}})</li>
                                            <li>Last 90 days: {{statistics.activeUsers.ninetyDays.total || 0}} (Teachers: {{statistics.activeUsers.ninetyDays.TEACHER || 0}}, Students: {{statistics.activeUsers.ninetyDays.STUDENT || 0}})</li>
                                        </ul>
                                    </li>                                                            
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="medium-8 small-16 columns">
                        <ul>
                            <li>
                                <strong>Events</strong>
                                <ul>
                                    <li>Viewed Questions Events: {{statistics.viewQuestionEvents}}</li>
                                    <li># of Questions Answered Events ({{statistics.answeredQuestionEvents}})</li>
                                    <li># of Users Answering Questions<ul>
                                        <li>Last 7 days: Teachers: {{statistics.answeringUsers.sevenDays.TEACHER || 0}}, Students: {{statistics.answeringUsers.sevenDays.STUDENT || 0}}</li>
                                        <li>Last 30 days: Teachers: {{statistics.answeringUsers.thirtyDays.TEACHER || 0}}, Students: {{statistics.answeringUsers.thirtyDays.STUDENT || 0}}</li>
                                        <li>Last 90 days: Teachers: {{statistics.answeringUsers.ninetyDays.TEACHER || 0}}, Students: {{statistics.answeringUsers.ninetyDays.STUDENT || 0}}</li>                    
                                    </ul></li>
                                </ul>
                            </li> 
                            <li>
                                <strong>KPIs</strong>
                                <ul>
                                    <li>Groups: {{statistics.groupCount}}</li>
                                    <li>Total Event Bookings: {{eventBookingsCount}}</li>
                                </ul>
                            </li>
                        </ul>      
                    </div>                
                </div>
            </div>        
        </div>
    </div>
    <div class="row" ng-hide="globalFlags.loading">
        <div class="small-16 columns">
            <div ui-view></div>
        </div>
    </div>
</div>