<div class="small-16 columns">
    <h1>Isaac Statistics Viewer</h1>
</div>
<div class="row">
    <div class="small-16 columns">
        <div class="panel white clearfix">
            <div class="small-16 columns">
                <h2>Statistics Menu</h2>
            	<ul>
            		<li><a href="javascript:void(0)" ng-click="getSchoolListData()">Show School Data</a></li>
            		<li><a href="javascript:void(0)" ng-click="getGameboardListData()">Show Gameboard Data</a></li>
            	</ul>

            </div>

        </div>      
    </div>
</div>

<div class="row" ng-if="visibleStatsPanel == 'gameboardList'">
    <div class="small-16 columns">
        <div class="panel white clearfix">
            <div class="small-16 columns">
                <h2>Gameboards By Popularity ({{gameboardListData.sharedBoards}} shared)</h2>
            </div>
            <div class="small-16 columns">
                <div class="text-center" ng-if="statsLoading">
                    <img src="/assets/loading.gif">
                </div>    
            </div>
            <div ng-if="!statsLoading">
                <div class="small-16 columns">
                <table>
                	<tr>
                		<th>Gameboard Id</th>
                		<th>Gameboard Title</th>
                		<th># of users connected</th>
                	</tr>
                	<tr ng-repeat="item in gameboardListData.boardList">
                		<td><a href="javascript:void(0)" ui-sref="board({id: item.gameboard.id})">{{item.gameboard.id}}</a></td>
                		<td>{{item.gameboard.title || generateGameBoardTitle(item.gameboard)}}</td>
                		<td>{{item.connections}}</td>
                	</tr>
                </table>
                </div>      
            </div>
        </div>        
    </div>
</div>

<div class="row" ng-if="visibleStatsPanel == 'schoolList'">
    <div class="small-16 columns">
        <div class="panel white clearfix">
            <div class="small-16 columns">
                <h2>Schools By User Links</h2>
            </div>
            <div class="small-16 columns">
                <div class="text-center" ng-if="statsLoading">
                    <img src="/assets/loading.gif">
                </div>    
            </div>
            <div ng-if="!statsLoading">
                <div class="small-16 columns">
                <table>
                	<tr>
                		<th>School URN</th>
                		<th>School Name</th>
                		<th>School PostCode</th>
                		<th># of users connected</th>
                	</tr>
                	<tr ng-repeat="item in schoolListData">
                		<td><a href="javascript:void(0)" ng-click="getSchoolUserListData(item.school.urn, item.school.name)">{{item.school.urn}}</a></td>
                		<td>{{item.school.name}}</td>
                		<td>{{item.school.postcode}}</td>
                		<td>{{item.connections}}</td>
                	</tr>
                </table>
                </div>      
            </div>
        </div>        
    </div>
</div>

<div class="row" ng-if="visibleStatsPanel == 'schoolUserList'">
    <div class="small-16 columns">
        <div class="panel white clearfix">
            <div class="small-16 columns">
                <h2>Users at {{schoolSelected}}</h2>
            </div>
            <div class="small-16 columns">
                <div class="text-center" ng-if="statsLoading">
                    <img src="/assets/loading.gif">
                </div>    
            </div>
            <div ng-if="!statsLoading">
                <div class="small-16 columns">
                <table>
                	<tr>
                		<th>Name</th>
                		<th>Role</th>
                		<th>Gender</th>
                		<th>Registration Date</th>
                	</tr>
                	<tr ng-repeat="item in schoolUserListData">
                		<td>{{item.familyName}}, {{item.givenName}}</td>
                		<td>{{item.role || 'NOT_SET (Student)'}}</td>
                		<td>{{item.gender}}</td>
                		<td>{{item.registrationDate | date:'dd/MM/yyyy'}}</td>
                	</tr>
                </table>
                </div>      
            </div>
        </div>        
    </div>
</div>