<div class="small-16 columns">
    <h1>Isaac Administration</h1>
</div>

<div class="row">
    <div class="small-16 columns">
        <div class="panel white clearfix">
            <h2>Useful links</h4>
            <ul class="no-bullet horizontal-list">
                <li><a ui-sref="adminUserManager">User Manager</a></li>
                <li><a ui-sref="contentErrors">Content Errors Page</a></li>
                <li><a ng-href="{{tagsUrl}}" target="_blank">List of tags</a></li>
                <li><a ng-href="{{unitsUrl}}" target="_blank">List of units</a></li>
                <li><a ui-sref='adminStats'>Statistics</a></li>
                <li ng-show="isAdminUser"><a ui-sref='adminEmails'>Email Sending</a></li>
            </ul>            
        </div>
    </div>
</div>
<div class="row">
    <div class="small-16 columns">
        <div class="panel white clearfix">
            <div class="small-16 columns">
                <h2>Admin Console</h2>
                <ul>
                    <li ng-show="segueVersion"><strong>API Version:</strong> {{segueVersion.segueVersion}}</li>                    
                    <!-- <li ng-show="indexQueue" title="{{indexQueue.queue}}"><strong>Current Index Queue Size:</strong> {{indexQueue.queue.length}} <span ng-show="indexQueue.queue.length > 0">[<a href="javascript:void(0)" ng-click="clearIndexQueue()">Clear Unstarted jobs</a>]</span></li> -->
                    <!-- <li ng-show="cachedVersions" title="{{cachedVersions.cachedVersions}}"><strong>Content Versions Cached:</strong> {{cachedVersions.cachedVersions.length}}</li>    -->
                </ul>                
            </div>
        </div>            
    </div>
</div>
<div ng-show="isStaffUser">
    <div class="row">
        <div class="small-16 columns">
            <div class="panel white clearfix">
                <div class="row">
                    <div class="small-16 columns">
                        <h2>Administrative tools</h2>
                    </div>
                </div>
                <div ng-show="isStaffUser" class="row">
                    <div class="small-16 columns">
                       <h3>Manage site content <a name="content">&nbsp;</a></h3>
                    </div>
                    <div class="medium-5 columns text-right">
                       <label for="content-version">
                            <strong>Live Content Version</strong>
                        </label>
                    </div>
                    <form ng-submit="setVersion()" ng-if="isAdminUser">
                        <div class="medium-7 columns end">
                            <input id="content-version" type="text" ng-model="contentVersion.liveVersion" placeholder="Enter commit SHA" ng-change="versionChange = null">
                        </div>
                        <div class="medium-4 columns end" ng-if="versionChange != 'IN_PROGRESS'">
                            <button ng-click="setVersion()">Set Version</button>
                        </div>
                    </form>
                    <form ng-if="isStaffUser && !isAdminUser">
                        <div class="medium-7 columns end">
                            <input id="content-version" type="text" ng-model="contentVersion.liveVersion">
                        </div>
                    </form>
                </div>
                <div class="row" ng-if="versionChange == 'IN_PROGRESS'">
                    <div class="medium-16 columns text-center">
                        <h4>Updating...</h4>
                        <img src="/assets/loading.gif">
                    </div>
                </div>
                <div class="row" ng-if="versionChange == 'SUCCESS'">
                    <div class="medium-16 columns text-center">
                        <h4>Content version changed successfully.</h4>
                    </div>
                </div>
                <div class="row" ng-if="versionChange == 'ERROR'">
                    <div class="medium-16 columns text-center">
                        <h4 style="color:#a00;">Error: Content version could not be changed.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

