<div class="admin-user-manager">
    <div class="row">
        <div class="medium-16 columns">
            <div class="panel white clearfix">
                <form ng-submit="findUsers()">
                    <div class="medium-8 columns">
                        <label for="user-search-familyName">
                            <strong>Find a user by family name</strong>
                        </label>
                        <input id="user-search-familyName" type="text" ng-model="userSearch.searchTerms.familyName" placeholder="Enter user family name">

                        <label for="user-search-email">
                            <strong>Find a user by email</strong>
                        </label>
                        <input id="user-search-email" type="text" ng-model="userSearch.searchTerms.email" placeholder="Enter user email">

                        <label for="user-school-other">
                            <strong>Find by manually entered school:</strong>
                        </label>
                        <input id="user-school-other" name="schoolOther" type="text" ng-model="userSearch.searchTerms.schoolOther" placeholder="Enter a possible school name" >

                        <label>
                            <strong>Find users by subject interest:</strong>
                        </label>
                        <select id="user-search-subject" ng-model="userSearch.searchTerms.subjectOfInterest">
                            <option value="">Any Subject</option>
                            <option value="PHYSICS_GCSE">Physics GCSE</option>
                            <option value="PHYSICS_ALEVEL">Physics A-Level</option>
                            <option value="PHYSICS_UNI">Physics Uni</option>
                            <option value="CHEMISTRY_GCSE">Chemistry GCSE</option>
                            <option value="CHEMISTRY_ALEVEL">Chemistry A-Level</option>
                            <option value="CHEMISTRY_UNI">Chemistry Uni</option>
                            <option value="MATHS_GCSE">Maths GCSE</option>
                            <option value="MATHS_ALEVEL">Maths A-Level</option>
                            <option value="MATHS_UNI">Maths Uni</option>
                        </select>
                    </div>
                    <div class="medium-8 columns">
                        <label for="user-search-role">
                            <strong>Find by user role:</strong>
                        </label>
                        <select id="user-search-role" ng-model="userSearch.searchTerms.role">
                            <option value="">Any Role</option>
                            <option value="STUDENT">Student</option>
                            <option value="TEACHER">Teacher</option>
                            <option value="CONTENT_EDITOR">Content Editor</option>
                            <option value="EVENT_MANAGER">Event Manager</option>
                            <option value="ADMIN">Admin</option>
                        </select>

                        <label>
                            <strong>Find users with school within a given distance of postcode:</strong>
                        </label>
                        <div class="row">
                            <div class="medium-10 columns">
                                <input id="user-location" name="location" type="text" ng-model="userSearch.searchTerms.postcode" placeholder="Enter a valid postcode" >
                            </div>
                            <div class="medium-6 columns">
                                <select id="user-search-postcode_radius" ng-model="userSearch.searchTerms.postcoderadius">
                                    <option value="FIVE_MILES">5 Miles</option>
                                    <option value="TEN_MILES">10 Miles</option>
                                    <option value="FIFTEEN_MILES">15 Miles</option>
                                    <option value="TWENTY_MILES">20 Miles</option>
                                    <option value="TWENTY_FIVE_MILES">25 Miles</option>
                                    <option value="FIFTY_MILES">50 Miles</option>
                                </select>
                            </div>
                        </div>

                        <label>
                            <strong>Find users with by school URN:</strong>
                        </label>
                        <input id="user-school-urn" name="schoolURN" type="text" ng-model="userSearch.searchTerms.schoolURN" placeholder="Enter a valid school URN" >
                    </div>

                    <div class="medium-16 columns end">
                        <button class="button small" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-16 columns">
            <div class="panel white clearfix">
                <div class="small-16 columns">
                    <h3>Manage Users ({{userSearch.results.length}}) Selected ({{getSelectedUserIds().size}})<a name="users">&#160;</a></h3>
                </div>
                <div class="medium-16 columns end">
                    <div class="small-16 columns" ng-if="userSearch.isLoading">
                        <div class="text-center" >
                            <img src="/assets/loading.gif">
                        </div>
                    </div>
                    <div class="row" ng-if="true || (userSearch.results && !userSearch.isLoading)">
                        <div class="small-3 columns">  
                        <a class="button small" data-dropdown="elevateDropdown" >Elevate to &#x25BC;</a>
                            <ul id="elevateDropdown" class="f-dropdown open f-open-dropdown" aria-hidden="false" data-dropdown-content>
                                <li><a href="javascript:void()"  ng-click="modifySelectedUsersRole('TEACHER')">Teacher</a></li>
                            </ul>
                        </div>
                        <div class="small-7 columns end"> 
                        <a class="button  small" data-dropdown="demoteDropdown" >Demote to &#x25BC;</a>
                            <ul id="demoteDropdown" class="f-dropdown" data-dropdown-content>
                                <li><a href="javascript:void()"  ng-click="modifySelectedUsersRole('STUDENT')">Student</a></li>
                            </ul>
                        </div>
                        <div class="small-3 columns">
                            <a ng-if="user.role == 'ADMIN'" class="button small" ui-sref="adminEmailsWithUserIds({'userIds': getSelectedUserIdArray()})">Email</a>
                        </div>
                        <div class="small-3 columns"> <a class="button small" data-dropdown="markAsDropdown" >Mark as &#x25BC;</a>
                            <ul id="markAsDropdown" class="f-dropdown" data-dropdown-content>
                                <li><a href="javascript:void()" ng-click="modifySelectedUsersEmailVerificationStatus('NOT_VERIFIED')">NOT_VERIFIED</a></li>
                                <li><a href="javascript:void()" ng-click="modifySelectedUsersEmailVerificationStatus('DELIVERY_FAILED')">DELIVERY_FAILED</a></li>
                            </ul>
                        </div>
                        <div class="small-16 columns" style="overflow:scroll; height:400px;">
                            <table>
                                <tr>
                                    <th><a href="javascript:void(0);" ng-click="toggleUserSelection()">Select</a></th>
                                    <th ng-if="user.role == 'ADMIN'">Actions</th>
                                    <th><a href="javascript:void(0);" ng-click="userSearchSortPredicate = 'familyName'; reverse=!reverse">Name</a></th>
                                    <th><a href="javascript:void(0);" ng-click="userSearchSortPredicate = 'email'; reverse=!reverse">Email</a></th>
                                    <th><a href="javascript:void(0);" ng-click="userSearchSortPredicate = 'role'; reverse=!reverse">User Role</a></th>
                                    <th>School</th>
                                    <th><a href="javascript:void(0);" ng-click="userSearchSortPredicate = 'registrationDate'; reverse=!reverse">Member Since</a></th>
                                    <th><a href="javascript:void(0);" ng-click="userSearchSortPredicate = 'verificationStatus'; reverse=!reverse">Verification Status</a></th>
                                    <th><a href="javascript:void(0);" ng-click="userSearchSortPredicate = 'lastSeen'; reverse=!reverse">Last Seen</a></th>
                                </tr>
                                <tr ng-repeat="result in userSearch.results | orderBy:userSearchSortPredicate:reverse">
                                    <td>
                                        <input type="checkbox" ng-model="userManagerSelection[result.id]"></input>
                                    </td>
                                    <td ng-if="user.role == 'ADMIN'">
                                        <a target="_blank" ui-sref="userProgress({'userId' : result.id })">View</a>
                                        <a target="_blank" ui-sref="accountSettings({'userId' : result.id })">Edit</a>
                                        <a href="javascript:void(0);" ng-click="deleteUser(result.id, result.email)">Delete</a>
                                    </td>
                                    <td>{{result.familyName}}<span ng-show="result.familyName && result.givenName">,</span> {{result.givenName}}</td>
                                    <td>{{result.email}}</td>
                                    <td>{{result.role || "NOT_SET"}}</td>
                                    <td title="{{result.schoolOther != null ? result.schoolOther : null}}">{{result.schoolId != null ? result.schoolId : result.schoolOther != null ? '(Other)' : 'None Set' }}</td>
                                    <td>{{result.registrationDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{result.emailVerificationStatus || "NOT_SET"}}</td>
                                    <td>{{result.lastSeen | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>