<div class="admin-emails">
		<div class="small-16 columns">
	    <h1>Isaac Email Console</h1>
	</div>
	<div ng-show="isAdminUser">
	    <div class="row">
	        <div class="small-16 columns">
	            <div class="panel white clearfix">
	                <div class="small-16 columns">
		                <h2>User Filter</h2>
		                <ul>
	                       <table>
			                  <thead>
			                    <tr>
			                      <th width="400">User Type</th>
			                      <th width="30">Include</th>
			                    </tr>
			                  </thead>
			                  <tbody>
			                    <tr>
			                      <td>ADMIN ({{statistics.adminUsers}})</td>
			                      <td class="include-column"><input name="adminusers" type="checkbox" data-ng-model="emailToSend.users.adminUsers" class="ng-valid ng-dirty"> </td>
			                    </tr>
			                    <tr>
			                      <td>EVENT_MANAGER ({{statistics.eventManagerUsers}})</td>
			                      <td class="include-column"><input name="eventmanagerusers" type="checkbox" data-ng-model="emailToSend.users.eventManagerUsers" class="ng-valid ng-dirty"> </td>
			                    </tr>
			                    <tr>
			                      <td>CONTENT_EDITOR ({{statistics.contentEditorUsers}})</td>
			                      <td class="include-column"><input name="contenteditorusers" type="checkbox" data-ng-model="emailToSend.users.contentEditorUsers" class="ng-valid ng-dirty"> </td>
			                    </tr>
			                    <tr>
			                      <td>TEACHER ({{statistics.teacherUsers}})</td>
			                      <td class="include-column"><input name="teacherusers" type="checkbox" data-ng-model="emailToSend.users.teacherUsers"  class="ng-valid ng-dirty"> </td>
			                    </tr>
			                    <tr>
			                      <td>TESTERS ({{statistics.testerUsers}})</td>
			                      <td class="include-column"><input name="testerusers" type="checkbox" data-ng-model="emailToSend.users.testerUsers"  class="ng-valid ng-dirty"> </td>
			                    </tr>
			                    <tr>
			                      <td>STUDENT ({{statistics.studentUsers}})</td>
			                      <td class="include-column"><input name="studentusers" type="checkbox" data-ng-model="emailToSend.users.studentUsers"  class="ng-valid ng-dirty"> </td>
			                    </tr>
			                  </tbody>
			                </table>
		                </ul>                
		            </div>            
		        </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <h2>Email Type</h2>
		                <p>The type of email you are sending. Users who have opted out of this type of email will not receive anything.
		             	<select name="emailTypeSelection" ng-model="selectedEmailType" ng-options="item.name for item in emailTypes" ng-change="emailTypeChanged(selectedEmailType.id)">
		             		 <option value="">-- make a selection --</option>
						</select>
		            </div>            
		        </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <h2>Content Object</h2>
		                <ul>
	                      <form ng-submit="loadContentTemplate()">
	                        <div class="medium-7 columns end">
	                            <input id="content-version" type="text" ng-model="emailToSend.contentObjectId" placeholder="Enter email content object ID" ng-change="versionChange = null">
	                        </div>
	                        <div class="medium-4 columns end">
	                        	<a class="ru-button expand" ng-click="loadContentTemplate()">Load Template</a>
	                        </div>
	                    </form>
		                </ul>           
		            </div>               
		        </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <h2>Subject:</h2> {{subjectPreview}}
		                              
		            </div>            
		        </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <h2>HTML Preview</h2>
		                <p>The preview below uses fields taken from your account (e.g. givenname and familyname). 
		                <ul>
		                    <iframe scrolling="vertical" src="{{htmlPreview}}" class="email-preview-frame">
		                    </iframe>
		                </ul>
		            </div>            
		        </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <h2>Plain Text Preview</h2>
		                <p>The preview below uses fields taken from your account (e.g. givenname and familyname). 
		                <ul>
		                    <iframe scrolling="no" src="{{plainTextPreview}}" class="email-preview-frame">
		                    </iframe>
		                </ul>                
		            </div>            
		        </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <ul>
		                    <ul class="medium-block-grid-1 small-block-grid-1">
						        <a class="ru-button expand" ng-click="validateAndSendEmails()">Send Emails</a>
						    </ul>
		                </ul>                
		            </div>
	            </div>
	        </div>
	    </div>
		<div class="row">
		    <div class="small-16 columns">
		        <div class="panel white clearfix">
		            <div class="small-16 columns">
		                <h2>Queue size: {{queueSize}}</h2>
		                               
		            </div>            
		        </div>
	        </div>
	    </div>
	</div>
</div>

