<div class="admin-stats">
    <div class="small-16 columns">
        <h1>Isaac Statistics</h1>
    </div>

    <div class="row">
        <div class="small-16 columns">
            <div class="panel white clearfix">
                <h2>Statistics Menu</h4>
                <ul class="no-bullet horizontal-list">
                    <li><a href="javascript:void(0)" ui-sref="adminStats.schoolUserSummaryList">Show School Data</a></li>
                    <li><a href="javascript:void(0)" ui-sref="adminStats.popularGameboards">Show Gameboard Data</a></li>
                    <li><a href="javascript:void(0)" ui-sref="adminStats.isaacAnalytics">Show Analytics</a></li>                
                </ul>            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-16 columns">
            <div class="panel white clearfix">
                <div class="small-16 columns">
                    <h2>Statistics at a glance</h2>
                </div>
                <div ng-show="statistics.totalUsers">
                    <div class="medium-8 small-16 columns">
                        <ul>
                            <li>
                                <strong>Users: Active (6 months): {{statistics.activeInLastSixMonths}} / Registered: {{statistics.totalUsers}}</strong>
                                <ul>
                                    <li>
                                        <strong>Gender</strong>
                                        <ul>
                                            <li>Male: {{statistics.maleUsers}}</li>
                                            <li>Female: {{statistics.femaleUsers}}</li>
                                            <li>Unknown: {{statistics.unknownGenderUsers}}</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Role</strong>
                                        <ul>
                                            <li>Student (unknown role): {{statistics.studentUsers}}</li>
                                            <li>Teacher: {{statistics.teacherUsers}}</li>
                                            <li>Staff: {{statistics.staffUsers}}</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <strong>Profile Completion</strong>
                                        <ul>
                                            <li>School provided: {{statistics.hasSchool}} ({{statistics.hasSchoolOther}} - from 'school other')</li>
                                            <li>No School Information: {{statistics.hasNoSchool}}</li>
                                        </ul>
                                    </li> 
                                    <li>
                                        <strong>Last Seen Data (non-staff)</strong>
                                        <ul>
                                            <li>Last 7 days: {{statistics.activeUsersLastWeek}} (Teachers: {{statistics.activeTeachersLastWeek}}, Students: {{statistics.activeStudentsLastWeek}})</li>
                                            <li>Last 30 days: {{statistics.activeUsersLastThirtyDays}} (Teachers: {{statistics.activeTeachersLastThirtyDays}}, Students: {{statistics.activeStudentsLastThirtyDays}})</li>
                                        </ul>
                                    </li>                                                            
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="medium-8 small-16 columns">
                        <ul>
                            <li>
                                <strong>Events</strong>
                                <ul>
                                    <li>Viewed Questions Events: {{statistics.viewQuestionEvents}}</li>
                                    <li># of Questions Answered Events ({{statistics.answeredQuestionEvents}})</li>
                                    <li># of Users Answering Questions<ul>
                                        <li>Last 7 days: Teachers: {{statistics.questionsAnsweredLastWeekTeachers}}, Students: {{statistics.questionsAnsweredLastWeekStudents}}</li>
                                        <li>Last 30 days: Teachers: {{statistics.questionsAnsweredLastThirtyDaysTeachers}}, Students: {{statistics.questionsAnsweredLastThirtyDaysStudents}}</li>                    
                                    </ul></li>
                                </ul>
                            </li> 
                            <li>
                                <strong>KPIs</strong>
                                <ul>
                                    <li>Groups: {{statistics.groupCount}}</li>
                                    <li>Total Event Bookings: {{eventBookings.length}}</li>
                                </ul>
                            </li>
                        </ul>      
                    </div>                
                </div>
            </div>        
        </div>
    </div>
    <div class="row" ng-hide="globalFlags.loading">
        <div class="small-16 columns">
            <div ui-view></div>
        </div>
    </div>
</div>