<div class="row">
	<div class='medium-13 columns'>
		<h1>A Level Resources</h1>
	</div>
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a href="/gameboards?filter=true#c052917f-5b7b-4b7f-b2a3-41d9de0a17c4" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#question"></img>
					<div class="hexagon-title">
						Problem Solving
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/master_maths" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						Master Mathematics
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/pre_made_gameboards" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#triple"></img>
					<div class="hexagon-title">
						Browse Questions by Lessons
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/isaac_mentor" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						Mentoring Schemes
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class='medium-13 columns'>
		<h3>Isaac Books</h3>
	</div>
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a ng-click="modals.preUniversityPhysics.show();" href="javascript:void(0)" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Physics Skills Mastery
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/books/pre_uni_maths" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Mathematics for Sciences
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ui-sref="book_chemistry_16" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Physical Chemistry Mastery
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ui-sref="book_solve_physics_problems" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Solving Physics Problems
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class='medium-13 columns'>
		<h3>Extension resources</h3>
	</div>
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a href="/events?types=student" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#groups"></img>
					<div class="hexagon-title">
						Workshops
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/extraordinary_problems" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#lightning"></img>
					<div class="hexagon-title">
						Extraordinary Problems
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/spc" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#groups"></img>
					<div class="hexagon-title">
						Senior Physics Challenge
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ui-sref="book_quantum_mechanics_primer" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Quantum Mechanics Primer
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
