<div class="row">
	<div class='medium-13 columns'>
		<h1>A-Level Resources</h1>
	</div>		
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">	
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a href="/book" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Pre-University Skills Mastery
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/gameboards?filter=true#c052917f-5b7b-4b7f-b2a3-41d9de0a17c4" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#question"></img>
					<div class="hexagon-title">
						Problem Solving
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/pre_made_gameboards" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#triple"></img>
					<div class="hexagon-title">
						Browse Questions by Lessons
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/isaac_mentor" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						Mentoring Schemes
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>			
	</div>	
</div>
<div class="small-16 columns">
	<div class="teacher-feature-body">	
		<div class="row">
			<div class="hexagon-offset-even small-32 medium-16 large-8 columns">
				<a href="/books/pre_uni_maths" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Mathematics Practice
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>			
	</div>	
</div>
<div class="row">
	<div class='medium-13 columns'>
		<h3>Extension resources</h3>
	</div>		
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">	
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a href="/events?types=student" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#groups"></img>
					<div class="hexagon-title">
						Workshops
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/extraordinary_problems" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#lightning"></img>
					<div class="hexagon-title">
						Extraordinary Problems
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/spc" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#groups"></img>
					<div class="hexagon-title">
						Senior Physics Challenge
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/university_preparation" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						University Preparation
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>			
	</div>	
</div>