<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1>Assignment Progress</h1>
        <p class="hide-for-small-only">Track your class performance</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span data-ot="Click on your groups to see the assignments you have set. View your students' progress by question." class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help</span>
    </div>
</div>
<div class="row">
    <div class="large-16 columns">
<!--
        <dl class="tabs profile-tabs no-print">
            <dd class="active"><a href="javascript:void(0)">Active <span class="show-for-medium-up">Groups</span></a></dd>
            <dd><a href="javascript:void(0)">Archived <span class="show-for-medium-up">Groups</span></a></dd>
        </dl>
-->
        <div class="tabs-content progress-tabs-content">
            <!--
                FIRST LEVEL - groups accordion
            -->
            <dl class="accordion-group">
                <dd ng-repeat="group in groups" ng-class="{active: groupExpanded[group._id]}">
                    <a class="accordion-group-header" href="javascript:void(0)" ng-click="groupExpanded[group._id] = !groupExpanded[group._id]">

                        <div class="accordion-group-title">
                            <span class="icon-group"></span>
                            {{group.groupName}} <span class="hide-for-medium-up">({{groupAssignments[group._id].length || 0}})</span>
                        </div>

                        <img class="accordion-arrow" src="/assets/icon-expand-arrow.png" ng-style="{visibility: groupAssignments[group._id].length ? 'visible':'hidden'}"/>
<!--
                        <div class="accordion-group-summary">
                            <span class="show-for-medium-up"><strong>3</strong> Active boards / </span><strong>13</strong> Completed <span class="show-for-medium-up">boards</span>
                        </div>
-->
                        <div class="accordion-group-summary">
                            <span><strong>{{groupAssignments[group._id].length || 0}}</strong> Assignments</span>
                        </div>
                    </a>


                    <div ng-if="groupExpanded[group._id]" class="accordion-group-content">
                        <!--
                            SECOND LEVEL - boards accordion
                        -->
                        <dl class="accordion-board">
                            <dd ng-repeat="assignment in groupAssignments[group._id]" ng-class="{active: assignmentExpanded[assignment._id]}">
                                <div href="javascript:void(0)" class="accordion-board-header" ng-click="assignmentExpanded[assignment._id] = !assignmentExpanded[assignment._id]">
                                    <div class="accordion-board-title">
                                        {{assignment.gameBoard.title || generateGameBoardTitle(assignment.gameBoard)}}
<!--
                                        <span class="accordion-board-level">
                                             <span class="hide-for-medium-up">- L</span><span class="show-for-medium-up">Level </span>2
                                        </span>
-->
                                    </div>
<!--
                                    <div class="accordion-board-date">
                                        Due Date <span class="icon-calender"></span>
                                    </div>
-->                                 <a href="javascript:void(0)" class="accordion-board-link">
                                        View <span class="show-for-medium-up">mark sheet</span><span class="icon-link invisible"></span>
                                    </a>
                                </div>

                                <!--
                                    THIRD LEVEL - progress table
                                -->
                                <div class="accordion-board-content" ng-if="assignmentExpanded[assignment._id]">

                                    <!--
                                        Board progress overview
                                    -->
                                    <div class="board-progress" ng-show="assignment.gameBoard.studentsCorrect != null">
                                        <strong>{{assignment.gameBoard.studentsCorrect}}</strong> out of <strong>{{assignmentProgress[assignment._id].length}}</strong> students have completed the board <a target="_blank" ui-sref="board({'id':assignment.gameBoard.id})"><strong class="show-for-medium-up">{{assignment.gameBoard.title || generateGameBoardTitle(assignment.gameBoard)}} </strong></a><strong class="strong-mobile">correctly</strong>.
                                    </div>

                                    <!--
                                        Question and control arrows
                                    -->
                                    <div class="board-question-wrap" ng-show="assignmentProgress[assignment._id].length > 0">
                                        <a href="javascript:void(0)" class="icon-arrow-left" ng-show="assignmentSelectedQuestion[assignment._id] > 0" ng-click="assignmentSelectedQuestion[assignment._id] = assignmentSelectedQuestion[assignment._id] - 1"></a>

                                        <div class="board-question">
                                            <strong class="show-for-medium-up">Question:</strong> {{assignment.gameBoard.questions[assignmentSelectedQuestion[assignment._id]].title}}
                                            <p class="hidden-for-medium-up"><strong>Question {{assignmentSelectedQuestion[assignment._id]+1}}</strong> out of <strong>{{assignment.gameBoard.questions.length}}</strong></p>
                                        </div>

                                        <a href="javascript:void(0)" class="icon-arrow-right" ng-show="assignmentSelectedQuestion[assignment._id] < assignment.gameBoard.questions.length-1" ng-click="assignmentSelectedQuestion[assignment._id] = assignmentSelectedQuestion[assignment._id] + 1"></a>
                                    </div>

                                    <!--
                                        Progress table 
                                    -->
                                    <div class="table-responsive" id="assignment-{{assignment._id}}-progress" ng-show="assignmentProgress[assignment._id].length > 0">
                                        <table class="table-progress">
                                            <thead>
                                                <tr>
                                                    <td></td>
                                                    <td ng-repeat="average in assignmentAverages[assignment._id] track by $index" ng-class="{selected: assignmentSelectedQuestion[assignment._id] == $index}" ng-click="assignmentSelectedQuestion[assignment._id] = $index">{{average}}%</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="studentProgress in assignmentProgress[assignment._id]" ng-class="getStudentClass(studentProgress)">
                                                    <td>
                                                        <span class="icon-person"></span>
                                                        <a href="javascript:void(0)" target="_blank" ui-sref="userProgress({userId: studentProgress.user._id})">
                                                            {{studentProgress.user.givenName}} 
                                                            <span class="show-for-large-up">{{studentProgress.user.familyName}}</span>
                                                        </a>
                                                    </td>
                                                    
                                                    <td ng-repeat="q in assignment.gameBoard.questions" 
                                                        ng-class="{selected: assignmentSelectedQuestion[assignment._id] == $index}" 
                                                        ng-click="assignmentSelectedQuestion[assignment._id] = $index">

                                                        <span ng-class="{
                                                            'icon-spinner': studentProgress.results[$index] == 'IN_PROGRESS',
                                                            'icon-check': studentProgress.results[$index] == 'PASSED' || studentProgress.results[$index] == 'PERFECT',
                                                            'ru_green': studentProgress.results[$index] == 'PERFECT',
                                                            'icon-x': studentProgress.results[$index] == 'FAILED',
                                                        }"></span>
                                                    </td>

                                                    <td><span>{{studentProgress.tickCount}} / {{assignment.gameBoard.questions.length}}</span></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td ng-repeat="average in assignmentAverages[assignment._id] track by $index" ng-class="{selected: assignmentSelectedQuestion[assignment._id] == $index}" ng-click="assignmentSelectedQuestion[assignment._id] = $index">{{average}}%</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>