<div class="ru-page-heading ng-scope set-assign-header">
    <div class="row">
      <div class="medium-13 columns">
          <h1>Set Assignments</h1>
          <h3 class="subtitle">Add a board from ... </h3>
      </div>
      <div class="medium-3 columns text-right hide-for-small-only">
          <span data-ot="Assign any of the boards you have created to your groups." class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help</span>
      </div>      
    </div>
    <div class="row button-menu">
      <div class="small-16 medium-5 columns">
        <button ng-click="modals.isaacBooks.show()">our GCSE &amp; A-Level books</button>
      </div> 
      <div class="small-16 medium-5 columns">
          <button ui-sref="pages({id: 'pre_made_gameboards'})">boards for lessons</button>
      </div> 
      <div class="small-16 medium-5 columns end">
          <button ui-sref="gameEditor">create a board</button>
      </div>
    </div>

    <div class="row">
      <div class="small-16 columns">
        <h3 ng-show="boards && boards.totalResults > 1">You have <strong>{{boards.totalResults}}</strong></span> boards ready to assign...</h3>
        <h3 ng-show="boards && boards.totalResults == 1">You have <strong>{{boards.totalResults}}</strong></span> board ready to assign...</h3>
        <h3 ng-show="boards.totalResults == 0">You have no boards to assign; select an option above to add a board.</h3>        
      </div>
    </div>
</div>
<div class="boards-filters" ng-show="boards != null && boards.results.length > 0">
   <ul class="small-block-grid-2">
      <li>
         <label class="hide-for-small-only">Sort by</label>
         <select ng-model="sortOption" ng-options="option.label for option in sortOptions"></select>
      </li>
   </ul>
</div>
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 assign-board-wrap">
      <li ng-repeat="board in boards.results">
   		<div class="panel">
            <a href="javascript:void(0)" class="board-delete" ng-click="deleteBoard(board)">X</a>
            <div class="row">
               <div ng-click="toggleAssignPanel(board)" data-ot="{{getListOfGroups(groupAssignmentInfo[board.id])}}" data-ot-style="ru_boards" class="board-percentage test">
                  <!-- Remember to change subject class, this will change the colour -->
      				<span class="groups-assigned subject-physics">
                     <strong>{{groupAssignmentInfo[board.id].length || 0}}</strong> Group<span ng-hide="groupAssignmentInfo[board.id].length == 1">s</span> Assigned
                  </span>
      			</div>

               <div class="board-info">
                  <p>Created: <strong>{{board.creationDate | date:'dd/MM/yyyy'}}</strong></p>
                   <p>Last visited: <strong>{{board.lastVisited | date:'dd/MM/yyyy'}}</strong></p>


               </div>
      		</div>
            <div class="row">
   			   <h3><a tabindex="0" href="javascript:void(0)" ui-sref="board({id: board.id})">{{board.title || generateGameBoardTitle(board)}}</a></h3>
               <a class="board-share" share-button sharelink="board/{{board.id}}"></a>
               <div class='ru_share_link ru_two_item_menu slide-animate' ng-show="showShareUrl">
                  <div>{{shareUrl}}</div>
                  <hr />
                  <a tabindex="0" href="javascript:void(0)" ui-sref="gameEditor({base: board.id})"><div class="menu_item">Clone and Edit</div></a>
               </div>
                <p>By: <strong><span ng-if="board.ownerUserId == user._id">Me</span>
                    <span ng-if="board.ownerUserId != user._id">Someone else</span></strong></p>
               <div class="board-levels">
                  <span ng-repeat="level in calculateBoardLevels(board)" class="level-{{level}}">{{level}}</span>
               </div>
            </div>
            <div class="board-overview">
               <h6>Quick view...</h6>
               <ol>
                  <li ng-show="board.questions.length >= 1">{{board.questions[0].title}}</li>
                  <li ng-show="board.questions.length >= 2">{{board.questions[1].title}}</li>
                  <li ng-show="board.questions.length >= 3">{{board.questions[2].title}}</li>
               </ol>
            </div>
            <a class="ru-button-big tertiary expand" ng-click="toggleAssignPanel(board)" ng-show="openedAssignPanels.indexOf(board.id) == -1">Assign / Unassign</a>
            <div ng-show="openedAssignPanels.indexOf(board.id) != -1" class="row board-section">
               <h6>Group:</h6>
               <select ng-model="pendingAssignment[board.id]" ng-options="group.groupName for group in myGroups | orderBy:'groupName'"></select>
               <div >
                  <h6>Due Date <span class="lighter">(optional):</span></h6>
                  <div class="ui-date-wrap">
                     <input ng-model="pendingAssignment[board.id].dueDate" ui-date="{showOn: 'both', buttonText: '', dateFormat: 'dd/mm/yy'}" placeholder="Select your due date..." type="text" />
                  </div>
               </div>

               <a href="javascript:void(0)" class="ru-button-big expand" ng-click="assignBoard(board)">Assign to group</a>
               <!-- Change assign btn to this complete message -->
               <div ng-if="false" class="ru-button-big primary expand">Group Assigned<span class="icon-complete"></span></div>
               <a ng-if="false" class="ru-button-big tertiary expand">Edit Assigned Groups</a>
            </div>
            <div ng-show="openedAssignPanels.indexOf(board.id) != -1" class="row board-section">
               <h6>Board currently assigned to:</h6>
               <table class="group-table">
                  <tbody>
                     <tr ng-repeat="groupsAssigned in groupAssignmentInfo[board.id]">
                        <td>{{groupsAssigned.groupName}}</td>
                        <td class="group-table-cal"><a ng-if="false" class="icon-cal--small" href="javascript:void(0)"></a></td>
                        <td class="group-table-delete"><a class="icon-delete" href="javascript:void(0)" title="Unassign this group" ng-click="unassignBoard(groupsAssigned, board)"></a></td>
                     </tr>
                  </tbody>
               </table>
               <p ng-show="groupAssignmentInfo[board.id] == null || groupAssignmentInfo[board.id].length == 0">No groups.</p>
               <a href="javascript:void(0)" class="ru-button-big tertiary expand" ng-click="toggleAssignPanel(board)">Close</a>
            </div>
   		</div>
   	</li>
</ul>
<div class="row" ng-hide="boards == null || boards.results.length == ''">
  <div class="large-5 medium-6 small-centered columns">
      <p class="text-center">Showing <strong>{{boards.results.length}}</strong> of <strong>{{boards.totalResults}}</strong></p>
      <a tabindex="0" ng-if="boards.totalResults > boards.results.length" class="ru-button-big expand" ng-click="loadMore()">View more</a>
   </div>
</div>

<div isaac-modal="groupsWarning">
  <div class="reveal-modal-head">
    <h2>Groups Required</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body text-center ru-page-heading">
    <p>You have not created a group to assign work to. You should create a new group before assigning a gameboard.</p>
    <a class="ru-button-big" ng-click="modals.groupsWarning.hide()" href="/groups">Create a new group</a>
  </div>
</div>

<div isaac-modal="isaacBooks">
  <div class="reveal-modal-head">
    <h2>Find boards from Isaac Books</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body ru-page-heading set-boards-books-preview">
    <div class="row">
      <h4>Mastering Essential...</h4>
    </div>
    <div class="row text-center">
      <div class="small-offset-1 small-4 columns">
        <a ui-sref="book_phys_book_gcse"><img src="assets/books/phys_book_gcse.jpg"><span>GCSE Physics</span></a>
      </div> 
      <div class="small-offset-1 small-4 columns">
        <a ui-sref="book_physics_skills_14"><img src="assets/books/physics_skills_14.jpg"><span>Pre-University Physics</span></a>
      </div> 
      <div class="small-offset-1 small-4 columns end">
        <a href="/pages/chem_16_index"><img src="assets/books/chemistry_16.jpg"><span>Pre-University Physical Chemistry</span></a>
      </div>
    </div>
  </div>
</div>