<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1>Assignment Progress</h1>
        <p class="hide-for-small-only">Track your class performance</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span data-ot="Click on your groups to see the assignments you have set. View your students' progress by question." class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help</span>
    </div>
    <div class="columns medium-5 medium-offset-13 hide-for-small-only" style="margin-top:-45px;">
         <label class="hide-for-small-only">Sort groups: </label>
         <select ng-model="sortOption" ng-options="option.label for option in sortOptions"></select>
    </div>
</div>
<div class="row" ng-show="groups.length == 0">
    <div class="large-6 medium-6 small-centered columns text-center">
      <h3><a ui-sref="groups">Manage Groups</a> can be used to add groups to which assignments can be set.</h3>
    </div>
</div>
<div class="row" ng-show="groups.length > 0">
    <div class="large-16 columns">
        <div class="tabs-content progress-tabs-content">
            <div class="assignment-progress-key panel">
                <ul class="small-block-grid-5">
                    <li>
                        <div class="key-cell"><span class="completed" ng-class="{'colour-blind': colourBlind}">&nbsp;</span></div><div class="key-desctiption">All parts correct</div>
                    </li>
                    <li>
                        <div class="key-cell"><span class="passed" ng-class="{'colour-blind': colourBlind}">&nbsp;</span></div><div class="key-desctiption">&ge;{{passMark * 100}}% correct (Mastery)</div>
                    </li>
                    <li>
                        <div class="key-cell"><span class="in-progress" ng-class="{'colour-blind': colourBlind}">&nbsp;</span></div><div class="key-desctiption">&lt;{{passMark * 100}}% correct</div>
                    </li>
                    <li>
                        <div class="key-cell"><span class="failed" ng-class="{'colour-blind': colourBlind}">&nbsp;</span></div><div class="key-desctiption">&gt;{{100 - (passMark * 100)}}% incorrect</div>
                    </li>
                    <li>
                        <div class="key-cell"><span ng-class="{'colour-blind': colourBlind}">&nbsp;</span></div><div class="key-desctiption">Not attempted</div>
                    </li>
                </ul>
                <div class="row assignment-progress-options">
                    <div class="columns small-3 small-offset-10"><label>Colour-blind&nbsp;<input type="checkbox" ng-model=colourBlind /></label></div>
                    <div class="columns small-3"><label>Percent&nbsp;view&nbsp;<input type="checkbox" ng-model=formatAsPercentage /></label></div>
                </div>
            </div>
            <!--
                FIRST LEVEL - groups accordion
            -->
            <dl class="accordion-group">
                <dd ng-repeat="group in groups | orderBy:sortOption.val:sortOption.reverse" ng-class="{active: groupExpanded[group._id]}" class="group-panel">
                    <a class="accordion-group-header" href="javascript:void(0)" ng-click="expandAssignments(group._id)">
                        <div class="accordion-group-title">
                            <span class="icon-group"></span>
                            {{group.groupName}} <span class="hide-for-medium-up">({{groupAssignments[group._id].length || 0}})</span>
                        </div>
                        <img class="accordion-arrow" src="/assets/icon-expand-arrow.png" ng-style="{visibility: groupAssignments[group._id].length ? 'visible':'hidden'}"/>
                        <div class="accordion-group-summary">
                            <span><strong>{{groupAssignments[group._id].length || 0}}</strong> Assignments set</span>
                        </div>
                    </a>
                    <div ng-if="groupExpanded[group._id]" class="accordion-group-content">
                        <!--
                            SECOND LEVEL - boards accordion
                        -->
                        <dl class="accordion-board">
                            <dd ng-repeat="assignment in groupAssignments[group._id]" ng-class="{active: assignmentExpanded[assignment._id]}">
                                <div href="javascript:void(0)" class="accordion-board-header" ng-click="assignmentExpanded[assignment._id] = !assignmentExpanded[assignment._id]">
                                    <div class="accordion-board-title">
                                        {{assignment.gameBoard.title || generateGameBoardTitle(assignment.gameBoard)}}
                                    </div>
                                    <a href="javascript:void(0)" class="accordion-board-link">
                                        <span ng-show="!assignmentExpanded[assignment._id]">View </span><span ng-show="assignmentExpanded[assignment._id]">Hide </span><span class="show-for-medium-up">mark sheet</span><span class="icon-link invisible"></span>
                                    </a> <span class="accordion-board-link">&nbsp; or &nbsp; </span>
                                    <a class="accordion-board-link" ng-click="getAssignmentDownloadLink(assignment._id, $event)" target="_blank">Download CSV</a>                        
                                </div>

                                <!--
                                    THIRD LEVEL - progress table
                                -->
                                <div class="accordion-board-content" ng-if="assignmentExpanded[assignment._id]">

                                    <!--
                                        Board progress overview
                                    -->
                                    <div class="board-progress" ng-show="assignmentProgress[assignment._id].studentsCorrect != null">
                                        <strong>{{assignmentProgress[assignment._id].studentsCorrect}}</strong> out of <strong>{{assignmentProgress[assignment._id].length}}</strong> students have completed the board <a target="_blank" ui-sref="board({'id':assignment.gameBoard.id})"><strong class="show-for-medium-up">{{assignment.gameBoard.title || generateGameBoardTitle(assignment.gameBoard)}} </strong></a><strong class="strong-mobile">correctly</strong>.
                                    </div>

                                    <!--
                                        Question and control arrows
                                    -->
                                    <div class="board-question-wrap" ng-show="assignmentProgress[assignment._id].length > 0">
                                        <a href="javascript:void(0)" class="icon-arrow-left"
                                        ng-class="{'enabled': enabledLeftArrow(assignment._id)}"
                                        ng-click="assignmentSelectedQuestion[assignment._id] = enabledLeftArrow(assignment._id) ? assignmentSelectedQuestion[assignment._id] - 1 : assignmentSelectedQuestion[assignment._id]"></a>
                                        <a ng-href="/questions/{{assignment.gameBoard.questions[assignmentSelectedQuestion[assignment._id]].id}}?board={{assignment.gameBoard.id}}" target="_blank">
                                            <div class="board-question">
                                                <strong class="show-for-medium-up">Question:</strong> {{assignment.gameBoard.questions[assignmentSelectedQuestion[assignment._id]].title}}
                                                <p class="hidden-for-medium-up"><strong>Question {{assignmentSelectedQuestion[assignment._id]+1}}</strong> out of <strong>{{assignment.gameBoard.questions.length}}</strong></p>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0)" class="icon-arrow-right"
                                        ng-class="{'enabled': enabledRightArrow(assignment._id, assignment.gameBoard.questions.length)}"
                                        ng-click="assignmentSelectedQuestion[assignment._id] = enabledRightArrow(assignment._id, assignment.gameBoard.questions.length) ? assignmentSelectedQuestion[assignment._id] + 1 : assignmentSelectedQuestion[assignment._id]"></a>
                                    </div>

                                    <!--
                                        Progress table 
                                    -->
                                    <div class="table-responsive" id="assignment-{{assignment._id}}-progress" ng-show="assignmentProgress[assignment._id].length > 0">
                                        <table class="table-progress">
                                            <thead>
                                                <tr>
                                                    <td></td>
                                                    <td ng-repeat="average in assignmentAverages[assignment._id] track by $index" ng-class="{selected: assignmentSelectedQuestion[assignment._id] == $index}" ng-click="assignmentSelectedQuestion[assignment._id] = $index">
                                                        {{average}}%
                                                    </td>
                                                    <td class="total-column left" data-ot="Total number of correct question parts">
                                                        Total Parts
                                                    </td>
                                                    <td class="total-column right" data-ot="Total number of correct questions">
                                                        Total Qs
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="studentProgress in assignmentProgress[assignment._id] | orderBy:'user.familyName'"
                                                    ng-class="getStateClass(studentProgress, null, assignmentTotalQuestionParts[assignment._id], colourBlind)"
                                                    on-ng-repeat-render="ngRepeatFinished">
                                                    <td class="student-name">
                                                        <span class="icon-person"></span><a href="javascript:void(0)" target="_blank" ui-sref="userProgress({userId: studentProgress.user.id})">{{studentProgress.user.givenName}}<span class="show-for-large-up"> {{studentProgress.user.familyName}}</span></a>
                                                    </td>
                                                    <td ng-repeat="q in assignment.gameBoard.questions"
                                                        ng-class="getStateClass(studentProgress,  $index, assignment.gameBoard.questions[$index].questionPartsTotal, colourBlind, assignmentSelectedQuestion[assignment._id] == $index)"
                                                        ng-click="assignmentSelectedQuestion[assignment._id] = $index"
                                                        data-ot="{{formatMark(studentProgress.correctPartResults[$index], assignment.gameBoard.questions[$index].questionPartsTotal, !formatAsPercentage)}}">
                                                        {{formatMark(studentProgress.correctPartResults[$index], assignment.gameBoard.questions[$index].questionPartsTotal, formatAsPercentage)}}
                                                    </td>
                                                    <td class="total-column left" data-ot="{{formatMark(studentProgress.correctQuestionPartsCount, assignmentTotalQuestionParts[assignment._id], !formatAsPercentage)}}">
                                                        {{formatMark(studentProgress.correctQuestionPartsCount, assignmentTotalQuestionParts[assignment._id], formatAsPercentage)}}
                                                    </td>
                                                    <td class="total-column right" data-ot="{{formatMark(studentProgress.tickCount, assignment.gameBoard.questions.length, !formatAsPercentage)}}">
                                                        {{formatMark(studentProgress.tickCount, assignment.gameBoard.questions.length, formatAsPercentage)}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td ng-repeat="average in assignmentAverages[assignment._id] track by $index" ng-class="{selected: assignmentSelectedQuestion[assignment._id] == $index}" ng-click="assignmentSelectedQuestion[assignment._id] = $index">
                                                        {{average}}%
                                                    </td>
                                                    <td class="total-column left" data-ot="Total number of correct question parts">
                                                        Total Parts
                                                    </td>
                                                    <td class="total-column right" data-ot="Total number of correct questions">
                                                        Total Qs
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </dd>
                            <dd class="accordion-board-footer" ng-class="{active: assignmentExpanded[assignment._id]}">
                                <div class="accordion-board-header accordion-board-header-last">
                                    <div class="accordion-board-title accordion-board-title-no-counter">&nbsp;</div>
                                    <a ng-click="getGroupProgressDownloadLink(group._id, $event)" class="accordion-board-link" target="_blank"><span>Download Group CSV</span><span class="icon-link invisible"></span></a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>

<div isaac-modal="assignmentProgressCSVDownload">
    <div class="reveal-modal-head">
        <h2>Privacy Notice</h2>
        <a class="close-reveal-modal" href="javascript:void(0)"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
    </div>
    <div class="reveal-modal-body">
        <div isaac-page-fragment="csv_download_notice"> </div>
        <div class="row">
            <div class="small-16 text-center columns">
                <a class="button" href="{{assignmentCSVLink}}" target="_blank" ng-click="modals.assignmentProgressCSVDownload.hide()">Download CSV</a>          
            </div>
        </div>
    </div>
</div>