<div class="row ru-page-heading ng-scope">
    <div class="medium-13 columns">
        <h1>Assign a board</h1>
        <p class="hide-for-small-only">Assign groups to boards and set due dates</p>
    </div>
</div>
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 assign-board-wrap">
   	<li>
   		<div class="panel">
            <a href="javascript:void(0)" class="board-delete">X</a>
            <div class="row">
               <div data-ot="Monkeys, Rhinos, Sharks, Spiders and Eagles." data-ot-style="ru_boards" class="board-percentage test">
                  <!-- Remember to change subject class, this will change the colour -->
      				<span class="groups-assigned subject-physics">
                     <strong>5</strong> Groups Assigned
                  </span>
      			</div>

               <div class="board-info">
                  <p>Created: <strong>19/7/2014</strong></p>
                  <p>By: <strong>Michael Lakeland</strong></p>
               </div>
      		</div>
            <div class="row">

   			   <h3><a tabindex="0" href="javascript:void(0)">My first Physics Board</a></h3>

               <a class="board-share" share-button sharelink="board/{{board.id}}"></a>
               <div class='ru_share_link slide-animate' ng-show="showShareUrl">
                  <div>
                     {{shareUrl}}
                  </div>
               </div>

               <div class="board-levels">
                  <span class="level-3">3</span>
                  <span class="level-6">6</span>
               </div>

            </div>
            <div class="board-overview">
               <h6>Quick view...</h6>
               <ol>
                  <li>Car on Motorway</li>
                  <li>Symmetry and Centre of Mass</li>
                  <li>Cracking Eggs</li>
               </ol>
            </div>
            <a class="ru-button-big tertiary expand">Assign this board</a>
            <div class="row board-section">
               <h6>Assign Group:</h6>
               <select>
                  <option>Select your group...</option>
                  <option>Monkeys</option>
                  <option>Lions</option>
                  <option>Bears</option>
               </select>
               <h6>Due Date <span class="lighter">(optional):</span></h6>

               <div class="ui-date-wrap">
                  <input ui-date="{showOn: 'button', buttonText: ''}" placeholder="Select your due date..." type="text" />
               </div>

               <a class="ru-button-big expand">Assign / Update</a>
               <!-- Change assign btn to this complete message -->
               <div class="ru-button-big primary expand">Group Assigned<span class="icon-complete"></span></div>
               <a class="ru-button-big tertiary expand">Edit Assigned Groups</a>
            </div>
            <div class="row board-section">
               <h6>Remove group or edit due dates</h6>
               <table class="group-table">
                  <tbody>
                     <tr>
                        <td>Monkeys</td>
                        <td class="group-table-cal"><a class="icon-cal--small" href="javascript:void(0)"></a></td>
                        <td class="group-table-delete"><a class="icon-delete" href="javascript:void(0)"></a></td>
                     </tr>
                     <tr>
                        <td>Lions</td>
                        <td class="group-table-cal"><a class="icon-cal--small" href="javascript:void(0)"></a></td>
                        <td class="group-table-delete"><a class="icon-delete" href="javascript:void(0)"></a></td>
                     </tr>
                     <tr>
                        <td>Bears</td>
                        <td class="group-table-cal"><a class="icon-cal--small" href="javascript:void(0)"></a></td>
                        <td class="group-table-delete"><a class="icon-delete" href="javascript:void(0)"></a></td>
                     </tr>
                  </tbody>
               </table>
               <a class="ru-button-big tertiary expand">Close</a>
            </div>
   		</div>
   	</li>
</ul>