<div class="medium-16 columns">
  <h1>Mastering essential pre-university physics</h1>
  <img class="book-cover" src="assets/skills-book-cover.png" width="150" alt="">
  <h4>Isaac Physics Skills</h4>
  <p><strong>By A. C. Machacek and J. J. Crowter</strong><br /> This area of our platform aims to provide an opportunity to practise the material that features directly in school exams.</p>
  <h4>How to use this area of Isaac?</h4>
  <p>Our intention is that having worked through the problems from the Machacek and Crowter book, you come to this part of Isaac to check your answers.</p>
  <ol>
    <li>Clicking on one of the chapter links below will take you to a hexagon board with each hexagon representing a page of the book.</li>
    <li>When you reach this board click on the hexagon corresponding to the page of questions you want to check.</li>
    <li>The final page will present you with the questions and answer boxes to enter you your answers and check them.</li>
  </ol>

  <h4>AS-Level (or equivalent)</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">a</span>
        </span>
        General Questions
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">b</span>
        </span>
        Mechanics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">c</span>
        </span>
        Electric Circuits
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">d</span>
        </span>
        Waves
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">e</span>
        </span>
        Uncertainties
      </a>
    </li>
  </ul>



  <h4>AZ-Level (or equivalent)</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">f</span>
        </span>
        Mechanics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">g</span>
        </span>
        Gases
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">h</span>
        </span>
        Fields
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">i</span>
        </span>
        Capacitors
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">j</span>
        </span>
        Nuclear Physics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">k</span>
        </span>
        Modelling the Universe
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">l</span>
        </span>
        Fact Sheets
      </a>
    </li>
  </ul>
</div>