<div class="medium-16 columns">
  <h1 class="book-heading">Mastering essential pre-university physics</h1>
  <img class="book-cover" src="assets/skills-book-cover.png" width="150" alt="">
  <h4>Isaac Physics Skills</h4>
  <p><strong>By A. C. Machacek and J. J. Crowter</strong><br /> This area of our platform aims to provide an opportunity to practise the material that features directly in school exams.</p>
  <h4>How to use this area of Isaac?</h4>
  <p>Our intention is that having worked through the problems from the Machacek and Crowter book, you come to this part of Isaac to check your answers.</p>
  <ol>
    <li>Clicking on one of the chapter links below will take you to a hexagon board with each hexagon representing a page of the book.</li>
    <li>When you reach this board click on the hexagon corresponding to the page of questions you want to check.</li>
    <li>The final page will present you with the questions and answer boxes to enter you your answers and check them.</li>
  </ol>

  <h4>A2-Level (or equivalent)</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter1.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">a</span>
        </span>
        General Questions
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter2.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">b</span>
        </span>
        Mechanics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter3.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">c</span>
        </span>
        Electric Circuits
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter4.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">d</span>
        </span>
        Waves
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter5.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">e</span>
        </span>
        Uncertainties
      </a>
    </li>
  </ul>

  <h4>A2-Level (or equivalent)</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter6.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">f</span>
        </span>
        Mechanics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter7.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">g</span>
        </span>
        Gases
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter8.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">h</span>
        </span>
        Fields
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter9.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">i</span>
        </span>
        Capacitors
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter10.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">j</span>
        </span>
        Nuclear Physics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter11.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">k</span>
        </span>
        Modelling the Universe
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="modals.chapter12.show()">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">l</span>
        </span>
        Fact Sheets
      </a>
    </li>
  </ul>
</div>
<div isaac-modal="chapter1">
  <div class="reveal-modal-head">
    <h2>General Questions</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter2">
  <div class="reveal-modal-head">
    <h2>Mechanics</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter3">
  <div class="reveal-modal-head">
    <h2>Electric Circuits</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter4">
  <div class="reveal-modal-head">
    <h2>Waves</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter5">
  <div class="reveal-modal-head">
    <h2>Uncertainties</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter6">
  <div class="reveal-modal-head">
    <h2>Mechanics</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter7">
  <div class="reveal-modal-head">
    <h2>Gases</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter8">
  <div class="reveal-modal-head">
    <h2>Fields</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter9">
  <div class="reveal-modal-head">
    <h2>Capacitors</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter10">
  <div class="reveal-modal-head">
    <h2>Nuclear Physics</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter11">
  <div class="reveal-modal-head">
    <h2>Modelling the Universe</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>
<div isaac-modal="chapter12">
  <div class="reveal-modal-head">
    <h2>Fact Sheets</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
  </div>
</div>