<div class="row">
  <div class="medium-11 large-12 columns breadcrumb">
    <!--
      Breadcrumb 
    -->
    <ul class="book-breadcrumb">
      <li><a href="javascript:void(0)">Physics Workbook</a></li>
      <li><a href="javascript:void(0)">Mechanics</a></li>
      <li><a href="javascript:void(0)">Statics</a></li>
    </ul>
  </div>
  <div class="medium-5 large-4 columns">
    <!-- 
      Skill level
    -->
    <div class="book-skill">
      <span class="book-skill-title">Skill master =</span>
      <span class="book-skill-level">
        <span class="icon-hexagon"></span>
        <span class="count">
          <span class="count-score">12</span>
          <span class="count-break">/</span>
          <span class="count-total">12</span>
        </span>
      </span>
    </div>
  </div>
</div>



<div class="row">
   <div class="medium-5 large-4 columns right">
    <!-- 
      Share/print buttons 
    -->
    Share and print buttons
  </div>
  <div class="medium-11 large-12 columns left">
    <!--
      Title 
    -->
    <h2>Q: <span class="ru_burgundy">A1: Using &amp; Rearranging Equations</span></h2>
  </div>
</div>



<div class="row">
  <div class="large-4 columns right">
    <!-- 
      Users answers 
    -->
    <dl class="book-accordion answers">
      <dd>
        <a class="title" href="javascript:void(0)">
          Your answers
          <img class="arrow no-print hide-for-large-up" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content">
          <table>
            <tbody>
              <tr>
                <td>A1.1</td>
                <td class="complete">3.2km</td>
              </tr>
               <tr>
                <td>A1.2</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.3</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.4</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.5</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.6</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  </div>
  <div class="large-12 columns left">
    <!--
      References
    -->
    <dl class="book-accordion">
      <dd>
        <a class="title" href="javascript:void(0)">
          Scenario &amp; References
          <img class="arrow no-print" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content">
          <!--
            Content - Normal
          -->
          <p>Preliminary question: A wire has a cross sectional area of 1.5mm2. What is its cross sectional area in m2? Answer: 1.5×10−6m2. If you can't see why this is true, ask your teacher before continuing with this section.</p>
          <!--
            Content - Glossary 
          -->
          <ul class="medium-block-grid-4 small-block-grid-2 book-glossary">
            <li>s = distance</li>
            <li>u, v = velocity</li>
            <li>t = time</li>
            <li>m = mass</li>

            <li>V = voltage</li>
            <li>I = current</li>
            <li>F = force</li>
            <li>a = acceleration</li>

            <li>s = distance</li>
            <li>u, v = velocity</li>
            <li>t = time</li>
            <li>m = mass</li>

            <li>V = voltage</li>
            <li>I = current</li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</div>



<div class="row">
  <div class="large-12 columns">
    <!--
      Question accordion, reused existing code where possible 
    -->
    <dl class="accordion ru_accordion book">
      <dd class="active">
        <a class="ru_accordion_titlebar" href="javascript:void(0)">
          <div class="ru_accordion_name">Part A</div>
          <div class="ru_accordion_title">A1.1 to A1.6</div>
          <img class="arrow no-print" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content force-print active">
          <div class="row">
            <div class="medium-16 columns">
              <p>Fill in the table where specified below. Click in a field to type the answer.</p>
            </div>
            <dl class="tabs ru_tabs ru-answer no-print">
              <dd class="ru-answer active">
                <a href="javascript:void(0);">Answer <span>Now</span></a>
              </dd>
            </dl>
            <div class="tabs-content ru_tabs ru-answer">


              <!--
                Question/answer layout 1 
              -->
              <div class="row">
                <div class="medium-9 columns ru-question-block">
                  <p><strong class="ru_burgundy">A1.1</strong>  F = 3:0 N, m = 2:0 kg, what is a?</p>
                </div>
                <div class="medium-7 columns ru-answer-block">
                  <ul class="small-block-grid-2">
                    <li><span class="book-subhead">Value</span><input class="error" type="text" maxlength="20"></li>
                    <li><span class="book-subhead">Units</span><button class="button burgundy"></button></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="medium-9 columns ru-question-block">
                  <p><strong class="ru_burgundy">A1.2</strong>  I = 0:20 A, t = 200 s, what is Q?</p>
                </div>
                <div class="medium-7 columns ru-answer-block">
                  <ul class="small-block-grid-2">
                    <li><span class="book-subhead">Value</span><input type="text" maxlength="20"></li>
                    <li><span class="book-subhead">Units</span><button class="button burgundy"></button></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="medium-9 columns ru-question-block">
                  <p><strong class="ru_burgundy">A1.3</strong>  Calculate the resistance needed if you want 0:030 A to flow through a
component when a 9:0 V battery is connected to it.</p>
                </div>
                <div class="medium-7 columns ru-answer-block">
                  <ul class="small-block-grid-2">
                    <li><span class="book-subhead">Value</span><input type="text" maxlength="20"></li>
                    <li><span class="book-subhead">Units</span><button class="button burgundy"></button></li>
                  </ul>
                </div>
              </div>


              <br><br>
              <!--
                Question/answer layout 2
              -->
              <div class="row">
                <table class="book-table">
                  <thead>
                    <tr>
                      <td>Diameter (mm)</td>
                      <td>Cross sectional area (m2)</td>
                      <td>Original length (m)</td>
                      <td>Tension (N)</td>
                      <td>Extension (mm)</td>
                      <td>Stress (MPa)</td>
                      <td>Strain (%)</td>
                      <td>Young’s modulus (GPa)</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.0</td>
                      <td></td>
                      <td>56</td>
                      <td>890</td>
                      <td>23</td>
                      <td><strong class="ru_burgundy">B6.12</strong><input type="text"></td>
                      <td></td>
                      <td><strong class="ru_burgundy">B6.12</strong><input type="text"></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>7.36</td>
                      <td></td>
                      <td><input class="error" type="text"></td>
                      <td>500</td>
                      <td><input type="text"></td>
                      <td>211</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <script>
              /**
                NG Responsive Tables v1.0 - Modified by Luke McLean
              **/
              ;(function ( $ ) {
                $.fn.ngResponsiveTables = function(options) {
                  var defaults = {
                  smallPaddingCharNo: 5,
                  mediumPaddingCharNo: 10,
                  largePaddingCharNo: 15
                  },
                  $selElement = this,
                  ngResponsiveTables = {
                    opt: '',
                    dataContent: '',
                    globalWidth: 0,
                  init: function(){
                    this.opt = $.extend( defaults, options );
                    ngResponsiveTables.targetTable();
                  },
                  targetTable: function(){
                    var that = this;
                    $selElement.find('tr').each(function(){
                      $(this).find('td').each(function(i, v){
                        that.checkForTableHead( $(this), i );
                        $(this).addClass('tdno' + i);

                        // Hide empty fields on mobile
                        if(!$.trim($(this).html())){
                          $(this).addClass('empty');
                        }
                      });
                    });
                  },
                  checkForTableHead: function(element, index){
                    if( $selElement.find('th').length ){
                      this.dataContent = $selElement.find('th')[index].textContent;
                    }else{
                      this.dataContent = $selElement.find('tr:first td')[index].textContent;
                    }
                    // This padding is for large texts inside header of table
                    // Use small, medium and large paddingMax values from defaults to set-up offsets for each class
                    if( this.opt.smallPaddingCharNo > $.trim(this.dataContent).length ){
                      element.addClass('small-padding');
                    }else if( this.opt.mediumPaddingCharNo > $.trim(this.dataContent).length ){
                      element.addClass('medium-padding');
                    }else{
                      element.addClass('large-padding');
                    }
                    element.attr('data-content', this.dataContent);
                  }
                };

                $(function(){
                  ngResponsiveTables.init();
                });
                  return this;
                };

              }( jQuery ));

              $('.book-table').ngResponsiveTables();
              </script>


              <br><br>
              <!--
                  Question/answer layout 3

                  book-figure-wrap class is important for alphabetical count
                -->
              <div class="book-figure-wrap">
                <div class="row">
                  <div class="large-16 columns">
                    <h4 class="ru_burgundy">Figure 1.0</h4>
                  </div>
                </div>
                <div class="row">
                    <div class="medium-8 columns book-figure">
                      <img src="http://placehold.it/600x350" alt="">
                      <div class="book-answer-row ru-answer-block">
                        <ul class="small-block-grid-2">
                          <li><input type="text" maxlength="20"></li>
                          <li><button class="button burgundy"></button></li>
                        </ul>
                      </div>
                    </div>
                    <div class="medium-8 columns book-figure">
                      <img src="http://placehold.it/600x350" alt="">
                      <div class="book-answer-row ru-answer-block">
                        <ul class="small-block-grid-2">
                          <li><input type="text" maxlength="20"></li>
                          <li><button class="button burgundy"></button></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="medium-11 columns book-figure">
                      <img src="http://placehold.it/600x350" alt="">
                      <div class="book-answer-row ru-answer-block">
                        <ul class="small-block-grid-2">
                          <li><input type="text" maxlength="20"></li>
                          <li><button class="button burgundy"></button></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>



              <!--
                Incorrect
              -->
              <div class="ru-answer-wrong no-print">
                <div class="row">
                  <div class="small-14 small-offset-1 columns end">
                    <h2 class="text-center">incorrect</h2>
                    <h5 class="text-center">Please try again.</h5>

                    <p><strong>B6.1</strong>  Please provide your answer to the correct number of significant figures.</p>
                    <p><strong>B6.3</strong>  You did not provide an answer</p>
                    <p><strong>B6.4</strong>  You did not provide an answer</p>
                    <p><strong>B6.5</strong>  You did not provide an answer</p>
                  </div>
                </div>
              </div>



              <!--
                Correct
              -->
              <div class="ru-answer-correct-wrap no-print" style="display:block;">
                  <div class="ru-answer-correct">
                      <div class="row">
                          <div class="small-14 small-offset-1 medium-14 medium-offset-1 columns end text-center">
                              <h1>Correct!</h1>
                          </div>
                      </div>
                  </div>
                  <div class="ru-answer-correct-summary">
                      <div class="row">
                          <div class="small-14 small-offset-1 columns end text-center">
                              <p>Well done!</p>
                          </div>
                      </div>
                  </div>
              </div>


              <!--
                Check answers
              -->
              <div class="ru-answer-check no-print">
                  <div class="row">
                      <div class="small-14 small-centered medium-8 large-6 large-offset-10 medium-offset-8 columns medium-uncentered">
                          <button class="expand ru-answer-button">Check my answer</button>
                      </div>
                  </div>
              </div>


            </div>
          </div>
        </div>
      </dd>
    </dl>
  </div>
  <div class="medium-5 large-4 columns">
  
  </div>
</div>