<div class="medium-16 columns">
  <h1 class="book-heading">{{introText.title}}</h1>
  <strong ng-show="introText.subtitle">{{introText.subtitle}}</strong>
  <img class="book-cover" src="assets/skills-book-cover.png" width="150" alt="">
  <div isaac-content doc="introText" />

  <h4>AS-Level (or equivalent)</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_a_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">a</span>
        </span>
        General Questions
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_b_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">b</span>
        </span>
        Mechanics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_c_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">c</span>
        </span>
        Electric Circuits
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_d_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">d</span>
        </span>
        Waves
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_e_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">e</span>
        </span>
        Uncertainties
      </a>
    </li>
  </ul>

  <h4>A2-Level (or equivalent)</h4>
  <ul class="medium-block-grid-2 small-block-grid-1 book-levels">
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_f_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">f</span>
        </span>
        Mechanics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_g_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">g</span>
        </span>
        Gases
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_h_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">h</span>
        </span>
        Fields
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_i_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">i</span>
        </span>
        Capacitors
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_j_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">j</span>
        </span>
        Nuclear Physics
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_k_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">k</span>
        </span>
        Modelling the Universe
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" ng-click="selectChapter('ch_l_boards')">
        <span class="icon-stack">
          <span class="icon-hexagon"></span>
          <span class="count">l</span>
        </span>
        Fact Sheets
      </a>
    </li>
  </ul>
</div>
<div isaac-modal="bookChapterOptions">
  <div class="reveal-modal-head">
    <h2>{{modalContent.title}}</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
    <div isaac-content doc="modalContent" />
  </div>
</div>
