<div class="row">
  <div class="medium-11 large-12 columns breadcrumb">
    <!--
      Breadcrumb 
    -->
    <ul class="book-breadcrumb">
      <li><a href="javascript:void(0)">Physics Workbook</a> ></li>
      <li><a href="javascript:void(0)">Mechanics</a> ></li>
      <li><a href="javascript:void(0)">Statics</a></li>
    </ul>
  </div>
  <div class="medium-5 large-4 columns">
    <!-- 
      Skill level
    -->
    <div class="book-skill">
      Skill master = 
      <span class="book-skill-level">
        9/12
      </span>
    </div>
  </div>
</div>



<div class="row">
   <div class="medium-5 large-4 columns right">
    <!-- 
      Share/print buttons 
    -->
    Share and print buttons
  </div>
  <div class="medium-11 large-12 columns left">
    <!--
      Title 
    -->
    <h2>Q: <span class="ru_burgundy">A1: Using &amp; Rearranging Equations</span></h2>
  </div>
</div>



<div class="row">
  <div class="medium-5 large-4 columns right">
    <!-- 
      Users answers 
    -->
    <dl class="book-accordion answers">
      <dd>
        <a class="title" href="javascript:void(0)">
          Your answers
          <img class="arrow no-print show-for-small-only" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content">
          <table>
            <tbody>
              <tr>
                <td>A1.1</td>
                <td class="complete">3.2km</td>
              </tr>
               <tr>
                <td>A1.2</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.3</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.4</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.5</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.6</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  </div>
  <div class="medium-11 large-12 columns left">
    <!--
      References
    -->
    <dl class="book-accordion">
      <dd>
        <a class="title" href="javascript:void(0)">
          Scenario &amp; References
          <img class="arrow no-print" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content">
          <!--
            Content - Normal
          -->
          <p>Preliminary question: A wire has a cross sectional area of 1.5mm2. What is its cross sectional area in m2? Answer: 1.5×10−6m2. If you can't see why this is true, ask your teacher before continuing with this section.</p>
          <!--
            Content - Glossary 
          -->
          <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2 book-glossary">
            <li>s = distance</li>
            <li>u, v = velocity</li>
            <li>t = time</li>
            <li>m = mass</li>

            <li>V = voltage</li>
            <li>I = current</li>
            <li>F = force</li>
            <li>a = acceleration</li>

            <li>s = distance</li>
            <li>u, v = velocity</li>
            <li>t = time</li>
            <li>m = mass</li>

            <li>V = voltage</li>
            <li>I = current</li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</div>



<div class="row">
  <div class="medium-11 large-12 columns">
    <!--
      Question accordion, reused existing code where possible 
    -->
    <dl class="accordion ru_accordion book">
      <dd class="active">
        <a class="ru_accordion_titlebar" href="javascript:void(0)">
          <div class="ru_accordion_name">Part A</div>
          <div class="ru_accordion_title">A1.1 to A1.6</div>
          <img class="arrow no-print" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content force-print active">
          <div class="row">
            <div class="medium-16 columns">
              <p>Fill in the table where specified below. Click in a field to type the answer.</p>
              <dl class="tabs ru_tabs ru-answer no-print">
                <dd class="ru-answer active">
                  <a href="javascript:void(0);">Answer <span>Now</span></a>
                </dd>
              </dl>
              <div class="tabs-content ru_tabs ru-answer">

                <!--
                  Question/answer layout 1 
                -->
                <div class="row">
                  <div class="large-9 columns">
                    <p><strong class="ru_burgundy">A1.1</strong>  F = 3:0 N, m = 2:0 kg, what is a?</p>
                  </div>
                  <div class="large-7 columns ru-answer-block">
                    <ul class="small-block-grid-2">
                      <li><span class="book-subhead">Value</span><input type="text" maxlength="20"></li>
                      <li><span class="book-subhead">Units</span><button class="button burgundy"></button></li>
                    </ul>
                  </div>
                </div>

                <!--
                  Question/answer layout 2
                -->
                <div class="row">
                  <table class="book-table">
                    <thead>
                      <tr>
                        <td>Diameter<br />(mm)</td>
                        <td>Cross sectional<br />area (m2)</td>
                        <td>Original length<br />(m)</td>
                        <td>Tension<br />(N)</td>
                        <td>Extension<br />(mm)</td>
                        <td>Stress<br />(MPa)</td>
                        <td>Strain<br />(%)</td>
                        <td>Young’s modulus<br />(GPa)</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.0</td>
                        <td></td>
                        <td>56</td>
                        <td>890</td>
                        <td>23</td>
                        <td><input type="text"></td>
                        <td></td>
                        <td><input type="text"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>7.36</td>
                        <td></td>
                        <td><input type="text"></td>
                        <td>500</td>
                        <td><input type="text"></td>
                        <td>211</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dd>
    </dl>
  </div>
  <div class="medium-5 large-4 columns">
  
  </div>
</div>