<div class="row">
  <div class="medium-11 large-12 columns">
    <!--
      Breadcrumb 
    -->
    <ul class="book-breadcrumb">
      <li><a href="javascript:void(0)">Physics Workbook</a> ></li>
      <li><a href="javascript:void(0)">Mechanics</a> ></li>
      <li><a href="javascript:void(0)">Statics</a></li>
    </ul>

    <!--
      Title 
    -->
    <h2>Q: <span class="ru_burgundy">A1: Using & Rearranging Equations</span></h2>

    <!--
      References
    -->
    <dl class="book-accordion">
      <dd>
        <a class="title" href="javascript:void(0)">
          Scenario &amp; References
          <img class="arrow no-print" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content">
          content
        </div>
      </dd>
    </dl>
    <!--
      Question accordion, reused existing code where possible 
    -->
    <dl class="accordion ru_accordion book">
      <dd class="active">
        <a class="ru_accordion_titlebar" href="javascript:void(0)">
          <div class="ru_accordion_name">
            <span>Part A</span>
          </div>
          <div class="ru_accordion_title">A1.1 to A1.6</div>
          <img class="arrow no-print" src="/assets/icon-expand-arrow.png">
        </a>
        <div>
          <div class="medium-16 columns">
            <dl class="tabs ru_tabs ru-answer no-print">
              <dd class="ru-answer active">
                <a href="javascript:void(0);">Answer <span>Now</span></a>
              </dd>
              <div class="tabs-content ru_tabs ru-answer">

              </div>
            </dl>
          </div>
        </div>
      </dd>
    </dl>
  </div>
  <div class="medium-5 large-4 columns">
    <!-- 
      Skill level
    -->
    <div class="book-skill">
      Skill master = 
    </div>

    <!-- 
      Users answers
    -->
    <dl class="book-accordion answers">
      <dd>
        <a class="title" href="javascript:void(0)">
          Your answers
          <img class="arrow no-print show-for-small-only" src="/assets/icon-expand-arrow.png">
        </a>
        <div class="content">
          <table>
            <tbody>
              <tr>
                <td>A1.1</td>
                <td>3.2km</td>
              </tr>
               <tr>
                <td>A1.2</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.3</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.4</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.5</td>
                <td></td>
              </tr>
               <tr>
                <td>A1.6</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  </div>
</div>