<a href="javascript:void(0)" ng-click="go(sourceUrl)">
    <div desktop-panel arrow-block class="no-print">
        <div class='ru-panel-arrow'> </div>
        <div class='ru-desktop-panel-content'>
            <p class='ru_green ru-panel-question'><em>{{backText}}</em></p>
        </div>
    </div>
</a>
<a href="javascript:void(0)" ng-click="go(sourceUrl)">
    <div mobile-panel arrow-block class="no-print">
        <div class='ru-panel-arrow'> </div>
        <div class='row'>
            <div class='small-16 columns'>
                <p class='ru_green ru-panel-question'><em>{{backText}}</em></p>
            </div>
        </div>        
    </div>
</a>

<div class="row">
    <div class='large-16 medium-16 columns print-no-side-padding'>
        <section>
            <div class="row ru-concept">
                <div class="ru-concept-inner ru-border">
                    <div class="small-15 small-offset-0 medium-14 medium-offset-1 columns end ru-concept-intro">
                        <div class="only-print print-header">
                            <span class="{{pageSubject}}">{{shareUrl}}</span>
                        </div>

                        <a ui-sref='home' class='only-print print-logo'><img alt='Isaac. Physics. You work it out.'
                                                                             src='/assets/isaac-logo-strap-print.svg'></a>
                        <a print-button></a>
                        <a share-button></a>
                        <div class='ru_share_link slide-animate' ng-show="showShareUrl">
                            <div>
                                {{shareUrl}}
                            </div>
                        </div>
                        <h2 class="ru_{{pageSubject}}" math-jax>{{page.title}}</h2>
                        <h3 class='subheader'>
                            <strong ng-if="pageSubject == 'physics'">Physics Concept</strong>
                            <strong ng-if="pageSubject == 'maths'">Maths Concept</strong> 
                            <span api-environment="dev">({{questionPage.published ? "Published" : "Unpublished"}})</span>
                        </h3>
                    </div>
                    <div class="clearfix"></div>

                    <div isaac-content doc="page"></div>
                </div>
            </div>
        </section>

        <!-- Buttons -->
        <section>
            <div class="large-6 large-offset-5 medium-6 medium-offset-5 small-12 small-offset-2 columns ru-concept-buttons">
				<a class='ru-concept-button {{pageSubject}} no-print' ui-sref="conceptIndex">Concept Index</a>
            </div>
        </section>

        <section footer-pods related-content="page.relatedContent"></section>
    </div>
</div>