<div desktop-panel arrow-block class="no-print">
    <a class='ru-panel-arrow' ng-click='go(sourceUrl)'> </a>
    <div class='ru-desktop-panel-content'>
        <p class='ru_green ru-panel-question'><em>{{backText}}</em></p>
    </div>
</div>
<div mobile-panel arrow-block class="no-print">
    <a class='ru-panel-arrow' ng-href="go(sourceUrl)"> </a>
    <div class='row'>
        <div class='small-16 columns'>
            <p class='ru_green ru-panel-question'><em>{{backText}}</em></p>
        </div>
    </div>
</div>


<div class="row">
    <div class='large-16 medium-16 columns print-no-side-padding'>
        <section>
            <div class="row ru-concept">
                <div class="ru-concept-inner ru-border">
                    <div class="small-15 small-offset-0 medium-14 medium-offset-1 columns end ru-concept-intro">
                        <a ui-sref='home' class='only-print print-logo'><img alt='Isaac. Physics. You work it out.' class='ru-mobile-menu-img' src='/assets/isaac-logo.png'></a>
                        <div class="ru_share">

                        </div>
                        <div class='ru_share_link'>
                            <div>
                                http://issacphysics/2736
                            </div>
                         </div>
                        <a print-button></a>
                        <h2 class="ru_{{pageSubject}}" math-jax>{{page.title}}</h2>
                        <h3 class='subheader' ng-if="pageSubject == 'physics'"><strong>Physics Concept</strong></h3>
                        <h3 class='subheader' ng-if="pageSubject == 'maths'"><strong>Maths Concept</strong></h3>
                    </div>
                    <div class="clearfix"></div>

                    <div isaac-content doc="page"></div>
                </div>
            </div>
        </section>

        <!-- Buttons -->
        <section>
            <div class="row no-print">
                <div class="large-12 large-offset-2 medium-12 medium-offset-2 small-16 columns ru-concept-buttons">
                    <ul class='medium-block-grid-2 small-block-grid-2 ru-pad'>
                        <li><a class='ru-concept-button' ui-sref="conceptIndex">Concept Index</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section footer-pods related-content="page.relatedContent"></section>
    </div>
</div>