
<div class="row">
    <div class='large-16 medium-16 columns'>

        <h1 class="h1-concept-index">Concepts</h1>
        <section class='ru-concept-search'>
            <div class='row'>
                <div class='medium-2 small-0 columns hide-for-small-only'>
                    <h3>Search:</h3>
                </div>
                <div class='clearfix show-for-small-only'></div>
                <div class='medium-14 small-13 columns'>
                    <input type='text' ng-model="searchText">
                    <div class="ru-search-list hide-for-small-only">
                    </div>
                </div>

                <div class='medium-1 small-3 columns end'>
                    <!--<button id='desktop-button' class='hide-for-small-only'>GO</button>-->
                    <div id='mobile-button' class='hide-for-medium-up'>
                        <img src='/assets/mobile-search.png'>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>

        <!-- Results -->
        <section>
            <div class='row ru-mobile-searchbar-wrap'>
                <div class='small-16 columns'>
                    <div class="ru-search-result-bar">
                        <h4 class="left">Search Results</h4>
                        <div class="right">
                            <span class='hide-for-small-only'>Filter</span>
                            <input type="checkbox" id="includeBiology" ng-model="includeBiology"><label for="includeBiology">Biology</label>
                            <input type="checkbox" id="includeMaths" ng-model="includeMaths"><label for="includeMaths">Maths</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="ru-concept-results">
                <a ng-repeat="concept in allConcepts | filter:{$:searchText} | filter:subjectFilter" class="ru-mobile-answer-wrap" ng-init="maths = concept.tags.indexOf('maths') > -1; biology = concept.tags.indexOf('biology') > -1;" ng-class="{maths: maths && !biology, biology: biology && !maths, both: biology && maths}" ui-sref="concept({id: concept.id})" >
                    <div class="row ">
                    <div class='small-16 columns'>
                        <div ng-class="{'ru-search-result': true, odd: $odd, even: $even}">
                            <div class="ru-search-result-content">
                                <img class="right show-for-small-only" src="/assets/isaac-index-arrow.png">
                                <h4>
                                    <span class="maths" ng-show="maths">Maths</span>
                                    <span ng-show="maths && biology">&amp;</span>
                                    <span class="biology" ng-show="biology">Biology</span>
                                    : {{concept.title}}
                                </h4>

                                <p>{{concept.summary}}</p>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    </div>
                </a>
            </div>
            <div class="ru-concept-pad">

            </div>
            <div class="ru-concept-result-controls">
                <div class="row">
                    <div class='small-16 columns show-for-small-only'>
                        <button id="load-more">Load more</button>
                    </div>
                </div>
                <div class="ru-concept-result-bullets hide-for-small-only text-center">

                </div>
            </div>
        </section>
    </div>
</div>
