<div class="row">
    <div class="small-16 columns" style="margin-bottom:50px">
        <h1>{{ editorMode | capitalize}} Equation Editor</h1>
        <h5>Other modes:
            <span ng-hide="editorMode== 'maths'">[<a href="/equality">Maths</a>]</span>
            <span ng-hide="editorMode== 'chemistry'">[<a href="/equality?mode=chemistry">Chemistry</a>]</span>
            <span ng-hide="editorMode== 'logic'">[<a href="/equality?mode=logic">Boolean Logic</a>]</span>
        </h5>
    </div>
</div>
<div class="row">
    <div class="small-16 columns">
        <div ng-show="user.role == 'ADMIN' || user.role == 'EVENT_MANAGER' || user.role == 'CONTENT_EDITOR'">
            <input ng-model="eqnEditorSeed" class="equation-seed" type="text" placeholder="Paste the seed!" />
        </div>

        <div equation-input state="eqnState" question-doc="questionDoc" editor-mode="editorMode"></div>

        <div ng-show="eqnState.result">
            <div style="margin-bottom:25px;"></div>

            <h3>
                LaTeX
                <span data-ot="This can be used in a LaTeX document to typeset this expression. You may need the 'amsmath' and 'mhchem' packages for some expressions, and a few require custom definitions." class="has-tip" aria-haspopup="true" style="float:right;">
                    <span class="icon-help"></span>
                </span>
            </h3>

            <div style="border:1px solid #ccc; border-radius:10px; padding:5px;background:#eee;">
                <pre ng-if="editorMode == 'maths'" style="padding:10px;background:#eee;text-align:center;font-size:2rem;word-wrap:break-word;white-space:pre-wrap;">${{eqnState.result.tex}}$</pre>
                <pre ng-if="editorMode == 'chemistry'" style="padding:10px;background:#eee;text-align:center;font-size:2rem;word-wrap:break-word;white-space:pre-wrap;">$\ce{ {{eqnState.result.mhchem}} }$</pre>
            </div>

            <div style="margin-bottom:25px;"></div>
            <div ng-if="editorMode == 'chemistry'">
                <h3>
                    mhchem
                    <span data-ot="mhchem is a LaTeX package which is used to typeset Chemical and Nuclear equations and expression. This expression can be used in the \ce{...} environment." class="has-tip" aria-haspopup="true" style="float:right;">
                    <span class="icon-help"></span>
                </span>
                </h3>
                <div style="border:1px solid #ccc; border-radius:10px; padding:5px;background:#eee;">
                    <pre style="padding:10px;background:#eee;text-align:center;font-size:2rem;;word-wrap:break-word;white-space:pre-wrap;">{{eqnState.result.mhchem}}</pre>
                </div>
            </div>

            <div style="margin-bottom:25px;"></div>
            <div ng-if="editorMode == 'maths'">
                <h3>
                    Python-like
                    <span data-ot="An example of Python-like code representing the formula. We use this to check answers on Isaac with the Sympy package." class="has-tip" aria-haspopup="true" style="float:right;">
                    <span class="icon-help"></span>
                </span>
                </h3>
                <span style="font-size: 0.8rem;">You can use this syntax to type answers to symbolic questions!</span>
                <div style="border:1px solid #ccc; border-radius:10px; padding:5px;background:#eee;">
                    <pre style="padding:10px;background:#eee;text-align:center;font-size:2rem;;word-wrap:break-word;white-space:pre-wrap;">{{eqnState.result.python}}</pre>
                </div>
                <div style="margin-bottom:25px;"></div>
            </div>
            <h3>
                MathML
                <span data-ot="This can be copied and pasted into a Word document to insert this formula. Just paste using the 'Keep Text Only' option." class="has-tip" aria-haspopup="true" style="float:right;">
                    <span class="icon-help"></span>
                </span>
            </h3>
            <div style="border:1px solid #ccc; border-radius:10px; padding:5px;background:#eee;">
                <pre style="padding:10px;background:#eee;text-align:left;font-size:1rem;word-wrap:break-word;white-space:pre-wrap;">{{eqnState.result.mathml}}</pre>
            </div>
            <div style="margin-bottom:45px;"></div>
            <div ng-show="segueEnvironment=='DEV'">
                <hr>
                <div style="margin-bottom:25px;"></div>
                <h3>
                    List of Symbols and Functions
                    <span data-ot="This list can be copied and pasted into the content editor for 'Available symbols'." class="has-tip" aria-haspopup="true" style="float:right;">
                        <span class="icon-help"></span>
                    </span>
                </h3>
                <div style="border:1px solid #ccc; border-radius:10px; padding:5px;background:#eee;">
                    <pre style="padding:10px;background:#eee;text-align:center;font-size:2rem;;word-wrap:break-word;white-space:pre-wrap;">{{eqnState.result.uniqueSymbols}}</pre>
                </div>
                <div style="margin-bottom:25px;"></div>
                <h3>
                    Equation Editor Seed
                    <span data-ot="This seed can be copied and pasted into the content editor for 'Equation seed'. If it doesn't contain placeholders, it won't really form a seed!" class="has-tip" aria-haspopup="true" style="float:right;">
                        <span class="icon-help"></span>
                    </span>
                </h3>
                <div style="border:1px solid #ccc; border-radius:10px; padding:5px;background:#eee;">
                    <pre style="padding:10px;background:#eee;text-align:left;font-size:1rem;word-wrap:break-word;white-space:pre-wrap;">{{eqnState.symbols}}</pre>
                </div>
            </div>
            <div style="margin-bottom:25px;"></div>
        </div>
    </div>
</div>
