
<div class="row">
    <div class='small-14 small-offset-1 columns'>
        <h1>Session Expired</h1>
        <h2 class="subheader">We're sorry, but your session has expired!</h2>

        <br>

        <h3 style="font-weight:normal;">You should try <a onclick="window.location.reload(true)">refreshing the page</a>, or refreshing whilst <a href="https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache#Bypassing_cache" target="_blank">bypassing your browser's cache</a>, which may have saved an outdated version of Isaac.</h3>
        <br>
        <h3 style="font-weight:normal;">Please email <a href="mailto:webmaster@isaacphysics.org">webmaster@isaacphysics.org</a> if this keeps happening.</h3>
    </div>
</div>