<div class="row">
	<div class='medium-13 columns'>
		<h1>Isaac Books, Exam Help and Transition to University</h1>
		<h3 class="subheader">Useful pages on Isaac Physics:</h3>
	</div>		
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">	
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a href="/gcsebook" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						GCSE Skills Mastery
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/book" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Pre-University Skills Mastery
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/fast_track_as" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#calendar"></img>
					<div class="hexagon-title">
						University Entrance Preparation
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/fast_track_a2" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						Preparing to start University
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>			
	</div>	
</div>