<div class="small-16 columns ru-border">
    <h3>External Link</h3>
    <div class="row">
        <div class="small-14 small-offset-1 columns">
            <span>This URL points to another website, click the link below to visit that page:</span>
            <div class="small-16 columns" style="margin:5vh auto; text-align: center; word-wrap: break-word;">
                <a href="{{link}}" rel="nofollow">{{link}}</a>
            </div>
            <div style="font-size: 0.8rem; padding: 1em 1em;">Isaac is not responsible for the content of external sites.</div>
        </div>
    </div>
</div>