<div class="row">
	<div class='medium-13 columns'>
		<h1>GCSE Resources</h1>
	</div>		
</div>
<div class="small-16 columns" style="margin-top: 20px;">
	<div class="teacher-feature-body">	
		<div class="row">
			<div class="small-16 medium-8 large-4 columns">
				<a href="/gcsebook" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Physics Skills Mastery
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/gameboards?filter=true#de583d25-93c9-4600-a6e3-6ae144b105fd" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#question"></img>
					<div class="hexagon-title">
						Problem Solving
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/mentor_menu" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						Mentoring Schemes
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="/pages/pre_made_gameboards#gcse_to_alevel" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#question"></img>
					<div class="hexagon-title">
						Preparation for A Level
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>	
	</div>
</div>
<div class="small-16 columns">
	<div class="teacher-feature-body">
		<div class="row">
			<div class="hexagon-offset-even small-16 medium-8 large-4 large-offset-2 columns">
				<a href="/pages/gcse_quizzes" class="hexagon">
					<img class="hexagon-field" src="/assets/key_stage_sprite.svg#question"></img>
					<div class="hexagon-title">
						Quick Quizzes
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>			
	</div>	
</div>
