<div class="row">
	<div class='large-16 medium-16 columns print-no-side-padding'>
        <section>
            <div class="row ru-concept">
                <div class="ru-concept-inner ru-border">
                    <div class="row">
                        <div class="small-15 small-offset-1 columns end">
                            <div class="only-print print-header">
                                <span class="{{pageSubject}}">{{shareUrl}}</span>
                            </div>

                            <a ui-sref='home' class='only-print print-logo'><img alt='Isaac Physics. You work it out.'
                                                                                 src='/assets/isaac-logo-strap-print.svg'></a>
                            <a print-button></a>
                            <a share-button></a>
                            <div class='ru_share_link slide-animate' ng-show="showShareUrl">
                                <div class="share-url-div">{{shareUrl}}</div>
                            </div>
                            <h2 class="ru_{{pageSubject}}" math-jax>{{page.title}}</h2>
                            <h3 api-environment="dev">{{page.published ? "Published" : "Unpublished"}}
                                <a href="{{contentEditorURL}}" target="_blank">&#9998;</a> <a title="Preview in React" href="{{staging2URL}}" target="_blank">&#8618;</a>
                            </h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div isaac-content doc="page"></div>
                </div>
            </div>
    </div>
</div>
