<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1>Manage Groups</h1>
        <p class="hide-for-small-only">Keep track of your active and archived groups across the whole year.</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span title="Information about current page" class="has-tip" aria-haspopup="true" data-tooltip=""><span class="icon-help"></span>Help</span>
    </div>
</div>
<div class="group-management-wrap row">
    <div class="large-6 columns">
        <dl class="tabs profile-tabs no-print">
            <dd class="active"><a href="#">Active Groups</a></dd>
            <dd><a href="#">Archived  Groups</a></dd>
        </dl>
        <div class="tabs-content profile-tabs-content">

            <div class="hide-for-large-up">
                <div class="large-16 columns">
                    <h6>Create New Group</h6>
                    <input type="email" />

                    <h6>Invite Student<span class="show-for-medium-up"> to group</span> via email</h6>
                    <p>Email addresses MUST be seperated by a comma.</p>
                    <textarea></textarea>
                    <a class="ru-button-big expand">Save</a>
                </div>
            </div>



            <!-- Active groups navigation -->
            <div class="group-header show-for-large-up">
            	<span class="left">Group Name</span>
            	<span class="right">Group CODE</span>
            </div>
            <dl class="group-nav">
                <dd class="active">
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Dolphins
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>
                    <div class="group-nav-content hide-for-large-up" ng-include="'/partials/group_management_details.html'"></div>
                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Tigers
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Monkeys
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Lions
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Elephants
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Panthers
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Tigers
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right"><strong>TKN@%@DD354</strong></span>
                    </a>

                </dd>

            </dl>
            <div class="show-for-large-up">
                <a class="ru-button-big secondary expand">Create new group</a>
            </div>



            <!-- Archived groups navigation -->
            <div class="group-header show-for-large-up">
            	<span class="left">Group Name</span>
            	<span class="right">Archived</span>
            </div>
            <dl class="group-nav">
                <dd class="active">
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Dolphins
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Tigers
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Monkeys
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Lions
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>
      
                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Elephants
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>

                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Panthers
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>
         
                </dd>

                <dd>
                    <a class="group-nav-header" href="#">
                        <span class="group-icon"></span>
                        Tigers
                        <img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" />
                        <span class="group-nav-right">1st Nov 2014</span>
                    </a>

                </dd>

            </dl>



        </div>
    </div>

    <!-- Start desktop only -->
    <div class="large-10 columns show-for-large-up">
        <div class="panel">
            <h6>Create New Group</h6>
            <input type="email" />

            <h6>Invite Student<span class="show-for-medium-up"> to group</span> via email</h6>
            <p>Email addresses MUST be seperated by a comma.</p>
            <textarea></textarea>
            <a class="ru-button-big expand">Save</a>
        </div>

        <div class="panel" ng-include="'/partials/group_management_details.html'"></div>
    </div>
    <!-- End desktop only -->

    <!-- Toast message -->
    <div class="toast">
    	<div class="toast-icon">
    		<span class="toast-complete-icon"></span>
    	</div>
    	<div class="toast-message">
    		<h4 class="ru_green">Group saved</h4>
    		<p>A little bit more text about the function performed and next steps</p>
    	</div>
    </div>

</div>