<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1>Manage Groups</h1>
        <p class="hide-for-small-only">Keep track of your groups</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span data-ot="Use this page to manage groups. You can add users to a group by giving them the group token and asking them paste it into their account settings page.<br>You can find the token for an existing group by selecting the group and clicking <i>Invite Users</i>." data-html="true" class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help</span>
    </div>
</div>
<div class="group-management-wrap row">
    <div class="large-6 columns">
        <dl class="tabs profile-tabs no-print">
            <dd ng-class="{active: !archivedView}"><a href="javascript:void(0)" ng-click="changeArchivedGroupsView(false)">Active Groups</a></dd>
            <dd ng-class="{active: archivedView}"><a href="javascript:void(0)" ng-click="changeArchivedGroupsView(true)">Archived Groups</a></dd>
        </dl>
        <div class="tabs-content profile-tabs-content">

            <!-- Start Mobile view only - this section is duplicated from the group_management_details partial as mobile needs it here. -->
            <div class="hide-for-large-up">
                <div class="large-16 columns">
                    <form ng-submit="saveGroup(false)">
                    <h6>Create New Group</h6>
                        <input type="text" ng-model="newGroup.groupName" placeholder="Enter the name of your group here"/>
                        <div ng-if="emailInviteFeatureAvailable">
                            <h6>Invite Student<span class="show-for-medium-up"> to group</span> via email</h6>
                            <p>Email addresses MUST be seperated by a comma.</p>
                            <textarea></textarea>                        
                        </div>

                        <a class="ru-button-big expand" ng-click="saveGroup(false)">Create group</a>                        
                    </form>
                </div>
            </div>
            <!-- End Mobile view only -->

            <div class="group-header show-for-large-up">
                <span class="left" style="line-height: 35px;">Groups:</span>
                <select class="right" ng-model="sortOption" ng-options="option.label for option in sortOptions" style="width:50%;margin-bottom:5px;"></select>
            </div>
            <div ng-if="selectedGroup" class="show-for-large-up">
                <a class="ru-button-big secondary expand" ng-click="setSelectedGroup(null)">Create new group</a>
            </div>
            <dl class="group-nav">
                <dd ng-class="{active: group._id == selectedGroup._id}" ng-repeat="group in myGroups | orderBy:sortOption.val:sortOption.reverse">
                    <a class="group-nav-header" ng-click="setSelectedGroup(group)">
                        <span class="group-icon"></span>
                        {{group.groupName}}
                        <!--img class="group-nav-toggle" src="/assets/icon-expand-arrow.png" alt="" /-->
                        <span class="group-nav-right"><strong></strong></span>
                    </a> 
                    <a ng-if="group && group.ownerId == user._id" class="group-nav-delete" href="javascript:void(0)" ng-click="deleteSelectedGroup(group)">
                        X
                    </a>
                    <a ng-if="group && group.ownerId != user._id" class="group-nav-delete" href="javascript:void(0)" >
                        &nbsp;
                    </a>
                    <div ng-show="selectedGroup" class="group-nav-content hide-for-large-up" ng-class="{'hide-for-small-up': selectedGroup == null || selectedGroup._id != group._id}" ng-include="'/partials/group_management_details.html'"></div>
                </dd>
                <dd ng-if="myGroups == null || myGroups.length == 0">
                    <p class="small-text-center show-for-large-up">You do not have any groups to display.</p>
                </dd>
            </dl>
        </div>
    </div>

    <!-- Start desktop only -->
    <div class="large-10 columns show-for-large-up">
        <div class="panel" ng-include="'/partials/group_management_details.html'"></div>
    </div>
    <!-- End desktop only -->
</div>

<div isaac-modal="shareCode">
  <div class="reveal-modal-head">
    <h2>Group Created</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body ru-page-heading">
    <h3>Invite users</h2>
    <p>Use one of the following methods to add users to your group:</p>
    <div class="panel">
        <h4>Option 1: Share link</h3>
        <p>Share the following link with your students to have them join your group:</p>
        <p class="text-center"><strong>{{groupJoinURL || "Loading..."}}<strong></p>
    </div>
    <div class="panel">
        <h4>Option 2: Share token</h3>
        <p>Ask your students to enter the following code into the Teacher Connections tab on their My Account page:</p>
        <p class="text-center"><strong>{{selectedGroupToken.token || "Loading..."}}<strong></p>    
    </div>
    <h4>Next steps:</h3>
    <div class="row">
            <div class="small-16 columns">
                <p>Now you've made a group, you may want to:</p>
            </div>          
        </div>
        <div class="row">
            <button class="small-offset-2 small-5 columns" ng-click="modals.shareCode.hide();setSelectedGroup(null)">Create another group</button>
            <button class="small-offset-2 small-5 columns" ng-click="modals.shareCode.hide()" ui-sref="setAssignments">Set an assignment</button>
            <button ng-show="$root.userPreferences.BETA_FEATURE.ADDITIONAL_GROUP_MANAGERS" class="small-offset-2 small-5 columns end" ng-click="modals.shareCode.hide();modals.groupManagers.show()">Edit group managers</button>
        </div>      
      </div>    
  </div>
</div>

<div isaac-modal="groupManagers">
  <div class="reveal-modal-head">
    <h2 ng-show="selectedGroup.ownerId == user._id">Share your group</h2>
    <h2 ng-show="selectedGroup.ownerId != user._id">Shared group</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body ru-page-heading">
    <h3>Selected group: {{selectedGroup.groupName}}</h3>
    <p>Sharing this group lets other teachers edit the group name, add and remove students, set new assigments and view assignment progress. It will not automatically let additional teachers see detailed mark data unless students give access to the new teacher.</p> 
    
    <div class="group-accordion-content">
        <h4>Current group managers</h4>
        <p ng-if="selectedGroup.additionalManagers.length != 0">The users below have permission to manage this group.</p>
        <p ng-if="selectedGroup.additionalManagers.length == 0">There are no additional group managers for this group.</p>
        <table class="group-table">
            <tbody>
                <tr ng-repeat="member in selectedGroup.additionalManagers | orderBy:'familyName'" ng-class="{disabled: !member.authorisedFullAccess}">
                    <td><span class="group-table-person"></span>{{member.givenName}} {{member.familyName}} ({{member.email}})</td>
                    <td ng-if="selectedGroup.ownerId == user._id" class="group-table-delete"><a class="delete-icon" href="javascript:void(0)" ng-click="deleteManager(selectedGroup, member)"></a></td>
                </tr>
            </tbody>
        </table>
        <div ng-show="selectedGroup.ownerId == user._id">
            <br>
            <h5>Add additional managers</h5> 
            <p>Enter the email of another Isaac teacher account below to add them as a group manager.</p>
            <form ng-submit="addManager(selectedGroup, newAdditionalManager.email)">
                <input type="text" ng-model="newAdditionalManager.email" placeholder="Enter email address here"/>
                <p><small><strong>Remember:</strong> Students may need to reuse the <a href="javascript:void(0)" ng-click="modals.shareCode.show()">group link</a> to approve access to their data for any new teachers.</small></p>
                <a class="ru-button-big expand" ng-click="addManager(selectedGroup, newAdditionalManager.email)">Add group manager</a>
            </form>
        </div>
    </div>     
  </div>
</div>