<div class="row">
    <div class="small-16 columns show-for-small-only">
        <h1>Welcome to Isaac</h1>
    </div>    
</div>

<!-- Additional Information Panel - when NOT logged in -->
<div class="row" ng-if="!user.givenName">
    <div class="small-16 columns">
        <section class="top-pods">
            <div pod-carousel></div>
        </section>
    </div>
</div>

<!-- Medium to Large game board filter -->
<div class='row hide-for-small-only'>
    <div class='large-16 medium-16 columns'>
        <div class='ru-desktop-panel ru-game-filter-panel extra-desktop-panel-gap'>
                <div class='ru-desktop-panel-content'>
                    <div class='medium-7 columns'>
                        <span ng-if="!breadCrumbSubject">&nbsp;</span>
                        <a class="ru-crumb" ng-click="openFilterPanel('desktop-filter')" href="javascript:void(0)">
                            <ul ng-if="breadCrumbSubject" ng-class="{'ru-crumb': true, physics: breadCrumbSubject == 'physics', maths: breadCrumbSubject == 'maths', 'multiple-subjects': breadCrumbSubject == 'multiple_subjects'}">
                                <li ng-if="breadCrumbSubject" ng-bind-html="getTagTitle(breadCrumbSubject)"></li>
                                <li ng-if="breadCrumbField" ng-bind-html="getTagTitle(breadCrumbField)"></li>
                                <li ng-if="breadCrumbTopic" ng-bind-html="getTagTitle(breadCrumbTopic)"></li>
                            </ul>
                        </a>
                    </div>
                    <div class='medium-8 end columns text-right'>
                        <h2 class='ru-welcome'>Get started</h2>
                        <span class='ru-challenge' ng-hide="filterPanelOpen"><a href="javascript:void(0)" ng-click="openFilterPanel('desktop-filter')">Choose your questions</a></span>
                    </div>
                    <div class='clearfix'></div>

                    <div id='desktop-filter' class="down isdown hide-animate" ng-show="filterPanelOpen == 'desktop-filter'">
                        <div class='medium-9 large-10 columns' id='desktop-filter1'>
                            <div hex-filter subjects="filterSubjects" fields="filterFields" topics="filterTopics" warnings="warnings"></div>
                        </div>
                        <div class='medium-7 large-6 columns'>
                            <div id='desktop-filter2'>
                                <div difficulty-filter="filterLevels"></div>
                            </div>
                            <div id='desktop-filter3'>
                                <div concept-filter="filterConcepts"></div>
                            </div>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                </div>
                <a href="javascript:void(0)" ng-click="scrollToQuestions()" class="filter-go-to-questions" ng-show="gameBoard.questions && filterPanelOpen == 'desktop-filter'">Go to Questions...</a>
                <a href="javascript:void(0)" aria-label="Reveal Filters" id="desktop-reveal" ng-click="openFilterPanel('desktop-filter')" ng-class="{down: filterPanelOpen == 'desktop-filter'}"></a>
        </div>
    </div>
</div>

<!-- Small (Mobile) game board filter -->
<div class="show-for-small-only no-print">
    <div class='row'>
        <div class='small-16 columns bottom-grey'>
        <h2>Choose your questions</h2>
            <ul class='small-block-grid-3 ' id='buttons'>
                <li id='button-hex' ng-click="openFilterPanel('mobile-filter1')" data-for="mobile-filter1" ng-class="{active: filterPanelOpen == 'mobile-filter1'}">
                    <p><small>Question Topics</small></p>
                </li>
                <li id='button-difficulty' ng-click="openFilterPanel('mobile-filter2')" data-for="mobile-filter2" ng-class="{active: filterPanelOpen == 'mobile-filter2'}">
                    <p><small>Difficulty</small></p>
                </li>
                <li id='button-concept' ng-click="openFilterPanel('mobile-filter3')" data-for="mobile-filter3" ng-class="{active: filterPanelOpen == 'mobile-filter3'}">
                    <p><small>Filter by concept</small></p>
                </li>
            </ul>
        </div>
        <div class='clearfix'></div>
        <div class='mobile-filter'>
            <div id='mobile-filter1' ng-show="filterPanelOpen == 'mobile-filter1'" class="down isdown">
                <div id="hexfilter" hex-filter subjects="filterSubjects" fields="filterFields" topics="filterTopics" warnings="warnings"></div>
            </div>
            <div id='mobile-filter2' ng-show="filterPanelOpen == 'mobile-filter2'" class="down isdown">
                <div difficulty-filter="filterLevels"></div>
            </div>
            <div id='mobile-filter3' ng-show="filterPanelOpen == 'mobile-filter3'" class="down isdown">
                <div concept-filter="filterConcepts"></div>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
    <div id="mobile-base">
        <div id="mobile-hide">
        </div>
    </div>
</div>

<div class="row">
    <div class='large-16 medium-16 columns'>
        <section>
            <div class="row">
                <div class='ru-board-title'>
                    <div class="large-5 medium-5 columns show-for-medium-up">
                        <a class="" href="javascript:void(0)" ng-show="shuffleStack.length > 0" ng-click="undoShuffle()"><img src="/assets/icon-undo-shuffle.png" class="ru-board-img" alt="Undo icon for Refresh board operation."><h4>Undo Refresh</h4></a>&nbsp;
                    </div>
                    <div class="medium-6 small-16 columns text-center">
                        <h2 ng-show="editedGameBoardTitle == null" ng-click="editedGameBoardTitle=(user._id == gameBoard.ownerUserId ? (gameBoard.title || generateGameBoardTitle(gameBoard)) : null)">{{gameBoard.title || generateGameBoardTitle(gameBoard)}}</h2>
                        <br/>
                        <strong><a ng-show="gameBoard.$resolved && editedGameBoardTitle == null" href="javascript:void(0)" ui-sref="addBoard({boardId:gameBoard.id})">Save this board</a></strong>

                        <span ng-hide="editedGameBoardTitle==null">
                            <input type="text" ng-model="editedGameBoardTitle">
                            <button ng-click="saveGameBoardTitle()">Save</button>
                            <button ng-click="editedGameBoardTitle = null">Cancel</button>
                        </span>
                    </div>
                    <div class="large-5 small-5 columns show-for-medium-up">
                        <div id="tutorial-shuffle" class="right">
                            <a href="javascript:void(0)" ng-click="shuffleBoard()" ng-hide="gameBoard.creationMethod === 'BUILDER'"><h4>Refresh Board</h4>
                            <img src="/assets/icon-shuffle.png" class="ru-board-img" alt="Refresh board icon."></a>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row warnings">
                    <div class='small-16 columns text-center'>
                        <div class='ru-score' ng-repeat="w in warnings">
                            <strong>Warning:</strong> {{w[1]}}
                        </div>
                    </div>
                </div>

                <div id="game-board-panel" class="small-16 columns" hexagons="gameBoard.questions" wild-card="gameBoard.wildCard" wild-card-position="gameBoard.wildCardPosition" loading="gameBoardLoading" board-id="gameBoard.id"></div>

                <div class=''> 
                    <div class='ru-board-title hide-for-medium-up'>
                        <div class="small-8 columns">
                            <a ng-show="shuffleStack.length > 0" ng-click="undoShuffle()">
                                <img src="/assets/icon-undo-shuffle.png" class="ru-board-img">
                                <h4>Undo Refresh</h4>
                            </a>
                        </div>
                        <div class="small-8 columns">
                            <div class="right">
                                <a ng-click="shuffleBoard()">
                                    <h4>Refresh Board</h4>
                                    <img id="tutorial-shuffle-mobile" src="/assets/icon-shuffle.png" class="ru-board-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <div class="pad"></div>
            <div class='show-for-small-only pad'></div>     

            <a href="javascript:void(0)" ng-click="modals.congrats.show()">open Congratulations message</a>

        <!-- Additional Information Panel - when logged in -->
        <section ng-if="user.givenName">
            <div pod-carousel></div>
        </section>

            <!-- SVG Patterns used in the hexagons -->
            <svg id="svg-patterns" width="1" height="2" viewBox="0 0 1 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <filter id="filter1">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="0.6"></feFuncR>
                            <feFuncG type="linear" slope="0.6"></feFuncG>
                            <feFuncB type="linear" slope="0.6"></feFuncB>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter2">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="0.8"></feFuncR>
                            <feFuncG type="linear" slope="0.8"></feFuncG>
                            <feFuncB type="linear" slope="0.8"></feFuncB>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter3">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="1.3"></feFuncR>
                            <feFuncG type="linear" slope="1.3"></feFuncG>
                            <feFuncB type="linear" slope="1.3"></feFuncB>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter4">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="1.6"></feFuncR>
                            <feFuncG type="linear" slope="1.6"></feFuncG>
                            <feFuncB type="linear" slope="1.6"></feFuncB>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter5">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="1"></feFuncR>
                            <feFuncG type="linear" slope="1"></feFuncG>
                            <feFuncB type="linear" slope="1"></feFuncB>
                        </feComponentTransfer>
                    </filter>

                    <pattern id="physics" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-purple-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="physics-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-purple-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>

                    <pattern id="maths" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-blue-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="maths-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-blue-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>

                    <pattern id="correct" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-correct-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="correct-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-correct-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>
                    <pattern id="wild" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-wild-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="wild-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-wild-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>
                </defs>
            </svg>
        </div>
    </div>
</div>


<div isaac-modal="congrats">
  <div class="reveal-modal-head">
    <h2>Congratulations!</h2>
    <a class="close-reveal-modal" href="javascript:void(0)"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
    <!-- 
        Physics question
    -->
    <div class="congrats physics">
        <span class="icon-stack">
            <span class="icon-hexagon"></span>
            <span class="icon-question-complete"></span>
        </span>
        <div class="congrats-msg">
            <p>You've completed your board</p>
            <h3>My first physics board</h3>
        </div>
    </div>
    <!-- 
        Maths question
    -->
    <div class="congrats maths">
        <span class="icon-stack">
            <span class="icon-hexagon"></span>
            <span class="icon-question-complete"></span>
        </span>
        <div class="congrats-msg">
            <p>You've completed your board</p>
            <h3>My first physics board</h3>
        </div>
    </div>
    <!-- 
        Board complete
    -->
    <div class="congrats">
        <span class="icon-stack">
            <span class="icon-hexagon"></span>
            <span class="icon-board-complete"></span>
        </span>
        <div class="congrats-msg">
            <p>You've completed your board</p>
            <h3>My first physics board</h3>
        </div>
    </div>
    <div class="row">
        <div class="text-center columns">
            <h4 class="congrats-subhead">Now maybe try</h4>
        </div>
        <div class="text-center columns">
            <a class="ru-button-big" href="javascript:void(0)">Angular Equations of motion</a>
        </div>
        <div class="text-center columns">
            <a class="ru-button-big primary" href="javascript:void(0)">Angular Equations of motion</a>
        </div>
        <div class="text-center columns">
            <a class="ru-button-big quaternary" href="javascript:void(0)">Angular Equations of motion</a>
        </div>
    </div>
  </div>
</div>