<div desktop-panel class="extra-desktop-panel-gap">
    <div class='ru-desktop-panel-content'>
        <div class='medium-7 columns'>
            <span ng-if="!breadCrumbSubject">&nbsp;</span>
            <ul ng-if="breadCrumbSubject" ng-class="{'ru-crumb': true, physics: breadCrumbSubject == 'physics', maths: breadCrumbSubject == 'maths', 'multiple-subjects': breadCrumbSubject == 'multiple_subjects'}">
                <li ng-if="breadCrumbSubject" ng-bind-html="getTagTitle(breadCrumbSubject)"></li>
                <li ng-if="breadCrumbField" ng-bind-html="getTagTitle(breadCrumbField)"></li>
                <li ng-if="breadCrumbTopic" ng-bind-html="getTagTitle(breadCrumbTopic)"></li>
            </ul>
        </div>
        <div class='medium-8 end columns text-right'>
            <h2 class='ru-welcome'>Welcome<span ng-if="!user.givenName"> to Isaac</span><span class='green' ng-if="user.givenName"> {{user.givenName}} <span class="green"><a ui-sref="logout">(Logout)</a></span></span></h2>
            <span class='ru-challenge' ng-hide="filterPanelOpen">Get started by <br class='show-for-medium-only'> <a ng-click="openFilterPanel('desktop-filter')">creating your challenge!</a></span>
        </div>
        <div class='clearfix'></div>

        <div id='desktop-filter' class="down isdown hide-animate" ng-show="filterPanelOpen == 'desktop-filter'">
            <div class='medium-9 large-10 columns' id='desktop-filter1'>
                <div hex-filter subjects="filterSubjects" fields="filterFields" topics="filterTopics"></div>
            </div>
            <div class='medium-7 large-6 columns'>
                <div id='desktop-filter2'>
                    <div difficulty-filter="filterLevels"></div>
                </div>
                <div id='desktop-filter3'>
                    <div concept-filter="filterConcepts"></div>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
    <div aria-label="Reveal Filters" id="desktop-reveal" ng-click="openFilterPanel('desktop-filter')" ng-class="{down: filterPanelOpen == 'desktop-filter'}"></div>
</div>
<div mobile-panel class='no-print'>
    <div class='row'>
        <div class='small-16 columns bottom-grey'>
            <ul class='small-block-grid-3 ' id='buttons'>
                <li id='button-hex' ng-click="openFilterPanel('mobile-filter1')" data-for="mobile-filter1" ng-class="{active: filterPanelOpen == 'mobile-filter1'}">
                    <p><small>Your challenge</small></p>
                </li>
                <li id='button-difficulty' ng-click="openFilterPanel('mobile-filter2')" data-for="mobile-filter2" ng-class="{active: filterPanelOpen == 'mobile-filter2'}">
                    <p><small>Difficulty</small></p>
                </li>
                <li id='button-concept' ng-click="openFilterPanel('mobile-filter3')" data-for="mobile-filter3" ng-class="{active: filterPanelOpen == 'mobile-filter3'}">
                    <p><small>Filter by concept</small></p>
                </li>
            </ul>
        </div>
        <div class='clearfix'></div>
        <div class='mobile-filter'>
            <div id='mobile-filter1' ng-show="filterPanelOpen == 'mobile-filter1'" class="down isdown">
                <div id="hexfilter" hex-filter subjects="filterSubjects" fields="filterFields" topics="filterTopics"></div>
            </div>
            <div id='mobile-filter2' ng-show="filterPanelOpen == 'mobile-filter2'" class="down isdown">
                <div difficulty-filter="filterLevels"></div>
            </div>
            <div id='mobile-filter3' ng-show="filterPanelOpen == 'mobile-filter3'" class="down isdown">
                <div concept-filter="filterConcepts"></div>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
    <div id="mobile-base">
        <div id="mobile-hide">
        </div>
    </div>
</div>

<div class="row">
    <div class='large-16 medium-16 columns'>

        <!-- Additional Information Panel -->
        <section ng-if="!user.givenName">
            <div class="row">

                <div class='ru-concept-inner'>
                    <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad ru_pods">
                        <li class="show-for-large-up">
                            <div class="panel ru_pod ru_pod_image">
                                <img src='/assets/pod_img1.jpg'>
                                <div class='ru_pod_image_inner'>
                                    <h5>Real World Problems</h5>
                                    <p>Lorem ipsum dolor sit amet adipising cum sociis natoque penatibus et magnis.</p>
                                    <a href=''><strong>Discuss Here</strong></a>
                                </div>
                            </div>
                        </li>
                        <li ng-if="!filterPanelOpen">
                            
                            <div class="get-started-pod-spacer get-started-pod-up-arrow"></div>
                            <div class="panel ru_pod ru_pod_image ru_pod_get_started">
                                <div class='ru_pod_image_inner'>
                                    <h5>Create your challenge</h5>
                                    <p>Click here to get started. You can choose questions by topic and difficulty.</p>
                                    <a ng-click="openFilterPanel('desktop-filter')"><strong>Create your challenge</strong></a>
                                </div>
                            </div>
                        </li>
                        <li ng-if="filterPanelOpen == 'desktop-filter'">
                            <div class="get-started-pod-spacer-bottom"></div>
                            
                            <div class="panel ru_pod ru_pod_image">
                                <div class='ru_pod_image_inner'>
                                    <h5>Try some questions</h5>
                                    <p>Once you have chosen topics to work on, start answering questions below.</p>
                                    <a ng-click="scrollToQuestions()"><strong>Show questions</strong></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="panel ru_pod ru_pod_image">
                                <img src='/assets/pod_img3.jpg'>
                                <div class='ru_pod_image_inner'>
                                    <h5>Challenge of the Week</h5>
                                    <p>Lorem ipsum dolor sit amet adipising cum sociis natoque penatibus et magnis.</p>
                                    <a href=''><strong>Get Involved</strong></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section>
            <div class="row">
                <div class='ru-board-title show-for-medium-up'>
                    <div class="large-5 columns">
                        <a ng-show="shuffleStack.length > 0" ng-click="undoShuffle()"><img src="/assets/icon-undo-shuffle.png" class="ru-board-img"><h4>Undo Shuffle</h4></a>&nbsp;
                    </div>
                    <div class="large-6 columns text-center">
                        <h2></h2>
                    </div>
                    <div class="large-5 columns">
                        <div class="right">
                            <a ng-click="shuffleBoard()"><h4>Shuffle Board</h4>
                            <img src="/assets/icon-shuffle.png" class="ru-board-img"></a>
                        </div>
                    </div>

                </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class='small-16 columns text-center'>
                            <div class='ru-score' ng-repeat="w in warnings">
                                <strong>Warning:</strong> {{w}}
                            </div>
                        </div>
                    </div>

                    <div class="small-16 columns" hexagons="gameBoard.questions" wild-card-position="gameBoard.wildCardPosition" loading="gameBoardLoading" board-id="gameBoard.id"></div>

                    <div class=''> 
                        <div class='ru-board-title hide-for-medium-up'>
                            <div class="small-8 columns">
                                <a ng-show="shuffleStack.length > 0" ng-click="undoShuffle()">
                                    <img src="/assets/icon-undo-shuffle.png" class="ru-board-img">
                                    <h4>Undo Shuffle</h4>
                                </a>
                            </div>
                            <div class="small-8 columns">
                                <div class="right">
                                    <a ng-click="shuffleBoard()">
                                        <h4>Shuffle Board</h4>
                                        <img src="/assets/icon-shuffle.png" class="ru-board-img">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pad"></div>
            <div class='show-for-small-only pad'></div>     

        <!-- Additional Information Panel -->
        <section ng-if="user.givenName">
            <div class="row">

                <div class='ru-concept-inner'>
                    <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad ru_pods">
                        <li>
                            <div class="panel ru_pod ru_pod_image">
                                <img src='/assets/pod_img1.jpg'>
                                <div class='ru_pod_image_inner'>
                                    <h5>Real World Problems</h5>
                                    <p>Lorem ipsum dolor sit amet adipising cum sociis natoque penatibus et magnis.</p>
                                    <a href=''><strong>Discuss Here</strong></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="panel ru_pod ru_pod_image">
                                <img src='/assets/pod_img2.jpg'>
                                <div class='ru_pod_image_inner'>
                                    <h5>Upcoming Events</h5>
                                    <p>Lorem ipsum dolor sit amet adipising cum sociis natoque penatibus et magnis.</p>
                                    <a href=''><strong>More Info</strong></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="panel ru_pod ru_pod_image">
                                <img src='/assets/pod_img3.jpg'>
                                <div class='ru_pod_image_inner'>
                                    <h5>Challenge of the Week</h5>
                                    <p>Lorem ipsum dolor sit amet adipising cum sociis natoque penatibus et magnis.</p>
                                    <a href=''><strong>Get Involved</strong></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

            <!-- SVG Patterns used in the hexagons -->
            <svg width="1" height="2" viewBox="0 0 1 2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <filter id="filter1">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="0.6"/>
                            <feFuncG type="linear" slope="0.6"/>
                            <feFuncB type="linear" slope="0.6"/>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter2">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="0.8"/>
                            <feFuncG type="linear" slope="0.8"/>
                            <feFuncB type="linear" slope="0.8"/>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter3">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="1.3"/>
                            <feFuncG type="linear" slope="1.3"/>
                            <feFuncB type="linear" slope="1.3"/>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter4">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="1.6"/>
                            <feFuncG type="linear" slope="1.6"/>
                            <feFuncB type="linear" slope="1.6"/>
                        </feComponentTransfer>
                    </filter>
                    <filter id="filter5">
                        <feComponentTransfer>
                            <feFuncR type="linear" slope="1"/>
                            <feFuncG type="linear" slope="1"/>
                            <feFuncB type="linear" slope="1"/>
                        </feComponentTransfer>
                    </filter>

                    <pattern id="physics" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-purple-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="physics-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-purple-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>

                    <pattern id="maths" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-blue-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="maths-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-blue-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>

                    <pattern id="correct" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-correct-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="correct-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-correct-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>
                    <pattern id="wild" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-wild-bg.png" x="0" y="0" width="1" height="2" />
                    </pattern> 
                    <pattern id="wild-hover" patternUnits="userSpaceOnUse" x="0" y="0" width="1" height="2" viewBox="0 0 1 2" >
                        <image xlink:href="/assets/hex-wild-bg-hover.png" x="0" y="0" width="1" height="2" />
                    </pattern>
                </defs>
            </svg>
        </div>
    </div>
</div>