<div class="row home-page-menu-row">
    <div class="medium-8 columns">
        <ul class="home-page-menu">
            <div class="vertical-title">Learn</div>
            <li><a href="javascript:void(0)" ui-sref="questions">Have a go...</a></li>
            <li><a href="javascript:void(0)" ui-sref="examUniHelp">Exam help <span class="amp"></span> transition to uni</a></li>
            <li><a href="javascript:void(0)" ui-sref="events({types: 'student'})">Workshops</a></li>
        </ul>
    </div>
    <div class="medium-8 columns">
        <ul class="home-page-menu home-page-menu-black">
            <div class="vertical-title">Teach</div>
            <li><a href="/teacher_features">Set assignments <span class="amp"></span> view marks</a></li>
            <li><a href="/pages/teach_with_isaac">Teach with Isaac</a></li>
            <li><a href="javascript:void(0)" ui-sref="events({types: 'teacher'})">CPD Events</a></li>
        </ul>
    </div> 
</div>

<div class="row">
    <div class="small-16 columns">
        <div pod-carousel class="owl-carousel owl-theme"></div>
    </div>
</div>
