<div desktop-panel>
	<h1>Registration / Login</h1>
	<h2 class="subheader">Join the community.</h2>
</div>
<div mobile-panel>
	<img class='right' src='/assets/icon-share.png'>
	<h1>Registration / Login</h1>
	<h2 class='subheader'>Join the community.</h2>
</div>

<div class="row">
	<div class='large-16 medium-16 columns'>
		<p>
		In order for us to give you a more personalised experience and for you to record your achievements you will need to create an account with us.

		<p>
		Creating an account is very easy if you have an account with one of these external services. All you  have to do is click the link below and login if prompted. You may see a message asking you to agree that we can
		see your email address and basic details. If you agree then your account will be created immediately.
		<!--TODO: need to angularify this - for now I just need to check that it works on dev.-->
		<ul>
			<li><a ng-click="auth.loginRedirect('google')"><img src="/assets/google-signin.jpg" alt="google login"/></a></li>
		</ul>
	</div>
</div>

