<div class="row">
    <div class='large-16 medium-16 columns'>
        <div class="ru-desktop-panel">
	       <h1>Login <span class="subheader">or</span> Sign up <span class="subheader">to</span> <span class="ru_green">issac.</span></h1>
        </div>
    </div>
</div>

<div class="row">
	<div class='large-16 medium-16 columns'>
        <div class="ru-desktop-panel">
            <div class="row">
                <div class='large-8 medium-8 columns'>
                    <h6><span class="ru_green">Login</span> or <span class="ru_green">sign up</span> with:</h6>
                    <!--TODO: need to angularify this - for now I just need to check that it works on dev.-->
                    <p>
                        <a ng-click="auth.loginRedirect('google', target)"><img src="/assets/login-googleplus.svg" alt="google login" style="margin-right: 5px;" /></a>
                        <a ng-click="auth.loginRedirect('twitter', target)"><img src="/assets/login-twitter.svg" alt="twitter login" style="margin-right: 5px;" /></a>
                        <a ng-click="auth.loginRedirect('facebook', target)"><img src="/assets/login-facebook.svg" alt="facebook login" style="margin-right: 5px;" /></a>
                    </p>
                </div>
                <div class='large-8 medium-8 columns'>
                    <form>
                        <input type="text" placeholder="Email address" />
                        <input type="text" placeholder="Password" />
                        <input class="button" type="submit" ng-click="auth.login('google', target)" value="Login" />
                        <input class="button" type="submit" ng-click="auth.register('google', target)" value="Sign up" />
                        <a>Forgotten your password?</a>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>

