<div class="row ru-page-heading ng-scope">
    <div class="medium-13 columns">
        <h1>My Assignments</h1>
        <p class="hide-for-small-only">Keep track of your homework and due dates</p>
    </div>
</div>
<div class="row assignments-wrap">
    <div class="large-16 columns">
      <dl class="tabs profile-tabs no-print">
         <dd class="active"><a href="javascript:void(0)"><span class="show-for-medium-up">Assignments </span>Due (3)</a></dd>
         <dd><a href="javascript:void(0)">Completed <span class="show-for-medium-up">Assignments </span>(4)</span></a></dd>
      </dl>
      <div class="tabs-content profile-tabs-content">
         <div class="assignment">
            <div class="medium-6 columns">
               <div class="board-percentage">
                  <span class="subject-physics">
                        80<span class="percent-symbol">%</span>          
                  </span>
               </div>
               <div class="board-info">
                  <h3><a href="javascript:void(0)">My first Physics Board</a></h3>
                  <div class="board-levels">
                        <span class="level-1">1</span>
                  </div>
                  <p>Created: <strong>04/02/2015</strong></p>
                  <p>By: <strong>Michael Lakeland</strong></p>
               </div>
            </div>
            <div class="medium-6 columns board-overview">
               <h6>Quick view...</h6>
               <ol>
                  <li>Car on Motorway</li>
                  <li>Symmetry and Centre of Mass</li>
                  <li>Cracking Eggs</li>
               </ol>
            </div>
            <div class="medium-4 columns board-link">
               <a href="javascript:void(0)">View Board <span class="icon-link"></span></a>
               <p><span class="overdue">Overdue:</span> 21/01/2014</p>
            </div>
         </div>

         <div class="assignment">
            <div class="medium-6 columns">
               <div class="board-percentage">
                  <span class="subject-physics">
                        60<span class="percent-symbol">%</span>          
                  </span>
               </div>
               <div class="board-info">
                  <h3><a href="javascript:void(0)">My Second Physics Board</a></h3>
                  <div class="board-levels">
                        <span class="level-1">1</span>
                  </div>
                  <p>Created: <strong>04/02/2015</strong></p>
                  <p>Last visited: <strong>11/02/2015</strong></p>
               </div>
            </div>
            <div class="medium-6 columns board-overview">
               <h6>Quick view...</h6>
               <ol>
                  <li>Car on Motorway</li>
                  <li>Symmetry and Centre of Mass</li>
                  <li>Cracking Eggs</li>
               </ol>
            </div>
            <div class="medium-4 columns board-link">
               <a href="javascript:void(0)">View Board <span class="icon-link"></span></a>
               <p>Due: 21/01/2014</p>
            </div>
         </div>
      </div>
   </div>
</div>