<div class="row ru-page-heading ng-scope">
    <div class="medium-13 columns">
        <h1>My Assignments</h1>
        <p class="hide-for-small-only">Keep track of your homework and due dates</p>
    </div>
</div>
<div class="row">
    <div class="large-16 columns">
      <dl class="tabs profile-tabs no-print">
         <dd class="active"><a href="javascript:void(0)">Assignments Due (3)</a></dd>
         <dd><a href="javascript:void(0)">Completed Assignments (4)</a></dd>
      </dl>
      <div class="tabs-content profile-tabs-content">
         <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 assign-board-wrap">
            <li>1</li>
            <li>2</li>
            <li>3</li>
         </ul>
      </div>
   </div>
</div>