<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1>My Assignments</h1>
        <p class="hide-for-small-only">Keep track of your assignments</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span data-ot="Any assignments you have been set will appear on this page." class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help</span>
    </div>
</div>
<div class="row assignments-wrap">
    <div class="large-16 columns">
      <dl class="tabs profile-tabs no-print">
         <dd class="assignments" ng-class="assignmentsVisible == myAssignments.inProgressRecent ? 'active' : ''"><a href="javascript:void(0)" ng-click="setVisibleBoard('IN_PROGRESS_RECENT')">Assignments ({{myAssignments.inProgressRecent.length || 0}})</a></dd>
         <dd class="assignments" ng-class="assignmentsVisible == myAssignments.inProgressOld ? 'active' : ''"><a href="javascript:void(0)" ng-click="setVisibleBoard('IN_PROGRESS_OLD')">Older Assignments ({{myAssignments.inProgressOld.length || 0}})</a></dd>
         <dd class="assignments" ng-class="assignmentsVisible == myAssignments.completed ? 'active' : ''"><a href="javascript:void(0)" ng-click="setVisibleBoard('COMPLETED')">Completed Assignments ({{myAssignments.completed.length || 0}})</span></a></dd>
      </dl>
      <div class="tabs-content profile-tabs-content">
         <div ng-repeat="assignment in assignmentsVisible | orderBy:'creationDate':true" class="assignment">
            <div class="large-6 medium-7 columns">
               <div class="board-percentage">
                  <span ng-if="assignment.gameboard.percentageCompleted != 100" class="subject-physics">
                        {{assignment.gameboard.percentageCompleted}}<span class="percent-symbol">%</span>          
                  </span>
                  <span ng-if="assignment.gameboard.percentageCompleted == 100" class="subject-complete">
                        &nbsp;
                  </span>                  
               </div>
               <div class="board-info">
                  <h3><a ui-sref="board({id: assignment.gameboard.id})" href="javascript:void(0)">{{assignment.gameboard.title || generateGameBoardTitle(assignment.gameboard)}}</a></h3>
                  <div class="board-levels">
                        <span ng-repeat="level in calculateBoardLevels(assignment.gameboard)" class="level-{{level}}">{{level}}</span>
                  </div>
                  <p>Assigned: <strong>{{assignment.creationDate | date:'dd/MM/yyyy'}}</strong></p>
                  <p ng-show="assignment.assignerSummary.familyName">By: <strong>{{(assignment.assignerSummary.givenName ? assignment.assignerSummary.givenName.charAt(0) + ". " : "") + assignment.assignerSummary.familyName}}</strong></p>
               </div>
            </div>
            <div class="medium-6 columns board-overview">
               <h6>Quick view...</h6>
               <ol>
                  <li ng-show="assignment.gameboard.questions.length >= 1">{{assignment.gameboard.questions[0].title}}</li>
                  <li ng-show="assignment.gameboard.questions.length >= 2">{{assignment.gameboard.questions[1].title}}</li>
                  <li ng-show="assignment.gameboard.questions.length >= 3">{{assignment.gameboard.questions[2].title}}</li>
               </ol>
            </div>
            <div class="large-4 medium-3 columns board-link reorder-wrap">
               <a class="reorder-bottom" href="javascript:void(0)" ui-sref="board({id: assignment.gameboard.id})">View Assignment <span class="icon-link"></span></a>
               <p ng-if="false" class="reorder-top"><span class="overdue">Overdue:</span> 21/01/2014</p>
            </div>
         </div>
         <div ng-if="assignmentsVisible == null || assignmentsVisible.length == 0">
            <p class="small-text-center">There are no assignments to display.</p>   
         </div>
      </div>
   </div>
</div>