<div desktop-panel>
	<div class="">
		<h1>My Boards</h1>
		<!-- TODO: this needs to be dynamicly generated -->
		<p><strong>You have <a>18 boards</a> on the go with 5 boards completed, 4 shared boards with 3 boards completely untouched. Filter your boards....</strong></p>
	</div>
	<div>
		<select>
			<option>Boards</option>
			<option>All</option>
			<option>Completed</option>
			<option>Incompleted</option>
		</select>
		<select>
			<option>Sort By</option>
			<option>Date Created</option>
			<option>Date Accessed</option>
			<option>Subject</option>
			<option>Level</option>
		</select>
	</div>
</div>
<!-- TODO: Remove hash bang wallop from URL, this will only work on local -->
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 boards-wrap">
   	<li ng-repeat="board in boards">
   		<div class="panel">
   			{{board.percentageCompleted}}%
   			<h3><a href="/#!/#{{board.id}}">{{board.wildCard.title}}</a></h3>
   			Level: {{board.gameFilter.levels}}<br />
   			Created: {{board.creationDate | date:'dd/MM/yyyy'}} 
   		</div>
   	</li>
</ul>
