<div desktop-panel>
	<div class="">
		<h1>My Boards</h1>
		<!-- TODO: this needs to be dynamicly generated -->
		<p><strong>You have <span class="ru_green">18 boards</span> on the go with <span class="ru_green">5 boards</span> completed.</strong></p>
	</div>
</div>
<div>
		<select ng-model="filterOption" ng-options="option.label for option in filterOptions"></select>
		<select ng-model="sortOption" ng-options="option.label for option in sortOptions"></select>
	</div>
<!-- TODO: Remove hash bang wallop from URL, this will only work on local -->
<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 boards-wrap">
   	<li ng-repeat="board in boards" ng-class="{'board-complete': board.percentageCompleted == '100'}">
   		<div class="panel">
   			<div class="row">
   				<div class="board-percentage" ng-if="board.percentageCompleted != '100'">
   					<span ng-repeat="subject in board.gameFilter.subjects" class="subject-{{subject}}" ng-if="subject == 'maths'">
                     {{board.percentageCompleted}}<span class="percent-symbol">%</span>          
                  </span>
   					<span ng-repeat="subject in board.gameFilter.subjects" class="subject-{{subject}}" ng-if="subject == 'physics'">
                     {{board.percentageCompleted}}<span class="percent-symbol">%</span>          
                  </span>
   				</div>
   				<div class="board-percentage" ng-if="board.percentageCompleted == '100'">
   					<span class="subject-complete"></span>
   				</div>
               <div class="board-info">
                  <p>Created: <strong>{{board.creationDate | date:'dd/MM/yyyy'}}</strong></p>
                  <p>Last visited: <strong>{{board.lastVisited | date:'dd/MM/yyyy'}}</strong></p>
                  <div class="board-levels">
                     <span ng-repeat="level in board.gameFilter.levels" class="level-{{level}}">{{level}}</span>
                  </div>
               </div>
   			</div>
   			<h3><a href="/#!/#{{board.id}}">{{board.wildCard.title}}</a></h3>
 			Created by: 
   			<span ng-if="board.ownerUserId == user._id">Me</span>
   			<span ng-if="board.ownerUserId != user._id">someone else</span>
   		</div>
   	</li>
</ul>
<button ng-click="loadMore()">Load more</button>
