<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1 ng-if="viewingOwnData">My Progress</h1>
        <h1 ng-if="!viewingOwnData">Progress for user:  {{progress.userDetails.givenName + " " + progress.userDetails.familyName}}</h1>
        <p ng-if="viewingOwnData" class="hide-for-small-only">Keep track of your progress.</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span data-ot-escape-content="false"
              data-ot="View your progress on Isaac.<br /><br />A <i>question</i> (or question page) is usually a single hexagon from a board, which can contain several <i>question parts</i>.<br /><br />Symbolic questions are those which require an equation as an answer."
              data-html="true"
              class="has-tip"
              aria-haspopup="true"><span class="icon-help"></span>Help</span>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <dl id="progressTypeTabs" ng-if="showTeacherProgressTab" class="tabs profile-tabs no-print" style="margin:0; position: relative; z-index: 99;">
        <dd ng-class="progressType == 'teacherProgress' ? 'active' : ''">
            <a href="javascript:void(0)" ng-click="toggleProgressType()">
                <span><span class="show-for-medium-up">Isaac</span> Teacher Activity</span>
            </a>
        </dd>
        <dd ng-class="progressType == 'studentProgress' ? 'active' : ''">
            <a href="javascript:void(0)" ng-click="toggleProgressType()">
                <span>Question Activity</span>
            </a>
        </dd>
    </dl>
    <div ng-show="progressType == 'studentProgress'" class="small-16 columns progress-wrap" style="margin-top:-1px;">
        <div ng-show="progress && progress.totalQuestionsAttempted != 0">
            <div class="row progress-space" id="questionAttemptInfo">
                <div class="medium-12 small-16 columns end progress-bar-box" style="width:90%;">
                    <h6>Questions completed <span class="ru_green">correctly</span> of those <span class="progress-attempted">attempted</span></h6>
                    <div progress-bar class="progress-bar" value="progress.totalQuestionsCorrect" max="progress.totalQuestionsAttempted" title="{{progress.percentCorrectQuestions}}%"></div>
                </div>
                <div class="medium-12 small-16 columns end progress-bar-box" style="width:90%;">
                    <h6>Question parts <span class="ru_green">correct</span> of those <span class="progress-attempted">attempted</span></h6>
                    <div progress-bar class="progress-bar" value="progress.totalQuestionPartsCorrect" max="progress.totalQuestionPartsAttempted" title="{{progress.percentCorrectQuestionParts}}%"></div>
                </div>
            </div>
            <div id="streak-info">
                <h6>Daily streak</h6>

                <div>
                    <div style="position: relative; height: 100px;">
                        <svg id="svg-progress-current-streak" width="100%" height="100%" version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             style="transform: rotate(-90deg);">

                            <circle class="streak-empty-bar" r="40" cx="50%" cy="50%"
                                    stroke-width="15" fill="none"></circle>

                            <circle id="current-streak-progress-bar" class="streak-progress-bar" r="40" cx="50%" cy="50%"
                                    stroke-width="15"
                                    stroke-dasharray="251.327" stroke-dashoffset="251.327"
                                    fill="none"></circle>
                        </svg>
                        <div class="streak-value-progress">
                            {{ progress.userSnapshot.streakRecord.currentStreak || 0 }}
                        </div>
                    </div>
                    <div style="text-align: center;">
                        Longest streak: {{ progress.userSnapshot.streakRecord.largestStreak || 0 }}
                        day<span ng-if="progress.userSnapshot.streakRecord.largestStreak != 1">s</span>
                        <span
                            style="cursor: pointer;"
                            data-ot="The daily streak indicates the number of consecutive days you have been active on Isaac.
                                     <br><br>Answer at least <b>three question parts</b> correctly per day to fill up your daily progress bar and increase your streak!"
                            class="dl-alert warning hide-for-small-only" aria-haspopup="true"
                        >?</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-16 columns">

                    <dl class="tabs profile-tabs no-print" id="progressTabs">
                        <dd ng-class="questionsVisible == correctQuestions ? 'active' : ''"><a href="javascript:void(0)" ng-click="toggleVisibleBoards()"><span>Correct <span class="show-for-medium-up">Questions</span></span></a></dd>
                        <dd ng-class="questionsVisible == attemptedQuestions ? 'active' : ''"><a href="javascript:void(0)" ng-click="toggleVisibleBoards()"><span>Attempted <span class="show-for-medium-up">Questions</span></span></a></dd>
                    </dl>

                    <div class="profile-tabs-content" id="progressTabsContent">
                        <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 progress-space">

                            <!--            <li class="show-for-medium-up">
                                           <a class="ru-button-big expand export-btn" href="javascript:void(0)" ng-click="modals.export.show()">Export/share your data</a>
                                        </li> -->
                            <!--
                                        <li>
                                        <h6>Questions attempted by <span class="ru_green">Subject</span></h6>
                                           <div d3-donut data="subjectData" color-palette="subjects"></div>
                                        </li>
                            -->

                            <!--<div class="profile-tabs-content">-->
                            <li>
                                <div class="graph-wrapper">
                                    <h6>Questions by <span class="ru_green">Subject</span></h6>
                                    <div d3-donut data="questionsVisible.subjectData" color-palette="'subjects'"></div>
                                </div>
                            </li>
                            <li>
                                <div class="graph-wrapper">
                                    <h6 ng-hide="questionsVisible.fields.length == 0">Questions in &nbsp;
                                        <select ng-model="questionsVisible.field.selection" ng-options="field.title for field in questionsVisible.fields"></select>
                                    </h6>
                                    <h6 ng-show="questionsVisible.fields.length == 0">Questions by <span class="ru_green">Topic</span></h6>
                                    <div d3-donut data="questionsVisible.fieldData" color-palette="questionsVisible.topicsSubject"></div>
                                </div>
                            </li>
                            <li>
                                <div class="graph-wrapper">
                                    <h6>Questions by <span class="ru_green">Level</span></h6>
                                    <div d3-donut data="questionsVisible.levelData" color-palette="'levels'"></div>
                                </div>
                            </li>
                            <!--</div>-->


                            <!--             <li class="hide-for-medium-up">
                                           <a class="ru-button-big expand export-btn" data-reveal-id="exportModal" href="javascript:void(0)">Export/share your data</a>
                                        </li> -->
                        </ul>
                    </div>


                    <h6>Isaac Books</h6>
                    <ul class="small-block-grid-1 progress-space">
                        <li>
                            <div class="progress-bar-box">
                                <span>
                                    Mastering Essential <a class="book-title" ui-sref="book_physics_skills_14">Pre-University Physics</a> sections completed <span class="ru_green">correctly</span> of those <span class="progress-attempted">attempted</span>
                                    <span data-ot="Note that for the Pre-University Physics book we are only able to count sections, not individual questions as in the other books!" class="has-tip hide-for-small-only" aria-haspopup="true"><span class="icon-help"></span></span>
                                </span>
                                <div progress-bar class="progress-bar" value="progress.correctByTag['physics_skills_14']" max="progress.attemptsByTag['physics_skills_14']" title="{{progress.percentCorrectPhysicsSkills14}}%"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-bar-box">
                                <span>Mastering Essential <a class="book-title" ui-sref="book_phys_book_gcse">GCSE Physics</a> questions completed <span class="ru_green">correctly</span> of those <span class="progress-attempted">attempted</span></span>
                                <div progress-bar class="progress-bar bar-purple" value="progress.correctByTag['phys_book_gcse']" max="progress.attemptsByTag['phys_book_gcse']" title="{{progress.percentCorrectPhysBookGCSE}}%"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-bar-box end">
                                <span>Mastering Essential <a class="book-title" ui-sref="book_chemistry_16">Pre-University Physical Chemistry</a> questions completed <span class="ru_green">correctly</span> of those <span class="progress-attempted">attempted</span></span>
                                <div progress-bar class="progress-bar bar-orangered" value="progress.correctByTag['chemistry_16']" max="progress.attemptsByTag['chemistry_16']" title="{{progress.percentCorrectChemistry16}}%"></div>
                            </div>
                        </li>
                    </ul>

                    <h6>Question parts correct by <span class="ru_green">Type</span></h6>
                    <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 progress-space">
                        <li>
                            <div class="progress-bar-box">
                                <span>Numeric questions <span class="ru_green">correct</span></span>
                                <div progress-bar class="progress-bar" value="progress.correctByType['isaacNumericQuestion']" max="progress.attemptsByType['isaacNumericQuestion']" title="{{progress.percentCorrectNumeric}}%"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-bar-box">
                                <span>Multiple Choice questions <span class="ru_green">correct</span></span>
                                <div progress-bar class="progress-bar" value="progress.correctByType['isaacMultiChoiceQuestion']" max="progress.attemptsByType['isaacMultiChoiceQuestion']" title="{{progress.percentCorrectMultiChoice}}%"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-bar-box end">
                                <span>Symbolic questions <span class="ru_green">correct</span></span>
                                <div progress-bar class="progress-bar" value="progress.symbolicCorrect" max="progress.symbolicAttempts" title="{{progress.percentCorrectSymbolic}}%"></div>
                            </div>
                        </li>
                    </ul>

                    <!--
                      Line graph
                    -->
                    <h6>Question attempts <span class="ru_green">over time</span></h6>
                    <div ng-show="showQuestionsOverTime" d3-plot data="questionsAnsweredOverTime" type="line"></div>
                    <div ng-hide="showQuestionsOverTime" class='text-center'><i>No Data</i></div>

                    <!--
                      Area graph
                    -->
                    <!--         <h6>Area graph <span class="ru_green">title</span></h6>
                            <div d3-plot data="questionsAnsweredOverTime" type="area"></div> -->
                    <!--         <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
                              <li>
                                <div class="graph-wrapper">
                                  <h6>Time on site <span class="ru_green">by month</span><span class="right">2014</span></h6>
                                  <div d3-bar></div>
                                </div>
                              </li>
                              <li>
                                <div class="graph-wrapper">
                                  <h6>Time on site <span class="ru_green">by month</span><span class="right">2014</span></h6>
                                  <div d3-bar></div>
                                </div>
                              </li>
                              <li>
                                <div class="graph-wrapper">
                                  <h6>Time on site <span class="ru_green">by month</span><span class="right">2014</span></h6>
                                  <div d3-bar></div>
                                </div>
                              </li>
                            </ul> -->
                </div>
            </div>
        </div>

        <div ng-show="!progress || progress.totalQuestionsAttempted == 0">
            <div class="row">
                <div class="small-16 text-center columns">
                    <p ng-if="viewingOwnData">You have not answered any questions yet. There are no statistics to display.</p>
                    <p ng-if="!viewingOwnData">This user has not answered any questions yet. There are no statistics to display.</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="progressType == 'teacherProgress'" class="small-16 columns progress-wrap" style="margin-top:-1px;">

        <div id="teacherBadges">
            <div id="groupBadge" class="badgeEntry">
                <span class="badgeIcon" ng-class="progress.userSnapshot.achievementsRecord.TEACHER_GROUPS_CREATED >= 1 ? 'unlocked' : ''">
                </span>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_GROUPS_CREATED == 0 ||
                     progress.userSnapshot.achievementsRecord.TEACHER_GROUPS_CREATED ==  null" class="explanation">
                    <p>Want to set work for your students on Isaac? The first step is to create a Class Group for your students to join.</p>
                    <p>
                        <a class="ru-button getStarted" ui-sref="groups" ng-click="achievementsGetStarted('CREATE_GROUP');">Get Started</a>
                    </p>
                </div>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_GROUPS_CREATED > 0" class="explanation">
                    <p>You have created
                        <span class="count">{{ progress.userSnapshot.achievementsRecord.TEACHER_GROUPS_CREATED }}</span>
                        group<span ng-if="progress.userSnapshot.achievementsRecord.TEACHER_GROUPS_CREATED != 1">s</span>.</p>
                    <p>Create more groups on the <a ui-sref="groups" ng-click="achievementsGetStarted('CREATE_GROUP');">Manage Groups</a> page.</p>
                </div>
            </div>

            <div id="assignmentBadge" class="badgeEntry">
                <span class="badgeIcon" ng-class="progress.userSnapshot.achievementsRecord.TEACHER_ASSIGNMENTS_SET >= 1 ? 'unlocked' : ''">
                </span>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_ASSIGNMENTS_SET == 0 ||
                     progress.userSnapshot.achievementsRecord.TEACHER_ASSIGNMENTS_SET ==  null" class="explanation">
                    <p>Set an assignment for your students and get the marking done for free.</p>
                    <p>
                        <a class="ru-button getStarted" ui-sref="setAssignments" ng-click="achievementsGetStarted('CREATE_ASSIGNMENT');">Get Started</a>
                    </p>
                </div>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_ASSIGNMENTS_SET > 0" class="explanation">
                    <p>You have set
                        <span class="count">{{ progress.userSnapshot.achievementsRecord.TEACHER_ASSIGNMENTS_SET }}</span>
                        assignment<span ng-if="progress.userSnapshot.achievementsRecord.TEACHER_ASSIGNMENTS_SET != 1">s</span>.</p>
                    <p>Set more assignments on the <a ui-sref="setAssignments" ng-click="achievementsGetStarted('CREATE_ASSIGNMENT');">Set Assignments</a> page.</p>
                </div>
            </div>

            <div id="bookPageBadge" class="badgeEntry">
                <span class="badgeIcon" ng-class="progress.userSnapshot.achievementsRecord.TEACHER_BOOK_PAGES_SET >= 1 ? 'unlocked' : ''">
                </span>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_BOOK_PAGES_SET == 0 ||
                     progress.userSnapshot.achievementsRecord.TEACHER_BOOK_PAGES_SET ==  null" class="explanation">
                    <p>Improve your students’ core understanding and key skills by setting work from one of our Mastering Essential Skills books.</p>
                    <p>
                        <a class="ru-button getStarted" ui-sref="setAssignments({books: 'show'})" ng-click="achievementsGetStarted('CREATE_BOOK_ASSIGNMENT');">Get Started</a>
                    </p>
                </div>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_BOOK_PAGES_SET > 0" class="explanation">
                    <p>You have set
                        <span class="count">{{ progress.userSnapshot.achievementsRecord.TEACHER_BOOK_PAGES_SET }}</span>
                        book page assignment<span ng-if="progress.userSnapshot.achievementsRecord.TEACHER_BOOK_PAGES_SET != 1">s</span>.</p>
                    <p>
                        Set more book pages on the <a ui-sref="setAssignments({books: 'show'})" ng-click="achievementsGetStarted('CREATE_BOOK_ASSIGNMENT');">Set Assignments</a> page.
                    </p>
                </div>
            </div>

            <div id="boardBadge" class="badgeEntry">
                <span class="badgeIcon" ng-class="progress.userSnapshot.achievementsRecord.TEACHER_GAMEBOARDS_CREATED > 0 ? 'unlocked' : ''">
                </span>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_GAMEBOARDS_CREATED == 0 ||
                progress.userSnapshot.achievementsRecord.TEACHER_GAMEBOARDS_CREATED ==  null" class="explanation">
                    <p>Improve your students’ problem solving skills and give them more of a challenge by setting some of our levelled questions.
                        Or combine mastery questions with levelled questions in one assignment.</p>
                    <p>
                        <a class="ru-button getStarted" ui-sref="gameEditor" ng-click="achievementsGetStarted('CREATE_BOARD');">Get Started</a>
                    </p>
                </div>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_GAMEBOARDS_CREATED > 0" class="explanation">
                    <p>You have created
                        <span class="count">{{ progress.userSnapshot.achievementsRecord.TEACHER_GAMEBOARDS_CREATED || 0 }}</span>
                        custom gameboard<span ng-if="progress.userSnapshot.achievementsRecord.TEACHER_GAMEBOARDS_CREATED != 1">s</span>.</p>
                    <p>
                        Create more custom boards on the <a ui-sref="gameEditor" ng-click="achievementsGetStarted('CREATE_BOARD');">Board Builder</a> page.
                    </p>
                </div>
            </div>

            <div id="cpdBadge" class="badgeEntry">
                <span class="badgeIcon" ng-class="progress.userSnapshot.achievementsRecord.TEACHER_CPD_EVENTS_ATTENDED >= 1 ? 'unlocked' : ''">
                </span>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_CPD_EVENTS_ATTENDED == 0 ||
                     progress.userSnapshot.achievementsRecord.TEACHER_CPD_EVENTS_ATTENDED ==  null" class="explanation">
                    <p>Receive more guidance on how to use isaacphysics.org by attending one of our professional development events.</p>
                    <p>
                        <a class="ru-button getStarted" href="javascript:void(0)" ui-sref="events({types: 'teacher'})"
                         ng-click="achievementsGetStarted('BOOK_CPD_EVENT');">Get Started</a>
                    </p>
                </div>
                <div ng-show="progress.userSnapshot.achievementsRecord.TEACHER_CPD_EVENTS_ATTENDED > 0" class="explanation">
                    <p>You have attended
                        <span class="count">{{ progress.userSnapshot.achievementsRecord.TEACHER_CPD_EVENTS_ATTENDED }}</span>
                        CPD event<span ng-if="progress.userSnapshot.achievementsRecord.TEACHER_CPD_EVENTS_ATTENDED != 1">s</span>.</p>
                    <p>
                        Book onto more CPD events on the <a href="javascript:void(0)" ui-sref="events({types: 'teacher'})"
                                                            ng-click="achievementsGetStarted('BOOK_CPD_EVENT');">Events</a> page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div isaac-modal="export">
  <div class="reveal-modal-head">
    <h2>Export/Share my data</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
    <h2>Select the data you wish to export/share...</h2>
  </div>
</div>