<div class="row ru-page-heading">
    <div class="medium-13 columns">
        <h1 ng-if="viewingOwnData">My Progress</h1>
        <h1 ng-if="!viewingOwnData">Progress for user:  {{progress.userDetails.givenName + " " + progress.userDetails.familyName}}</h1>
        <p ng-if="viewingOwnData" class="hide-for-small-only">Keep track of your progress.</p>
    </div>
    <div class="medium-3 columns text-right hide-for-small-only">
        <span data-ot="View your progress on Isaac. <br><br>A <i>question</i> (or question page) is usually a single hexagon from a board, which can contain several <i>question parts</i>. <br><br>Symbolic questions are those which require an equation as an answer." data-html="true" class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help</span>
    </div>
</div>
<div class="row">
  <div class="small-16 columns progress-wrap">
    <div ng-show="progress && progress.totalQuestionsAttempted != 0">
       <div class="row progress-space">
        <div class="medium-12 small-16 columns medium-offset-2 end progress-bar-box">
          <h6>Questions completed <span class="ru_green">correctly</span> of those <span class="progress-attempted">attempted</span></h6>
          <div progress-bar class="progress-bar" value="progress.totalQuestionsCorrect" max="progress.totalQuestionsAttempted" title="{{progress.percentCorrectQuestions}}%"></div>
        </div>
        <div class="medium-12 small-16 columns medium-offset-2 end progress-bar-box">
          <h6>Question parts <span class="ru_green">correct</span> of those <span class="progress-attempted">attempted</span></h6>
          <div progress-bar class="progress-bar" value="progress.totalQuestionPartsCorrect" max="progress.totalQuestionPartsAttempted" title="{{progress.percentCorrectQuestionParts}}%"></div>
        </div>
       </div>
       <div class="row">
          <div class="large-16 columns">

              <dl class="tabs profile-tabs no-print" id="progressTabs">
                  <dd ng-class="questionsVisible == correctQuestions ? 'active' : ''"><a href="javascript:void(0)" ng-click="toggleVisibleBoards()"><span>Correct <span class="show-for-medium-up">Questions</span></span></a></dd>
                  <dd ng-class="questionsVisible == attemptedQuestions ? 'active' : ''"><a href="javascript:void(0)" ng-click="toggleVisibleBoards()"><span>Attempted <span class="show-for-medium-up">Questions</span></span></a></dd>
              </dl>

              <div class="profile-tabs-content" id="progressTabsContent">
                  <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 progress-space">

                      <!--            <li class="show-for-medium-up">
                                     <a class="ru-button-big expand export-btn" href="javascript:void(0)" ng-click="modals.export.show()">Export/share your data</a>
                                  </li> -->
                      <!--
                                  <li>
                                  <h6>Questions attempted by <span class="ru_green">Subject</span></h6>
                                     <div d3-donut data="subjectData" color-palette="subjects"></div>
                                  </li>
                      -->

                      <!--<div class="profile-tabs-content">-->
                      <li>
                          <div class="graph-wrapper">
                              <h6>Questions by <span class="ru_green">Subject</span></h6>
                              <div d3-donut data="questionsVisible.subjectData" color-palette="'subjects'"></div>
                          </div>
                      </li>
                      <li>
                          <div class="graph-wrapper">
                              <h6 ng-hide="questionsVisible.fields.length == 0">Questions in &nbsp;
                                  <select ng-model="questionsVisible.field.selection" ng-options="field.title for field in questionsVisible.fields"></select>
                              </h6>
                              <h6 ng-show="questionsVisible.fields.length == 0">Questions by <span class="ru_green">Topic</span></h6>
                              <div d3-donut data="questionsVisible.fieldData" color-palette="questionsVisible.topicsSubject"></div>
                          </div>
                      </li>
                      <li>
                          <div class="graph-wrapper">
                              <h6>Questions by <span class="ru_green">Level</span></h6>
                              <div d3-donut data="questionsVisible.levelData" color-palette="'levels'"></div>
                          </div>
                      </li>
                      <!--</div>-->


                      <!--             <li class="hide-for-medium-up">
                                     <a class="ru-button-big expand export-btn" data-reveal-id="exportModal" href="javascript:void(0)">Export/share your data</a>
                                  </li> -->
                  </ul>
              </div>


            <h6>Isaac Books</h6>
            <ul class="small-block-grid-1 progress-space">
              <li>
                <div class="progress-bar-box">
                  <span><a class="book-title" ui-sref="book_physics_skills_14">Mastering Essential Pre-University Physics</a> sections completed <span class="ru_green">correctly</span> of those <span class="progress-attempted">attempted</span></span>
                  <div progress-bar class="progress-bar" value="progress.correctByTag['physics_skills_14']" max="progress.attemptsByTag['physics_skills_14']" title="{{progress.percentCorrectPhysicsSkills14}}%"></div>
                </div>
              </li>
            </ul>

            <h6>Question parts correct by <span class="ru_green">Type</span></h6>
            <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 progress-space">
              <li>
                <div class="progress-bar-box">
                  <span>Numeric questions <span class="ru_green">correct</span></span>
                  <div progress-bar class="progress-bar" value="progress.correctByType['isaacNumericQuestion']" max="progress.attemptsByType['isaacNumericQuestion']" title="{{progress.percentCorrectNumeric}}%"></div>
                </div>
              </li>
              <li>
                <div class="progress-bar-box">
                  <span>Multiple Choice questions <span class="ru_green">correct</span></span>
                  <div progress-bar class="progress-bar" value="progress.correctByType['isaacMultiChoiceQuestion']" max="progress.attemptsByType['isaacMultiChoiceQuestion']" title="{{progress.percentCorrectMultiChoice}}%"></div>
                </div>
              </li>
              <li>
                <div class="progress-bar-box end">
                  <span>Symbolic questions <span class="ru_green">correct</span></span>
                  <div progress-bar class="progress-bar" value="progress.symbolicCorrect" max="progress.symbolicAttempts" title="{{progress.percentCorrectSymbolic}}%"></div>
                </div>
              </li>
            </ul>

            <!-- 
              Line graph
            -->
            <h6>Question attempts <span class="ru_green">over time</span></h6>
            <div ng-show="showQuestionsOverTime" d3-plot data="questionsAnsweredOverTime" type="line"></div>
            <div ng-hide="showQuestionsOverTime" class='text-center'><i>No Data</i></div>

            <!-- 
              Area graph
            -->
    <!--         <h6>Area graph <span class="ru_green">title</span></h6>
            <div d3-plot data="questionsAnsweredOverTime" type="area"></div> -->
    <!--         <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
              <li>
                <div class="graph-wrapper">
                  <h6>Time on site <span class="ru_green">by month</span><span class="right">2014</span></h6>
                  <div d3-bar></div>
                </div>
              </li>
              <li>
                <div class="graph-wrapper">
                  <h6>Time on site <span class="ru_green">by month</span><span class="right">2014</span></h6>
                  <div d3-bar></div>
                </div>
              </li>
              <li>
                <div class="graph-wrapper">
                  <h6>Time on site <span class="ru_green">by month</span><span class="right">2014</span></h6>
                  <div d3-bar></div>
                </div>
              </li>
            </ul> -->
          </div>
      </div>
    </div>

    <div ng-show="!progress || progress.totalQuestionsAttempted == 0">
       <div class="row">
          <div class="small-16 text-center columns">
             <p ng-if="viewingOwnData">You have not answered any questions yet. There are no statistics to display.</p>
             <p ng-if="!viewingOwnData">This user has not answered any questions yet. There are no statistics to display.</p>
          </div>
       </div>
    </div>
  </div>
</div>

<div isaac-modal="export">
  <div class="reveal-modal-head">
    <h2>Export/Share my data</h2>
    <a class="close-reveal-modal"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
    <h2>Select the data you wish to export/share...</h2>
  </div>
</div>
