<div desktop-panel>
    <div class='ru-desktop-panel-content'>
        <div class='medium-12 columns'>
            <ul ng-class='["ru-crumb", pageSubject]'>
                <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)"></li>
            </ul>
        </div>
        <div class='medium-1 columns text-right'>
            <span class='ru-level'>Level: </span>
        </div>
        <div class='medium-2 end columns'>
            <span class='ru-level-{{pageSubject}}-{{page.level}} ru-level' aria-label='{{pageSubject}} Level {{page.level}}'></span>    
        </div>
        <div class='clearfix'></div>
    </div>
</div>
<div mobile-panel>
    <div class='row'>
        <div class='small-16 columns text-right'>
            <span class='ru-level-{{pageSubject}}-{{page.level}} ru-level' aria-label='{{pageSubject}} Level {{page.level}}'></span>  
        </div>
    </div>
    <div class='ru-mobile-crumb'>
        <div class='row'>
            <div class='small-16 columns'>
                <ul ng-class='[pageSubject]'>
                    <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class='large-16 medium-16 columns'>


        <section>
            <div class="ru-border ru-concept">
                <div class="row">
                    <div class="small-14 small-offset-1 columns end">
                        <div class="ru_share">

                        </div>
                        <div class='ru_share_link'>
                            <div>
                                http://issacphysics/2736
                            </div>
                        </div>
                        <div class="ru_acrobat"></div>
                        <h2>Q: <span class='ru_{{pageSubject}}' math-jax>{{page.title}}</span></h2>       
                    </div>
                </div>
                <div isaac-content doc="page"></div>
            </div>
        </section>

        <!-- Buttons -->
        <section>
            <div class="row">
                <div class="large-12 large-offset-2 medium-12 medium-offset-2 small-16 columns ru-concept-buttons">
                    <ul ng-show="gameBoard.$resolved" class='medium-block-grid-2 small-block-grid-2 ru-pad'>
                        <li><a class='ru-concept-button' ng-click="backToBoard()">Back to Board</a></li>
                        <li><a class='ru-concept-button' ng-show="nextQuestion" ui-sref="question({id: nextQuestion.id})">Next Question</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Additional Information Panel -->
        <section>
            <div class="row">
                <div class='ru-concept-inner'>
                    <ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1 ru-pad ru_pods">
                        <li>
                            <div class="panel ru_pod">
                                <div class='ru_pod_title ru_pod_concepts'>
                                    <h5>Related Concepts</h5>
                                </div>
                                <hr>
                                <ul class="pod-scroll-list">
                                    <li>
                                        <a href='javascript:void(0)'>Concept: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Concept: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Concept: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Concept: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Concept: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="panel ru_pod">
                                <div class='ru_pod_title ru_pod_questions'>
                                    <h5>Related Questions</h5>
                                </div>
                                <hr>
                                <ul class="pod-scroll-list">
                                    <li>
                                        <a href='javascript:void(0)'>Question: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Question: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Question: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                    <li>
                                        <a href='javascript:void(0)'>Question: Energy</a>
                                        <h6>Energy, work and power</h6>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="panel ru_pod ru_pod_forum">
                                <div class='ru_pod_title'>
                                    <h5>Discuss</h5>
                                    <span><em>Chat on the forum</em></span>
                                </div>
                                <hr>
                                <div class="pod-scroll-list">
                                    <h6>Related Threads</h6>
                                    <a href='javascript:void(0)'>Second hand question?</a>
                                    <a href='javascript:void(0)'>Needing help with second hand question!</a>                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>