<div ng-if="questionPage.type=='isaacFastTrackQuestionPage' && gameboardId && fastTrackProgressEnabledBoards.indexOf(gameboardId) >= 0" fast-track-progress-bar gameboard="gameBoard" page="questionPage" class="ft-progress-bar-panel row no-print"></div>

<div desktop-panel class="no-print" ng-hide="questionPage.type=='isaacFastTrackQuestionPage'">
    <div class='ru-desktop-panel-content'>
        <div class='medium-12 columns'>
            <ul ng-class='["ru-crumb", pageSubject]'>
                <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)"></li>
            </ul>
        </div>
        <div class='print-float-right'>
            <div class='medium-1 columns text-right'>
                <span ng-show="questionPage.level" class='ru-level'>Level: </span>
            </div>
            <div class='medium-2 end columns'>
                <span class='ru-level-{{pageSubject}}-{{questionPage.level}} ru-level' aria-label='{{pageSubject}} Level {{questionPage.level}}'></span>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
</div>
<div mobile-panel class="no-print" ng-hide="questionPage.type=='isaacFastTrackQuestionPage'">
    <div class='row'>
        <div class='small-16 columns text-right'>
            <span class='ru-level-{{pageSubject}}-{{questionPage.level}} ru-level' aria-label='{{pageSubject}} Level {{questionPage.level}}'></span>
        </div>
    </div>
    <div class='ru-mobile-crumb'>
        <div class='row'>
            <div class='small-16 columns'>
                <ul ng-class='[pageSubject]'>
                    <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-class="{'high-contrast': $root.userPreferences.BETA_FEATURE.HIGH_CONTRAST}">
    <div class='large-16 medium-16 columns print-no-side-padding'>


        <section>
            <div class="row ru-concept ru-question">
                <div class="ru-concept-inner ru-border">
                    <div class="row">
                        <div class="small-15 small-offset-1 columns end">
                            <div class="only-print print-header">
                                <span class="{{pageSubject}}">{{shareUrl}}</span>

                                <ul>
                                    <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)" ng-class='[pageSubject]'></li>
                                </ul>

                                <span ng-show="questionPage.level">Level</span> <span class="{{pageSubject}}">{{questionPage.level}}</span>
                            </div>
                            <a ui-sref='home' class='only-print print-logo'><img alt='Isaac Physics. You work it out.'
                                                                                 src='/assets/isaac-logo-strap-print.svg'></a>
                            <a print-button></a>
                            <div class='ru_print_options slide-animate no-print' ng-show="printingOptionsVisible">
                                <div>
                                    <a ng-click="printWithOptions(true)">With Hints</a> /
                                    <a ng-click="printWithOptions(false)">No Hints</a>
                                </div>
                            </div>
                            <a share-button></a>
                            <div class='ru_share_link slide-animate' ng-show="showShareUrl">
                                <div class="share-url-div">{{shareUrl}}</div>
                            </div>
                            <h2 class="print-question question-prefix">Q:</h2>
                            <h2 class="question-title">
                                <span class='ru_{{pageSubject}}' math-jax>
                                    {{questionPage.title}}
                                    <span ng-if="questionPage.tags.indexOf('ft_upper') != -1 || questionPage.tags.indexOf('ft_lower') != -1">
                                        {{fastTrackConceptEnumerator(questionPage.id)}}
                                        <span ng-if="questionPage.tags.indexOf('ft_lower') != -1">(Easier)</span>
                                    </span>
                                </span>
                            </h2>
                            <h3 api-environment="dev">{{questionPage.published ? "Published" : "Unpublished"}}
                                <a href="{{contentEditorURL}}" target="_blank">&#9998;</a> <!-- <a title="Back to AngularJS" href="{{staging2URL}}" target="_blank">&#8617;</a> -->
                            </h3>
                            <br class="no-print"><br ng-if="!questionPage.supersededBy" class="no-print">
                        </div>
                    </div>
                    <div class="row" ng-if="!!questionPage.supersededBy && user.role != 'STUDENT'">
                        <!-- Warning message for non-students that this question has been replaced -->
                        <div class="small-12 small-offset-1 columns">
                            <h5 class="superseded-warning"><span ng-show="user._id">Teacher Note: </span>This question has been replaced by <a ui-sref="question({id: questionPage.supersededBy})"
                                ng-click="logClickSupersededBy()">this question</a>.<span ng-if="user._id && user.role != 'STUDENT'" aria-haspopup="true" class="icon-help has-tip" data-ot-escape-content="false" data-ot="We periodically update questions into new formats. If this question appears on one of your gameboards, you may want to update the board. You can find help for this at Teacher Support -> Assigning Work. <br><br>Students will not see this message, but will see a smaller note at the bottom of the page."></span></h5>
                            <br class="no-print">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div isaac-content doc="questionPage"></div>
                    <div class="row" ng-if="!!questionPage.supersededBy && user.role == 'STUDENT'">
                        <!-- Smaller notice for students that this question has been replaced -->
                        <div class="small-12 small-offset-1 columns">
                            <span class="superseded-warning">This question <a ui-sref="question({id: questionPage.supersededBy})"
                                ng-click="logClickSupersededBy()">has been replaced</a>. However if you were assigned this version, you should complete it.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-15 small-offset-1 columns">
                            <p class="ru-attribution">{{questionPage.attribution}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Buttons -->
        <section>
            <!-- Back to board button -->
            <div ng-hide="questionPage.type=='isaacFastTrackQuestionPage'" class="row no-print">
                <div class="large-12 large-offset-2 medium-12 medium-offset-2 small-16 columns ru-concept-buttons">
                    <ul ng-show="gameBoard.$resolved" class='medium-block-grid-1 small-block-grid-1 ru-pad'>
                        <li><a class='ru-concept-button' ng-click="backToBoard()">Back to Board</a></li>
                        <!--<li><a class='ru-concept-button' ng-show="nextQuestion" ui-sref="question({id: nextQuestion.id})">Next Question</a></li>-->
                    </ul>
                </div>
            </div>
            <!-- FastTrack buttons -->
            <div ng-show="questionPage.type=='isaacFastTrackQuestionPage'" class="row no-print">
                <div class="small-16 columns ru-concept-buttons" ng-class="backToPreviousQuestion && backToTopTen ? 'medium-16' : 'medium-12 medium-offset-2'">
                    <ul class='small-block-grid-1 ru-pad' ng-class="backToPreviousQuestion && backToTopTen ? 'medium-block-grid-2' : 'medium-block-grid-1'">
                        <li ng-show="backToPreviousQuestion"><a ng-hide="backToPreviousQuestion.hide" ng-disabled="backToPreviousQuestion.disabled" ng-click="backToPreviousQuestion.onClick()" title="{{backToPreviousQuestion.title}}" class="expand ru-concept-button">{{backToPreviousQuestion.label}}</a></li>
                        <li ng-show="backToTopTen"><a ng-hide="backToTopTen.hide" ng-disabled="backToTopTen.disabled" ng-click="backToTopTen.onClick()" title="{{backToTopTen.title}}" class="expand ru-concept-button">{{backToTopTen.label}}</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section footer-pods related-content="questionPage.relatedContent"></section>
    </div>
</div>

<div isaac-modal="congrats">
  <div class="reveal-modal-head">
    <h2>Congratulations!</h2>
    <a class="close-reveal-modal" href="javascript:void(0)"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body" style="overflow: auto;">
    <!--
        Physics question
    -->
    <div ng-class="['congrats', pageSubject]">
        <span class="icon-stack">
            <span class="icon-hexagon"></span>
            <span ng-class="gameBoardPercentComplete == 100 ? 'icon-board-complete' : 'icon-question-complete'"></span>
        </span>
        <div ng-show="gameBoardCompletedPassed && !gameBoardCompletedPerfect" class="congrats-msg">
            <p>You've achieved mastery in</p>
            <h3>{{gameBoard.summary}}</h3>
        </div>
        <div ng-show="gameBoardCompletedPerfect" class="congrats-msg">
            <p>You've achieved 100% on your board</p>
            <h3>{{gameBoard.title}}</h3>
        </div>
        <div ng-show="gameBoardPercentComplete < 100 && !hasReachedQuestionPassmark" class="congrats-msg">
            <p>You've completed this question</p>
            <h3>{{questionPage.title}}</h3>
        </div>
    </div>
    <div ng-show="gameBoardCompletedPassed" class="row back-to-question">
        <div class="text-center columns">
            <a class="ru-button-big" ng-click="modals.congrats.hide()">Back to Question</a>
        </div>
    </div>
    <div class="row back-to-board">
        <div class="text-center columns">
            <a class="ru-button-big" ng-click="modals.congrats.hide(); backToBoard();">Back to Board</a>
        </div>
    </div>
  </div>
</div>
