<div desktop-panel class="no-print">
    <div class='ru-desktop-panel-content'>
        <div class='medium-12 columns'>
            <ul ng-class='["ru-crumb", pageSubject]'>
                <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)"></li>
            </ul>
        </div>
        <div class='print-float-right'>
            <div class='medium-1 columns text-right'>
                <span ng-show="questionPage.level" class='ru-level'>Level: </span>
            </div>
            <div class='medium-2 end columns'>
                <span class='ru-level-{{pageSubject}}-{{questionPage.level}} ru-level' aria-label='{{pageSubject}} Level {{questionPage.level}}'></span>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
</div>
<div mobile-panel class="no-print">
    <div class='row'>
        <div class='small-16 columns text-right'>
            <span class='ru-level-{{pageSubject}}-{{questionPage.level}} ru-level' aria-label='{{pageSubject}} Level {{questionPage.level}}'></span>  
        </div>
    </div>
    <div class='ru-mobile-crumb'>
        <div class='row'>
            <div class='small-16 columns'>
                <ul ng-class='[pageSubject]'>
                    <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class='large-16 medium-16 columns print-no-side-padding'>


        <section>
            <div class="row ru-concept ru-question">
                <div class="ru-concept-inner ru-border">
                    <div class="row">
                        <div class="small-15 small-offset-1 columns end">
                            <div class="only-print print-header">
                                <span class="{{pageSubject}}">{{shareUrl}}</span>

                                <ul>
                                    <li ng-repeat="b in breadCrumbs" ng-bind-html="getTagTitle(b)" ng-class='[pageSubject]'></li>
                                </ul>

                                <span ng-show="questionPage.level">Level</span> <span class="{{pageSubject}}">{{questionPage.level}}</span>
                            </div>
                            <a ui-sref='home' class='only-print print-logo'><img alt='Isaac. Physics. You work it out.'
                                                                                 src='/assets/isaac-logo-strap-print.svg'></a>
                            <a print-button></a>
                            <div class='ru_print_options slide-animate no-print' ng-show="printingOptionsVisible">
                                <div>
                                    <a ng-click="printWithOptions(true)">With Hints</a> /
                                    <a ng-click="printWithOptions(false)">No Hints</a>
                                </div>
                            </div>
                            <a share-button></a>
                            <div class='ru_share_link slide-animate' ng-show="showShareUrl">
                                <div>
                                    {{shareUrl}}
                                </div>
                            </div>
                            <h2 class="print-question question-prefix">Q:</h2>
                            <h2><span class='ru_{{pageSubject}}' math-jax>{{questionPage.title}}</span></h2>
                            <h3 api-environment="dev">{{questionPage.published ? "Published" : "Unpublished"}}</h3>
                            <br class="no-print"><br class="no-print">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div isaac-content doc="questionPage"></div>
                    <div class="row">
                        <div class="small-15 small-offset-1 columns">
                            <p class="ru-attribution">{{questionPage.attribution}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Buttons -->
        <section>
            <div class="row no-print">
                <div class="large-12 large-offset-2 medium-12 medium-offset-2 small-16 columns ru-concept-buttons">
                    <ul ng-show="gameBoard.$resolved" class='medium-block-grid-1 small-block-grid-1 ru-pad'>
                        <li><a class='ru-concept-button' ng-click="backToBoard()">Back to Board</a></li>
                        <!--<li><a class='ru-concept-button' ng-show="nextQuestion" ui-sref="question({id: nextQuestion.id})">Next Question</a></li>-->
                    </ul>
                </div>
            </div>
        </section>

        <section footer-pods related-content="questionPage.relatedContent"></section>
    </div>
</div>

<div isaac-modal="congrats">
  <div class="reveal-modal-head">
    <h2>Congratulations!</h2>
    <a class="close-reveal-modal" href="javascript:void(0)"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
    <!-- 
        Physics question
    -->
    <div ng-class="['congrats', pageSubject]">
        <span class="icon-stack">
            <span class="icon-hexagon"></span>
            <span ng-class="state.gameBoardPercentComplete == 100 ? 'icon-board-complete' : 'icon-question-complete'"></span>
        </span>
        <div ng-show="state.gameBoardCompletedPassed && ! state.gameBoardCompletedPerfect" class="congrats-msg">
            <p>You've achieved mastery in</p>
            <h3>{{gameBoard.title}}</h3>
        </div>
        <div ng-show="state.gameBoardCompletedPerfect" class="congrats-msg">
            <p>You've completed your board</p>
            <h3>{{gameBoard.title}}</h3>
        </div>
        <div ng-show="state.gameBoardPercentComplete < 100 && !hasReachedQuestionPassmark" class="congrats-msg">
            <p>You've completed this question</p>
            <h3>{{questionPage.title}}</h3>
        </div>
    </div>
    <div ng-show="nextQuestion" class="row">
        <div class="text-center columns">
            <h4 class="congrats-subhead">Next question:</h4>
        </div>
        <div class="text-center columns">
            <a class="ru-button-big" ui-sref="question({id: nextQuestion.id})" ng-click="modals.congrats.hide()">{{nextQuestion.title}}</a>
        </div>
    </div>
    <div ng-show="!nextQuestion" class="row">
        <div class="text-center columns">
            <a class="ru-button-big" ng-click="modals.congrats.hide(); backToBoard();">Back to Board</a>
        </div>
    </div>
  </div>
</div>