<div class="small-16 columns">
	<h2>Register</h1>
	<h3 class="subheader">Sign up to <a ui-sref="home">Isaac</a></h2>    
</div>
<div class="row account-settings-wrap">
    <div class="small-16 columns">
	    <form class="panel" ng-submit="save('/account')" name="account" novalidate>
		    <div>
			    <div class="large-8 medium-8 small-16 columns">
				    <label for="account-firstname">
					    <strong>First Name</strong>
					    <span class="ru-form-required"></span>
		                        <span class="ru-error-message" ng-if="account.firstname.$invalid && account.firstname.$dirty">
		                            Required
		                        </span>
				    </label>
				    <input id="account-firstname" name="firstname" type="text" ng-model="user.givenName" required>
			    </div>
			    <div class="large-8 medium-8 small-16 columns">
				    <label for="account-lastname">
					    <strong>Last Name</strong>
					    <span class="ru-form-required"></span>
		                        <span class="ru-error-message" ng-if="account.secondname.$invalid && account.secondname.$dirty">
		                            Required
		                        </span>
				    </label>
				    <input id="account-lastname" name="secondname" type="text" ng-model="user.familyName" required>
			    </div>
		    </div>
		    <div>
	            <div class="large-8 medium-8 small-16 columns">
	                <label for="account-password">
	                    <strong>Password</strong>
						<span class="ru-error-message" ng-if="user.password.length < 6">
                        	Password must be at least 6 characters long
						</span>
	                </label>
	                <input id="account-password" type="password" ng-model="user.password"
	                       placeholder="Enter password" name="password" required>
	            </div>
	            <div class="large-8 medium-8 small-16 columns">
	                <label for="account-password2" ng-class="{'disabled' : !user.password || user.password.length < 6}">
	                	<strong>Confirm password</strong>
					    <span class="ru-form-required"></span>
	                    <span class="ru-error-message" ng-if="account.password2.$dirty && account.password2.$invalid">
	                        Passwords do not match
	                    </span>
	                </label>
	                <input id="account-password2" type="password" placeholder="Re-enter password"
	                       ng-disabled="!user.password || user.password.length < 6" match="user.password" name="password2" ng-model="password2" required>
	            </div>
		    </div>
		    <div>
			    <div class="large-8 medium-8 small-16 columns">
				    <label for="account-email">
					    <strong>Your Email Address</strong>
					    <span class="ru-form-required"></span>
	                        <span class="ru-error-message" ng-if="account.email.$invalid && account.email.$dirty">
	                            Enter a valid email
	                        </span>
				    </label>
				    <input id="account-email" name="email" type="email" ng-model="user.email" required>
			    </div>
			    <div class="large-8 medium-8 small-16 columns">
				    <label class="hide-for-small">&nbsp;</label>
				    <input class="ru-button-big expand" type="submit" value="Register Now">
			    </div>
		    </div>
		    <div class="clearfix"></div>
	    </form>
	    <ul class="small-block-grid-1 ru-pad" ng-if="updateFail">
	        <li class="text-center">
		        <h4 style="color:#a00;">
			        Registration Failed<span ng-if="errorMessage != null">: {{errorMessage}}</span>
		        </h4>
	        </li>
	    </ul>
    </div>
</div>
