<div desktop-panel>
	<h1>Reset Password</h1>
	<h2 class="subheader">Please choose a new password</h2>
</div>
<div mobile-panel>
	<h1>Contact Us</h1>
	<h2 class="subheader">Please choose a new password</h2>
</div>

<form name="form" class="ru-border ru-resetpassword-form" ng-controller="ResetPasswordPageController" novalidate>
	<div ng-switch="submitted">
		<div ng-switch-when="true">{{message}}</div>
		<div ng-switch-default>
			<div>
				<label for="password"><strong ng-if="!user.hasSegueAccount">Password</strong></label>
				<input id="password" type="password" ng-model="user.password" required>
			</div>
			<div>
				<label for="confirm-password"><strong>Confirm password</strong></label>
				<input id="confirm-password" type="password" ng-model="user.confirmPassword"
				       data-match="user.password" required>
			</div>
			<div>
				<button class="button ru-button" type="button" ng-disabled="form.$invalid" ng-click="resetPassword()"
				        ng-disabled="form.$invalid">Submit</button>
			</div>
		</div>
	</div>
</form>

