<div class='small-16 columns'>
	<h2>Reset Password</h1>
	<h3 class="subheader">Please choose a new password</h2>
</div>
<div class="row">
    <div class='small-16 columns'>
		<form name="form" class="ru-border ru-resetpassword-form" ng-controller="ResetPasswordPageController" novalidate>
			<div ng-switch="submitted">
				<div ng-switch-when="true">
					<div ng-show="success">Your password has been reset successfully, you may now <a ui-sref="login">log in with your new password</a>.</div>
					<div ng-hide="success">An error occurred whilst attempting to reset your password, please request a new reset email.</div>
				</div>
				<div ng-switch-default>
					<div>
						<label for="password">
							<strong ng-if="!user.hasSegueAccount">Password</strong>
							<span class="ru-error-message" ng-if="user.password.length > 0 && user.password.length < 6">
                        		Password must be at least 6 characters long
							</span>
						</label>

						<input id="password" type="password" ng-model="user.password" required autocomplete="new-password">
					</div>
					<div>
						<label for="confirm-password" ng-class="{'disabled' : !user.password || user.password.length < 6}">
							<strong>Confirm password</strong>
							<span class="ru-error-message" ng-if="user.confirmPassword.length > 0 && user.confirmPassword != user.password">
	                        	Passwords do not match
	                    	</span>
						</label>

						<input id="confirm-password" type="password" ng-model="user.confirmPassword"
							   ng-disabled="!user.password || user.password.length < 6" data-match="user.password" required autocomplete="new-password">
					</div>
					<div>
						<button class="button ru-button" type="button" ng-disabled="form.$invalid" ng-click="resetPassword()"
						        ng-disabled="form.$invalid">Submit</button>
					</div>
				</div>
			</div>
		</form>
    </div>
</div>