<div class="row">
	<div class='medium-13 columns'>
		<h1>Teacher Features</h1>
		<h2 class="subheader">Isaac for teachers</h2>		
	</div>	
    <div class="medium-3 columns text-right hide-for-small-only">
        <a ng-click="modals.teacherFeaturesHelp.show();" href="javascript:void(0)" data-ot="Click for a tutorial video." class="has-tip" aria-haspopup="true"><span class="icon-help"></span>Help Video</a>
    </div>		
</div>
<div class="small-16 columns">
	<div class="teacher-feature-body">	
		<div class="row">
			<div ng-show="!isTeacher" class="small-16 medium-8 large-4 columns">
				<a ui-sref="contact({preset:'teacherRequest'})" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						1. Tell us you are a teacher
					</div>
				</a>
			</div>
			<div ng-show="isTeacher" class="small-16 medium-8 large-4 columns">
				<div class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#teacher-hat"></img>
					<div class="hexagon-title">
						1. You are now a teacher!
					</div>
				</div>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ng-click="navigateToStateIfTeacher('groups')" ng-class="{disabled: !isTeacher}" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#groups" ng-class="{disabled: !isTeacher}"></img>
					<div class="hexagon-title">
						2. Create and manage groups
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ng-click="setAssignmentModal()" ng-class="{disabled: !isTeacher}" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#set-assignments" ng-class="{disabled: !isTeacher}"></img>
					<div class="hexagon-title">
						3. Set Assignments
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ng-click="navigateToStateIfTeacher('assignmentProgress')" ng-class="{disabled: !isTeacher}" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#track-progress" ng-class="{disabled: !isTeacher}"></img>
					<div class="hexagon-title">
						4. Track group progress
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<h3>Isaac Activities</h3>
			<div class="small-16 medium-8 large-4 columns">
				<a ui-sref="pages({id:'teach_with_isaac'})" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#use-with-class"></img>
					<div class="hexagon-title">
						Isaac in your classroom
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ui-sref="events" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#calendar"></img>
					<div class="hexagon-title">
						Teacher and Student Events
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a ui-sref="book" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#skills-book-cover"></img>
					<div class="hexagon-title">
						Book of core skills problems
					</div>
				</a>
			</div>
			<div class="small-16 medium-8 large-4 columns">
				<a href="http://talkphysics.org/groups/5719" target="_blank" rel="nofollow" class="hexagon">
					<img class="hexagon-field" src="/assets/teacher_features_sprite.svg#teacher-forum"></img>
					<div class="hexagon-title">
						Teacher Forum (TalkPhysics)
					</div>
				</a>
			</div>
			<div class="clearfix"></div>		
		</div>				
	</div>	
</div>

<div isaac-modal="teacherFeaturesHelp">
  <div class="reveal-modal-head">
    <h2>Features for Teachers Help</h2>
    <a class="close-reveal-modal" href="javascript:void(0)"><span class="hide-for-small-only">Close</span> <span class="icon-close"></span></a>
  </div>
  <div class="reveal-modal-body">
		<div isaac-page-fragment="teacher_feature_help"> </div>
  </div>
</div>