<div class="top-boards-page text-center">
	<h2>Select a <span class="ru_green">challenge...</span></h2>

	<div class="row">
		<div class="medium-4 columns">
			<h3>Try a Featured Question</h3>
		</div>
		<div class="medium-4 columns">
			<h3>Try a Top Board</h3>
		</div>
		<div class="medium-4 columns">
			<h3>Try Building Your Own Board</h3>
		</div>
		<div class="medium-4 columns">
			<h3>Or Try Something Extraordinary!</h3>
		</div>

	</div>
	<div class="row">
		<div class="medium-4 columns">
			<a href="javascript:void(0)" class="hexagon">
				<div class="hexagon-field question"></div>
				<div class="hexagon-title">
					##Mechanics##
				</div>
				<div class="hexagon-desc">
					To be or not?
				</div>
			</a>
		</div>
		<div class="medium-4 columns">
			<a href="javascript:void(0)" class="hexagon">
				<div class="hexagon-field top-board"></div>
				<div class="hexagon-title">
					##Mechanics##
				</div>
				<div class="hexagon-desc">
					To be or not?
				</div>
			</a>
		</div>
		<div class="medium-4 columns">
			<a href="javascript:void(0)" class="hexagon">
				<div class="hexagon-field build-board"></div>
				<div class="hexagon-title">
					Build your own board!
				</div>
				<div class="hexagon-desc">
					Launch the Isaac Board Builder
				</div>
			</a>
		</div>
		<div class="medium-4 columns">
			<a href="javascript:void(0)" class="hexagon">
				<div class="hexagon-field extraordinary"></div>
				<div class="hexagon-title">
					Extraordinary Questions
				</div>
				<div class="hexagon-desc">
					To be or not?
				</div>
			</a>
		</div>
	</div>

</div>