<div class='ru-desktop-panel-content'>
    <div class='medium-7 columns'>
        <ul class='ru-crumb physics'>
            <li>Physics</li>
            <li>Mechanics</li>
        </ul>
    </div>
    <div class='medium-8 end columns text-right'>
        <h2 class='ru-welcome'>Welcome <span class='green'>Tammy</span></h2>
        <span class='ru-challenge'>Your board is 50% complete<br class='show-for-medium-only'> <a href=''>Create your Challenge!</a></span>
    </div>
    <div class='clearfix'></div>
</div>
