<div class='row'>
    <div class='small-16 columns bottom-grey'>
        <ul class='small-block-grid-3 ' id='buttons'>
            <li id='button-hex' data-for="mobile-filter1">
                <p><small>Your challenge</small></p>
            </li>
            <li id='button-difficulty' data-for="mobile-filter2">
                <p><small>Difficulty</small></p>
            </li>
            <li id='button-concept' data-for="mobile-filter3">
                <p><small>Filter by concept</small></p>
            </li>
        </ul>
    </div>
    <div class='clearfix'></div>
    <div class='mobile-filter'>
    <div id='mobile-filter1'></div>
    <div id='mobile-filter2'></div>
    <div id='mobile-filter3'></div>
    </div>
    <div class='clearfix'></div>
</div>
<div id="mobile-base">
    <div id="mobile-hide">
    </div>
</div>
