<div class='ru-desktop-panel-content'>
    <div class='medium-7 columns'>
        <ul class='ru-crumb physics'>
            <li>Physics</li>
            <li>Mechanics</li>
        </ul>
    </div>
    <div class='medium-8 end columns text-right'>
        <h2 class='ru-welcome'>Welcome <span class='green'>Tammy</span></h2>
        <span class='ru-challenge'>Your board is 50% complete<br class='show-for-medium-only'> <a href=''>Create your Challenge!</a></span>
    </div>
    <div class='clearfix'></div>
    <div id='desktop-filter'>
    <div class='medium-9 large-10 columns' id='desktop-filter1'>
        <div id='hexfilter'>
            <div id="hexfilter-large" class="show-for-large-up"></div>
            <h3>Create your challenge...</h3>
            <div id="hexfilter-text"></div>
            <svg id="hexfilter-svg"></svg>
        </div>
    </div>
    <div class='medium-7 large-6 columns'>
        <div id='desktop-filter2'>
            <div id='difficulty'>
                <h3>Difficulty... <a href=''><small>(What's my level?)</small></a></h3>
                <div id="difficulty-hexagons">
                </div>
            </div>
        </div>
        <div id='desktop-filter3'>
            <div id='conceptfilter'>
                <h3>Filter by Concept <a href=''><small>(What's this?)</small></a></h3>
                <input type="text" id="concept-input" placeholder="Concept title">
                <div id="concept-search-data">
                </div>
                <div id="concept-results">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class='clearfix'></div>
</div>
<div aria-label="Reveal Filters" id="desktop-reveal"></div>

